Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildAuditLogs): add sticker audit logs
  src/structures/GuildAuditLogs.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Partial): fix docs error and missing types
  src/structures/GuildMember.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ApplicationCommand): fix error param
  src/managers/ApplicationCommandPermissionsManager.js
Due: eslint --fix

refactor(Partial): re-add partial getter
  src/structures/Channel.js
  src/structures/DMChannel.js
Due: eslint --fix

docs(ClientUser): fix shardId nullable
  src/structures/ClientUser.js
Due: eslint --fix

types(Constants): add missing types and change to arrays
  src/managers/ThreadManager.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: rename `Constants.OPCode` to `Opcode`, moved objects to enums (#6065)
  src/client/websocket/WebSocketShard.js
  src/managers/GuildMemberManager.js
  src/structures/ClientPresence.js
  src/util/Constants.js
  typings/enums.d.ts
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(ApplicationCommandManager): remove unused assignment (#6063)
  src/managers/ApplicationCommandManager.js
Due: eslint --fix

types(ApplicationCommand): fix option name (#6067)
  src/managers/ApplicationCommandPermissionsManager.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(ClientUser): fix id lowercase for consistency
  src/structures/ClientUser.js
Due: eslint --fix

docs(Partial): add info block
  src/structures/Channel.js
Due: eslint --fix

feat(Client): add conditional ready typings
  src/client/Client.js
  src/client/websocket/WebSocketManager.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fixed unreachable overloads
  typings/index.d.ts
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fixed unreachable overloads (#6062)
  typings/index.d.ts
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Client): make Client#ready a getter based on ws status
  src/client/Client.js
Due: eslint --fix

refactor(Client): remove Client#ready getter in favor of isReady()
  src/client/Client.js
Due: eslint --fix

refactor: add conditional client generics to typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Base): add generics to Base extensions
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(InteractionResponses): generalize wording to fit other components
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

style: use for-of and object.entries
  src/rest/APIRequest.js
Due: eslint --fix

fix(GuildChannelManager): missed an add
  src/managers/GuildChannelManager.js
Due: eslint --fix

docs(ClientUser): fix shardId nullable (#6072)
  src/structures/ClientUser.js
Due: eslint --fix

revert: refactor(Base): add generics to Base extensions
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

revert: refactor: add conditional client generics to typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

revert(Structures): add back Structures
  package-lock.json
  src/client/Client.js
  src/client/actions/InteractionCreate.js
  src/client/actions/VoiceStateUpdate.js
  src/index.js
  src/managers/DataManager.js
  src/structures/Channel.js
  src/structures/ClientUser.js
  src/structures/GuildMember.js
  src/util/Structures.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update GuildInviteManager.js
  src/managers/GuildInviteManager.js
Due: eslint --fix

Update index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Client): use Status.READY instead of literal
  src/client/Client.js
Due: eslint --fix

fix(Partial): fix prop overload and nullable field
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(PresenceUpdate): use added presence over nullable getter
  src/client/actions/PresenceUpdate.js
Due: eslint --fix

types(*): revert const enum to enum
  typings/enums.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update InteractionResponse#reply docs example
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

Update src/structures/interfaces/InteractionResponses.js
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

Fix ephemeral reply example
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

typings(GuildInviteManager): FetchInvitesOptions (#6076)
  src/managers/GuildInviteManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(InteractionResponses): generalize wording in update to fit other component interaction types (#6074)
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

fix(Client): update typing for Client#shard and Client#token
  typings/index.d.ts
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(InteractionResponses): reply docs example (#6079)
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
