Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(AllowedImageSizes): add ALL image sizes
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: types & dependencies
  packages/discord.js/package.json
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: dependencies
  packages/discord.js/package.json
Due: none

fix: exports & dependencies
  packages/collection/src/index.ts
  packages/discord.js/package.json
  packages/discord.js/src/client/actions/ChannelUpdate.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/ChannelManager.js
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/structures/BaseGuildEmoji.js
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/structures/DMChannel.js
  packages/discord.js/src/structures/DirectoryChannel.js
  packages/discord.js/src/structures/Emoji.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/GuildScheduledEvent.js
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/src/structures/ReactionEmoji.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/StageInstance.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/WelcomeChannel.js
  packages/discord.js/src/util/Structures.js
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

ci: lint fix
  packages/discord.js/src/structures/Interaction.js
Due: eslint --fix

chore: bump shapeshift for faster object validation
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/package.json
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/textInput/Assertions.ts
  packages/builders/src/interactions/contextMenuCommands/Assertions.ts
  packages/builders/src/interactions/modals/Assertions.ts
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithChoicesAndAutocompleteMixin.ts
  packages/builders/src/messages/embed/Assertions.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: add .npmignore files & dist
  .gitignore
  packages/builders/.gitignore
  packages/collection/.gitignore
  packages/rest/.gitignore
Due: none

chore: add .npmignore files second
  packages/builders/.npmignore
  packages/builders/dist/index.d.ts
  packages/builders/dist/index.js
  packages/builders/dist/index.js.map
  packages/builders/dist/index.mjs
  packages/builders/dist/index.mjs.map
  packages/collection/.npmignore
  packages/collection/dist/index.d.ts
  packages/collection/dist/index.js
  packages/collection/dist/index.js.map
  packages/collection/dist/index.mjs
  packages/collection/dist/index.mjs.map
  packages/discord.js/.npmignore
  packages/rest/.npmignore
  packages/rest/dist/index.d.ts
  packages/rest/dist/index.js
  packages/rest/dist/index.js.map
  packages/rest/dist/index.mjs
  packages/rest/dist/index.mjs.map
  packages/rest/dist/lib/CDN.d.ts
  packages/rest/dist/lib/REST.d.ts
  packages/rest/dist/lib/RequestManager.d.ts
  packages/rest/dist/lib/errors/DiscordAPIError.d.ts
  packages/rest/dist/lib/errors/HTTPError.d.ts
  packages/rest/dist/lib/errors/RateLimitError.d.ts
  packages/rest/dist/lib/handlers/IHandler.d.ts
  packages/rest/dist/lib/handlers/SequentialHandler.d.ts
  packages/rest/dist/lib/utils/constants.d.ts
  packages/rest/dist/lib/utils/utils.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: discord.js dep
  packages/discord.js/package.json
Due: none

fix(MessageEmbed): fix a typo (#7906)
  src/structures/MessageEmbed.js
Due: eslint --fix

fix(AuditLog): default changes to empty array (#7880)
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(ThreadChannel): Remove `MAX` helper from threads (#7846)
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(InteractionResponses): replace outdated Embed example for reply (#7875)
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

types(guildScheduledEvent): Mark `entityMetadata` as nullable (#7908)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: add localizations for subcommand builders and option choices (#7862)
  packages/builders/__tests__/interactions/ContextMenuCommands.test.ts
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/src/interactions/contextMenuCommands/ContextMenuCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/SlashCommandSubcommands.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionBase.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithChoicesAndAutocompleteMixin.ts
  packages/builders/src/interactions/slashCommands/mixins/NameAndDescription.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: bump shapeshift for faster object validation (#7914)
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/package.json
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/textInput/Assertions.ts
  packages/builders/src/interactions/contextMenuCommands/Assertions.ts
  packages/builders/src/interactions/modals/Assertions.ts
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithChoicesAndAutocompleteMixin.ts
  packages/builders/src/messages/embed/Assertions.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(RESTOptions): set agent properly
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/package.json
  packages/rest/src/lib/RequestManager.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: yarn --immutable
  yarn.lock
Due: none

fix: `setGlobalDispatcher` agent being default
  packages/discord.js/package.json
  packages/rest/src/lib/utils/constants.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: lint
  packages/rest/src/lib/utils/constants.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(websocketshard): better way of handling zombie connection
  src/client/websocket/WebSocketManager.js
  src/client/websocket/WebSocketShard.js
  src/util/Constants.js
  src/util/Options.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: ackHeartbeat which was used for testing purpose
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

fix: docs for websocketshard
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

refactor: apply suggestions
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

Update src/client/websocket/WebSocketShard.js
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

docs: websocketshard
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: deal with edge cases
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

fix: apply suggestions
  packages/rest/__tests__/REST.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: caret
  packages/discord.js/package.json
  packages/rest/package.json
  yarn.lock
Due: none

feat(rest): use undici (#7747)
  .vscode/settings.json
  packages/discord.js/package.json
  packages/rest/__tests__/CDN.test.ts
  packages/rest/__tests__/REST.test.ts
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/__tests__/RequestManager.test.ts
  packages/rest/__tests__/Util.test.ts
  packages/rest/__tests__/util.ts
  packages/rest/jest.config.js
  packages/rest/jest.setup.js
  packages/rest/package.json
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/errors/HTTPError.ts
  packages/rest/src/lib/handlers/IHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/constants.ts
  packages/rest/src/lib/utils/utils.ts
  yarn.lock
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: make `CacheType` generic more accurate for return values (#7868)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: move `me` to `GuildMemberManager` manager (#7669)
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/ThreadMemberManager.js
  packages/discord.js/src/structures/BaseGuildVoiceChannel.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/GuildEmoji.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/VoiceChannel.js
  packages/discord.js/src/structures/VoiceState.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(builders): add new command permissions v2
  packages/builders/src/interactions/contextMenuCommands/Assertions.ts
  packages/builders/src/interactions/contextMenuCommands/ContextMenuCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: casing
  packages/builders/src/interactions/contextMenuCommands/ContextMenuCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: suggested changes
  packages/builders/src/interactions/contextMenuCommands/Assertions.ts
  packages/builders/src/interactions/contextMenuCommands/ContextMenuCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(websocketshard): move close debug log into emitClose method
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

fix(websocketshard): reset session id on 4009
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

feat(ApplicationCommand[Manager]): add `dm_permission` option at `ApplicationCommandData`
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
