Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

refactor(EmbedBuilder): allow hex strings in setColor
  packages/discord.js/src/structures/EmbedBuilder.js
Due: eslint --fix

Apply suggestions from code review
  packages/discord.js/src/structures/EmbedBuilder.js
Due: eslint --fix

refactor(EmbedBuilder): allow hex strings in setColor (#7673)
  packages/discord.js/src/structures/EmbedBuilder.js
Due: eslint --fix

types(Embed): add forgotten `footer` type (#7665)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(embed): remove Embed.setColor (#7662)
  packages/discord.js/src/structures/Embed.js
Due: eslint --fix

Update README.md
  README.md
Due: none

fix: remove empty line
  packages/builders/src/components/Assertions.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildMemberManager): return type can be null
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: add some optimizations
  package.json
  packages/discord.js/.gitignore
  packages/discord.js/package.json
  packages/discord.js/test/MockClient.js
  packages/discord.js/test/interaction.test.js
  packages/discord.js/test/messages.test.js
  packages/discord.js/test/mockData/mockApplication.js
  packages/discord.js/test/mockData/mockChannel.js
  packages/discord.js/test/mockData/mockGuild.js
  packages/discord.js/test/mockData/mockInteraction.js
  packages/discord.js/test/mockData/mockMessage.js
  packages/discord.js/test/mockData/mockUser.js
  yarn.lock
Due: eslint --fix

fix: validate select menu options
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/src/components/Assertions.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: tests
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: make requested changes
  packages/builders/src/components/Assertions.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix auto archive shenanigans
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: deduplicate into utility
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/util/Util.js
Due: eslint --fix

types: allow `MAX` for text channels
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Util): english
  packages/discord.js/src/util/Util.js
Due: eslint --fix

fix: make gateway use version 10
  packages/discord.js/src/util/Options.js
Due: eslint --fix

chore: fix readme rest versions
  README.md
  packages/discord.js/README.md
  packages/rest/src/lib/REST.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

test: make interaction tests functional
  packages/discord.js/test/interaction.test.js
  packages/discord.js/test/messages.test.js
  packages/discord.js/test/mockData/mergeable.js
  packages/discord.js/test/mockData/mockApplication.js
  packages/discord.js/test/mockData/mockChannel.js
  packages/discord.js/test/mockData/mockGuild.js
  packages/discord.js/test/mockData/mockInteraction.js
  packages/discord.js/test/mockData/mockMember.js
  packages/discord.js/test/mockData/mockMessage.js
  packages/discord.js/test/mockData/mockUser.js
Due: eslint --fix

fix(ThreadManager): assign on `MAX`
  packages/discord.js/src/managers/ThreadManager.js
Due: eslint --fix

refactor(MessageAttachment): Use Attachment instead
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/Attachment.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
  packages/discord.js/typings/rawDataTypes.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Delete a mistake
  packages/discord.js/src/client/websocket/WebSocketManager.js
Due: eslint --fix

chore: fix edge case where isn't fully ready
  packages/discord.js/test/MockClient.js
  packages/discord.js/test/interaction.test.js
  packages/discord.js/test/mockData/mockInteraction.js
Due: eslint --fix

Add WebSocketManager file, deleted by error
  packages/discord.js/src/client/websocket/WebSocketManager.js
Due: eslint --fix

chore: add remaining interaction tests
  packages/discord.js/test/gatewayInteraction.test.js
  packages/discord.js/test/gatewayMessage.test.js
  packages/discord.js/test/interaction.test.js
  packages/discord.js/test/mockData/mockInteraction.js
Due: eslint --fix

chore: add remote dep
  package.json
  packages/discord.js/package.json
  yarn.lock
Due: none

chore: add CI
  packages/discord.js/package.json
  packages/discord.js/test/escapeMarkdown.test.js
  packages/discord.js/test/gatewayInteraction.test.js
  packages/discord.js/test/reactionCollectorCreated.js
Due: eslint --fix

chore(ci): fix dev deploy workflow
  .github/workflows/publish-dev.yml
Due: none

chore: escape the dots too, for extra future safety
  .github/workflows/publish-dev.yml
Due: none

chore: add sodium-native
  packages/voice/package.json
  yarn.lock
Due: none

feat: wrap sodium-native methods
  packages/voice/src/util/Secretbox.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update dep listings
  packages/voice/README.md
Due: none

chore: update dep report
  packages/voice/src/util/generateDependencyReport.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

revert: "chore: add sodium-native"
  packages/voice/package.json
  yarn.lock
Due: none

chore: consolidate buffer alloc
  packages/voice/src/util/Secretbox.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: conslidate sodium.random
  packages/voice/src/util/Secretbox.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: explicit param typing
  packages/voice/src/util/Secretbox.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: truthy style maintenance
  packages/voice/src/util/Secretbox.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
