Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

fix(GuildEmoji): cache roles
  src/structures/GuildEmoji.js
Due: eslint --fix

types: update options for result method
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add missing types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: grammar and formatting
  src/structures/AutocompleteInteraction.js
  src/structures/CommandInteractionOptionResolver.js
  src/structures/Interaction.js
Due: eslint --fix

fix: transformCommand method allows autocomplete
  src/structures/ApplicationCommand.js
Due: eslint --fix

fix: result method's callback
  src/structures/AutocompleteInteraction.js
Due: eslint --fix

feat(UserManager): allow #fetch to take UserResolvable
  src/managers/UserManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(UserManager): use id variable name instead of reusing user
  src/managers/UserManager.js
Due: eslint --fix

fix: getFocused method return
  src/structures/CommandInteractionOptionResolver.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: replace unecessary type
  src/structures/AutocompleteInteraction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(types): make transformCommand public
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: definitions and methods for autocomplete interaction
  src/structures/ApplicationCommand.js
  src/structures/AutocompleteInteraction.js
  src/structures/BaseCommandInteraction.js
  src/structures/CommandInteractionOptionResolver.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: allow null to be passed in order to reset icon/avatar (#6646)
  src/managers/GuildManager.js
  src/structures/BaseGuildTextChannel.js
  src/structures/ClientUser.js
  src/structures/Guild.js
  src/structures/Webhook.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(xxxable): follow more properly with discord behavior (#6551)
  src/structures/GuildChannel.js
  src/structures/Message.js
  src/structures/VoiceChannel.js
Due: eslint --fix

docs(Shard): Point to correct events (#6641)
  src/sharding/Shard.js
Due: eslint --fix

types(Interaction): improve type guard for inGuild() (#6644)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Constants): better type error in cdn endpoints (#6637)
  src/util/Constants.js
Due: eslint --fix

refactor(VoiceState): use manager edit method to remove error (#6631)
  src/errors/Messages.js
  src/structures/VoiceState.js
Due: eslint --fix

feat(Integration): add missing props and fix docs/types (#6623)
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/Integration.js
  src/structures/Role.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Permissions): add `START_EMBEDDED_ACTIVITIES` (#6622)
  src/util/Permissions.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: Add support for API command types in `ApplicationCommandManager` (#6621)
  src/managers/ApplicationCommandManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Shard): eval promise never resolves (#6649)
  src/sharding/Shard.js
Due: eslint --fix

docs(ApplicationCommandPermissionsManager): fix example set method (#6658)
  src/managers/ApplicationCommandPermissionsManager.js
Due: eslint --fix

fix: inconsistencies and methods
  src/errors/Messages.js
  src/structures/AutocompleteInteraction.js
  src/structures/CommandInteractionOptionResolver.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: call _patch instead
  src/structures/GuildEmoji.js
Due: eslint --fix

fix: missing properties
  src/structures/AutocompleteInteraction.js
Due: eslint --fix

fix: necessary properties and types
  src/structures/AutocompleteInteraction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update typescript version message
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Revert #6102 (see #6681)
  src/client/actions/ActionsManager.js
Due: eslint --fix

fix(types): update PartialChannelData typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildManager): add missing converts
  src/managers/GuildManager.js
Due: eslint --fix

fix(VoiceState): allow moving members to stage channels
  src/structures/VoiceState.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(Channel): change signature of `isVoice`
  src/structures/Channel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: remove unused imports
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: export autocomplete interaction
  src/index.js
Due: eslint --fix

fix(Message): throw error on missing channel
  src/errors/Messages.js
  src/structures/Message.js
Due: eslint --fix

fix(CachedManager): return updated data when cache is false
  src/managers/CachedManager.js
Due: eslint --fix

fix(CachedManager): return the structure correctly
  src/managers/CachedManager.js
Due: eslint --fix

fix(Constants): allow undefined size
  src/util/Constants.js
Due: eslint --fix

fix(Constants): better typeof check
  src/util/Constants.js
Due: eslint --fix
