Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: tslint
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(Client): remove internal calls to userUpdate
  src/client/actions/GuildMemberUpdate.js
  src/client/actions/PresenceUpdate.js
  src/client/actions/UserUpdate.js
Due: eslint --fix

chore(Deps): remove setimmediate
  package-lock.json
  package.json
  src/client/BaseClient.js
Due: eslint --fix

docs(Client): make note of events that emit with seemingly no update
  src/client/actions/GuildMemberUpdate.js
  src/client/actions/PresenceUpdate.js
  src/client/actions/UserUpdate.js
Due: eslint --fix

fix(Client): userUpdate will always emit ClientUser
  src/client/actions/UserUpdate.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Client): remove auto import of ClientUser
  src/client/actions/UserUpdate.js
Due: eslint --fix

Update src/structures/Sticker.js
  src/structures/Sticker.js
Due: eslint --fix

docs(Base): add documentation for Partial
  src/structures/Base.js
Due: eslint --fix

fix(Base): partial is an interface
  src/structures/Base.js
Due: eslint --fix

fix(Base): cannot use virtual comment for Partial here
  src/structures/Base.js
  src/structures/Guild.js
Due: eslint --fix

docs(Partial): interfaces aren't documented
  src/structures/Guild.js
Due: eslint --fix

feat(Message): remove editable, deletable, and pinnable
  src/structures/Message.js
Due: eslint --fix

fix(Typings): remove typings for methods removed in 758092b
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Message): remove stored edit history (#5155)
  src/client/Client.js
  src/structures/Message.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(Deps): remove setimmediate (#5159)
  package-lock.json
  package.json
  src/client/BaseClient.js
Due: eslint --fix

??
  src/structures/GuildMember.js
Due: eslint --fix

fix(MessageEmbed): include `author.name` in length getter
  src/structures/MessageEmbed.js
Due: eslint --fix

Update src/structures/MessageEmbed.js
  src/structures/MessageEmbed.js
Due: eslint --fix

style: oxford comma
  src/structures/MessageEmbed.js
Due: eslint --fix

refactor: es2020 syntax
  src/structures/MessageEmbed.js
Due: eslint --fix

Update GuildMember.js
  src/structures/GuildMember.js
Due: eslint --fix

fix(GuildChannel): check for community required channels in GuildChannel#deletable
  src/structures/GuildChannel.js
Due: eslint --fix

chore: remove webpack from .*ignore files
  .gitignore
  .npmignore
Due: none

Update Message.js
  src/structures/Message.js
Due: eslint --fix

fix channel inequality
  src/structures/GuildChannel.js
Due: eslint --fix

style: remove trailing space
  src/structures/GuildChannel.js
Due: eslint --fix

Sticker types
  src/util/Constants.js
Due: eslint --fix

Create MessageSticker.js
  src/structures/MessageSticker.js
Due: eslint --fix

Update index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Bump LICENSE year
  LICENSE
Due: none

chore: bump LICENSE year (#5173)
  LICENSE
Due: none

chore: remove webpack from .*ignore files (#5171)
  .gitignore
  .npmignore
Due: none

fix(MessageEmbed): include `author.name` in length getter (#5167)
  src/structures/MessageEmbed.js
Due: eslint --fix

Remove package-lock
  package-lock.json
Due: none

Add package-lock.json in gitignore
  .gitignore
Due: none

Change member to user in messageReactionAdd/Remove
  src/client/actions/MessageReactionAdd.js
  src/client/actions/MessageReactionRemove.js
  test/random.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Undo extra spaces
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
