Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Role): remove obsolete is- getters
  src/structures/Role.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: checking tags after getter removal
  src/managers/GuildMemberRoleManager.js
  src/managers/RoleManager.js
Due: eslint --fix

chore: identifier naming consistency
  src/managers/RoleManager.js
Due: eslint --fix

chore: prefer explicit true type over boolean
  src/structures/Role.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: typo
  src/structures/Role.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: removed ClientUser.setActivity .setAFK and .setStatus in favor of ClientUser.setPresence
  src/structures/ClientUser.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Integration): Add Integration#roles getter
  src/structures/Integration.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Integration): Add Integration#roles getter (#1)
  src/structures/Integration.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: prevent errors in older versions of Node
  src/client/Client.js
Due: eslint --fix

Update Message.js
  src/structures/Message.js
Due: eslint --fix

Updated Message.js
  src/structures/Message.js
Due: eslint --fix

Updated Message.js for linting
  src/structures/Message.js
Due: eslint --fix

(docs: welcome) change discord badge to shields.io for consistency
  docs/general/welcome.md
Due: none

fix(Partials): correctly set properties as nullable
  src/structures/GuildMember.js
  src/structures/Message.js
  src/structures/User.js
Due: eslint --fix

fix(Partials): typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update Client.js
  src/client/Client.js
Due: eslint --fix

Update Constants.js
  src/util/Constants.js
Due: eslint --fix

Update README.md
  README.md
Due: none

feat(Message): support pin and unpin with reason (#4586)
  src/structures/Message.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: add relevant client options section to issue template (#4587)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

fix(typings): allow custom events (#4162)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Module): add ReactionManager to exports (#4372)
  src/index.js
Due: eslint --fix

fix: set #nickname null as the default value
  src/structures/GuildMember.js
Due: eslint --fix

fix: remove trailing whitespace
  src/structures/GuildMember.js
Due: eslint --fix

fix the if condition in the _patch
  src/structures/GuildMember.js
Due: eslint --fix

feat(TextChannel): add 'writable' getter method
  src/structures/TextChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update feature lists
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update embed.js
  docs/examples/embed.js
Due: eslint --fix

docs: make use of MessageResolvable type for bulkDelete
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update GuildChannel.js
  src/structures/GuildChannel.js
Due: eslint --fix

fix(Util): Fix cleanContent mention exploit
  src/util/Util.js
Due: eslint --fix

chore: update index.d.ts to support WebSocketOptions#properties
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: revert formatting change
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: $browser must be optional
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: make use of MessageResolvable type for bulkDelete (#4661)
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: add missing ws properties
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Util): Fix cleanContent mention exploit (#4663)
  src/util/Util.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
