Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

refactor(Util): extend `null`
  src/util/Util.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: make more static classes extend null
  src/util/DataResolver.js
  src/util/SnowflakeUtil.js
  src/util/Structures.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: mark constructor as private
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(VoiceState): make channel param of setchannel not optional
  src/structures/VoiceState.js
Due: eslint --fix

docs: WebSocketShard#send and TextBasedChannel#send (#5998)
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(MessageSelectMenu): fix typings (#5995)
  src/structures/MessageButton.js
  src/structures/MessageSelectMenu.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: apply changes suggested in review
  src/structures/ThreadChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: added more constants
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Fix MessageEditOptions component typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(*): create mention types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update typings/index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(*): fix alphabetical order
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(*): add class links to isX() methods
  src/structures/Channel.js
  src/structures/Interaction.js
Due: eslint --fix

docs(InteractionResponses): fix reply example
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

Revert "Mention types"
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Util): splitMessage not working with array
  src/util/Util.js
Due: eslint --fix

Update src/util/Util.js
  src/util/Util.js
Due: eslint --fix

docs(*): add class links to isX() methods (#6007)
  src/structures/Channel.js
  src/structures/Interaction.js
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

chore(Constants): added new error codes (#5975)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Typings): Improve components typings in MessageEditOptions (#6002)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(MessageOptions): add tests
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(MessageOptions): fix components being optional
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(MessageOptions): small fixes for the tests
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: address requested changes x2
  src/structures/GuildChannel.js
Due: eslint --fix

refactor: rename events to be consistent with WS names
  README.md
  src/client/actions/InteractionCreate.js
  src/client/actions/MessageCreate.js
  src/util/Constants.js
  test/random.js
  test/sendtest.js
  test/shard.js
  test/templateCreateGuild.js
  test/tester1000.js
  test/voice.js
  test/webhooktest.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: use the right event name
  src/client/actions/MessageCreate.js
Due: eslint --fix

Fixed typings ClientUser#setAFK
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ThreadManager): fixed wrong private and fetchAll check
  src/managers/ThreadManager.js
Due: eslint --fix

fix: emit DeprecationWarning, and only once
  src/client/actions/InteractionCreate.js
  src/client/actions/MessageCreate.js
Due: eslint --fix

docs: add deprecation messages
  src/client/actions/InteractionCreate.js
  src/client/actions/MessageCreate.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Apply suggestions from code review
  src/structures/Sticker.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(ThreadChannel): fix changes that got wrong during rebase
  src/structures/ThreadChannel.js
Due: eslint --fix

fix: emit returns a boolean, we can use that
  src/client/actions/InteractionCreate.js
  src/client/actions/MessageCreate.js
Due: eslint --fix

fix(ThreadManager): fixed wrong private and fetchAll check (#6012)
  src/managers/ThreadManager.js
Due: eslint --fix

types(ClientUser): updated `setAFK` signature (#6011)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(VoiceState): fix optional params (#5993)
  src/structures/VoiceState.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(*): create mention types (#6003)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(MessageOptions): fix components being optional (#6005)
  typings/index.d.ts
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Formatters): added new URL utilities and docs
  package-lock.json
  package.json
  src/util/Formatters.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
