Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

refactor: from pr review
  src/util/Options.js
  src/util/SweptCollection.js
Due: eslint --fix

refactor: remove methods that no longer exist
  src/managers/GuildEmojiRoleManager.js
  src/managers/GuildMemberRoleManager.js
Due: eslint --fix

refactor: general cleaniness and better interface
  src/client/Client.js
  src/util/Options.js
  src/util/SweptCollection.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: typos and better default
  src/util/Options.js
  src/util/SweptCollection.js
Due: eslint --fix

refactor: single function for caching with a different collection
  src/util/Options.js
  src/util/SweptCollection.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix type checks
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: remove LimitedCollection likes
  src/errors/Messages.js
  src/util/SweptCollection.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: pr comments and deprecation
  src/client/Client.js
  src/util/Options.js
  src/util/SweptCollection.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(CommandInteraction): add CommandInteractionOptionResolver (#6107)
  src/errors/Messages.js
  src/structures/CommandInteraction.js
  src/structures/CommandInteractionOptionResolver.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildChannel): only fetch invites for the specific channel (#6132)
  src/managers/GuildInviteManager.js
  src/structures/GuildChannel.js
Due: eslint --fix

feat(GuildPreview): add createdAt & createdTimestamp (#6130)
  src/structures/GuildPreview.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: change const enums to interfaces (#6078)
  typings/enums.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(CommandInteraction): change options type from Collection to array
  typings/index.d.ts
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Updates Constants.js to correct scope name
  src/util/Constants.js
Due: eslint --fix

Updates index.d.ts for InviteScope name
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Updates `identity` to correct scope name of `identify` (#6140)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(CommandInteraction): change options type from Collection to array (#6139)
  typings/index.d.ts
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(CommandInteractionOptionResolver): Export CommandInteractionOptionResolver in index.js
  src/index.js
Due: eslint --fix

feat: switch to accent color (swap hex and dec))
  src/structures/User.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: support old messages and edit Message#stickers desc
  src/structures/Message.js
Due: eslint --fix

chore(Deps): update `discord-api-types` to 0.19.0
  package-lock.json
  package.json
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add more error codes
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: missed one `add`
  src/managers/GuildStickerManager.js
Due: eslint --fix

docs: sticker object API docs links and API types
  package.json
  src/structures/Sticker.js
  src/structures/StickerPack.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(Deps): update `discord-api-types` to 0.19.0 (#6147)
  package-lock.json
  package.json
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Sticker): updates, sticker packs, and guild stickers (#5867)
  src/client/Client.js
  src/client/actions/GuildStickerCreate.js
  src/client/actions/GuildStickerDelete.js
  src/client/actions/GuildStickerUpdate.js
  src/client/actions/GuildStickersUpdate.js
  src/client/websocket/handlers/GUILD_STICKERS_UPDATE.js
  src/errors/Messages.js
  src/index.js
  src/managers/GuildStickerManager.js
  src/rest/APIRequest.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildEmoji.js
  src/structures/Message.js
  src/structures/MessagePayload.js
  src/structures/Sticker.js
  src/structures/StickerPack.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Constants.js
  src/util/Intents.js
  src/util/Permissions.js
  typings/enums.d.ts
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(CommandInteractionOptionResolver): Export CommandInteractionOptio… (#6146)
  src/index.js
Due: eslint --fix

fix(CommandInteractionOptionResolver): type should be USER
  src/structures/CommandInteractionOptionResolver.js
Due: eslint --fix

fix(CommandInteractionOptionResolver): type should be USER (#6148)
  src/structures/CommandInteractionOptionResolver.js
Due: eslint --fix

types(DataManager): add 'K' to type parameter of 'resolveId'
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ColorResolvable): readonly tuple
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(OptionResolver): accept single type instead of an array
  src/errors/Messages.js
  src/structures/CommandInteractionOptionResolver.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Sticker): replace this.guildID by this.guildId in fetchUser
  src/structures/Sticker.js
Due: eslint --fix

refactor(OptionResolver): accept single type instead of an array (#6154)
  src/errors/Messages.js
  src/structures/CommandInteractionOptionResolver.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ColorResolvable): readonly tuple (#6153)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: only cache commands from own user
  src/client/websocket/handlers/APPLICATION_COMMAND_CREATE.js
  src/client/websocket/handlers/APPLICATION_COMMAND_DELETE.js
  src/client/websocket/handlers/APPLICATION_COMMAND_UPDATE.js
  src/managers/ApplicationCommandManager.js
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: do cache global commands in place
  src/client/websocket/handlers/APPLICATION_COMMAND_CREATE.js
  src/client/websocket/handlers/APPLICATION_COMMAND_DELETE.js
  src/client/websocket/handlers/APPLICATION_COMMAND_UPDATE.js
  src/managers/ApplicationCommandManager.js
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ApplicationCommandManager): fix #delete return type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ApplicationCommandManager): properly return command
  src/managers/ApplicationCommandManager.js
Due: eslint --fix

types(DataManager): add 'K' to type parameter of 'resolveId' (#6152)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
