Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

rebase shenanigans
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: wrong object property due to rename automation
  src/structures/Guild.js
Due: eslint --fix

fix: decision for InviteGuild based on data, not cache
  src/structures/Invite.js
Due: eslint --fix

feat: extend InviteGuild from BaseGuild
  src/structures/InviteGuild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: make editWelcomeScreen data non-optional, fix type
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: prefer async
  src/structures/Guild.js
Due: eslint --fix

fix: intermediary abstract guild to implement commons
  src/structures/AnonymousGuild.js
  src/structures/Guild.js
  src/structures/InviteGuild.js
Due: eslint --fix

fix: handle guilds without channels
  src/managers/ChannelManager.js
  src/structures/Channel.js
Due: eslint --fix

types: types for AnonymousGuild
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: extend InviteGuild from AnonymousGuild
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

vlad suggestions
  src/structures/AnonymousGuild.js
  src/structures/Invite.js
  src/structures/InviteGuild.js
Due: eslint --fix

feat(Interactions): auto-fetch replies where possible
  src/structures/MessageComponentInteraction.js
  src/structures/interfaces/InteractionResponses.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: return undefined
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(*): add links to Discord's API objects & data
  src/managers/ApplicationCommandManager.js
  src/rest/DiscordAPIError.js
  src/structures/APIMessage.js
  src/structures/ApplicationCommand.js
  src/structures/ClientPresence.js
  src/structures/ClientUser.js
  src/structures/CommandInteraction.js
  src/structures/DMChannel.js
  src/structures/Emoji.js
  src/structures/GuildBan.js
  src/structures/GuildChannel.js
  src/structures/GuildEmoji.js
  src/structures/GuildMember.js
  src/structures/GuildTemplate.js
  src/structures/Interaction.js
  src/structures/InteractionWebhook.js
  src/structures/Message.js
  src/structures/MessageActionRow.js
  src/structures/MessageAttachment.js
  src/structures/MessageButton.js
  src/structures/MessageComponentInteraction.js
  src/structures/MessageEmbed.js
  src/structures/MessageReaction.js
  src/structures/PermissionOverwrites.js
  src/structures/Presence.js
  src/structures/Role.js
  src/structures/TextChannel.js
  src/structures/User.js
  src/structures/VoiceState.js
  src/structures/Webhook.js
  src/structures/interfaces/InteractionResponses.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Util.js
Due: eslint --fix

fix(Util): wrong documentation type
  src/util/Util.js
Due: eslint --fix

types(MessageReactionResolvable): add string
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(UserManager): make resolve() work with string mentions
  src/managers/UserManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Fix(Types): Make types more specific (monbrey suggestion)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(UserManager): don't reassign user to null
  src/managers/UserManager.js
Due: eslint --fix

Fix(UserManager): update src/managers/UserManager.js (Monbrey fix)
  src/managers/UserManager.js
Due: eslint --fix

refactor(Package): remove `runkitExampleFilename`
  package.json
Due: none

feat(Sticker): update sticker properties
  src/structures/Sticker.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Guild): add enum for premium_tier
  src/structures/Guild.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Package): remove `runkitExampleFilename` (#5866)
  package.json
Due: none

types(MessageReactionResolvable): add string (#5863)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update README.md
  README.md
Due: none

feat(Guild): add enum for premium_tier (#5868)
  src/structures/Guild.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(InviteStageInstance): add documentation for it
  src/structures/InviteStageInstance.js
Due: eslint --fix

types: add typings for InviteStageInstance
  src/structures/Invite.js
  src/structures/InviteStageInstance.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: mention more specific guilds for easier nav
  src/structures/AnonymousGuild.js
Due: eslint --fix

refactor(BaseGuild): mark class as abstract
  src/structures/BaseGuild.js
Due: eslint --fix

feat(InviteGuild): document #welcomeScreen
  src/structures/InviteGuild.js
Due: eslint --fix

fix(WelcomeChannel): can return Guild or WelcomeGuild
  src/structures/WelcomeChannel.js
Due: eslint --fix

fix(InviteStageInstance): clear members collection before patching
  src/structures/InviteStageInstance.js
Due: eslint --fix

feat(BaseGuild) also mention InviteGuild
  src/structures/BaseGuild.js
Due: eslint --fix

docs(InviteStageInstance): document the class
  src/structures/InviteStageInstance.js
Due: eslint --fix

types(BaseGuild): mark abstract
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Guild): move _patch call to the top
  src/structures/Guild.js
Due: eslint --fix

docs(InviteStageInstance): add period at the end of class description
  src/structures/InviteStageInstance.js
Due: eslint --fix

fix(UserManager): fix returning regex results
  src/managers/UserManager.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
