Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

Update typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(User): support banners
  src/structures/User.js
Due: eslint --fix

feat(User): support banners
  src/structures/User.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Constants): declare dynamic
  src/util/Constants.js
Due: eslint --fix

fix(User): eslint
  src/structures/User.js
Due: eslint --fix

typings: update User typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(User): add banner to equals and json bannerURL
  src/structures/User.js
Due: eslint --fix

typings: missing dynamic
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Fix eslint error
  src/structures/Message.js
Due: eslint --fix

Referenced message author
  src/structures/Message.js
Due: eslint --fix

refactor: removed `code` and `split` options (#5918)
  src/structures/APIMessage.js
  src/structures/Message.js
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Util.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(MessagePayload): rename APIMessage
  src/index.js
  src/managers/MessageManager.js
  src/structures/InteractionWebhook.js
  src/structures/Message.js
  src/structures/MessagePayload.js
  src/structures/Webhook.js
  src/structures/interfaces/InteractionResponses.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(MessageBuilder): rename variable assignments
  src/structures/Webhook.js
  src/structures/interfaces/InteractionResponses.js
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

docs: rename APIMessageRaw to APIMessage
  src/structures/InteractionWebhook.js
  src/structures/Message.js
  src/structures/MessageComponentInteraction.js
  src/structures/MessagePayload.js
  src/structures/Webhook.js
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

types: remove redundant renaming
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Speaking): adds speaking class and other properties
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Collector): docs and types
  src/structures/MessageComponentInteractionCollector.js
  src/structures/ReactionCollector.js
  src/structures/interfaces/Collector.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Message): #patch throws if referenced message was deleted
  src/structures/Message.js
Due: eslint --fix

Follow pr review
  src/structures/Message.js
Due: eslint --fix

fix(ApplicationCommand): pass guildID on edit and delete
  src/structures/ApplicationCommand.js
Due: eslint --fix

fix: fix bugs found in runtime
  src/errors/Messages.js
  src/managers/ApplicationCommandPermissionsManager.js
Due: eslint --fix

feat(Managers): new ApplicationCommandPermissionsManager
  src/errors/Messages.js
  src/managers/ApplicationCommandManager.js
  src/managers/ApplicationCommandPermissionsManager.js
  src/managers/GuildApplicationCommandManager.js
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: lint examples
  src/managers/ApplicationCommandPermissionsManager.js
Due: eslint --fix

refactor: clean up error handling
  src/managers/ApplicationCommandPermissionsManager.js
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Channel): make the type news_thread an inline code-block
  src/structures/Channel.js
Due: eslint --fix

fix(User): fix bot and system properties being incorrect in some cases (#5923)
  src/structures/User.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Channel): make the type news_thread an inline code-block (#5940)
  src/structures/Channel.js
Due: eslint --fix

refactor(MessagePayload): rename APIMessage (#5921)
  src/index.js
  src/managers/MessageManager.js
  src/structures/InteractionWebhook.js
  src/structures/Message.js
  src/structures/MessageComponentInteraction.js
  src/structures/MessagePayload.js
  src/structures/Webhook.js
  src/structures/interfaces/InteractionResponses.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Use latest ECMAScript syntax (vladfrangu's review)
  src/structures/Message.js
Due: eslint --fix

ah what
  src/structures/Message.js
Due: eslint --fix

chore: empty commit
  src/client/Client.js
Due: eslint --fix

refactor(*): use nullish coercing operator and optional chaining
  src/structures/Guild.js
Due: eslint --fix

eslint is annoying
  src/managers/GuildChannelManager.js
Due: eslint --fix

blind as a bat me
  src/client/actions/Action.js
  src/managers/BaseManager.js
Due: eslint --fix

reversed logic
  src/client/actions/PresenceUpdate.js
Due: eslint --fix

refactor(Channel): use if statement
  src/structures/Channel.js
Due: eslint --fix

i have one hundred million IQ points
  src/client/Client.js
  src/managers/ChannelManager.js
  src/structures/Message.js
  src/structures/MessageActionRow.js
  src/structures/MessageCollector.js
  src/structures/Webhook.js
Due: eslint --fix
