Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: deprecate v13 properties and methods (#7782)
  src/structures/IntegrationApplication.js
  src/structures/StoreChannel.js
  src/structures/VoiceRegion.js
  src/structures/interfaces/Application.js
  src/util/Util.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: reexport all builders in discord.js (#7772)
  packages/discord.js/package.json
  packages/discord.js/src/index.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
  yarn.lock
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MessageManager): Allow caching option of an unspecified limit (#7763)
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(MessageAttachment): use `Attachment` instead (#7691)
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/GuildStickerManager.js
  packages/discord.js/src/structures/Attachment.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
  packages/discord.js/typings/rawDataTypes.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: Slash command localization for builders (#7683)
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/package.json
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/mixins/NameAndDescription.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: allow `createMessageComponentCollector` without using `fetchReply` (#7623)
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/InteractionCollector.js
  packages/discord.js/src/structures/InteractionResponse.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update docgen
  packages/builders/package.json
  packages/collection/package.json
  packages/discord.js/package.json
  packages/rest/package.json
  packages/voice/package.json
  yarn.lock
Due: none

chore: update ts-docgen
  packages/builders/package.json
  packages/collection/package.json
  packages/rest/package.json
  packages/voice/package.json
  yarn.lock
Due: none

chore: release new versions
  packages/builders/CHANGELOG.md
  packages/builders/package.json
  packages/collection/CHANGELOG.md
  packages/collection/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
  packages/voice/CHANGELOG.md
  packages/voice/package.json
Due: none

chore: update dev versions
  packages/builders/package.json
  packages/collection/package.json
  packages/rest/package.json
  packages/voice/package.json
Due: none

chore: fix rest package file
  packages/rest/package.json
Due: none

docs(ApplicationCommand): fix and improve localization docs
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/RequestManager.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: apply code review suggestions
  packages/rest/src/lib/RequestManager.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove REST.agent
  packages/rest/src/lib/REST.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: fix and improve localization docs
  src/structures/ApplicationCommand.js
  src/structures/Guild.js
  src/structures/Interaction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: fix guildLocale type
  src/structures/Interaction.js
Due: eslint --fix

ci: replace branch name for documentation
  .github/workflows/documentation.yml
Due: none

ci: fix env vars
  .github/workflows/documentation.yml
Due: none

ci: move logic for replacing tag name
  .github/workflows/documentation.yml
Due: none

ci: change logic to parse version
  .github/workflows/documentation.yml
  packages/builders/package.json
  packages/collection/package.json
  packages/rest/package.json
  packages/voice/package.json
Due: none

fix: lint
  packages/rest/__tests__/REST.test.ts
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/__tests__/RequestManager.test.ts
  packages/rest/__tests__/Util.test.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/IHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/utils.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

ci: extract package and semver from tag
  .github/workflows/documentation.yml
  packages/builders/package.json
  packages/collection/package.json
  packages/rest/package.json
  packages/voice/package.json
Due: none

ci: use proper regex escapes
  .github/workflows/documentation.yml
Due: none

types: fix BooleanCache never resolving to true
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: broke other types by accident
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(MessageReaction): add react method
  packages/discord.js/src/structures/MessageReaction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(InteractionResponses): use optional chaining on nullable property
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

types(CommandInteraction): add awaitModalSubmit
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add AttachmentBuilder to @discordjs/builders
  packages/builders/src/index.ts
  packages/builders/src/messages/attachment/Assertions.ts
  packages/builders/src/messages/attachment/Attachment.ts
  packages/builders/src/messages/attachment/UnsafeAttachment.ts
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/Attachment.js
  packages/discord.js/src/structures/AttachmentBuilder.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: spoiler property on UnsafeAttachmentBuilder
  packages/builders/src/messages/attachment/UnsafeAttachment.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: style issue
  packages/builders/src/messages/attachment/UnsafeAttachment.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: name property type
  packages/builders/src/messages/attachment/Assertions.ts
  packages/builders/src/messages/attachment/Attachment.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: name and id properties
  packages/builders/src/messages/attachment/Attachment.ts
  packages/builders/src/messages/attachment/UnsafeAttachment.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: type error on Assertions
  packages/builders/src/messages/attachment/Assertions.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: code style for Assertions
  packages/builders/src/messages/attachment/Assertions.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: style errors and other errors
  packages/builders/src/messages/attachment/Assertions.ts
  packages/builders/src/messages/attachment/Attachment.ts
  packages/builders/src/messages/attachment/UnsafeAttachment.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: style errors and other errors pt.2
  packages/builders/src/messages/attachment/Assertions.ts
  packages/builders/src/messages/attachment/UnsafeAttachment.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: style errors and other errors pt.3
  packages/builders/src/messages/attachment/Attachment.ts
  packages/builders/src/messages/attachment/UnsafeAttachment.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
