Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

ci: check deploy branch vercel
  .github/check_deploy_branch.sh
Due: none

ci: fix vercel deploy check
  .github/check_deploy_branch.sh
Due: none

fix(ApplicationCommandManager): allow passing 0n to defaultMemberPermissions (v13) (#8312)
  src/managers/ApplicationCommandManager.js
  src/structures/ApplicationCommand.js
Due: eslint --fix

fix(ApplicationCommandManager): allow passing 0n to defaultMemberPermissions (#8311)
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
Due: eslint --fix

ci: better naming for ci
  .github/workflows/labelsync.yml
  .github/workflows/pr-automation.yml
  .github/workflows/publish-dev-docker.yml
  .github/workflows/publish-dev.yml
  .github/workflows/publish-docker.yml
  .github/workflows/test.yml
Due: none

ci: rename files to match better naming
  .github/workflows/label-sync.yml
  .github/workflows/npm-auto-deprecate.yml
  .github/workflows/pr-triage.yml
  .github/workflows/tests.yml
Due: none

fix(selectMenu): allow json to be used for select menu options
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildMember): add dmChannel getter
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: update docs and examples to PascalCase links
  packages/discord.js/src/client/actions/InviteCreate.js
  packages/discord.js/src/client/actions/InviteDelete.js
  packages/discord.js/src/client/actions/ThreadMembersUpdate.js
  packages/discord.js/src/client/actions/UserUpdate.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/PermissionOverwriteManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/managers/ThreadMemberManager.js
  packages/discord.js/src/structures/PermissionOverwrites.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/Webhook.js
Due: eslint --fix

fix: update packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/Webhook.js
Due: eslint --fix

docs: fix typo
  packages/discord.js/src/client/actions/InviteCreate.js
  packages/discord.js/src/client/actions/InviteDelete.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/ThreadChannel.js
Due: eslint --fix

docs: found some more
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/ThreadChannel.js
Due: eslint --fix

docs: missed one, left backticks on another
  packages/discord.js/src/client/actions/InviteCreate.js
  packages/discord.js/src/structures/Message.js
Due: eslint --fix

fix(MessageMentions): `ignoreRepliedUser` option in `has()`
  packages/discord.js/src/structures/MessageMentions.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(voice): Rewrite entersState
  packages/voice/__tests__/abortAfter.test.ts
  packages/voice/__tests__/entersState.test.ts
  packages/voice/src/util/abortAfter.ts
  packages/voice/src/util/entersState.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Fix formatting to match Prettier
  packages/voice/src/util/entersState.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: update to latest code
  packages/discord.js/src/structures/ModalSubmitFields.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add support for select menus in modals
  packages/builders/src/components/ActionRow.ts
  packages/discord.js/src/structures/ModalSubmitFields.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

ci: add vercel check deploy branch script
  .github/check_deploy_branch.sh
Due: none

refactor(embed): deprecate addField
  src/structures/MessageEmbed.js
Due: eslint --fix

Update src/structures/MessageEmbed.js
  src/structures/MessageEmbed.js
Due: eslint --fix

chore: jsdoc types properly
  src/structures/MessageEmbed.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildBanManager#create): add `deleteMessageSeconds`
  packages/discord.js/src/managers/GuildBanManager.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

style: disable max-len (ref #7080)
  src/structures/MessageEmbed.js
Due: eslint --fix

docs: update jsdoc in typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: restore missing typeguards
  packages/discord.js/src/structures/BaseInteraction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: and the other two
  packages/discord.js/src/structures/BaseInteraction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: test
  packages/builders/__tests__/components/selectMenu.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update typings/index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: add lint-staged
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  packages/actions/.lintstagedrc.js
  packages/actions/package.json
  packages/builders/.lintstagedrc.js
  packages/builders/package.json
  packages/collection/.lintstagedrc.js
  packages/collection/package.json
  packages/discord.js/.lintstagedrc.json
  packages/discord.js/package.json
  packages/docgen/.lintstagedrc.js
  packages/docgen/package.json
  packages/proxy-container/.lintstagedrc.cjs
  packages/proxy-container/.prettierrc.cjs
  packages/proxy-container/.prettierrc.json
  packages/proxy-container/package.json
  packages/proxy/.lintstagedrc.js
  packages/proxy/package.json
  packages/rest/.lintstagedrc.js
  packages/rest/package.json
  packages/scripts/.lintstagedrc.js
  packages/scripts/package.json
  packages/voice/.lintstagedrc.js
  packages/voice/package.json
  packages/website/.lintstagedrc.js
  packages/website/package.json
  yarn.lock
Due: eslint --fix

fix(Client): omit private properties from toJSON
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/client/Client.js
Due: eslint --fix

fix(Client): omit private properties from toJSON (#8337)
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/client/Client.js
Due: eslint --fix

chore: remove useless thing
  packages/ws/src/struct/WebSocketManager.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: init ws
  packages/ws/LICENSE
  packages/ws/README.md
  packages/ws/__tests__/index.test.ts
  packages/ws/api-extractor.json
  packages/ws/cliff.toml
  packages/ws/docs/README.md
  packages/ws/docs/index.json
  packages/ws/package.json
  packages/ws/src/index.ts
  packages/ws/tsconfig.eslint.json
  packages/ws/tsconfig.json
  packages/ws/tsup.config.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ws): websocket manager
  packages/ws/.cliff-jumperrc.json
  packages/ws/.eslintrc.json
  packages/ws/.gitignore
  packages/ws/.prettierignore
  packages/ws/.prettierrc.js
  packages/ws/package.json
  packages/ws/src/struct/WebSocketManager.ts
  packages/ws/src/struct/WebSocketShard.ts
  packages/ws/src/utils/constants.ts
  packages/ws/src/utils/utils.ts
  yarn.lock
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: implement suggested changes
  packages/ws/src/struct/WebSocketManager.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ws): init websocket shard
  packages/ws/__tests__/WebSocketManager.test.ts
  packages/ws/__tests__/index.test.ts
  packages/ws/package.json
  packages/ws/src/index.ts
  packages/ws/src/strategies/IStrategy.ts
  packages/ws/src/struct/WebSocketManager.ts
  packages/ws/src/struct/WebSocketShard.ts
  packages/ws/src/utils/constants.ts
  packages/ws/src/utils/utils.ts
  packages/ws/tsconfig.json
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: proper strategies
  packages/ws/__tests__/WebSocketManager.test.ts
  packages/ws/src/index.ts
  packages/ws/src/strategies/context/IContextFetchingStrategy.ts
  packages/ws/src/strategies/sharding/IShardingStrategy.ts
  packages/ws/src/strategies/sharding/SimpleShardingStrategy.ts
  packages/ws/src/strategies/sharding/WorkerShardingStrategy.ts
  packages/ws/src/struct/WebSocketManager.ts
  packages/ws/src/struct/WebSocketShard.ts
  packages/ws/src/utils/constants.ts
  packages/ws/src/utils/utils.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: heartbeating
  packages/ws/src/strategies/sharding/IShardingStrategy.ts
  packages/ws/src/strategies/sharding/SimpleShardingStrategy.ts
  packages/ws/src/strategies/sharding/WorkerShardingStrategy.ts
  packages/ws/src/strategies/sharding/worker.ts
  packages/ws/src/struct/WebSocketManager.ts
  packages/ws/src/struct/WebSocketShard.ts
  packages/ws/src/utils/constants.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
