Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: right name
  src/structures/VoiceState.js
Due: eslint --fix

types(GuildMemberManager): remove can return null
  src/managers/GuildBanManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(User): compare flags in #equals
  src/client/actions/GuildMemberUpdate.js
  src/client/actions/PresenceUpdate.js
  src/structures/User.js
Due: eslint --fix

docs(WebhooksUpdate): Document news channels
  src/client/actions/WebhooksUpdate.js
Due: eslint --fix

feat(ModuleImporter): implement import module compatible with bundlers
  src/util/ModuleImporter.js
Due: eslint --fix

feat(ModuleImporter): implement import module compatible with bundlers
  src/client/actions/ActionsManager.js
  src/util/ModuleImporter.js
Due: eslint --fix

types: Allow `NewsChannel` in webhook updates
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Webhook): more accurate types for `sourceChannel`
  src/structures/Webhook.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(WebhooksUpdate): Cleaner description
  src/client/actions/WebhooksUpdate.js
Due: eslint --fix

types(WebhooksUpdate): Allow `NewsChannel`s (#6749)
  src/client/actions/WebhooksUpdate.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Webhook): More accurate type for `sourceChannel` (#6751)
  src/structures/Webhook.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add ExcludeEnum utility for easier typings (#6746)
  typings/enums.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(GuildBanManager): remove can return null (#6748)
  src/managers/GuildBanManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(VoiceState): Patch streaming value (#6747)
  src/structures/VoiceState.js
Due: eslint --fix

Apply suggestions from code review
  src/structures/Interaction.js
Due: eslint --fix

types(User): add new _equals method
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(GuildMemberUpdateAction): event doesn't get emitted on user update
  src/client/actions/GuildMemberUpdate.js
Due: eslint --fix

docs: fetchReply info + example
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

feat(Permissions): remove deprecated thread-related bitfield flags
  src/util/Permissions.js
Due: eslint --fix

types(Permissions): remove deprecated thread permission flags
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(AllowedImageSizes): add new image sizes
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(VoiceRegion): remove the vip field
  src/structures/VoiceRegion.js
Due: eslint --fix

types(VoiceRegion): remove the vip field
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(GuildMemberUpdateAction): event doesn't get emitted on user update (#6752)
  src/client/actions/GuildMemberUpdate.js
Due: eslint --fix

fix(User): compare flags in #equals (#6750)
  src/client/actions/GuildMemberUpdate.js
  src/client/actions/PresenceUpdate.js
  src/structures/User.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: rename `Awaited`
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: rename `Awaited<T>` to `Awaitable<T>` (#6756)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: use optional chaining
  src/rest/APIRequest.js
  src/rest/RequestHandler.js
  src/structures/Guild.js
  test/sendtest.js
  test/webhooktest.js
Due: eslint --fix

fix: make existential types more usable
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: clean up types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: tslint issue
  tslint.json
Due: none

refactor: remove unnecessary optional chain
  src/rest/RequestHandler.js
Due: eslint --fix

fix(AllowedImageSizes): use predfined numbers
  src/util/Constants.js
Due: eslint --fix

types(Interaction): allow `Interaction` cached properties to be type narrowed (#6668)
  src/structures/Interaction.js
  tslint.json
  typings/index.d.ts
  typings/tests.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: use optional chaining (#6757)
  src/rest/APIRequest.js
  src/rest/RequestHandler.js
  src/structures/Guild.js
  test/sendtest.js
  test/webhooktest.js
Due: eslint --fix

chore(package): change homepage (#6550)
  package.json
Due: none

fix(AllowedImageSizes): add new image sizes (#6754)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(User): set properties to undefined when not present
  src/errors/Messages.js
  src/structures/User.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: totally didn’t copy paste
  src/structures/User.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
