Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

docs(Attachment): remove constructor doc (#8009)
  packages/discord.js/src/structures/Attachment.js
Due: eslint --fix

types(modal): fix `showModal()` typings (#8014)
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(MessageReaction): add react method (#7810)
  packages/discord.js/src/structures/MessageReaction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(channel): remove redundant channel type guards (#8012)
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: allow builders to accept rest params and arrays (#7874)
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/__tests__/interactions/modal.test.ts
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/index.ts
  packages/builders/src/interactions/modals/UnsafeModal.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
  packages/builders/src/util/normalizeArray.ts
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refact: Sticker's `tags` property (#8010)
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(AttachmentBuilder): fix data type
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(MessageOptions): add AttachmentPayload
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(CommandInteraction): add 'commandGuildId'
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: readd isThread typeguard
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(User): return user after patch
  packages/discord.js/src/structures/User.js
Due: eslint --fix

types(AttachmentBuilder): fix data type (#8016)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(CommandInteraction): add 'commandGuildId' (#8018)
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: backport handle zombie connection (#7626)
  packages/discord.js/src/client/websocket/WebSocketManager.js
  packages/discord.js/src/client/websocket/WebSocketShard.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(DirectoryChannel): Extend `Channel`
  packages/discord.js/src/structures/DirectoryChannel.js
Due: eslint --fix

fix: readd `isThread` type guard (#8019)
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(DirectoryChannel): Extend `Channel` (#8022)
  packages/discord.js/src/structures/DirectoryChannel.js
Due: eslint --fix

chore: properly adapt changelog script
  packages/builders/package.json
  packages/collection/package.json
  packages/discord.js/package.json
  packages/rest/package.json
  packages/voice/package.json
Due: none

chore(release): version
  packages/builders/CHANGELOG.md
  packages/builders/package.json
Due: none

chore(builders): dev version
  packages/builders/package.json
Due: none

fix: handle `DirectoryChannel#url`
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/structures/DirectoryChannel.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add `name`
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(DirectoryChannel): Type `name` and handle `url` (#8023)
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/structures/DirectoryChannel.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

build: use cliff-jumper for releases
  .vscode/settings.json
  package.json
  packages/actions/package.json
  packages/builders/.cliff-jumperrc.json
  packages/builders/package.json
  packages/collection/.cliff-jumperrc.json
  packages/collection/package.json
  packages/discord.js/.cliff-jumperrc.json
  packages/discord.js/package.json
  packages/proxy/.cliff-jumperrc.json
  packages/proxy/package.json
  packages/rest/.cliff-jumperrc.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/voice/.cliff-jumperrc.json
  packages/voice/package.json
  yarn.lock
Due: none

build: use cliff-jumper for releases (#8030)
  .vscode/settings.json
  package.json
  packages/actions/package.json
  packages/builders/.cliff-jumperrc.json
  packages/builders/package.json
  packages/collection/.cliff-jumperrc.json
  packages/collection/package.json
  packages/discord.js/.cliff-jumperrc.json
  packages/discord.js/package.json
  packages/proxy/.cliff-jumperrc.json
  packages/proxy/package.json
  packages/rest/.cliff-jumperrc.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/voice/.cliff-jumperrc.json
  packages/voice/package.json
  yarn.lock
Due: none

fix: suggested changes
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/client/actions/GuildMemberUpdate.js
  packages/discord.js/src/managers/UserManager.js
  packages/discord.js/src/structures/DMChannel.js
  packages/discord.js/src/structures/GuildBan.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/GuildTemplate.js
  packages/discord.js/src/structures/IntegrationApplication.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/src/structures/TeamMember.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update GuildMemberManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
Due: eslint --fix

Update GuildChannelManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
Due: eslint --fix

Update Guild.js
  packages/discord.js/src/structures/Guild.js
Due: eslint --fix

Update GuildChannel.js
  packages/discord.js/src/structures/GuildChannel.js
Due: eslint --fix

Update Role.js
  packages/discord.js/src/structures/Role.js
Due: eslint --fix

revert: discord.js prettier changes
  packages/discord.js/.cliff-jumperrc.json
  packages/discord.js/.eslintrc.json
  packages/discord.js/.prettierrc.js
  packages/discord.js/.prettierrc.json
  packages/discord.js/README.md
  packages/discord.js/package.json
  packages/discord.js/tsconfig.json
  packages/discord.js/tslint.json
Due: eslint --fix

chore: remove ignore file
  .eslintignore
Due: none

fix: minify actions
  packages/actions/tsup.config.ts
  tsup.config.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: prettier/prettier uses .prettierrc
  packages/discord.js/.eslintrc.json
Due: none

fix: use minify
  packages/docgen/tsup.config.ts
  packages/scripts/tsup.config.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
