Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

Update Messages.js
  src/errors/Messages.js
Due: eslint --fix

fix(Managers): fix typo in unsupported warning
  src/managers/ChannelManager.js
  src/managers/GuildChannelManager.js
  src/managers/GuildManager.js
  src/managers/PermissionOverwriteManager.js
  src/managers/RoleManager.js
Due: eslint --fix

Update GuildChannel.js
  src/structures/GuildChannel.js
Due: eslint --fix

feat(Threads): max autoArchiveDuration option (#6304)
  src/managers/ThreadManager.js
  src/structures/ThreadChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Managers): fix typo in unsupported warning (#6338)
  src/managers/ChannelManager.js
  src/managers/GuildChannelManager.js
  src/managers/GuildManager.js
  src/managers/PermissionOverwriteManager.js
  src/managers/RoleManager.js
Due: eslint --fix

ci(PublishDev): remove t and hardcoded dev version (#6238)
  .github/workflows/publish-dev.yml
Due: none

types(ImageURLOptions): allow 'gif' format
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: incompatible types error
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: change master to main
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  src/util/LimitedCollection.js
Due: eslint --fix

docs: use same link as later link
  README.md
Due: none

docs: Adjust wording in commit hash
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

docs: fix errors and apply single option
  src/managers/ApplicationCommandPermissionsManager.js
  src/structures/ApplicationCommand.js
  src/structures/CommandInteraction.js
  src/structures/CommandInteractionOptionResolver.js
Due: eslint --fix

docs(Client): Update Collection link
  src/client/Client.js
Due: eslint --fix

chore: Rename various stuff to "main" (#6343)
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  src/client/Client.js
  src/util/LimitedCollection.js
Due: eslint --fix

fix: grammar
  src/structures/TeamMember.js
  src/util/Constants.js
Due: eslint --fix

fix: grammar
  src/structures/GuildTemplate.js
  src/structures/Team.js
  src/structures/TeamMember.js
  src/util/Constants.js
Due: eslint --fix

fix: grammar
  src/structures/GuildTemplate.js
  src/structures/Team.js
Due: eslint --fix

use an interface instead of a type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: grammar fixes (#6345)
  src/structures/GuildTemplate.js
  src/structures/Team.js
  src/structures/TeamMember.js
  src/util/Constants.js
Due: eslint --fix

Changed ApplicationCommandOptionData interface
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Constants): fix CDN endpoint typings (#6332)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fixed ApplicationCommandOption
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

👌
  src/rest/RESTManager.js
Due: eslint --fix

types(ImageURLOptions): allow 'gif' format (#6342)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update typings/index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ApplicationCommandOptionData) changed options type (#6347)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update conventional commit URL
  .github/CONTRIBUTING.md
Due: none

chore: update conventional commit URL (#6351)
  .github/CONTRIBUTING.md
Due: none

Adding more explanation in `README.md`
  README.md
Due: none

fix: remove truthy check before isNaN check
  src/util/Util.js
Due: eslint --fix

fix(Docs): add forgotten s for `MANAGE_CHANNEL`
  src/client/actions/InviteCreate.js
  src/client/actions/InviteDelete.js
Due: eslint --fix

docs(Options): fix defaultMakeCacheSettings
  src/util/Options.js
Due: eslint --fix

docs(Options): defaultMakeCacheSettings typo (#6365)
  src/util/Options.js
Due: eslint --fix

docs(Invite): `MANAGE_CHANNELS` instead of `MANAGE_CHANNEL` (#6361)
  src/client/actions/InviteCreate.js
  src/client/actions/InviteDelete.js
Due: eslint --fix

Update src/util/Util.js
  src/util/Util.js
Due: eslint --fix

chore(exports): allow imports of specific paths
  package.json
Due: none

Update typing typo for (messageReactionAdd)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Apply suggestions from code review
  README.md
Due: none

Update README.md
  README.md
Due: none

chore(README): more explanation in `README.md` (#6354)
  README.md
Due: none
