Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

docs(Guild): clarify vanity URL documentation (#4125)
  src/structures/Guild.js
Due: eslint --fix

fix(Collector): support async (#4123)
  src/structures/interfaces/Collector.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Client): fix docs for login method (#4350)
  src/client/Client.js
Due: eslint --fix

feat(Util): add missing colors to docs (#3843)
  src/util/Util.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

src: default permission_overwrites to undefined
  src/structures/GuildChannel.js
Due: eslint --fix

chore(lint): It's not necessary to initialize 'permission_overwrites' to undefined
  src/structures/GuildChannel.js
Due: eslint --fix

types: use readonly arrays in parameters
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: update readme too
  README.md
Due: none

docs: public updates channel -> community updates channel
  src/structures/Guild.js
Due: eslint --fix

fix(Integration): user might not be present
  src/structures/Integration.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Ban): days must be 0-7
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
Due: eslint --fix

fix typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

clarify
  src/util/Constants.js
Due: eslint --fix

docs(Welcome): change discord badge to shields.io for consistency (#4633)
  README.md
  docs/general/welcome.md
Due: none

fix(GuildChannel): make lockPermissions use parent overwrites (#4627)
  src/structures/GuildChannel.js
Due: eslint --fix

fix: max-length and duplication
  src/util/Constants.js
Due: eslint --fix

clarify
  src/managers/GuildMemberManager.js
Due: eslint --fix

feat(GuildEmoji): cache the author (#4334)
  src/structures/GuildEmoji.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Integration): user might not be present (#4691)
  src/structures/Integration.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: deprecate GuildEmbed methods and properties in favour of GuildWidget (#4121)
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update src/structures/GuildMember.js
  src/structures/GuildMember.js
Due: eslint --fix

feat(types): BitFieldResolvable use ReadonlyArray (#4604)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Ban): days must be 0-7 (#4693)
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
Due: eslint --fix

spacing
  src/structures/Guild.js
Due: eslint --fix

feat(Guild): discovery splash (#4619)
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Constants): Improve large_threshold description (#3744)
  src/util/Constants.js
Due: eslint --fix

feat(Guild): updates for Community guilds (#4377)
  src/client/Client.js
  src/structures/Guild.js
  src/structures/GuildPreview.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Support number type for setExplicitContentFilter method
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Embeds): Added descriptions to the typedefs (#4303)
  src/structures/MessageEmbed.js
Due: eslint --fix

docs: reword options.query description
  src/managers/GuildMemberManager.js
Due: eslint --fix

feat(BitField): add problematic bit to error (#4617)
  src/util/BitField.js
Due: eslint --fix

Update src/structures/ReactionCollector.js
  src/structures/ReactionCollector.js
Due: eslint --fix

Fix on guild edit data too
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Add number of verification level too
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Add spaces for consistency
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(APIMessage): comment steps taken
  src/structures/APIMessage.js
Due: eslint --fix

fix(GuildMember): remove trailing spaces
  src/structures/GuildMember.js
Due: eslint --fix

docs(GuildMember): remove duplicate docs tag
  src/structures/GuildMember.js
Due: eslint --fix

Update Shard.js
  src/sharding/Shard.js
Due: eslint --fix

Update ShardClientUtil.js
  src/sharding/ShardClientUtil.js
Due: eslint --fix
