Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: Add Locales to Interactions (#7131)
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: make `intersect` perform a true intersection (#7211)
  packages/collection/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(files): file data can be much more than buffer (#7238)
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/RequestManager.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Shard): EventEmitter listener warning (#7240)
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/sharding/ShardClientUtil.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add `ReadonlyCollection` (#7245)
  packages/collection/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(demuxprobe): return after a promise rejects
  packages/voice/src/util/demuxProbe.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(presenceupdate): remove `null` check for expression `data.user`
  packages/discord.js/src/client/actions/PresenceUpdate.js
Due: eslint --fix

refactor(application): remove fetchAssets
  packages/discord.js/src/structures/interfaces/Application.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix-typo-and-ms-abbreviation
  packages/discord.js/src/util/Options.js
  packages/rest/src/lib/REST.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

add-missed-ones
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/rest/RateLimitError.js
  packages/discord.js/src/rest/RequestHandler.js
Due: eslint --fix

test(voice): fix tests
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  packages/rest/tsconfig.json
  packages/voice/__mocks__/rtp.ts
  packages/voice/__tests__/AudioPlayer.test.ts
  packages/voice/__tests__/AudioReceiveStream.test.ts
  packages/voice/__tests__/AudioResource.test.ts
  packages/voice/__tests__/SSRCMap.test.ts
  packages/voice/__tests__/Secretbox.test.ts
  packages/voice/__tests__/SpeakingMap.test.ts
  packages/voice/__tests__/TransformerGraph.test.ts
  packages/voice/__tests__/VoiceReceiver.test.ts
  packages/voice/__tests__/VoiceUDPSocket.test.ts
  packages/voice/__tests__/VoiceWebSocket.test.ts
  packages/voice/__tests__/abortAfter.test.ts
  packages/voice/__tests__/demuxProbe.test.ts
  packages/voice/__tests__/entersState.test.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: PresenceUpdate and demuxProbe (#7248)
  packages/discord.js/src/client/actions/PresenceUpdate.js
  packages/voice/src/util/demuxProbe.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(application): remove fetchAssets (#7250)
  packages/discord.js/src/structures/interfaces/Application.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: keep up-to-date
  packages/discord.js/src/structures/AnonymousGuild.js
  packages/discord.js/src/structures/BaseGuild.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/GuildPreview.js
  packages/discord.js/src/structures/PartialGroupDMChannel.js
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/StickerPack.js
  packages/discord.js/src/structures/Team.js
  packages/discord.js/src/structures/User.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/Application.js
  packages/discord.js/src/util/Constants.js
Due: eslint --fix

types: re-add types
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: create `ImageFormat`
  packages/discord.js/src/util/Constants.js
Due: eslint --fix

docs: clarify default
  packages/discord.js/src/util/Constants.js
Due: eslint --fix

feat: add `ImageSize`
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: apply to User#bannerURL()
  packages/discord.js/src/structures/User.js
Due: eslint --fix

docs: don't need this word
  packages/discord.js/src/util/Constants.js
Due: eslint --fix

chore: update wording here too
  packages/discord.js/src/util/Constants.js
Due: eslint --fix

docs: markdown
  packages/discord.js/src/util/Constants.js
Due: eslint --fix

refactor: simplify gif conversion
  packages/discord.js/src/util/Constants.js
Due: eslint --fix

docs(presences): document missing defaults
  packages/discord.js/src/structures/Presence.js
Due: eslint --fix

chore: prettier
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: export types for ts
  packages/discord.js/src/index.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix missed areas
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/GuildScheduledEvent.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/MessageMentions.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: remove discord.js enums and use discord-api-types enums instead (#7077)
  packages/discord.js/src/client/actions/ChannelUpdate.js
  packages/discord.js/src/client/actions/InteractionCreate.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/managers/ApplicationCommandPermissionsManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/managers/PermissionOverwriteManager.js
  packages/discord.js/src/managers/StageInstanceManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/AnonymousGuild.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/AutocompleteInteraction.js
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/structures/ClientPresence.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildAuditLogs.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/GuildScheduledEvent.js
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/src/structures/InteractionCollector.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/MessageMentions.js
  packages/discord.js/src/structures/PermissionOverwrites.js
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/src/structures/StageInstance.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/src/structures/TeamMember.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/enums.d.ts
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(invite): add invite type
  packages/discord.js/src/structures/Invite.js
Due: eslint --fix

feat: use InviteType enum & add typings
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(StageInstance): deprecate discoverableDisabled
  packages/discord.js/src/structures/StageInstance.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: use `this` spreads
  packages/builders/src/components/Button.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/SelectMenuOption.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add components to builders
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/__tests__/components/button.test.ts
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/Button.ts
  packages/builders/src/components/Component.ts
  packages/builders/src/components/Components.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/SelectMenuOption.ts
  packages/builders/src/index.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update packages/builders/src/components/Assertions.ts
  packages/builders/src/components/Assertions.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: remove lockfile changes
  yarn.lock
Due: none

chore: make requested changes
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/__tests__/components/button.test.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: fix lint errors
  packages/builders/__tests__/components/button.test.ts
  packages/builders/src/components/Button.ts
  packages/builders/src/components/Component.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/SelectMenuOption.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Channel): improve typeguards
  packages/discord.js/src/client/actions/MessageCreate.js
  packages/discord.js/src/client/actions/MessageDelete.js
  packages/discord.js/src/client/actions/MessageDeleteBulk.js
  packages/discord.js/src/client/actions/MessageReactionAdd.js
  packages/discord.js/src/client/actions/MessageReactionRemove.js
  packages/discord.js/src/client/actions/MessageReactionRemoveAll.js
  packages/discord.js/src/client/actions/MessageReactionRemoveEmoji.js
  packages/discord.js/src/client/actions/MessageUpdate.js
  packages/discord.js/src/client/actions/TypingStart.js
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/util/Sweepers.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
