Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

feat(InteractionReponses): allow fetching of ephemeral messages (#6426)
  src/errors/Messages.js
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

Don't show message content error on splitMessage
  src/util/Util.js
Due: eslint --fix

Remove tokenPrefix parameter
  src/rest/RESTManager.js
Due: eslint --fix

Remove tokenPrefix parameter
  src/client/BaseClient.js
Due: eslint --fix

fix(GuildChannel): 🐛 Fix manageable method for voice-channels
  src/structures/GuildChannel.js
Due: eslint --fix

refactor: ♻️ Clean voice channel verification
  src/structures/GuildChannel.js
Due: eslint --fix

chore(Webhook): fix description
  src/structures/Webhook.js
Due: eslint --fix

refactor: ♻️ Refactor of verifications
  src/structures/GuildChannel.js
Due: eslint --fix

types(ClientPresence): add type declarations and docs
  src/structures/ClientPresence.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ClientUser): fix return types for presence methods
  src/structures/ClientUser.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(BufferResolvable): add warning for URL input
  src/util/DataResolver.js
Due: eslint --fix

types: require component type in raw object formats
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Added missing typing
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(BaseClient): Remove selfbot ability (#6429)
  src/client/BaseClient.js
  src/client/Client.js
  src/rest/RESTManager.js
Due: eslint --fix

Add maximumBitrate Property on Guild
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Fix eslint check
  src/structures/Guild.js
Due: eslint --fix

fix: Missing `Permissions` import.
  src/structures/BaseGuildTextChannel.js
Due: eslint --fix

chore: make requested changes
  src/util/TypeGuards.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: inline variable
  src/structures/GuildChannel.js
Due: eslint --fix

types(ClientUser): add missing presence declaration
  src/structures/ClientUser.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(RequestHandler): Do not return await
  src/rest/RequestHandler.js
Due: eslint --fix

Move <Guild>.maximumBitrate into a getter
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update src/structures/Guild.js
  src/structures/Guild.js
Due: eslint --fix

Fix getting enum index value
  src/structures/Guild.js
Due: eslint --fix

Change switch check
  src/structures/Guild.js
Due: eslint --fix

docs(ApplicationCommandType): add DAPI link
  src/util/Constants.js
Due: eslint --fix

docs(MessageReference): add possible message types
  src/structures/Message.js
Due: eslint --fix

feat(Threads): update permissions and fix getters
  src/structures/ThreadChannel.js
  src/util/Permissions.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: change back names for now
  src/util/Permissions.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: apparently checkAdmin for channel permissions is actually bad
  src/structures/ThreadChannel.js
Due: eslint --fix

chore: add TODO comment
  src/util/Permissions.js
Due: eslint --fix

chore: remove pointless isThread check
  src/structures/ThreadChannel.js
Due: eslint --fix

fix: sendable should return false instead of undefined
  src/structures/ThreadChannel.js
Due: eslint --fix

typings(GuildChannel): Added missing typing (#6454)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(BufferResolvable): add warning for URL input (#6451)
  src/util/DataResolver.js
Due: eslint --fix

feat(Rest): expose https.Agent options (#6177)
  src/rest/APIRequest.js
  src/util/Options.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add maximum prune requests reached api error (#6427)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(Typings): fix WebhookEditMessageOptions not having attachments (#6430)
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
