Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(BaseManager): remove declaration of remove method (#4069)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(WebSocketShard): log Discord requested reconnects (#4066)
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

fix(StreamDispatcher): correct property types (#4059)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add supported 4096 image size and jpeg format (#4031)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Typings): make GuildPreview#features an array
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Typings): make Integration#type a string
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildMemberManager): customisable timeout for _fetchMany
  src/managers/GuildMemberManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(DataResolver): make sure `resolveFile` always returns a Promise
  src/util/DataResolver.js
Due: eslint --fix

refactor(DataResolver): use for-await-of
  src/util/DataResolver.js
Due: eslint --fix

add guildmanager fetch
  src/managers/GuildManager.js
Due: eslint --fix

docs(Permissions): Permissions Name Update
  src/util/Permissions.js
Due: eslint --fix

update typings to reflect change in permissions
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

resolve conversation
  src/util/Permissions.js
Due: eslint --fix

Update permissions.js to allow deprecation period
  src/util/Permissions.js
Due: eslint --fix

Update index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ClientOptions): add default allowedMentions
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ClientOptions): use default allowedMentions when not provided
  src/structures/APIMessage.js
Due: eslint --fix

feat: add GuildManager#fetch & typings
  src/managers/GuildManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: jsdoc
  src/managers/GuildManager.js
Due: eslint --fix

fix: guilds dont have partials
  src/managers/GuildManager.js
Due: eslint --fix

Update src/structures/APIMessage.js
  src/structures/APIMessage.js
Due: eslint --fix

chore(Typings): add stricter def for Client#emit
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Fix resolveOverwriteOptions description.
  src/structures/PermissionOverwrites.js
Due: eslint --fix

feat(Message): add allowedMentions to MessageEditOptions (#4071)
  src/structures/Message.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ClientApplication): type fetchAssets as resolving with an a… (#4078)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Typings): GuildPreview#features and Integration#type (#4080)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: User#flags (#4060)
  src/index.js
  src/structures/User.js
  src/util/UserFlags.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Guild): sort text, news, and store channels together (#4070)
  src/structures/Guild.js
Due: eslint --fix

docs(ShardClientUtil): use @ emits instead of @ link
  src/sharding/ShardClientUtil.js
Due: eslint --fix

docs(MessageManager): use Promise<void> over Promise
  src/managers/MessageManager.js
Due: eslint --fix

fix(PermissionOverwrites): resolveOverwriteOptions description (#4088)
  src/structures/PermissionOverwrites.js
Due: eslint --fix

chore(Typings): stricter def for Client#emit (#4087)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(ShardClientUtil): link Shard#message from send method (#4028)
  src/sharding/ShardClientUtil.js
Due: eslint --fix

docs(MessageManager): document return type of delete (#4012)
  src/managers/MessageManager.js
Due: eslint --fix

docs(MessageEmbed): document the constructor (#4077)
  src/structures/MessageEmbed.js
Due: eslint --fix

feat(GuildMemberManager): customisable timeout for _fetchMany (#4081)
  src/managers/GuildMemberManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Webhook): id and token information (#3962)
  docs/examples/webhook.js
Due: eslint --fix

feat(ESModules): importing for esm modules (#3998)
  .gitignore
  esm/discord.mjs
  package.json
Due: none

fix(typings): mark RoleManager#everyone as non-null
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
