Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: apply suggestions from code review
  .eslintrc.json
Due: none

chore: better changelog generation
  .commitlintrc.json
  CHANGELOG.md
  cliff.toml
Due: none

chore: fixup changelog generation
  CHANGELOG.md
  cliff.toml
Due: none

chore: fixup commits in changelog
  CHANGELOG.md
  cliff.toml
Due: none

chore: bump dapi-types
  package-lock.json
  package.json
Due: none

chore: bump dapi-types (#7159)
  package-lock.json
  package.json
Due: none

feat(GuildMember): add method to check timeout (#7146)
  src/structures/GuildMember.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(MessageEmbed): Deprecate strings for `setAuthor()` (completely) and `setFooter()` (#7153)
  src/structures/MessageEmbed.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: deps
  package-lock.json
  package.json
Due: none

chore(release): version
  package-lock.json
  package.json
Due: none

chore(release): version
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: dev version
  package-lock.json
  package.json
Due: none

docs(Sweepers): fix typo
  src/util/Sweepers.js
Due: eslint --fix

docs(Sweepers): fix typo (#7165)
  src/util/Sweepers.js
Due: eslint --fix

chore: bump LICENSE year
  LICENSE
Due: none

ci: force push to avoid non-fast-forward errors
  .github/workflows/documentation.yml
Due: none

ci: max simultaneous of 1 for documentation runners
  .github/workflows/documentation.yml
Due: none

refactor: remove required from getMember
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: changed as suggested
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
Due: eslint --fix

revert: organize import
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(richpresenceassets): add YouTube and custom image support
  packages/discord.js/src/structures/Presence.js
Due: eslint --fix

fix(sweepers): provide default for object param
  packages/discord.js/src/util/Sweepers.js
Due: eslint --fix

feat: add error code 50086
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(RoleManager): fix incorrect example
  packages/discord.js/src/managers/RoleManager.js
Due: eslint --fix

Update GuildMemberManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
Due: eslint --fix

docs: fix description
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

types: fix cache types resolving to `never`
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: reorder some unions
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update TextBasedChannel.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

refactor: node-fetch & @discordjs/formdata -> undici
  packages/discord.js/src/rest/APIRequest.js
  packages/discord.js/src/rest/RequestHandler.js
  packages/discord.js/src/util/DataResolver.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/test/sendtest.js
  packages/discord.js/test/webhooktest.js
Due: eslint --fix

fix: convert ArrayBuffer to node Buffer
  packages/discord.js/src/rest/RequestHandler.js
  packages/discord.js/test/sendtest.js
  packages/discord.js/test/webhooktest.js
Due: eslint --fix

fix: don't convert to Buffer
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/rest/RequestHandler.js
Due: eslint --fix

force consumption of body
  packages/discord.js/src/rest/RequestHandler.js
Due: eslint --fix

fix: attachments
  packages/discord.js/src/structures/MessageAttachment.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: resolveFile
  packages/discord.js/src/rest/APIRequest.js
  packages/discord.js/src/util/DataResolver.js
Due: eslint --fix

fix: resolveImage
  packages/discord.js/src/util/DataResolver.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
