Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

feat(StageInstance): add method to delete the stage instance
  src/structures/StageInstance.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(StageInstance): set #deleted of clone to true in delete method
  src/structures/StageInstance.js
Due: eslint --fix

refactor(StageInstance): make channel prop a getter
  src/client/actions/StageInstanceCreate.js
  src/client/actions/StageInstanceDelete.js
  src/client/actions/StageInstanceUpdate.js
  src/managers/StageInstanceManager.js
  src/structures/Guild.js
  src/structures/StageInstance.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildAuditLogs): add support for logs related to StageInstance
  src/structures/GuildAuditLogs.js
Due: eslint --fix

refactor: add suggestions from the review
  src/structures/StageChannel.js
  src/structures/StageInstance.js
Due: eslint --fix

refactor: refactor action handlers for stage instance events
  src/client/actions/StageInstanceDelete.js
  src/client/actions/StageInstanceUpdate.js
Due: eslint --fix

types: update audit logs typings related to stage instance
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(StageInstanceManager): remove redundant add method
  src/managers/StageInstanceManager.js
Due: eslint --fix

refactor: revert changes that are out of scope of the PR
  src/structures/GuildAuditLogs.js
Due: eslint --fix

feat(StageInstance): add creation time related props
  src/structures/StageInstance.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(StageInstance): add setTopic method and some refactoring
  src/managers/StageInstanceManager.js
  src/structures/StageInstance.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: make variables in examples more explicit
  src/managers/StageInstanceManager.js
  src/structures/StageInstance.js
Due: eslint --fix

docs(AuditLogEntryTarget): revert the unintended change
  src/structures/GuildAuditLogs.js
Due: eslint --fix

docs: add basic examples for new methods
  src/managers/StageInstanceManager.js
  src/structures/StageInstance.js
Due: eslint --fix

refactor: use BaseFetchOptions
  src/managers/StageInstanceManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(StageInstance): use resolve in channel & guild getters
  src/structures/StageInstance.js
Due: eslint --fix

docs(StageInstanceManager): document the manager
  src/managers/StageInstanceManager.js
Due: eslint --fix

(ApplicationCommand): default option.required
  src/structures/ApplicationCommand.js
Due: eslint --fix

fix: lint
  src/structures/ApplicationCommand.js
Due: eslint --fix

package.json
  package.json
Due: none

fix(ApplicationCommand): default option.required fix (#5848)
  src/structures/ApplicationCommand.js
Due: eslint --fix

refactor(GuildAuditLogs): use || instead of ??
  src/structures/GuildAuditLogs.js
Due: eslint --fix

refactor(GuildAuditLogs): use ?? instead of || in more places
  src/structures/GuildAuditLogs.js
Due: eslint --fix

refactor(*): change update to edit for stage instances
  src/managers/StageInstanceManager.js
  src/structures/StageInstance.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: start comments with uppercase letter
  src/managers/StageInstanceManager.js
  src/structures/StageInstance.js
Due: eslint --fix

feat: stage instances (#5749)
  src/client/actions/ActionsManager.js
  src/client/actions/StageInstanceCreate.js
  src/client/actions/StageInstanceDelete.js
  src/client/actions/StageInstanceUpdate.js
  src/client/websocket/handlers/STAGE_INSTANCE_CREATE.js
  src/client/websocket/handlers/STAGE_INSTANCE_DELETE.js
  src/client/websocket/handlers/STAGE_INSTANCE_UPDATE.js
  src/errors/Messages.js
  src/managers/StageInstanceManager.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/StageChannel.js
  src/structures/StageInstance.js
  src/util/Constants.js
  src/util/Structures.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: Consistent application name usage
  src/structures/ClientApplication.js
  src/structures/IntegrationApplication.js
  src/structures/interfaces/Application.js
Due: eslint --fix

refactor: use options object for lib consistency
  src/errors/Messages.js
  src/structures/Message.js
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

types(AwaitMessageComponentInteractionOptions): added
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Create yes
  yes
Due: none

Revert parseInt
  src/structures/Widget.js
  src/structures/WidgetMember.js
Due: eslint --fix

feat: stage instance invite
  src/structures/Invite.js
  src/structures/StageInstanceInvite.js
Due: eslint --fix

docs(TextBasedChannel#send): update embeds example
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

docs(TextBasedChannel#send): update embeds example (#5857)
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

feat(Widget): wrapper for widget.json (#5619)
  src/client/Client.js
  src/index.js
  src/structures/Widget.js
  src/structures/WidgetMember.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: Consistent application name usage (#5853)
  src/structures/ClientApplication.js
  src/structures/IntegrationApplication.js
  src/structures/interfaces/Application.js
Due: eslint --fix

refactor(awaitMessageComponentInteraction): use options object for lib consistency (#5852)
  src/errors/Messages.js
  src/structures/Message.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Message): editedTimestamp defaulting to 0 (#5847)
  src/structures/Message.js
Due: eslint --fix

feat(*): use enums for consistency and speed
  src/managers/GuildManager.js
  src/structures/ClientPresence.js
  src/structures/Guild.js
  src/structures/Presence.js
  src/structures/TeamMember.js
  src/structures/Webhook.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: name DefaultMessageNotificationLevel types as doc in api
  src/util/Constants.js
Due: eslint --fix
