Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

fix(sidebar): styling issues
  packages/website/src/components/DocContainer.tsx
  packages/website/src/components/ItemSidebar.tsx
Due: none

feat(theme): better dark theme
  packages/website/src/components/CodeListing.tsx
  packages/website/src/components/DocContainer.tsx
  packages/website/src/components/ItemSidebar.tsx
  packages/website/src/components/MethodItem.tsx
  packages/website/src/components/Sections.tsx
  packages/website/src/routes/docs/$branchName/packages/$packageName.tsx
Due: none

feat(theme): dark theme detection
  packages/website/package.json
  packages/website/src/components/Sections.tsx
  packages/website/unocss.config.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(DataResolver#resolveImage): adjust to updated resolveFile
  packages/discord.js/src/util/DataResolver.js
Due: eslint --fix

fix(DataResolver#resolveImage): adjust to updated resolveFile (#8308)
  packages/discord.js/src/util/DataResolver.js
Due: eslint --fix

fix: default package to discord.js
  packages/actions/__tests__/formatTag.test.ts
  packages/actions/src/formatTag/formatTag.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(discord.js): release discord.js
  packages/discord.js/CHANGELOG.md
  packages/discord.js/package.json
Due: none

chore: dev version
  packages/discord.js/package.json
Due: none

chore: change versions
  .github/workflows/publish-dev.yml
  package.json
  packages/actions/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/voice/package.json
  packages/website/package.json
  yarn.lock
Due: none

ci: remove turbo cache
  .github/workflows/documentation.yml
  .github/workflows/publish-dev.yml
  .github/workflows/test.yml
Due: none

chore: remove parallel execution
  package.json
Due: none

ci: fix building before linting/testing
  .github/workflows/publish-dev.yml
  .github/workflows/test.yml
  package.json
Due: none

fix(discord.js): support emoji id strings in components
  packages/discord.js/src/structures/ButtonBuilder.js
  packages/discord.js/src/structures/SelectMenuBuilder.js
  packages/discord.js/src/structures/SelectMenuOptionBuilder.js
Due: eslint --fix

fix(ApplicationCommandManager): allow passing 0n to defaultMemberPermissions
  packages/discord.js/src/managers/ApplicationCommandManager.js
Due: eslint --fix

fix(ApplicationCommandManager): allow passing 0n to defaultMemberPermissions (v13)
  src/managers/ApplicationCommandManager.js
Due: eslint --fix

ci: fix documentation deployment for v13
  .github/workflows/deploy.yml
  .github/workflows/documentation.yml
Due: none

ci: remove build step
  .github/workflows/documentation.yml
Due: none

ci: correct path to docs.json
  .github/workflows/documentation.yml
Due: none

feat: add basic landing page
  packages/website/src/assets/code-sample.png
  packages/website/src/assets/djs_logo_rainbow_400x400.png
  packages/website/src/routes/index.tsx
  packages/website/src/text.json
  packages/website/unocss.config.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Apply suggestions from code review
  packages/website/src/routes/index.tsx
Due: none

Apply suggestions from code review
  packages/website/src/routes/index.tsx
  packages/website/src/text.json
Due: none

feat(AttachmentBuilder): putting the attachment into data obj
  package.json
  packages/discord.js/src/structures/AttachmentBuilder.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
  yarn.lock
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: responsive design
  packages/website/src/routes/index.tsx
Due: none

feat(website): add basic landing page (#8313)
  packages/website/src/assets/code-sample.png
  packages/website/src/assets/djs_logo_rainbow_400x400.png
  packages/website/src/routes/index.tsx
  packages/website/src/text.json
  packages/website/unocss.config.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(theme): switch theme detection to use class
  packages/website/src/root.tsx
  packages/website/unocss.config.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Components): support emoji id strings (#8310)
  packages/discord.js/src/structures/ButtonBuilder.js
  packages/discord.js/src/structures/SelectMenuBuilder.js
  packages/discord.js/src/structures/SelectMenuOptionBuilder.js
Due: eslint --fix

fix(ApplicationCommand): equals()
  packages/discord.js/src/structures/ApplicationCommand.js
Due: eslint --fix

fix(applicationcommand): equals()
  src/structures/ApplicationCommand.js
Due: eslint --fix

chore: vercel banner
  .github/powered-by-vercel.svg
  README.md
  packages/actions/README.md
  packages/builders/README.md
  packages/collection/README.md
  packages/discord.js/README.md
  packages/discord.js/cliff.toml
  packages/docgen/README.md
  packages/proxy-container/README.md
  packages/proxy/README.md
  packages/rest/README.md
  packages/scripts/README.md
  packages/voice/README.md
  packages/website/README.md
  packages/website/src/assets/powered-by-vercel.svg
  packages/website/src/routes/index.tsx
  packages/website/src/styles/main.css
Due: none

chore: fix root vercel banner
  README.md
Due: none

fix(landing): vercel banner
  packages/website/src/routes/index.tsx
Due: none

chore: spacing on vercel logo
  README.md
Due: none

fix(landing): vercel banner not wrapped in a tag
  packages/website/src/routes/index.tsx
Due: none

chore: use full link for vercel banner in readmes
  README.md
  packages/actions/README.md
  packages/builders/README.md
  packages/collection/README.md
  packages/discord.js/README.md
  packages/docgen/README.md
  packages/proxy-container/README.md
  packages/proxy/README.md
  packages/rest/README.md
  packages/scripts/README.md
  packages/voice/README.md
  packages/website/README.md
Due: none

chore: add license to root
  LICENSE
Due: none

build: refactor build system
  .yarn/patches/rollup-plugin-typescript2-npm-0.32.1-b5887420f2.patch
  build.config.ts
  package.json
  packages/actions/build.config.ts
  packages/actions/package.json
  packages/builders/build.config.ts
  packages/builders/package.json
  packages/collection/build.config.ts
  packages/collection/package.json
  packages/docgen/build.config.ts
  packages/docgen/package.json
  packages/proxy-container/build.config.ts
  packages/proxy-container/package.json
  packages/proxy/build.config.ts
  packages/proxy/package.json
  packages/proxy/src/index.ts
  packages/rest/build.config.ts
  packages/rest/package.json
  packages/scripts/build.config.ts
  packages/scripts/package.json
  packages/voice/build.config.ts
  packages/voice/package.json
  packages/voice/src/audio/index.ts
  packages/voice/src/index.ts
  packages/website/package.json
  tsconfig.json
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

build: refactor build system (#8324)
  .yarn/patches/rollup-plugin-typescript2-npm-0.32.1-b5887420f2.patch
  build.config.ts
  package.json
  packages/actions/build.config.ts
  packages/actions/package.json
  packages/builders/build.config.ts
  packages/builders/package.json
  packages/collection/build.config.ts
  packages/collection/package.json
  packages/docgen/build.config.ts
  packages/docgen/package.json
  packages/proxy-container/build.config.ts
  packages/proxy-container/package.json
  packages/proxy/build.config.ts
  packages/proxy/package.json
  packages/proxy/src/index.ts
  packages/rest/build.config.ts
  packages/rest/package.json
  packages/scripts/build.config.ts
  packages/scripts/package.json
  packages/voice/build.config.ts
  packages/voice/package.json
  packages/voice/src/audio/index.ts
  packages/voice/src/index.ts
  packages/website/package.json
  tsconfig.json
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

ci: fix docs and dev publishes
  .github/workflows/publish-dev.yml
  packages/builders/api-extractor.json
  packages/builders/package.json
  packages/collection/api-extractor.json
  packages/collection/package.json
  packages/proxy/api-extractor.json
  packages/proxy/package.json
  packages/rest/api-extractor.json
  packages/rest/package.json
  packages/voice/api-extractor.json
  packages/voice/package.json
  yarn.lock
Due: none

chore: reorder release steps
  packages/builders/package.json
  packages/collection/package.json
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/voice/package.json
Due: none
