Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

Update APIMessage.js
  src/structures/APIMessage.js
Due: eslint --fix

refactor: forceFetch => force
  src/managers/ChannelManager.js
  src/managers/GuildMemberManager.js
  src/managers/MessageManager.js
  src/managers/RoleManager.js
  src/managers/UserManager.js
  src/structures/Channel.js
  src/structures/DMChannel.js
  src/structures/GuildMember.js
  src/structures/Message.js
  src/structures/User.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: default force to false
  src/managers/MessageManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MessageReactionAdd): correct returned reaction
  src/client/actions/MessageReactionAdd.js
Due: eslint --fix

fix(MessageReactionAdd): add missing semicolon
  src/client/actions/MessageReactionAdd.js
Due: eslint --fix

feat: bypass cache check with forceFetch param (#4592)
  src/managers/ChannelManager.js
  src/managers/GuildMemberManager.js
  src/managers/MessageManager.js
  src/managers/RoleManager.js
  src/managers/UserManager.js
  src/structures/Channel.js
  src/structures/DMChannel.js
  src/structures/GuildMember.js
  src/structures/Message.js
  src/structures/User.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MessageReactionAdd): prevent double messageReactionAdd triggering (#4682)
  src/client/actions/MessageReactionAdd.js
Due: eslint --fix

fix(APIMessage): add reply user to allowedMentions (#4591)
  src/structures/APIMessage.js
Due: eslint --fix

fix(Partials): correctly set properties as nullable (#4636)
  src/structures/GuildMember.js
  src/structures/Message.js
  src/structures/User.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(typings): add number type for setExplicitContentFilter method (#4694)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(ReactionCollector): update remove and dispose events (#4136)
  src/structures/ReactionCollector.js
Due: eslint --fix

feat: trigger userUpdate on GUILD_MEMBER_UPDATE
  src/client/actions/UserUpdate.js
  src/client/websocket/handlers/GUILD_MEMBER_UPDATE.js
Due: eslint --fix

chore(Constants): update large_threshold default
  src/structures/Guild.js
  src/util/Constants.js
Due: eslint --fix

Updated URL
  docs/examples/ping.js
Due: eslint --fix

chore(Constants): update large_threshold default (#4698)
  src/structures/Guild.js
  src/util/Constants.js
Due: eslint --fix

Update index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(typings): use readonly arrays in parameters (#4692)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: default with_counts to true & add force from #4592
  src/managers/GuildManager.js
Due: eslint --fix

chore: post json body
  src/managers/GuildMemberManager.js
Due: eslint --fix

typings: force parameter
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: send body correctly
  src/managers/GuildMemberManager.js
Due: eslint --fix

fix: remove redundant if statement
  src/managers/GuildMemberManager.js
Due: eslint --fix

fix: handle the array correctly
  src/managers/GuildMemberManager.js
Due: eslint --fix

Update URLS in this page.
  docs/examples/attachments.md
Due: none

Change URLS
  docs/examples/avatars.js
Due: eslint --fix

Change URLS
  docs/examples/embed.js
Due: eslint --fix

Update URLS
  docs/examples/greeting.js
Due: eslint --fix

Update URLS
  docs/examples/moderation.md
Due: none

docs: updated applications URL (#4699)
  docs/examples/attachments.md
  docs/examples/avatars.js
  docs/examples/embed.js
  docs/examples/greeting.js
  docs/examples/moderation.md
  docs/examples/ping.js
Due: eslint --fix

feat(GuildManager): adds GuildManager#fetch (#4086)
  src/managers/GuildManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

src: correctly handle edge case for include_roles
  src/managers/GuildMemberManager.js
Due: eslint --fix

chore(lint): tabs vs spaces
  src/managers/GuildMemberManager.js
Due: eslint --fix

Update GuildMemberManager.js
  src/managers/GuildMemberManager.js
Due: eslint --fix

feat(GuildMemberManager#prune): roles query param (#4142)
  src/managers/GuildMemberManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: trigger userUpdate on GUILD_MEMBER_UPDATE (#4697)
  src/client/actions/UserUpdate.js
  src/client/websocket/handlers/GUILD_MEMBER_UPDATE.js
Due: eslint --fix

chore(Deps): upgrade deps
  .eslintrc.json
  .gitignore
  .npmrc
  package-lock.json
  package.json
  src/client/websocket/WebSocketManager.js
  src/managers/MessageManager.js
  src/structures/GuildEmoji.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Snowflake.js
  typings/index.d.ts
  webpack.config.js
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(Deps): upgrade deps (#4701)
  .eslintrc.json
  .gitignore
  .npmrc
  package-lock.json
  package.json
  src/client/websocket/WebSocketManager.js
  src/managers/MessageManager.js
  src/structures/GuildEmoji.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Snowflake.js
  typings/index.d.ts
  webpack.config.js
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(Release): version upgrade
  package.json
Due: none

fix(User): set User#bot to false if not partial
  src/structures/User.js
Due: eslint --fix

chore: bump version in package-lock.json
  package-lock.json
Due: none
