Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

types(ApplicationCommandData): clean up
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Enums): mark enums as const enums
  typings/enums.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(GuildManager): increase fetch limit to 200
  src/managers/GuildManager.js
Due: eslint --fix

types(ApplicationCommandData): remove unneeded interface
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildManager): allow setting with_counts to false
  src/managers/GuildManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(GuildManager): increase fetch limit to 200 (#6406)
  src/managers/GuildManager.js
Due: eslint --fix

docs: remove unparsed examples (#6404)
  src/client/WebhookClient.js
  src/structures/Guild.js
Due: eslint --fix

feat(GuildManager): allow setting with_counts to false (#6407)
  src/managers/GuildManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings(ApplicationCommandData): make `type` field optional (#6405)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildMember): remove list's default limit
  src/managers/GuildMemberManager.js
Due: eslint --fix

revert: feat(GuildMemberManager): default limit
  src/managers/GuildMemberManager.js
Due: eslint --fix

fix(GuildMemberManager): consistent jsdoc for list
  src/managers/GuildMemberManager.js
Due: eslint --fix

feat(TypeGuards): add type guards for commonly used data types
  src/index.js
  src/util/TypeGuards.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildMemberManager): add 'list' method (#6403)
  src/managers/GuildMemberManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(Release): version
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: set dev version
  package-lock.json
  package.json
Due: none

docs: rename implementation of deferReply
  src/structures/BaseCommandInteraction.js
Due: eslint --fix

docs: rename implementation of deferReply (#6412)
  src/structures/BaseCommandInteraction.js
Due: eslint --fix

fix(Channel): allow Channel#Delete to specify a reason
  src/structures/Channel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(TypeGuard): cleanup checks
  src/util/TypeGuards.js
Due: eslint --fix

fix(Channel): remove unneeded default value
  src/structures/Channel.js
Due: eslint --fix

Update src/util/TypeGuards.js
  src/util/TypeGuards.js
Due: eslint --fix

feat(ApplicationCommand): add #equals
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: typo
  src/structures/ApplicationCommand.js
Due: eslint --fix

types: correct typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update jsdoc
  src/structures/Channel.js
Due: eslint --fix

fix: fix typo in helper method
  src/util/TypeGuards.js
Due: eslint --fix

chore: make helper method more concise
  src/util/TypeGuards.js
Due: eslint --fix

fix: fixed minor error in exmaples
  src/managers/RoleManager.js
Due: eslint --fix

chore: remove trivial type guards
  src/util/TypeGuards.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Channel): make delete async
  src/structures/Channel.js
Due: eslint --fix

style: add semi
  src/structures/Channel.js
Due: eslint --fix

feat(GuildChannel): add publiclyViewable method
  src/structures/GuildChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: invalid jsdoc
  src/structures/GuildChannel.js
Due: eslint --fix
