Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(MessageTypes): add 16 and 17 (#4685)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildMemberManager): add 'search' method (#4154)
  src/managers/GuildMemberManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildChannel): check for community required channels in GuildChannel#deletable (#5170)
  src/structures/GuildChannel.js
Due: eslint --fix

fix(GuildMember): correctly check for premium_since (#5312)
  src/structures/GuildMember.js
Due: eslint --fix

feat: make changes to PresenceData typings and docs (#5317)
  src/structures/ClientUser.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Resolvables): valid resolvables throw error when uncached (#5495)
  src/managers/GuildEmojiManager.js
  src/managers/GuildEmojiRoleManager.js
  src/managers/GuildMemberRoleManager.js
  src/structures/Guild.js
  src/structures/GuildMember.js
Due: eslint --fix

chore(ci): Update actions/setup-node action to v2 (#5527)
  .github/workflows/test-cron.yml
  .github/workflows/test.yml
Due: none

feat(typings): add ShardingManager.shardList to type definitions (#5446)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MessageMentions#channels): Fix type of channels of mentions (#5370)
  src/structures/MessageMentions.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(typings): explicitly type PremiumTier and Collectors (#5458)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(typings): update GuildMemberRoleManager typings to match implementation (#5497)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: move internal regular expressions to static properties (#5384)
  src/structures/GuildTemplate.js
  src/structures/Invite.js
  src/util/DataResolver.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(SysChanFlags): new flag and rename in sync with client (#5506)
  src/util/SystemChannelFlags.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildAuditLogsEntry): executor can be missing (#5500)
  src/structures/GuildAuditLogs.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: rename Snowflake to SnowflakeUtil (#5502)
  esm/discord.mjs
  src/index.js
  src/managers/GuildMemberManager.js
  src/structures/Channel.js
  src/structures/Emoji.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/Message.js
  src/structures/Role.js
  src/structures/Team.js
  src/structures/User.js
  src/structures/Webhook.js
  src/structures/interfaces/Application.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/SnowflakeUtil.js
Due: eslint --fix

feat(MessageAttachment): support for #contentType (#5481)
  src/structures/MessageAttachment.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildFeatures): added the new screening features (#5328)
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(GuildChannelManager): fix type options in description (#5440)
  src/managers/GuildChannelManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Guild): nsfw guilds (#5525)
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Guild): replace `owner` with `fetchOwner` (#5480)
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Util): make `cleanContent` take a channel instead of a message (#5535)
  src/structures/Message.js
  src/util/Util.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(HTTPOptions): change default value in jsdoc to 8 (#5547)
  src/util/Constants.js
Due: eslint --fix

fix: typings for 'Message' (#5518)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: add discord-api-types as a dependency (#5539)
  package-lock.json
  package.json
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(VoiceState): `#setRequestToSpeak` and `#setSuppressed` returns a `Promise` instead of `void` (#5558)
  src/structures/VoiceState.js
Due: eslint --fix

feat(Guild): allow description and features in edit (#5505)
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(UserFlags): remove system flag (#5517)
  src/util/UserFlags.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Sharding): use options objects (#5510)
  src/sharding/Shard.js
  src/sharding/ShardClientUtil.js
  src/sharding/ShardingManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildMemberRoleManager): unable to remove roles when passed an array (#5556)
  src/managers/GuildMemberRoleManager.js
Due: eslint --fix

feat(Webhook): sourceGuild, sourceChannel, improve owner (#5508)
  src/structures/Webhook.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: remove error-silencing try/catch on event handler imports (#5542)
  src/client/websocket/handlers/index.js
Due: eslint --fix

fix(Emoji): name can be null (#5513)
  src/structures/Emoji.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(RequestHandler): use x-ratelimit-reset-after when present (#5511)
  src/rest/RequestHandler.js
Due: eslint --fix

feat(GuildManager): allow system channel flags in create (#5504)
  src/managers/GuildManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Guild): setChannelPositions parent, lockPermissions keys (#5507)
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Sticker): added Sticker (#4909)
  esm/discord.mjs
  src/index.js
  src/structures/Message.js
  src/structures/Sticker.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Webhook): add 'fetchMessage' method (#5530)
  src/structures/Webhook.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Sticker): file renamed to SnowflakeUtil (#5573)
  src/structures/Sticker.js
Due: eslint --fix

refactor(Sticker): rename Snowflake variable (#5575)
  src/structures/Sticker.js
Due: eslint --fix

fix(Message): remove unsupport options.reason from pin/unpin
  src/structures/Message.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
