Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

refactor(ThreadManager): default type to public thread
  src/managers/ThreadManager.js
Due: eslint --fix

refactor: switch to msg.sticker_items, add fetch() and fetchUser()
  src/errors/Messages.js
  src/structures/Message.js
  src/structures/Sticker.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildChannelManager): correct docs and add overloads
  src/managers/GuildChannelManager.js
  src/structures/GuildMember.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ApiErrors): add new error code for thread features
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(ThreadManager): update examples for thread creation
  src/managers/ThreadManager.js
Due: eslint --fix

docs: add missing commas
  src/managers/ThreadManager.js
Due: eslint --fix

docs(GuildChannelManager): add parentheses for type
  src/managers/GuildChannelManager.js
Due: eslint --fix

refactor(Presence): remove second assignment of `syncID` (#5956)
  src/structures/Presence.js
Due: eslint --fix

fix(Webhook): return void from #delete for consistency. (#5954)
  src/structures/Webhook.js
Due: eslint --fix

fix(Thread): make archive_timestamp not nullable
  src/structures/ThreadChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Thread): add info about archive status
  src/structures/ThreadChannel.js
Due: eslint --fix

docs(Threads): change info about archive status
  src/structures/ThreadChannel.js
Due: eslint --fix

chore(Types): include @discordjs/voice typings (#5941)
  .github/workflows/deploy.yml
  .github/workflows/publish-dev.yml
  .github/workflows/test-cron.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
  tsconfig.json
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

ci: add unix timestamp to version number
  .github/workflows/publish-dev.yml
Due: none

chore(Threads): general fixup and catch up on features (#5959)
  src/managers/GuildChannelManager.js
  src/managers/ThreadManager.js
  src/structures/Guild.js
  src/structures/GuildMember.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

ci: change remove explicit 7 char limit
  .github/workflows/publish-dev.yml
Due: none

feat(Managers): new ApplicationCommandPermissionsManager (#5897)
  src/errors/Messages.js
  src/managers/ApplicationCommandManager.js
  src/managers/ApplicationCommandPermissionsManager.js
  src/managers/GuildApplicationCommandManager.js
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Channel): fix description of thread channel types
  src/structures/Channel.js
Due: eslint --fix

docs(Channel): fix description of thread channel types (#5968)
  src/structures/Channel.js
Due: eslint --fix

ci: add UNIX timestamp to version number (#5967)
  .github/workflows/publish-dev.yml
Due: none

feat(Interaction): add guild guard (#5955)
  src/structures/Interaction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Sharding): strict type context and return (#5933)
  typings/index.d.ts
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Thread): make archive_timestamp not nullable (#5965)
  src/structures/ThreadChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ThreadManager): add type to ThreadManager#create options
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ThreadManager): add type to ThreadManager#create options (#5969)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(ThreadManager): fix reason prop of ThreadCreateOptions
  src/managers/ThreadManager.js
Due: eslint --fix

docs(ThreadManager): fix FetchedThreads typedef and startMessage
  src/managers/ThreadManager.js
Due: eslint --fix

docs(ThreadManager): fix reason prop of ThreadCreateOptions (#5970)
  src/managers/ThreadManager.js
Due: eslint --fix

feat(Interactions): option to auto-fetch replies (#5831)
  src/errors/Messages.js
  src/structures/MessageComponentInteraction.js
  src/structures/interfaces/InteractionResponses.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ThreadChannel): check for existence of properties when patching
  src/structures/ThreadChannel.js
Due: eslint --fix

fix(Typings): erronous RawMessage
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Channel): fix description of channels types
  src/structures/Message.js
Due: eslint --fix

types(*): make hex color types compatible with ColorResolvable
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

suggested change 1
  src/structures/ClientPresence.js
Due: eslint --fix

Update GuildAuditLogs.js
  src/structures/GuildAuditLogs.js
Due: eslint --fix

docs: apply suggestions from review
  src/managers/StageInstanceManager.js
  src/structures/StageChannel.js
Due: eslint --fix

types(CommandInteraction): Readd followUp type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(*): replace instance with stage instance
  src/managers/StageInstanceManager.js
  src/structures/StageChannel.js
  src/structures/StageInstance.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(CommandInteraction): Readd followUp type (#5974)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
