Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: formatting
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: remove `number` from `GuildScheduledEventEditOptions`
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ApplicationCommand): check for `dmPermission`
  packages/discord.js/src/structures/ApplicationCommand.js
Due: eslint --fix

fix(ApplicationCommand): remove `autocomplete` check at top level
  packages/discord.js/src/structures/ApplicationCommand.js
Due: eslint --fix

fix: handle API property too
  packages/discord.js/src/structures/ApplicationCommand.js
Due: eslint --fix

fix(ApplicationCommand): Remove `autocomplete` check at the top level and correctly check for `dmPermission` (#8100)
  packages/discord.js/src/structures/ApplicationCommand.js
Due: eslint --fix

types(ApplicationCommand): fix typo in setDMPermission (#8097)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: add todo comment in regards to node_modules bundling
  packages/proxy-container/tsup.config.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: use `GuildFeature` enums
  packages/discord.js/src/structures/BaseGuild.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/WelcomeScreen.js
Due: eslint --fix

chore: Add `MessageContent` to issue form
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

docs(GuildAuditLogs): fix and reimplement types
  packages/discord.js/src/structures/GuildAuditLogs.js
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(voice): bring back typed events
  packages/voice/__tests__/SpeakingMap.test.ts
  packages/voice/src/VoiceConnection.ts
  packages/voice/src/audio/AudioPlayer.ts
  packages/voice/src/networking/VoiceUDPSocket.ts
  packages/voice/src/receive/SSRCMap.ts
  packages/voice/src/receive/SpeakingMap.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: Add `MessageContent` to issue form (#8106)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

refactor: Use `GuildFeature` enum (#8101)
  packages/discord.js/src/structures/BaseGuild.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/WelcomeScreen.js
Due: eslint --fix

fix(webhooks): revert webhook caching (and returning Message) (#8038)
  packages/discord.js/src/structures/InteractionWebhook.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(WebSocketOptions): add `version` to docs and typings (#8050)
  packages/discord.js/src/util/Options.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(ClientOptions): remove `$` prefix from `ws.properties` keys (#8094)
  packages/discord.js/src/util/Options.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: deprecate `$` prefix from `ws.properties` keys (#8095)
  src/util/Options.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(GuildAuditLogs): Fix and reimplement type definitions (#8108)
  packages/discord.js/src/structures/GuildAuditLogs.js
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: Remove `number`s from enums (#8098)
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/managers/StageInstanceManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/ClientUser.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildScheduledEvent.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: proxy container (#8000)
  .dockerignore
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/publish-dev-docker.yml
  .github/workflows/publish-docker.yml
  packages/proxy-container/.eslintrc.json
  packages/proxy-container/.gitignore
  packages/proxy-container/.prettierignore
  packages/proxy-container/.prettierrc.json
  packages/proxy-container/Dockerfile
  packages/proxy-container/LICENSE
  packages/proxy-container/README.md
  packages/proxy-container/cliff.toml
  packages/proxy-container/package.json
  packages/proxy-container/src/index.ts
  packages/proxy-container/tsconfig.eslint.json
  packages/proxy-container/tsconfig.json
  packages/proxy-container/tsup.config.ts
  packages/proxy/package.json
  packages/proxy/src/handlers/proxyRequests.ts
  packages/proxy/src/util/responseHelpers.ts
  tsup.config.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: `TextBasedChannel` typos
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessagePayload.js
Due: eslint --fix

types(GuildScheduledEvent#scheduledStartAt): should be nullish
  packages/discord.js/src/structures/GuildScheduledEvent.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: clarification
  packages/discord.js/src/structures/GuildScheduledEvent.js
Due: eslint --fix

refactor: djs errors
  packages/discord.js/src/errors/DJSError.js
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/errors/index.js
Due: eslint --fix

chore: docs and types
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/index.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: vanity URL error message
  packages/discord.js/src/errors/Messages.js
Due: eslint --fix

chore: consistent capitalization of URL
  packages/discord.js/src/client/WebhookClient.js
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ShardingManager): use ErrorCodes
  packages/discord.js/src/sharding/ShardingManager.js
Due: eslint --fix

chore: apply suggested changes
  packages/discord.js/src/managers/ApplicationCommandPermissionsManager.js
  packages/discord.js/src/structures/AnonymousGuild.js
Due: eslint --fix

chore: consistent subcommand casing
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ErrorMessages): use correct key for auth failure
  packages/discord.js/src/errors/Messages.js
Due: eslint --fix

docs(DiscordjsErrorCodes): use correct property type
  packages/discord.js/src/errors/ErrorCodes.js
Due: eslint --fix

fix: display proper error code
  packages/discord.js/src/errors/DJSError.js
  packages/discord.js/src/errors/Messages.js
Due: eslint --fix

fix: error code validation
  packages/discord.js/src/errors/DJSError.js
Due: eslint --fix

chore: fix bad replaces
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: resolve weird auto imports
  packages/discord.js/src/util/LimitedCollection.js
  packages/discord.js/src/util/Sweepers.js
Due: eslint --fix

chore: add requested todo comment
  packages/discord.js/src/client/websocket/WebSocketManager.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
