Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

types(ClientPresence): add type declarations and docs (#6450)
  src/structures/ClientPresence.js
  src/structures/ClientUser.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(ApplicationCommandType): add DAPI link (#6463)
  src/util/Constants.js
Due: eslint --fix

docs(MessageReference): add possible message types (#6464)
  src/structures/Message.js
Due: eslint --fix

Improve switch statement
  src/structures/Guild.js
Due: eslint --fix

feat: add new names
  src/util/Permissions.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Message): Prevent fetching an interaction webhook.
  src/errors/Messages.js
  src/structures/Message.js
Due: eslint --fix

Update src/structures/Guild.js
  src/structures/Guild.js
Due: eslint --fix

fix(Util): allow empty strings in splitMessage (#6437)
  src/util/Util.js
Due: eslint --fix

fix(BaseClient): do not append default options if provided is not an object
  src/client/BaseClient.js
Due: eslint --fix

Feature: mark `group` and `subcommand` as public, add `hoistedOptions`
  src/structures/CommandInteractionOptionResolver.js
Due: eslint --fix

Typing: update types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Meta tweak
  README.md
Due: none

types: allow message component interaction to infer component types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: use public modifier
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: make tslint happy
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: remove unneeded code
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ApplicationCommand): fix required equality check
  src/structures/ApplicationCommand.js
Due: eslint --fix

refactor(ApplicationCommand): use array for type checks
  src/structures/ApplicationCommand.js
Due: eslint --fix

fix: conditional type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: make param optional
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Add BaseCommandInteraction to index.js
  src/index.js
Due: eslint --fix

chore: add typing tests
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: clean up defs
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(MessageManager): fix typo
  src/managers/MessageManager.js
Due: eslint --fix

feat(Message): resolveComponent method
  src/structures/Message.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(ThreadManager): fix typo
  src/managers/ThreadManager.js
Due: eslint --fix

feat(ThreadChannel): add fetchStarterMessage method
  src/structures/ThreadChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ThreadChannel): fetchStarterMessage can't return null
  src/structures/ThreadChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: set methods for MessageActionRow and MessageSelectMenu
  src/structures/MessageActionRow.js
  src/structures/MessageSelectMenu.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(MessageManager): fix typo (#6482)
  src/managers/MessageManager.js
Due: eslint --fix

docs: apply suggestions from code review
  src/structures/ThreadChannel.js
Due: eslint --fix

feat(Invite): support friend invites
  src/client/Client.js
  src/structures/Invite.js
  src/util/Options.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(CommandInteractionOptionResolver): add missing parameter
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: make expansion less of a hassle
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: fix tests
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: more cleanup
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Formatters): fix typo of TimestampStyles
  src/util/Formatters.js
Due: eslint --fix

types: more cleanup part 2
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: mirror methods
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: tests part 2
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
