Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

revert(BitField): revert changes + fix(BitField): letting resolve handle arrays
  src/util/BitField.js
Due: eslint --fix

revert(typings): revert changes
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: format lines for consistency
  src/structures/Widget.js
  src/structures/WidgetMember.js
Due: eslint --fix

fix(BitField): throw an error if bit to resolve is undefined (#5565)
  src/util/BitField.js
Due: eslint --fix

feat: general component improvements (#5787)
  src/client/websocket/handlers/INTERACTION_CREATE.js
  src/index.js
  src/structures/APIMessage.js
  src/structures/BaseMessageComponent.js
  src/structures/ButtonInteraction.js
  src/structures/Emoji.js
  src/structures/Interaction.js
  src/structures/Message.js
  src/structures/MessageActionRow.js
  src/structures/MessageButton.js
  src/structures/MessageComponentInteraction.js
  src/structures/MessageComponentInteractionCollector.js
  src/structures/Webhook.js
  src/structures/interfaces/InteractionResponses.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Structures.js
  src/util/Util.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update bug template to direct userto voice repo
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

refactor(Sharding*): type check the eval script
  src/errors/Messages.js
  src/sharding/ShardClientUtil.js
  src/sharding/ShardingManager.js
Due: eslint --fix

feat: remove unused voice error messages
  src/errors/Messages.js
Due: eslint --fix

fix(ShardingManager): return Promise rejection rather than throwing an error
  src/sharding/ShardingManager.js
Due: eslint --fix

feat(Voice): implement support for @discordjs/voice (#5402)
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  package-lock.json
  package.json
  src/client/actions/GuildDelete.js
  src/client/voice/ClientVoiceManager.js
  src/client/voice/VoiceBroadcast.js
  src/client/voice/VoiceConnection.js
  src/client/voice/dispatcher/BroadcastDispatcher.js
  src/client/voice/dispatcher/StreamDispatcher.js
  src/client/voice/networking/VoiceUDPClient.js
  src/client/voice/networking/VoiceWebSocket.js
  src/client/voice/player/AudioPlayer.js
  src/client/voice/player/BasePlayer.js
  src/client/voice/player/BroadcastAudioPlayer.js
  src/client/voice/receiver/PacketHandler.js
  src/client/voice/receiver/Receiver.js
  src/client/voice/util/PlayInterface.js
  src/client/voice/util/Secretbox.js
  src/client/voice/util/Silence.js
  src/client/voice/util/VolumeInterface.js
  src/errors/Messages.js
  src/structures/BaseGuildVoiceChannel.js
  src/structures/Guild.js
  src/structures/VoiceState.js
  tsconfig.json
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(GuildAuditLogs): remove channel type from jsdoc of #extra
  src/structures/GuildAuditLogs.js
Due: eslint --fix

chore: fix typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ApplicationCommand): typo
  src/structures/ApplicationCommand.js
Due: eslint --fix

fix TextBasedChannel#send examples
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

fix InteractionResponses#update examples
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

fix indentation
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

feat(Sharding*): contexts for broadcastEval (#5756)
  src/errors/Messages.js
  src/sharding/Shard.js
  src/sharding/ShardClientUtil.js
  src/sharding/ShardingManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Fixed docstring + string=>number for WidgetMember#id
  src/structures/Widget.js
  src/structures/WidgetMember.js
Due: eslint --fix

docs(ApplicationCommand): Typos in ApplicationCommandPermissionData (#5789)
  src/structures/ApplicationCommand.js
Due: eslint --fix

docs(Messages): fix examples in messages after changes in #5758 (#5791)
  src/structures/interfaces/InteractionResponses.js
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

fix(ApiMessage): only pass objects as options directly
  src/structures/APIMessage.js
Due: eslint --fix

fix(ApplicationCommands): allow managing commands for uncached guilds
  src/errors/Messages.js
  src/managers/ApplicationCommandManager.js
  src/managers/GuildApplicationCommandManager.js
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: better docstrings
  src/managers/ApplicationCommandManager.js
  src/structures/ApplicationCommand.js
Due: eslint --fix

feat: add new APIErrors
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: inline if with ternary
  src/structures/APIMessage.js
Due: eslint --fix

fix(BitField): ensure missing returns an array of strings
  src/util/BitField.js
Due: eslint --fix

fix(ApiMessage): only pass objects as options directly (#5793)
  src/structures/APIMessage.js
Due: eslint --fix

fix(splitMessage): invert condition for early return check
  src/util/Util.js
Due: eslint --fix

feat(GuildAuditLogs): make #target a channel for channel related logs (#5781)
  src/structures/GuildAuditLogs.js
Due: eslint --fix

feat(Util): allow array for StringOptions' char (#5566)
  src/structures/interfaces/TextBasedChannel.js
  src/util/Util.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Guild): add enum for mfa_level
  src/structures/Guild.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: don't patch missing properties from partial payloads
  src/structures/GuildChannel.js
  src/structures/StageChannel.js
  src/structures/StoreChannel.js
  src/structures/TextChannel.js
  src/structures/User.js
Due: eslint --fix

fix(Webhook): throw an error if no token is available when it's required
  src/client/Client.js
  src/errors/Messages.js
  src/structures/Webhook.js
Due: eslint --fix

fix(ClientPresence): produce valid activities for set presences
  src/structures/ClientPresence.js
  src/structures/ClientUser.js
Due: eslint --fix

refactor(Guild): remove region from guild and manager methods (#5766)
  src/managers/GuildManager.js
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(RequestHandler): emit more info when a rate limit was hit
  src/rest/RequestHandler.js
Due: eslint --fix

fix(GuildChannel): initialize permissionOverwrites in the constructor
  src/structures/GuildChannel.js
Due: eslint --fix

fix(GuildChannel): spread clone options to avoid infinite recursion
  src/structures/GuildChannel.js
Due: eslint --fix

emit 'None' when no sublimit was hit
  src/rest/RequestHandler.js
Due: eslint --fix

types(Extendable): add ButtonInteraction
  src/util/Structures.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
