Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

fix(User): add typeof number check
  src/structures/User.js
Due: eslint --fix

fix(User): better if check in hexAccentColor
  src/structures/User.js
Due: eslint --fix

refactor(User): set accentColor and banner to undefined when not yet received (#6721)
  src/errors/Messages.js
  src/structures/User.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: streamline info block
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

docs: fetchReply info + example (#6753)
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

chore(Release): version
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: release
  package-lock.json
  package.json
Due: none

fix(GuildMember): more explicit partial check
  src/structures/GuildMember.js
Due: eslint --fix

Correct the error checking bounds
  src/util/Util.js
Due: eslint --fix

types: allow component interactions cached properties to be narrowed
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

add role that sets the role icon/emoji
  src/managers/GuildMemberRoleManager.js
Due: eslint --fix

GuildMemberRoleManager: add icon typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Guild): guild.available is never set on new joins
  src/structures/Guild.js
Due: eslint --fix

docs(MessagePayload): change the typo of "wether" to "whether"
  src/structures/MessagePayload.js
Due: eslint --fix

docs(MessagePayload): change the typo of "wether" to "whether" (#6771)
  src/structures/MessagePayload.js
Due: eslint --fix

fix: remove unnecessary checks, sort imports correctly
  src/client/actions/TypingStart.js
  src/client/websocket/handlers/CHANNEL_PINS_UPDATE.js
  src/managers/GuildStickerManager.js
  src/structures/Channel.js
  src/structures/Message.js
  typings/index.d.ts
  typings/tests.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(WelcomeChannelData): allow store channels
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: embed author and footer props
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Role): check for presence of icon and unicode_emoji before patching
  src/structures/Role.js
Due: eslint --fix

Remove unnecessary `!prev` check
  src/managers/GuildMemberRoleManager.js
Due: eslint --fix

fix(User): don't generate the banner URL when not cached
  src/structures/User.js
Due: eslint --fix

Apply suggestions from code review
  src/managers/GuildMemberRoleManager.js
Due: eslint --fix

fix(Role): check for presence of icon and unicode_emoji before patching (#6780)
  src/structures/Role.js
Due: eslint --fix

types: make embed author and footer props `name` and `text` required (#6779)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(WelcomeChannelData): Allow store channels (#6778)
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

GuildMemberRoleManager: add role that sets the role icon/emoji (#6768)
  src/managers/GuildMemberRoleManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildMember): more explicit partial check (#6760)
  src/structures/GuildMember.js
Due: eslint --fix

chore(GuildMemberRoleManager): Remove unnecessary `!prev` check (#6781)
  src/managers/GuildMemberRoleManager.js
Due: eslint --fix

refactor(Role): move initialization of delete prop out of _patch
  src/structures/Role.js
Due: eslint --fix

refactor(Role): move initialization of delete prop out of _patch (#6776)
  src/structures/Role.js
Due: eslint --fix

types(ApplicationCommandOptionData): remove required on subcommands
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(CommandInteraction): add toString method
  src/structures/CommandInteraction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Guild): Make Guild#available assignment consistent with other checks, and avoid an unnecessary assignment.
  src/structures/Guild.js
Due: eslint --fix

feat(ModuleImporter): implement import module compatible with bundlers (#6709)
  src/client/actions/ActionsManager.js
  src/util/ModuleImporter.js
Due: eslint --fix

refactor: remove unnecessary checks (#6777)
  src/client/actions/TypingStart.js
  src/client/websocket/handlers/CHANNEL_PINS_UPDATE.js
  src/managers/GuildStickerManager.js
  src/structures/Channel.js
  src/structures/Message.js
  typings/index.d.ts
  typings/tests.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(User): don't generate the banner URL when not cached (#6783)
  src/structures/User.js
Due: eslint --fix

refactor: make method more verbose and remove extra space
  src/structures/CommandInteraction.js
Due: eslint --fix

feat(Client): add apiResponse event for debugging
  package-lock.json
  package.json
  src/rest/APIRequest.js
  src/rest/RequestHandler.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
