Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

style(docs): deprecated tags at the bottom
  src/structures/Guild.js
Due: eslint --fix

style: remove extra newline
  src/structures/Guild.js
Due: eslint --fix

fix(docs): add description onto setEmbed
  src/structures/Guild.js
Due: eslint --fix

blob
  src/util/DataResolver.js
Due: eslint --fix

fix(MessageMentions): fix typings/docs and add support for Resolvables
  src/structures/MessageMentions.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(voiceState): add self_video property
  src/structures/VoiceState.js
Due: eslint --fix

feat(videoState): add typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(voiceState): add type to property for docs
  src/structures/VoiceState.js
Due: eslint --fix

feat(voiceState): rename selfVideo property
  src/structures/VoiceState.js
Due: eslint --fix

update typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: typing emitting on non-text channels
  src/client/websocket/handlers/TYPING_START.js
Due: eslint --fix

chore: stick closer to original warn line * worst case bumps this to minor instead of major
  src/client/websocket/handlers/TYPING_START.js
Due: eslint --fix

chore: move types outside of function call
  src/client/websocket/handlers/TYPING_START.js
Due: eslint --fix

chore: reapply empty line at use strict annotation
  src/client/websocket/handlers/TYPING_START.js
Due: eslint --fix

docs(Client): fix docs for login method
  src/client/Client.js
Due: eslint --fix

docs: add info tag
  src/client/Client.js
Due: eslint --fix

eslint
  src/util/DataResolver.js
Due: eslint --fix

Update src/util/DataResolver.js
  src/util/DataResolver.js
Due: eslint --fix

docs: set default for token and move description
  src/client/Client.js
Due: eslint --fix

Update WebSocket.js
  src/WebSocket.js
Due: eslint --fix

Update Client.js
  src/client/Client.js
Due: eslint --fix

feat(voiceState): add self_video property (#4346)
  src/structures/VoiceState.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: typing start event emitting on non text based channels (#4349)
  src/client/websocket/handlers/TYPING_START.js
Due: eslint --fix

feat(MessageMentions): fix typings/docs, add resolvables support (#4339)
  src/structures/MessageMentions.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(erlpack): discordapp to discord (#4288)
  README.md
  docs/general/welcome.md
Due: none

Change domain to discord.com (#4160)
  README.md
  docs/examples/attachments.md
  docs/examples/avatars.js
  docs/examples/embed.js
  docs/examples/greeting.js
  docs/examples/moderation.md
  docs/examples/ping.js
  docs/examples/webhook.js
  docs/general/welcome.md
  src/client/websocket/WebSocketManager.js
  src/client/websocket/WebSocketShard.js
  src/structures/Message.js
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/ActivityFlags.js
  src/util/Constants.js
  src/util/Intents.js
  src/util/MessageFlags.js
  src/util/Permissions.js
  src/util/Speaking.js
  src/util/UserFlags.js
Due: eslint --fix

chore(deps): remove peer-deps as per npm@7 (#4272)
  package.json
Due: none

refactor(GuildMemberManager): use data instead of query
  src/managers/GuildMemberManager.js
Due: eslint --fix

feat(Module): add ReactionManager to exports
  src/index.js
Due: eslint --fix

feat(Guild): updates for Community guilds
  src/client/Client.js
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Guild): fix comments in examples
  src/structures/Guild.js
Due: eslint --fix

fix(PresenceStatus): include invisible in typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Message): reason for pin
  src/structures/Message.js
Due: eslint --fix

feat(Message): reason for unpin
  src/structures/Message.js
Due: eslint --fix

chore(Message): examples for pin/unpin /w reason
  src/structures/Message.js
Due: eslint --fix

fix(Message): typings for pin/unpin /w reason
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: add relevant client options section
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

fix(ApiMessage): respect allowedMentions with split
  src/structures/APIMessage.js
Due: eslint --fix

fix(APIMessage): add reply user to allowedMentions
  src/structures/APIMessage.js
Due: eslint --fix
