Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: rename to input text
  packages/builders/src/components/InputText.ts
  packages/builders/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make some more progress
  packages/builders/src/components/TextInput.ts
  packages/builders/src/index.ts
  packages/discord.js/src/client/actions/InteractionCreate.js
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: some bugs
  package.json
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/ModalSubmitFieldsResolver.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/typings/index.d.ts
  yarn.lock
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: components type
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update types and fields
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Components.ts
  packages/builders/src/components/InputText.ts
  packages/builders/src/interactions/modals/Modal.ts
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/ModalSubmitFieldsResolver.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update to use newer types
  package.json
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Component.ts
  packages/builders/src/components/Components.ts
  packages/builders/src/components/InputText.ts
  packages/builders/src/components/textInput/Assertions.ts
  packages/builders/src/components/textInput/TextInput.ts
  packages/builders/src/components/textInput/UnsafeTextInput.ts
  packages/builders/src/index.ts
  packages/builders/src/interactions/modals/Assertions.ts
  packages/builders/src/interactions/modals/Modal.ts
  packages/builders/src/interactions/modals/UnsafeModal.ts
  packages/discord.js/typings/index.d.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: bump dapi-types
  package.json
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/src/components/Component.ts
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  yarn.lock
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: add remaining types and helpers
  packages/builders/src/interactions/modals/UnsafeModal.ts
  packages/discord.js/src/client/actions/InteractionCreate.js
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/src/structures/Modal.js
  packages/discord.js/src/structures/ModalSubmitFieldsResolver.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/src/structures/TextInputComponent.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/src/util/Modals.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update deps
  package.json
  packages/builders/package.json
  packages/discord.js/package.json
  yarn.lock
Due: none

test: add unit tests
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/__tests__/components/textInput.test.ts
  packages/builders/__tests__/interactions/modal.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/index.ts
  packages/builders/src/interactions/modals/UnsafeModal.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: serialize components properly
  packages/discord.js/src/structures/ModalSubmitFieldsResolver.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
Due: eslint --fix

chore: fix bugs
  packages/discord.js/src/structures/Modal.js
  packages/discord.js/src/structures/TextInputComponent.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: update docs
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/util/Components.js
Due: eslint --fix

Update packages/builders/__tests__/components/textInput.test.ts
  packages/builders/__tests__/components/textInput.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Components.ts
  packages/builders/src/components/textInput/UnsafeTextInput.ts
  packages/discord.js/src/structures/ModalSubmitFieldsResolver.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update packages/discord.js/src/structures/ModalSubmitFieldsResolver.js
  packages/discord.js/src/structures/ModalSubmitFieldsResolver.js
Due: eslint --fix

types: fix factory types
  packages/builders/src/components/Components.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: use case converter
  packages/discord.js/package.json
  packages/discord.js/src/structures/Modal.js
  packages/discord.js/src/structures/TextInputComponent.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/src/util/Embeds.js
  packages/discord.js/src/util/Modals.js
  yarn.lock
Due: eslint --fix

ci: fix errors
  packages/discord.js/src/util/Components.js
  packages/discord.js/src/util/Embeds.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/textInput/Assertions.ts
  packages/builders/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: revert back to isModalSubmit()
  packages/discord.js/package.json
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/src/structures/Modal.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/src/structures/TextInputComponent.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/typings/index.d.ts
  yarn.lock
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
Due: eslint --fix

refactor: isModalSubmit() -> isModalSubmission()
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Apply suggestions from code review
  packages/builders/src/components/textInput/UnsafeTextInput.ts
  packages/discord.js/src/util/Components.js
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add support for messages
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update packages/builders/src/components/textInput/UnsafeTextInput.ts
  packages/builders/src/components/textInput/UnsafeTextInput.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/builders/package.json
  packages/builders/src/components/textInput/TextInput.ts
  packages/builders/src/interactions/modals/Modal.ts
  packages/discord.js/package.json
  packages/discord.js/src/util/Components.js
  packages/discord.js/src/util/Embeds.js
  yarn.lock
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: don't cache message if not available
  packages/discord.js/src/structures/ModalSubmitFieldsResolver.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

Apply suggestions from code review
  packages/builders/src/components/textInput/UnsafeTextInput.ts
  packages/discord.js/src/util/Components.js
  packages/discord.js/src/util/Embeds.js
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/ModalSubmitFieldsResolver.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
Due: eslint --fix

chore: make requested changes
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
Due: eslint --fix

chore: make requested changes
  packages/builders/__tests__/components/textInput.test.ts
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Components.ts
  packages/builders/src/components/textInput/UnsafeTextInput.ts
  packages/builders/src/interactions/modals/Assertions.ts
  packages/builders/src/interactions/modals/Modal.ts
  packages/discord.js/src/structures/ModalSubmitFieldsResolver.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/builders/src/components/textInput/UnsafeTextInput.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/builders/src/interactions/modals/Assertions.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(SlashCommand*Option): remove `addChoice`
  packages/builders/__tests__/interactions/SlashCommands/Options.test.ts
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/docs/examples/Slash Command Builders.md
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithChoicesAndAutocompleteMixin.ts
  packages/builders/src/interactions/slashCommands/mixins/SharedSlashCommandOptions.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(SlashCommandChannelOption): remove `addChannelType`
  packages/builders/__tests__/interactions/SlashCommands/Options.test.ts
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/docs/examples/Slash Command Builders.md
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionChannelTypesMixin.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
