Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

fix(InviteDelete): guild can be missing (#5457)
  src/client/actions/InviteDelete.js
Due: eslint --fix

feat: add computed properties to stage channel
  src/structures/StageChannel.js
Due: eslint --fix

feat(VoiceState): include stage channel in docs
  src/structures/VoiceState.js
Due: eslint --fix

feat: allow ability to join stage channels
  src/client/voice/ClientVoiceManager.js
  src/client/voice/VoiceConnection.js
  src/util/Structures.js
Due: eslint --fix

feat(StageChannel): join and leave methods
  src/structures/StageChannel.js
Due: eslint --fix

docs: add StageChannel link in GuildChannel docs
  package-lock.json
  src/structures/GuildChannel.js
  test/voice.js
Due: eslint --fix

chore(Release): version upgrade
  package-lock.json
  package.json
Due: none

feat(VoiceState): suppress and requestToSpeakTimestamp
  src/structures/VoiceState.js
Due: eslint --fix

feat(StageChannel): setRequestToSpeak
  src/errors/Messages.js
  src/structures/StageChannel.js
Due: eslint --fix

refactor(StageChannel): update setRequestToSpeak
  src/errors/Messages.js
  src/structures/StageChannel.js
Due: eslint --fix

feat(VoiceState): add moveToSpeakers and moveToAudience
  src/errors/Messages.js
  src/structures/VoiceState.js
Due: eslint --fix

feat(VoiceState): add methods to move in/out of speakers
  src/structures/StageChannel.js
  src/structures/VoiceState.js
Due: eslint --fix

feat: new message type
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(VoiceState): add stage channel sanity checks
  src/errors/Messages.js
  src/structures/VoiceState.js
Due: eslint --fix

feat(Permissions): add REQUEST_TO_SPEAK
  src/util/Permissions.js
Due: eslint --fix

fix: damn
  src/structures/CommandInteraction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(VoiceState): simpler methods
  src/errors/Messages.js
  src/structures/VoiceState.js
Due: eslint --fix

docs(VoiceState): add documentation for new methods
  src/structures/VoiceState.js
Due: eslint --fix

refactor: remove unused error message
  src/errors/Messages.js
Due: eslint --fix

chore: remove debug statements
  src/structures/Channel.js
  src/structures/StageChannel.js
  test/voice.js
Due: eslint --fix

chore: revert changes to package-lock.json
  package-lock.json
Due: none

fix: damn #2
  package-lock.json
  src/structures/CommandInteraction.js
Due: eslint --fix

docs(VoiceState): clarify suppress
  src/structures/VoiceState.js
Due: eslint --fix

chore: revert lockfile version change
  package-lock.json
Due: none

docs(VoiceState): add missing @type param
  src/structures/VoiceState.js
Due: eslint --fix

feat(StageChannel): remove nsfw property
  src/structures/StageChannel.js
Due: eslint --fix

fix: resolved.members is undefined in dms
  src/structures/CommandInteraction.js
Due: eslint --fix

feat(Typings): typed collectors
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Typings): explicitly typed PremiumTier
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Make MessageEmbed#normalizeField better
  src/structures/MessageEmbed.js
Due: eslint --fix

fix(VoiceState): check permissions in channel
  src/structures/VoiceState.js
Due: eslint --fix

fix(VoiceState): instantiate error with new
  src/structures/VoiceState.js
Due: eslint --fix

refactor(VoiceState): more readable API route builder
  src/structures/VoiceState.js
Due: eslint --fix

style(VoiceState): fix lint errors
  src/structures/VoiceState.js
Due: eslint --fix

docs(VoiceState): add example usage for new methods
  src/structures/VoiceState.js
Due: eslint --fix

docs: setRTCRegion examples
  src/structures/StageChannel.js
  src/structures/VoiceChannel.js
Due: eslint --fix

chore: update typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(VoiceState): calculate permissions for self
  src/structures/VoiceState.js
Due: eslint --fix

refactor(VoiceState): tidy up implementation
  src/structures/VoiceState.js
Due: eslint --fix
