Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

refactor(Channel): change channel types to UPPER_CASE (#6035)
  src/client/actions/ChannelUpdate.js
  src/client/actions/GuildDelete.js
  src/client/actions/MessageReactionAdd.js
  src/client/actions/MessageReactionRemove.js
  src/client/actions/MessageReactionRemoveAll.js
  src/client/actions/MessageReactionRemoveEmoji.js
  src/client/actions/TypingStart.js
  src/managers/GuildChannelManager.js
  src/managers/GuildManager.js
  src/managers/ThreadManager.js
  src/structures/Channel.js
  src/structures/DMChannel.js
  src/structures/Guild.js
  src/structures/GuildChannel.js
  src/structures/Message.js
  src/structures/MessageMentions.js
  src/structures/NewsChannel.js
  src/structures/ThreadChannel.js
  src/structures/User.js
  src/structures/VoiceState.js
  src/util/Constants.js
  src/util/Util.js
  test/createGuild.js
  test/random.js
  typings/enums.d.ts
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update src/client/actions/PresenceUpdate.js
  src/client/actions/PresenceUpdate.js
Due: eslint --fix

fix(PresenceUpdate): use added presence over nullable getter (#6077)
  src/client/actions/PresenceUpdate.js
Due: eslint --fix

types(Test): fix overloads for channel create
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

revert: support for nested arrays of components
  src/structures/Message.js
  src/structures/MessagePayload.js
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: component error handling
  src/structures/BaseMessageComponent.js
  src/structures/MessageActionRow.js
Due: eslint --fix

docs: remove redundant line
  src/structures/BaseMessageComponent.js
Due: eslint --fix

fix(GuildChannel): clone its PermissionOverwriteManager too
  src/managers/PermissionOverwriteManager.js
  src/structures/GuildChannel.js
Due: eslint --fix

types(Partial): add partial reactions (#6066)
  src/structures/Channel.js
  src/structures/DMChannel.js
  src/structures/GuildMember.js
  src/structures/Message.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update
  src/structures/Channel.js
  src/structures/DMChannel.js
  src/structures/GuildMember.js
  src/structures/Message.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: channel type check in actions
  src/client/actions/GuildDelete.js
  src/client/actions/MessageReactionAdd.js
  src/client/actions/MessageReactionRemove.js
  src/client/actions/MessageReactionRemoveAll.js
  src/client/actions/MessageReactionRemoveEmoji.js
  src/client/actions/TypingStart.js
  src/structures/GuildChannel.js
Due: eslint --fix

fix(GuildChannel): clone its PermissionOverwriteManager too (#6083)
  src/managers/PermissionOverwriteManager.js
  src/structures/GuildChannel.js
Due: eslint --fix

Stage channels bug
  src/client/ClientDataManager.js
Due: eslint --fix

fix(PermissionsOverwrites): only convert type if number
  src/structures/PermissionOverwrites.js
Due: eslint --fix

chore: fix conflicts again
  src/managers/PermissionOverwriteManager.js
  src/structures/Channel.js
  src/structures/GuildChannel.js
Due: eslint --fix

fix: channel type check in actions (#6086)
  src/client/actions/GuildDelete.js
  src/client/actions/MessageReactionAdd.js
  src/client/actions/MessageReactionRemove.js
  src/client/actions/MessageReactionRemoveAll.js
  src/client/actions/MessageReactionRemoveEmoji.js
  src/client/actions/TypingStart.js
  src/structures/GuildChannel.js
Due: eslint --fix

refactor(Interaction): revert inGuild method
  src/structures/Interaction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Options): improve makeCache description
  src/util/Options.js
Due: eslint --fix

types(Options): add types for cacheWithLimits
  typings/index.d.ts
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Guild): remove fetchVoiceRegions
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Guild): remove fetchVoiceRegions (#6099)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: export ApplicationCommandPermissionsManager
  src/index.js
Due: eslint --fix

fix: export StageInstance
  src/index.js
Due: eslint --fix

fix: added semi coloms
  src/structures/CommandInteraction.js
Due: eslint --fix

fix(PermissionsOverwrites): only convert type if number (#6092)
  src/structures/PermissionOverwrites.js
Due: eslint --fix

revert: support for nested arrays of components, fix error handling (#6081)
  src/structures/BaseMessageComponent.js
  src/structures/Message.js
  src/structures/MessageActionRow.js
  src/structures/MessagePayload.js
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update ActionsManager.js
  src/client/actions/ActionsManager.js
Due: eslint --fix

Update package.json
  package.json
Due: none

oops, 3 braces
  src/client/actions/ActionsManager.js
Due: eslint --fix

remove fs from package.json (it's built-in)
  package.json
Due: none

big brain time
  src/client/actions/ActionsManager.js
Due: eslint --fix

changet let file to const file
  src/client/actions/ActionsManager.js
Due: eslint --fix

const
  src/client/actions/ActionsManager.js
Due: eslint --fix

ESLint fix
  src/client/actions/ActionsManager.js
Due: eslint --fix

types(PartialWebhookFields): add APIMessage to deleteMessage union
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update src/client/actions/ActionsManager.js
  src/client/actions/ActionsManager.js
Due: eslint --fix

refactor(InteractionCollector): only keep Ids of objects
  src/structures/InteractionCollector.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
