Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(interactionCollector): filter should have a collected argument (#7753)
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(modal): add `awaitModalSubmit` (#7751)
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: Prevent `NaN` for nullable timestamps (#7750)
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/src/structures/VoiceState.js
Due: eslint --fix

feat: add `makeURLSearchParams` utility function (#7744)
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/src/managers/ReactionUserManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/BaseGuild.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/Webhook.js
  packages/rest/__tests__/utils.test.ts
  packages/rest/src/index.ts
  packages/rest/src/lib/utils/utils.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ActionRow): toJSON should include components (#7739)
  packages/discord.js/src/structures/ActionRow.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MessagePayload): resolveBody check body instead of data (#7738)
  packages/discord.js/src/structures/MessagePayload.js
Due: eslint --fix

refactor: Remove nickname parsing (#7736)
  packages/builders/__tests__/messages/formatters.test.ts
  packages/builders/src/messages/formatters.ts
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/User.js
  packages/discord.js/src/util/Formatters.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update the regex for command names/option names (#7733)
  packages/builders/src/interactions/contextMenuCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/Assertions.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ModalSubmitInteraction): fix `components` type (#7732)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(StageInstanceManager): add `sendStartNotification` option to create (#7730)
  packages/discord.js/src/managers/StageInstanceManager.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings(Embed): add missing getters and add video to EmbedData (#7728)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: clarify that packages need to be locally built (#7720)
  .github/CONTRIBUTING.md
Due: none

feat: allow emoji strings to be passed through constructors (#7718)
  packages/discord.js/src/structures/ButtonBuilder.js
  packages/discord.js/src/structures/SelectMenuBuilder.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(StageInstance): add support for associated guild event (#7713)
  src/structures/StageInstance.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ModalSubmitInteraction): message (#7705)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: support sodium-native lib for voice (#7698)
  packages/voice/README.md
  packages/voice/src/util/Secretbox.ts
  packages/voice/src/util/generateDependencyReport.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(CommandInteraction): add support for localized slash commands (#7684)
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/AutocompleteInteraction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: tidy up builders and components
  packages/discord.js/src/structures/ActionRowBuilder.js
  packages/discord.js/src/structures/ButtonBuilder.js
  packages/discord.js/src/structures/EmbedBuilder.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/SelectMenuBuilder.js
  packages/discord.js/src/structures/SelectMenuOptionBuilder.js
  packages/discord.js/src/structures/TextInputBuilder.js
  packages/discord.js/src/structures/TextInputComponent.js
Due: eslint --fix

docs: fix hilarious bug
  packages/discord.js/src/util/Components.js
Due: eslint --fix

fix: handle components
  packages/discord.js/src/structures/ModalBuilder.js
Due: eslint --fix

fix: import correct embed builder
  packages/discord.js/src/index.js
Due: eslint --fix

fix: add missing modal builder
  packages/discord.js/src/structures/ModalBuilder.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

style: spacing
  packages/discord.js/src/structures/ModalBuilder.js
Due: eslint --fix

feat: export new builders
  packages/discord.js/src/index.js
Due: eslint --fix

fix(index): Change wording
  packages/discord.js/src/index.js
Due: eslint --fix

fix: properly serialize student hub channels
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/structures/DirectoryChannel.js
Due: eslint --fix

feat: add isDirectory() typeguard
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/structures/DirectoryChannel.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ModalBuilder): reference shenanigans
  packages/discord.js/src/structures/ModalBuilder.js
Due: eslint --fix

fix: export unsafe text input builder
  packages/discord.js/src/index.js
Due: eslint --fix

types: fix components for modal
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: apply suggestion from review
  packages/discord.js/src/structures/ActionRowBuilder.js
  packages/discord.js/src/structures/ModalBuilder.js
Due: eslint --fix

types: fix format
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ActionRow): add missing static method
  packages/discord.js/src/structures/ActionRow.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: `makeURLSearchParams` usage
  packages/discord.js/src/managers/GuildBanManager.js
Due: eslint --fix

chore: use dapi-types
  packages/discord.js/package.json
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/typings/index.d.ts
  yarn.lock
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add slash command localizations
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/mixins/NameAndDescription.ts
  packages/builders/src/util/slashCommandUtil.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: prevent unnecessary spread
  packages/builders/src/util/slashCommandUtil.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/package.json
  packages/builders/src/interactions/slashCommands/mixins/NameAndDescription.ts
  packages/builders/src/util/slashCommandUtil.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/mixins/NameAndDescription.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/package.json
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/mixins/NameAndDescription.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
