Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

cleanup(Message): remove options for Message#delete
  src/managers/MessageManager.js
  src/structures/Message.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: allow undefined options
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

add syncID and sessionID
  src/structures/Presence.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MessageReaction): defines the client property in the type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

ChannelManager#add: pass correct parameters
  src/managers/GuildChannelManager.js
Due: eslint --fix

feat: add missing error codes
  src/util/Constants.js
Due: eslint --fix

docs: add new missing errors
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: remove unknown_sku
  src/util/Constants.js
Due: eslint --fix

types(Sticker): added INVALID_STICKER_SENT error code
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Sticker): added INVALID_STICKER_SENT error code
  src/util/Constants.js
Due: eslint --fix

docs(Client#generateInvite): update example
  src/client/Client.js
Due: eslint --fix

feat(APIErrors): add 'UNKNOWN_GUILD_TEMPLATE'
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings(GuildTemplate): remove '_patch' method
  esm/discord.mjs
  src/structures/GuildTemplate.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update src/structures/Sticker.js
  src/structures/Sticker.js
Due: eslint --fix

feat(Sticker): array of tags
  src/structures/Sticker.js
Due: eslint --fix

docs(Sticker): typo change
  src/structures/Sticker.js
Due: eslint --fix

Update typings/index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: restore reply typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: dont pass channel_id to API when replying
  src/structures/APIMessage.js
Due: eslint --fix

chore: update jsdocs
  src/structures/Message.js
Due: eslint --fix

chore: more jsdoc updates
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

feat(AllowedMentions): add typings for replied_user
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: naming conventions
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MessageReaction): add client property to typings (#5003)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Message): referenced_message is null, not undefined
  src/structures/Message.js
Due: eslint --fix

Apply suggestions from code review
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

move ActivityPlatform type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ShardClientUtil): add method to get shard Id for guild Id
  src/sharding/ShardClientUtil.js
  src/util/Snowflake.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(ShardClientUtil): use BigInt for shard calculation
  .eslintrc.json
  src/errors/Messages.js
  src/sharding/ShardClientUtil.js
Due: eslint --fix

fix(Typings): use overloading to have more specific typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(ShardClientUtil): uppercase ID
  src/sharding/ShardClientUtil.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ShardingManager): don't use Promise#all for shard-specific
  src/sharding/ShardClientUtil.js
  src/sharding/ShardingManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Add files via upload
  package.json
Due: none

Add files via upload
  src/client/websocket/handlers/READY.js
Due: eslint --fix
