Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

types: additional fix
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: tests
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: move expect error after lint
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: few missing thread channels
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: also MessageComponentInteractionCollector and MessageManager
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(MessageSelectMenu): add link to Discord docs (#5984)
  src/structures/MessageComponentInteraction.js
Due: eslint --fix

types(ApplicationCommandPermissionsManager): fix types (#5979)
  typings/index.d.ts
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(StageChannel): add createStageInstance method & use better naming convention (#5951)
  src/managers/StageInstanceManager.js
  src/structures/StageChannel.js
  src/structures/StageInstance.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ThreadChannel): check for existence of properties when patching (#5961)
  src/structures/ThreadChannel.js
Due: eslint --fix

docs(Partials): add link to the guide (#5982)
  src/util/Constants.js
Due: eslint --fix

types(MessageOptions): improved component typings (#5987)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: few missing thread channels (#5988)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Interactions): fix type overload order
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Util): methods removed on the base object
  src/util/Util.js
Due: eslint --fix

types: remove string | MessagePayload from first overload
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add ThreadCreateOptions and restrict type field
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: add ThreadEditData typedef & improve thread documentation
  src/managers/ThreadManager.js
  src/structures/ThreadChannel.js
  src/structures/ThreadMember.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(RoleManager): pass a Role instance to setPosition
  src/managers/RoleManager.js
Due: eslint --fix

ci: deprecate old dev releases on publish
  .github/workflows/publish-dev.yml
Due: none

ci: use ~ and change deprecation message
  .github/workflows/publish-dev.yml
Due: none

types(VoiceState): fix optional params
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix MessageComponentInteraction#update as well
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(VoiceState): first param of setchannel should not be optional
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ApplicationCommand): fix typo in JSDoc
  src/structures/ApplicationCommand.js
Due: eslint --fix

fix(ApplicationCommand): fix typo in JSDoc (#5994)
  src/structures/ApplicationCommand.js
Due: eslint --fix

Update .github/workflows/publish-dev.yml
  .github/workflows/publish-dev.yml
Due: none

types(Interactions): fix function overload types (#5989)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

ci: deprecate old dev releases on publish (#5992)
  .github/workflows/publish-dev.yml
Due: none

docs(Util): methods removed on the base object (#5990)
  src/util/Util.js
Due: eslint --fix

docs(ThreadManager): add more info about ThreadCreateOptions#type
  src/managers/ThreadManager.js
Due: eslint --fix

types(MessageSelectMenu): fix typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: switch to old nullable syntax
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(MessageSelectMenu): fix addOptions parameter
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: make MessageSelectMenu#disabled, MessageButton#disabled non-nullable
  src/structures/MessageButton.js
  src/structures/MessageSelectMenu.js
Due: eslint --fix

feat(RoleManager): added `edit` method, alias `Role#edit` (#5983)
  src/managers/RoleManager.js
  src/structures/Role.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings WebSocketShard#send missing args important
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

TextBasedChannel#send doesn't return Message[]
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

fix partial check
  src/structures/Sticker.js
Due: eslint --fix

fix: apply suggestions from code review
  src/structures/InteractionCollector.js
Due: eslint --fix

chore: added `MAXIMUM_NUMBER_OF_STICKERS_REACHED`
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
