Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

fix(timestamps): account for timestamps of 0 when creating Dates (#7226)
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/structures/MessageEmbed.js
Due: eslint --fix

feat(GuildPreview): add stickers
  packages/discord.js/src/structures/GuildPreview.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove unneeded parameter
  packages/discord.js/src/structures/GuildPreview.js
Due: eslint --fix

fix: add import
  packages/discord.js/src/structures/GuildPreview.js
Due: eslint --fix

chore: optimize Turbo pipelines
  package.json
  packages/rest/package.json
  packages/voice/package.json
  yarn.lock
Due: none

ci: more automation for prs
  .github/auto_assign.yml
  .github/workflows/pr-automation.yml
Due: none

chore: optimize Turbo pipelines (#7236)
  package.json
  packages/rest/package.json
  packages/voice/package.json
  yarn.lock
Due: none

ci: only run assignment when a pr opens
  .github/workflows/pr-automation.yml
Due: none

Revert "chore: optimize Turbo pipelines (#7236)"
  package.json
Due: none

revert "chore: optimize Turbo pipelines" (#7237)
  package.json
Due: none

refactor(files): file data can be much more than buffer
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/RequestManager.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(files): remove non-spec compliant (streams)
  packages/rest/src/lib/RequestManager.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: `ref` delay for rate limited requests
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: `ref` delay for rate limited requests (#7239)
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Shard): EventEmitter memory leak
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/sharding/ShardClientUtil.js
Due: eslint --fix

docs(Shards): Add documentation for parameter for the increment/decrement methods.
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/sharding/ShardClientUtil.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Shards): Fix eslint warnings.
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/sharding/ShardClientUtil.js
Due: eslint --fix

feat(Guild): add ROLE_SUBSCRIPTIONS_ENABLED guild feature
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: arrange features in alphabetical order
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/sharding/Shard.js
Due: eslint --fix

Update packages/discord.js/src/sharding/ShardClientUtil.js
  packages/discord.js/src/sharding/ShardClientUtil.js
Due: eslint --fix

Update packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove duplicate features added due to rebase
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add missing semicolon
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(AnonymousGuild): add dynamic field to bannerURL
  packages/discord.js/src/structures/AnonymousGuild.js
Due: eslint --fix

feat: add locales to interactions
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: adjust wording
  packages/discord.js/src/structures/Interaction.js
Due: eslint --fix

Apply suggestions from code review
  packages/discord.js/src/structures/Interaction.js
Due: eslint --fix

types: narrow guild locale based on guild state
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add `ReadonlyCollection`
  packages/collection/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: omit get/set/delete
  packages/collection/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update packages/collection/src/index.ts
  packages/collection/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: commit subject name in lowercase
  .github/COMMIT_CONVENTION.md
Due: none

chore: commit scope name in lowercase (#7246)
  .github/COMMIT_CONVENTION.md
Due: none
