Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: replace dependency with initial implementation
  package-lock.json
  package.json
  src/rest/APIRequest.js
Due: eslint --fix

docs: grammatical fix
  src/structures/InteractionCollector.js
Due: eslint --fix

fix(Caching): sweep archived threads in all channel caches
  src/managers/ChannelManager.js
  src/managers/GuildChannelManager.js
  src/util/LimitedCollection.js
  src/util/Options.js
  src/util/Util.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MessageMentions): check guild exists before adding roles
  src/structures/Message.js
  src/structures/MessageMentions.js
Due: eslint --fix

docs: grammatical fix (#6311)
  src/structures/InteractionCollector.js
Due: eslint --fix

refactor: replace dependency with initial implementation (#6310)
  package-lock.json
  package.json
  src/rest/APIRequest.js
Due: eslint --fix

fix(GuildMemberManager): fetchMany fixes
  src/managers/GuildMemberManager.js
Due: eslint --fix

ci: update to node 16
  .github/workflows/deploy.yml
  .github/workflows/publish-dev.yml
  .github/workflows/test-cron.yml
  .github/workflows/test.yml
Due: none

refactor(MessageMentions): check guild exists before iteration
  src/structures/MessageMentions.js
Due: eslint --fix

ci: update to node 16 (#6315)
  .github/workflows/deploy.yml
  .github/workflows/publish-dev.yml
  .github/workflows/test-cron.yml
  .github/workflows/test.yml
Due: none

fix(Caching): sweep archived threads in all channel caches (#6312)
  src/managers/ChannelManager.js
  src/managers/GuildChannelManager.js
  src/util/LimitedCollection.js
  src/util/Options.js
  src/util/Util.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildMemberManager): fetchMany fixes (#6314)
  src/managers/GuildMemberManager.js
Due: eslint --fix

fix(MessageMentions): check guild exists before adding roles (#6313)
  src/structures/Message.js
  src/structures/MessageMentions.js
Due: eslint --fix

chore: prepare release
  .github/workflows/deploy.yml
  .github/workflows/publish-dev.yml
  .github/workflows/test-cron.yml
  .github/workflows/test.yml
  .gitignore
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: fix bad indentation
  README.md
Due: none

chore: bump version
  package-lock.json
  package.json
Due: none

docs: fix bad indentation (#6316)
  README.md
Due: none

ci: fix deprecation
  .github/workflows/publish-dev.yml
Due: none

fix: add missing threads enabled guild feature
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: add threads enabled
  src/structures/Guild.js
Due: eslint --fix

types(Util): fix cleanContent parameter type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Message): handle fetched messages
  src/structures/Message.js
Due: eslint --fix

fix(GuildMemberManager): refactor fetchMany
  src/managers/GuildMemberManager.js
Due: eslint --fix

chore: add other maintainers to GH Sponsors config
  .github/FUNDING.yml
Due: none

chore: add other maintainers to GH Sponsors config (#6329)
  .github/FUNDING.yml
Due: none

refactor(Options): separate default settings for make cache
  src/util/Options.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Util): fix cleanContent parameter type (#6321)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Message): handle fetched messages (#6325)
  src/structures/Message.js
Due: eslint --fix

fix(GuildMemberManager): refactor fetchMany (#6328)
  src/managers/GuildMemberManager.js
Due: eslint --fix

chore(Release): prepare release
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: dev version
  package-lock.json
  package.json
Due: none

types(Constants): fix CDN endpoint typings
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: give labels a facelift
  .github/labels.yml
  .github/workflows/labelsync.yml
Due: none

chore: give labels a facelift (#6333)
  .github/labels.yml
  .github/workflows/labelsync.yml
Due: none

chore: add additional topic labels
  .github/labels.yml
Due: none

chore: even more labels
  .github/labels.yml
Due: none

chore: fix bug report and feature request templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/labels.yml
Due: none

fix: Fix typo in GuildMemberRoleManager
  src/managers/GuildMemberRoleManager.js
Due: eslint --fix

refactor(Options): separate default settings for make cache (#6330)
  src/util/Options.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildMemberRoleManager): typo (#6335)
  src/managers/GuildMemberRoleManager.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
