Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

suggested changes
  src/structures/Guild.js
  src/structures/GuildChannel.js
  src/structures/GuildMember.js
  src/structures/GuildTemplate.js
  src/structures/Presence.js
  src/structures/User.js
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

fix: missed changes
  src/client/actions/GuildEmojisUpdate.js
  src/client/websocket/WebSocketShard.js
  src/client/websocket/handlers/CHANNEL_PINS_UPDATE.js
  src/errors/DJSError.js
  src/managers/BaseManager.js
  src/managers/GuildMemberManager.js
  src/managers/ReactionManager.js
  src/rest/DiscordAPIError.js
  src/sharding/ShardingManager.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildChannel.js
  src/util/Util.js
  test/voice.js
Due: eslint --fix

Update typings/index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix remaining Raw references
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update discord-api-types dependency to -next
  package-lock.json
  package.json
Due: none

types: fix remaining Raw type references, update discord-api-types dep (#5942)
  package-lock.json
  package.json
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Guild): 🔥 Remove 'Guild#fetchInvites' method
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: define ApplicationCommand enums in lib
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(CategoryChannel): ✨ Extends 'CategoryChannel#toString' to return name
  src/structures/CategoryChannel.js
Due: eslint --fix

fix(Sharding): strict type context and return
  typings/index.d.ts
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Message): Make author of referenced message nullable (#5929)
  src/structures/Message.js
Due: eslint --fix

revert(BitField): ⏪ Bring back-compatibility after BitField serialization (#5910)
  src/util/BitField.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: define ApplicationCommand enums in lib (#5947)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: remove general string type from resolvable
  src/structures/MessageButton.js
Due: eslint --fix

feat(Interaction): option to auto-fetch replies
  src/errors/Messages.js
  src/structures/MessageComponentInteraction.js
  src/structures/interfaces/InteractionResponses.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: construct a MessageFlags instance
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

docs: remove nullable flag
  src/structures/MessageComponentInteraction.js
Due: eslint --fix

types: reorder overloads
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: unwrap promises
  typings/index.d.ts
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ColorResolvable): change `string` to `#${string}`
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(StageChannel): add method to create instance
  src/managers/StageInstanceManager.js
  src/structures/StageChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Fix documentation typo
  src/util/ApplicationFlags.js
Due: eslint --fix

Update index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(Types): include @discordjs/voice typings
  package-lock.json
  package.json
  tsconfig.json
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Webhook): fix thread example in send method
  src/structures/Webhook.js
Due: eslint --fix

Changed Webhook#delete to return void.
  src/structures/Webhook.js
Due: eslint --fix

feat(Interaction): add guild guard
  src/structures/CommandInteraction.js
  src/structures/Interaction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove possibly uncached getters & duplicate method
  src/structures/CommandInteraction.js
  src/structures/Interaction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Removed duplicate syncID prop in Activity
  src/structures/Presence.js
Due: eslint --fix

docs(Webhook): fix thread example in send method (#5953)
  src/structures/Webhook.js
Due: eslint --fix

docs(Features): resolved typo in `FATEWAY_PRESENCE_LIMITED` (#5952)
  src/util/ApplicationFlags.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: drop string from MessageButtonStyleResolvable (#5944)
  src/structures/MessageButton.js
Due: eslint --fix

fix(Collector): docs and types (#5937)
  src/structures/MessageComponentInteractionCollector.js
  src/structures/ReactionCollector.js
  src/structures/interfaces/Collector.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ColorResolvable): change `string` to `#${string}` (#5950)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(Workflow): add --no-optional for ci until node 16
  .github/workflows/deploy.yml
  .github/workflows/publish-dev.yml
  .github/workflows/test-cron.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: none

fixup!: revert changes made in #5910 regarding invalid typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: rename createStageInstance method
  src/structures/StageChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: boolean ensuring
  src/structures/Interaction.js
Due: eslint --fix

feat(GuildFeatures): add new thread related features
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
