Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

if not specified note
  src/util/Options.js
Due: eslint --fix

Update src/client/websocket/WebSocketShard.js
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

fix line length lint issue
  src/client/websocket/WebSocketShard.js
  src/util/Options.js
Due: eslint --fix

prettier style formatting
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

Add validation
  src/client/Client.js
Due: eslint --fix

Add default value
  src/util/Options.js
Due: eslint --fix

tejas tank
  README.md
Due: none

Update src/util/Options.js
  src/util/Options.js
Due: eslint --fix

fix doccumentation
  src/util/Options.js
Due: eslint --fix

fix(Issueform): allow no partials
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: issue forms (#6583)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

feat(MessageTypes): add CONTEXT_MENU_COMMAND (23) (#6425)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: ES2021 features (#6540)
  src/client/Client.js
  src/client/websocket/WebSocketManager.js
  src/client/websocket/WebSocketShard.js
  src/managers/ApplicationCommandPermissionsManager.js
  src/managers/GuildManager.js
  src/managers/GuildMemberManager.js
  src/rest/RESTManager.js
  src/rest/RequestHandler.js
  src/sharding/Shard.js
  src/sharding/ShardClientUtil.js
  src/sharding/ShardingManager.js
  src/structures/Channel.js
  src/structures/ClientPresence.js
  src/structures/ClientUser.js
  src/structures/Guild.js
  src/structures/GuildChannel.js
  src/structures/GuildTemplate.js
  src/structures/Integration.js
  src/structures/Invite.js
  src/structures/Message.js
  src/structures/MessageReaction.js
  src/structures/ThreadChannel.js
  src/structures/Typing.js
  src/structures/User.js
  src/structures/VoiceChannel.js
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/LimitedCollection.js
  src/util/Options.js
  src/util/SnowflakeUtil.js
  src/util/Util.js
  test/random.js
  test/sendtest.js
  test/shard.js
  test/webhooktest.js
Due: eslint --fix

fix(ThreadChannel): fetchStarterMessage bug
  src/structures/ThreadChannel.js
Due: eslint --fix

fix(Message): pinnable returning false in non-DEFAULT messages
  src/structures/Message.js
Due: eslint --fix

fix(ThreadChannel): fetchStarterMessage bug (#6584)
  src/structures/ThreadChannel.js
Due: eslint --fix

chore: remove jsdoc.json
  jsdoc.json
Due: none

add documentation on what skipping timeout means
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

fix(threadMembersUpdate): fixed typo
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(MessageButton): fix info tag
  src/structures/MessageButton.js
Due: eslint --fix

docs(MessageButton): fix info tag (#6590)
  src/structures/MessageButton.js
Due: eslint --fix

fix(threadMembersUpdate): fixed typo (#6589)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: remove jsdoc.json (#6587)
  jsdoc.json
Due: none

types: make collector types more specific
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: make channelId, guildId and member non-nullable
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: member is still nullable
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: guildId is still nullable
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ApplicationCommand): add version property
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(MessagePayload): Correct parameter
  src/structures/MessagePayload.js
Due: eslint --fix

feat(ApplicationCommand): add check for version prop in #equals
  src/structures/ApplicationCommand.js
Due: eslint --fix

fix(Message): system messages are not pinnable
  src/structures/Message.js
Due: eslint --fix

fix: forgot the &&
  src/structures/Message.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
