Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

chore: update dev versions
  packages/builders/package.json
  packages/collection/package.json
  packages/rest/package.json
  packages/voice/package.json
Due: none

chore: only build cjs for actions
  packages/actions/src/formatTag/action.yml
  packages/actions/tsup.config.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

ci: allow workflow dispatches
  .github/workflows/documentation.yml
Due: none

ci: fix inputs for workflow dispatches
  .github/workflows/documentation.yml
Due: none

ci: fix if checks for branch/tag when using workflow dispatch
  .github/workflows/documentation.yml
Due: none

docs: add missing external links from dapi-types
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/managers/StageInstanceManager.js
  packages/discord.js/src/structures/AutocompleteInteraction.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Components.js
Due: eslint --fix

ci: check for the correct prop to be defined
  packages/actions/src/formatTag/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

ci: equality check on tag and package name
  .github/workflows/documentation.yml
Due: none

chore: remove leftover files from pre-monorepo era
  packages/actions/README.md
  packages/actions/codecov.yml
  packages/actions/package.json
  packages/builders/.versionrc
  packages/builders/README.md
  packages/builders/codecov.yml
  packages/collection/.versionrc
  packages/collection/README.md
  packages/discord.js/README.md
  packages/proxy/README.md
  packages/rest/README.md
  packages/rest/codecov.yml
  packages/voice/.versionrc
  packages/voice/README.md
  yarn.lock
Due: none

feat: add scripts package for locally used scripts
  packages/builders/scripts/docs.mjs
  packages/collection/package.json
  packages/collection/scripts/docs.mjs
  packages/proxy/package.json
  packages/proxy/scripts/docs.mjs
  packages/rest/package.json
  packages/rest/scripts/docs.mjs
  packages/scripts/.eslintrc.json
  packages/scripts/.gitignore
  packages/scripts/.prettierignore
  packages/scripts/.prettierrc.json
  packages/scripts/LICENSE
  packages/scripts/README.md
  packages/scripts/babel.config.js
  packages/scripts/jest.config.js
  packages/scripts/package.json
  packages/scripts/src/docs.ts
  packages/scripts/tsconfig.eslint.json
  packages/scripts/tsconfig.json
  packages/scripts/tsup.config.ts
  packages/voice/package.json
  packages/voice/scripts/docs.mjs
  packages/voice/scripts/postbuild.mjs
  yarn.lock
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(voice): re-add accidental removal of postbuild script
  packages/voice/scripts/postbuild.mjs
Due: none

feat: allow builders to accept rest params and arrays
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/__tests__/interactions/modal.test.ts
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/index.ts
  packages/builders/src/interactions/modals/UnsafeModal.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
  packages/builders/src/util/normalizeArray.ts
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Revert "refactor: use arrays instead of rest parameters for builders (#7759)"
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/__tests__/interactions/modal.test.ts
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/interactions/modals/UnsafeModal.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

perf: use less spread operators
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/interactions/modals/UnsafeModal.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
  packages/builders/src/util/normalizeArray.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: convert to type import
  packages/builders/src/messages/embed/Embed.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(RestOrArray): specify array length
  packages/builders/src/util/normalizeArray.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: don't reassign parameters when unnecessary
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/interactions/modals/UnsafeModal.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Add default_member_permissions to transformCommand
  packages/discord.js/src/managers/ApplicationCommandManager.js
Due: eslint --fix

docs: add missing discord-api-types external types (#8001)
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/managers/StageInstanceManager.js
  packages/discord.js/src/structures/AutocompleteInteraction.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Components.js
Due: eslint --fix

refactor(attachment): don't return attachment builders from API (#7852)
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/GuildStickerManager.js
  packages/discord.js/src/structures/Attachment.js
  packages/discord.js/src/structures/AttachmentBuilder.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

remove redundant parentheses and null value
  packages/discord.js/src/managers/ApplicationCommandManager.js
Due: eslint --fix

add trailing comma to satisfy ESLint
  packages/discord.js/src/managers/ApplicationCommandManager.js
Due: eslint --fix

Update packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/managers/ApplicationCommandManager.js
Due: eslint --fix

chore: cache message import
  packages/discord.js/src/structures/Webhook.js
Due: eslint --fix

refactor: always return message instances from interaction webhooks
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: always return message instances from message components
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/Webhook.js
Due: eslint --fix

chore: add missed spots
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: use lazy function
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/util/Util.js
Due: eslint --fix

ci: remove cache-dir from test
  .github/workflows/test.yml
Due: none

types: add typings
  packages/discord.js/src/structures/ActionRowBuilder.js
  packages/discord.js/src/structures/SelectMenuOptionBuilder.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ApplicationCommandOptionType): Add attachment to jsdoc (#7952)
  src/util/Constants.js
Due: eslint --fix

fix: video quality mode data property (#7946)
  src/structures/VoiceChannel.js
Due: eslint --fix

fix: typings (#7965)
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(websocketshard): deal with zombie connection caused by 4009 (#7581)
  src/client/websocket/WebSocketManager.js
  src/client/websocket/WebSocketShard.js
  src/util/Constants.js
  src/util/Options.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(ApplicationCommand): permissions v2
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
Due: eslint --fix

refactor(ApplicationCommand): remove remnant of defaultPermission
  packages/discord.js/src/structures/ApplicationCommand.js
Due: eslint --fix

fix: suggested changes
  packages/discord.js/src/structures/ApplicationCommand.js
Due: eslint --fix

refactor(AppCommandPermsManager): perms v2
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/managers/ApplicationCommandPermissionsManager.js
Due: eslint --fix
