Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/discord.js/src/structures/StageInstance.js
Due: eslint --fix

feat: add `channel` parameter
  packages/discord.js/src/client/actions/MessageDeleteBulk.js
Due: eslint --fix

types: update types
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add guild parameter to `threadListSync` event
  packages/discord.js/src/client/actions/ThreadListSync.js
Due: eslint --fix

feat: add thread parameter to `threadMembersUpdate` event
  packages/discord.js/src/client/actions/ThreadMembersUpdate.js
Due: eslint --fix

chore: make requested changes
  packages/discord.js/src/structures/StageInstance.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(guildmember): v13 check if member has admin
  src/structures/GuildMember.js
Due: eslint --fix

fix(websocketshard): deal with zombie connection caused by 4009
  src/client/websocket/WebSocketShard.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: remove eslint-disable for console
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

fix: use enum instead of using numbers
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

Apply suggestions from code review
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

fix: apply suggestions
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

fix: remove extra reassignment of status
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

fix: clear timeout on ws close
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

refactor(Activity): make `name` nullable
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: Backport `sweepStickers` method (#7558)
  src/util/Sweepers.js
Due: eslint --fix

fix: Backport `MessageReaction#me` being incorrectly `false` (#7553)
  src/structures/MessageReaction.js
Due: eslint --fix

fix: Handle partial data for `Typing#user` (#7542)
  packages/discord.js/src/managers/UserManager.js
  packages/discord.js/src/structures/DMChannel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: Backport version 13 fixes (#7552)
  src/managers/GuildMemberManager.js
  src/managers/RoleManager.js
  src/rest/RateLimitError.js
  src/rest/RequestHandler.js
  src/structures/Guild.js
  src/structures/Interaction.js
  src/structures/MessageAttachment.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Options.js
  src/util/SnowflakeUtil.js
Due: eslint --fix

feat(GuildPreview): Add stickers to version 13 (#7554)
  src/structures/GuildPreview.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ThreadChannel): Require `sendable` for `unarchivable` (#7555)
  src/structures/ThreadChannel.js
Due: eslint --fix

feat: Backport `reason` on `pin` and `unpin` (#7556)
  src/managers/MessageManager.js
  src/structures/Message.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: Add custom image support to version 13 (#7557)
  src/structures/Presence.js
Due: eslint --fix

feat(ThreadChannel): Backport creation timestamp (#7559)
  src/structures/ThreadChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: Backport sending message flags (#7560)
  src/structures/MessagePayload.js
  src/structures/Webhook.js
  src/structures/interfaces/InteractionResponses.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: Backport cache types resolving to `never` (#7561)
  typings/index.d.ts
  typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: Backport `MessageMentions` channel type fixes (#7562)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: allow raw components for reply and message options (#7573)
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Embed): remove add field (#7522)
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: check if member has admininistrator on `moderatable` (v13) (#7578)
  src/structures/GuildMember.js
Due: eslint --fix

types(InteractionResponseFields): add boolean properties (#7565)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Util): escapeInlineCode properly
  packages/discord.js/src/util/Util.js
Due: eslint --fix

fix: who uses double quote
  packages/discord.js/src/util/Util.js
Due: eslint --fix

chore: allow class fields to be used
  packages/discord.js/.eslintrc.json
  packages/discord.js/src/structures/Interaction.js
Due: eslint --fix

chore: make requested changes
  turbo.json
Due: none

chore: fix lint errors
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: move modal file
  packages/builders/src/index.ts
  packages/builders/src/interactions/modals/Modal.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: builder components
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Components.ts
  packages/builders/src/components/Modal.ts
  packages/builders/src/components/TextInput.ts
  packages/builders/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
