Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

Check if channel has messages
  packages/discord.js/src/client/actions/MessageCreate.js
Due: eslint --fix

feat: switch to `undici.request`
  packages/rest/__tests__/REST.test.ts
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/IHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/utils.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: failing tests due to setting another agent
  packages/rest/src/lib/RequestManager.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: epic jest fail
  packages/rest/__tests__/RequestHandler.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: remove non-breaking stuff (#7636)
  src/structures/Presence.js
Due: eslint --fix

refactor: Remove store channels (#7634)
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionChannelTypesMixin.ts
  packages/discord.js/package.json
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildInviteManager.js
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/StoreChannel.js
  packages/discord.js/src/structures/WelcomeChannel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
  yarn.lock
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: Add `premiumSubscriptionCount` to `InviteGuild` (#7629)
  src/structures/AnonymousGuild.js
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: export `UnsafeModalBuilder` and `UnsafeTextInputBuilder` (#7628)
  packages/discord.js/src/index.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add methods to managers for v13 (#7611)
  src/managers/GuildChannelManager.js
  src/managers/GuildEmojiManager.js
  src/managers/GuildStickerManager.js
  src/managers/RoleManager.js
  src/structures/BaseGuildTextChannel.js
  src/structures/GuildChannel.js
  src/structures/GuildEmoji.js
  src/structures/Role.js
  src/structures/Sticker.js
  src/structures/ThreadChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Actions): add parent structure to events parameters (#7577)
  packages/discord.js/src/client/actions/MessageDeleteBulk.js
  packages/discord.js/src/client/actions/ThreadListSync.js
  packages/discord.js/src/client/actions/ThreadMembersUpdate.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: Backport `Interaction#isRepliable` (#7563)
  src/structures/Interaction.js
  typings/index.d.ts
  typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(modals): modals, input text components and modal submits, v13 style (#7431)
  package-lock.json
  package.json
  src/client/actions/InteractionCreate.js
  src/errors/Messages.js
  src/index.js
  src/structures/BaseCommandInteraction.js
  src/structures/BaseMessageComponent.js
  src/structures/Interaction.js
  src/structures/MessageActionRow.js
  src/structures/MessageComponentInteraction.js
  src/structures/Modal.js
  src/structures/ModalSubmitFieldsResolver.js
  src/structures/ModalSubmitInteraction.js
  src/structures/TextInputComponent.js
  src/structures/interfaces/InteractionResponses.js
  src/util/Constants.js
  typings/enums.d.ts
  typings/index.d.ts
  typings/index.test-d.ts
  typings/rawDataTypes.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: replace zod with shapeshift (#7547)
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/package.json
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/textInput/Assertions.ts
  packages/builders/src/interactions/contextMenuCommands/Assertions.ts
  packages/builders/src/interactions/modals/Assertions.ts
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionChannelTypesMixin.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithChoicesAndAutocompleteMixin.ts
  packages/builders/src/interactions/slashCommands/options/integer.ts
  packages/builders/src/interactions/slashCommands/options/number.ts
  packages/builders/src/messages/embed/Assertions.ts
  packages/builders/src/messages/embed/Embed.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update reference on GuildStickerManager
  packages/discord.js/src/managers/GuildStickerManager.js
Due: eslint --fix

test: add util tests
  packages/rest/__tests__/Util.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

makeContent accepts empty strings
  packages/discord.js/src/structures/MessagePayload.js
Due: eslint --fix

docs: fix message sending example
  packages/rest/README.md
Due: none

feat: add support for localized slash commands (v13 backport)
  package-lock.json
  package.json
  src/managers/ApplicationCommandManager.js
  src/structures/ApplicationCommand.js
  src/structures/AutocompleteInteraction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(WebhookClient): Updated webhook url to include old url
  packages/discord.js/src/client/WebhookClient.js
Due: eslint --fix

feat(commandInteraction): add support for localized slash commands
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: add better localizations in docs
  packages/discord.js/src/structures/ApplicationCommand.js
Due: eslint --fix

refactor: use dapi types
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: reexport LocalizationMap
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/discord.js/src/managers/ApplicationCommandManager.js
Due: eslint --fix

chore: fix linting issues
  packages/discord.js/src/managers/ApplicationCommandManager.js
Due: eslint --fix

fix: fetching bugs
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add missing props and fetch options
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/AutocompleteInteraction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/managers/ApplicationCommandManager.js
Due: eslint --fix

fix: add name localizations for option choices
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: remove or not
  src/managers/ApplicationCommandManager.js
Due: eslint --fix

Update error message
  packages/discord.js/src/errors/Messages.js
Due: eslint --fix

fix(GuildChannelManager): `delete` method accessing wrong id
  src/managers/GuildChannelManager.js
Due: eslint --fix

feat: apply some suggestions from code review
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/errors/HTTPError.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: allow setting agent per request
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Util): flatten ignoring certain fields
  packages/discord.js/src/util/Util.js
Due: eslint --fix

fix(GuildChannelManager): `delete` method accessing wrong id (#7771)
  src/managers/GuildChannelManager.js
Due: eslint --fix

docs: Enhance /rest README (#7757)
  packages/rest/README.md
Due: none

fix: apply v14 fix (#7756)
  src/client/actions/InteractionCreate.js
Due: eslint --fix

fix(InteractionCreateAction): Ensure text-based channel for caching messages (#7755)
  packages/discord.js/src/client/actions/InteractionCreate.js
Due: eslint --fix
