Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Check for this.sendable regardless of this.locked
  packages/discord.js/src/structures/ThreadChannel.js
Due: eslint --fix

chore(CONTRIBUTING.md): update to yarn instructions (#7403)
  .github/CONTRIBUTING.md
Due: none

types: remove Status from Constants
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: use for Constants enums
  packages/discord.js/src/util/Colors.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: add the rest
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/client/actions/GuildMemberRemove.js
  packages/discord.js/src/client/actions/GuildMemberUpdate.js
  packages/discord.js/src/client/websocket/WebSocketManager.js
  packages/discord.js/src/client/websocket/WebSocketShard.js
  packages/discord.js/src/client/websocket/handlers/GUILD_CREATE.js
  packages/discord.js/src/client/websocket/handlers/GUILD_MEMBER_ADD.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/structures/ClientPresence.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/src/util/Enums.js
  packages/discord.js/src/util/Opcodes.js
  packages/discord.js/src/util/Partials.js
  packages/discord.js/src/util/ShardEvents.js
  packages/discord.js/src/util/Status.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: missing areas
  packages/discord.js/src/client/websocket/WebSocketManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update packages/discord.js/src/structures/InteractionCollector.js
  packages/discord.js/src/structures/InteractionCollector.js
Due: eslint --fix

Update packages/discord.js/src/client/websocket/handlers/THREAD_UPDATE.js
  packages/discord.js/src/client/websocket/handlers/THREAD_UPDATE.js
Due: eslint --fix

chore: make requested changes
  packages/discord.js/src/client/websocket/WebSocketShard.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/structures/ClientPresence.js
  packages/discord.js/src/util/Opcodes.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove Opcodes from typings & color usage
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(constants): remove `WSCodes`, `WSEvents`, and `InviteScopes`
  packages/discord.js/scripts/generateRequires.mjs
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/client/websocket/WebSocketManager.js
  packages/discord.js/src/client/websocket/WebSocketShard.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/index.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Apply suggestions from code review
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithChoicesAndAutocompleteMixin.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: revert change on the unresumeable code
  packages/discord.js/src/client/websocket/WebSocketManager.js
Due: eslint --fix

fix(components): addMultiple/setMultiple accepting array and objects
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(channel): fix isDMBased docs
  packages/discord.js/src/structures/Channel.js
Due: eslint --fix

chore: change checks order
  packages/discord.js/src/structures/GuildMember.js
Due: eslint --fix

fix: use image options for defaultAvatarURL
  packages/discord.js/src/structures/User.js
  packages/discord.js/typings/index.d.ts
  packages/rest/src/lib/CDN.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(messageattachment): fix `contentType` docs
  packages/discord.js/src/structures/MessageAttachment.js
Due: eslint --fix

fix: use .png as extension for defaultAvatar
  packages/discord.js/src/structures/User.js
  packages/discord.js/typings/index.d.ts
  packages/rest/src/lib/CDN.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: expect .png as extension in tests
  packages/rest/__tests__/CDN.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(clientpresence): fix used opcodes
  packages/discord.js/src/structures/ClientPresence.js
Due: eslint --fix

fix: use unsafe field normalization
  packages/builders/src/components/Component.ts
  packages/builders/src/index.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
  packages/builders/src/util/jsonEncodable.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update index.js
  packages/discord.js/src/index.js
Due: eslint --fix

docs(messageattachment): fix `contentType` docs (#7413)
  packages/discord.js/src/structures/MessageAttachment.js
Due: eslint --fix

docs(channel): fix `isDMBased` docs (#7411)
  packages/discord.js/src/structures/Channel.js
Due: eslint --fix

fix: use png as extension for defaultAvatarURL (#7414)
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: correctly export UnsafeSelectMenuComponent from builders (#7421)
  packages/discord.js/src/index.js
Due: eslint --fix

fix(clientpresence): fix used opcodes (#7415)
  packages/discord.js/src/structures/ClientPresence.js
Due: eslint --fix

fix: unsafe embed builder field normalization (#7418)
  packages/builders/src/components/Component.ts
  packages/builders/src/index.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
  packages/builders/src/util/jsonEncodable.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: make public builder props getters
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/babel.config.js
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Component.ts
  packages/builders/src/components/button/Button.ts
  packages/builders/src/components/button/UnsafeButton.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenuOption.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Component.ts
  packages/builders/src/components/button/UnsafeButton.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: make many type improvements
  packages/builders/babel.config.js
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Component.ts
  packages/builders/src/components/button/UnsafeButton.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Component.ts
  packages/builders/src/components/button/UnsafeButton.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: remove bad typings
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: lazily init embed field array
  packages/builders/src/messages/embed/Assertions.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: tests
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/src/components/button/UnsafeButton.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/messages/embed/Assertions.ts
  packages/builders/src/messages/embed/Embed.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/builders/src/messages/embed/UnsafeEmbed.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: cleanup and document
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Component.ts
  packages/builders/src/components/button/Button.ts
  packages/builders/src/components/button/UnsafeButton.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/SelectMenuOption.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenuOption.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
