Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

docs: fix and improve localization docs (v13 backport) (#7807)
  src/structures/ApplicationCommand.js
  src/structures/Guild.js
  src/structures/Interaction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ApplicationCommand): equal nameLocalizations and descriptionLocalizations (#7802)
  packages/discord.js/src/structures/ApplicationCommand.js
Due: eslint --fix

fix(Activity): platform type (#7805)
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(ApplicationCommand): fix and improve localization docs (#7804)
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: changed Util.flatten to use .toJSON if it exists
  packages/discord.js/src/util/Util.js
Due: eslint --fix

fix: fixed issue in which falsy values would be ignored
  packages/discord.js/src/util/Util.js
Due: eslint --fix

fix(SelectMenuBuilder): options array
  packages/discord.js/src/structures/SelectMenuBuilder.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(User): banner and accentColor undefined, use null instead
  packages/discord.js/src/structures/User.js
Due: eslint --fix

types(SelectMenuBuilder): remove spread operators
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(SelectMenuBuilder): options array (#7826)
  packages/discord.js/src/structures/SelectMenuBuilder.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: possibly missing
  packages/discord.js/src/structures/Integration.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(builders): error at addComponents() on ModalBuilder
  packages/builders/src/interactions/modals/UnsafeModal.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: `endReason` not being properly set in base Collector
  packages/discord.js/src/structures/InteractionCollector.js
  packages/discord.js/src/structures/MessageCollector.js
  packages/discord.js/src/structures/ReactionCollector.js
  packages/discord.js/src/structures/interfaces/Collector.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add _endReason type
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(DMChannel): `toString()` returns a `UserMention`
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

test: add more tests
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: require parameter
  packages/discord.js/src/managers/MessageManager.js
Due: eslint --fix

feat: add text in voice
  packages/discord.js/src/client/actions/WebhooksUpdate.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/DMChannel.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/VoiceChannel.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

test: ensure that all text channel types implement a send method
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Activity): remove undocumented properties
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Message#activity): make `partyId` optional and use enum for `type`
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Message#activity): make `partyId` optional and use enum for `type` (#7845)
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Activity): remove undocumented properties (#7844)
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: require parameter (#7838)
  packages/discord.js/src/managers/MessageManager.js
Due: eslint --fix

types: fix return type of `toString()` on channels (#7836)
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: `endReason` not being properly set in base Collector (#7833)
  packages/discord.js/src/structures/InteractionCollector.js
  packages/discord.js/src/structures/MessageCollector.js
  packages/discord.js/src/structures/ReactionCollector.js
  packages/discord.js/src/structures/interfaces/Collector.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: possibly missing (#7829)
  packages/discord.js/src/structures/Integration.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Util): flatten ignoring certain fields (#7773)
  packages/discord.js/src/util/Util.js
Due: eslint --fix

refactor: remove max helper from threads
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Simplified if statement
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
Due: eslint --fix

docs: Added default boolean values
  packages/discord.js/src/structures/ApplicationCommand.js
Due: eslint --fix

feat(REST): enable setting default authPrefix
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/utils/constants.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update ApplicationCommandManager.js
  packages/discord.js/src/managers/ApplicationCommandManager.js
Due: eslint --fix

feat: add getters to builders
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/ButtonBuilder.js
  packages/discord.js/src/structures/Embed.js
  packages/discord.js/src/structures/EmbedBuilder.js
  packages/discord.js/src/structures/SelectMenuBuilder.js
  packages/discord.js/src/structures/SelectMenuOptionBuilder.js
  packages/discord.js/src/structures/TextInputBuilder.js
  packages/discord.js/src/structures/TextInputComponent.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(REST): enable setting default authPrefix (#7853)
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/utils/constants.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(SlashCommandSubcommandBuilders): add localizations for these too
  packages/builders/src/interactions/slashCommands/SlashCommandSubcommands.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: add name_localizations for choices too
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithChoicesAndAutocompleteMixin.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove duplicated parsing
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithChoicesAndAutocompleteMixin.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: correct missing assertions for locales in options
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionBase.ts
  packages/builders/src/interactions/slashCommands/mixins/NameAndDescription.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: add missing localization for context menus and validations
  packages/builders/src/interactions/contextMenuCommands/ContextMenuCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
