Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: fixed eslint errors feat: added typings
  .idea/.gitignore
  .idea/inspectionProfiles/Project_Default.xml
  .idea/vcs.xml
  src/structures/DMChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: added typings for safeSend method
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildPreview): implement DiscoverySplash function
  src/util/Constants.js
Due: eslint --fix

fix(GuildPreview): description & error handling for id
  src/client/Client.js
Due: eslint --fix

fix(GuildPreview): misleading description, assign emojis correctly
  src/structures/GuildPreview.js
Due: eslint --fix

feat(GuildPreview): func DisplaySplash & GuildPreviewEmoji interface
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Typings): satisfy TSLint
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildPreview): toJSON - returns a value now
  src/structures/GuildPreview.js
Due: eslint --fix

Update default max presences value
  src/structures/Guild.js
Due: eslint --fix

feat(GuildPreview): add fetchPreview method on instance of Guild
  src/structures/Guild.js
Due: eslint --fix

feat(GuildPreview): update typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: missing client constructor
  src/structures/Guild.js
Due: eslint --fix

fix: typo in typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: messageReactionRemove emission (#3966)
  src/client/websocket/packets/WebSocketPacketManager.js
  src/util/Constants.js
Due: eslint --fix

chore(release): version
  package.json
Due: none

fix: always emit guildUnavailable if a guild became unavailable
  src/client/actions/GuildDelete.js
Due: eslint --fix

fix(Guild): default max presences value (#3970)
  src/structures/Guild.js
Due: eslint --fix

fix(TypingStart): typing methods returning falsy values (#3939)
  src/client/websocket/handlers/TYPING_START.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(ci): buggy void return rule
  tslint.json
Due: none

revert: channel unions (#3918 69d69f25b964b6a2bb13bd086696abec17782ca3)
  src/structures/GuildChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: correct tslint:disable
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

revert: keep the GuildChannel#setParent change
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: always emit guildUnavailable when a guild becomes unavailable (#3975)
  src/client/actions/GuildDelete.js
Due: eslint --fix

feat(BaseEmoji): implement BaseEmoji — parent for emoji instances
  src/structures/BaseEmoji.js
Due: eslint --fix

feat(BaseEmoji): refactor - GuildEmoji extends BaseEmoji now
  src/structures/GuildEmoji.js
Due: eslint --fix

feat(BaseEmoji): refactor - adjust emojis prop to BaseEmoji instance
  src/structures/GuildPreview.js
Due: eslint --fix

feat(BaseEmoji): not documented fully - GuildPreviewEmoji
  src/structures/GuildPreviewEmoji.js
Due: eslint --fix

feat(BaseEmoji): update typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove duplicate typing properties - inherited
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove redundant methods & properties - inherited / already set
  src/structures/BaseEmoji.js
Due: eslint --fix

fix: let -> const
  src/structures/GuildPreview.js
Due: eslint --fix

docs(MessageReaction): fix jsdoc for count
  src/structures/MessageReaction.js
Due: eslint --fix

fix: typings - put BaseEmoji after BaseClient
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove _clone method - redundant
  src/structures/BaseEmoji.js
Due: eslint --fix

docs(MessageReaction): fix jsdoc for count (#3980)
  src/structures/MessageReaction.js
Due: eslint --fix

fix(Typings): client message event should not emit PartialMessage
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings/fix: add O type parameter
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings: add back accidental removal (#3984)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update typings/index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Typings): client message event should not emit PartialMessa… (#3983)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
