Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: make entityMetadata option a nested object
  src/managers/GuildScheduledEventManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildScheduledEvent): add checks
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

fix(GuildScheduledEvent): convert time from ISO string to timestamp
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

refactor: revert last commit for the sake of future-proofing
  src/managers/GuildScheduledEventManager.js
Due: eslint --fix

fix: bugs in shortcut methods and add warnings
  src/managers/GuildScheduledEventManager.js
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: gateway events not emitting
  src/client/actions/ActionsManager.js
  src/client/actions/GuildScheduledEventUpdate.js
  src/client/websocket/handlers/index.js
Due: eslint --fix

refactor: use script to generate actions & ws handlers
  src/client/actions/ActionsManager.js
  src/client/websocket/handlers/index.js
Due: eslint --fix

feat(GuildScheduledEvent): add url getter and toString method
  src/structures/GuildScheduledEvent.js
  src/util/Constants.js
  src/util/Options.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildScheduledEvent): typo in createdAt method name
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

feat: add GuildScheduledEventUser typedef to represent a sub
  src/managers/GuildScheduledEventManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: audit log stuff
  src/structures/GuildAuditLogs.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildScheduledEvent): add type-guards to limit setStatus arg type
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(GuildScheduledEvent): update return type of fetchSubscribers
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

docs(GuildScheduledEvent): remove external link to dapi-docs
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

docs(GuildScheduledEvent): add info tag to setStatus method
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

docs(GuildAuditLogs): set deleted if a scheduled event was deleted
  src/structures/GuildAuditLogs.js
Due: eslint --fix

docs(GuildScheduledEvent): fix link and add some more stuff in jsdoc
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

fix: set start time to null if not present
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: remove vscode settings file again
  .vscode/settings.json
Due: none

docs(GuildScheduledEvent): fix jsdoc examples
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

chore: remove TODO comment
  .vscode/settings.json
  src/client/actions/GuildScheduledEventUpdate.js
Due: eslint --fix

feat(GuildScheduledEvent): add method to create invite url
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: use Endpoints to generate invite url string
  src/structures/GuildScheduledEvent.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildScheduledEvent): change implementation of createInviteUrl
  src/errors/Messages.js
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add scheduled event related audit log types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildScheduledEvent): add entityMetadata property
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: apply suggestions from code review
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(GuildScheduledEvent): use timestampFrom instead of deconstruct
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

feat: add deleted getter and setter
  src/client/actions/GuildScheduledEventDelete.js
  src/index.js
  src/managers/GuildScheduledEventManager.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildScheduledEvent.js
  src/structures/Invite.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: use getScheduledEvent in delete action handler
  src/client/actions/GuildScheduledEventDelete.js
Due: eslint --fix

fix: do not set stuff in create when it is not required
  src/managers/GuildScheduledEventManager.js
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: only set entity_metadata when it is provided in edit
  src/managers/GuildScheduledEventManager.js
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

revert: remove deleted getter & setter
  src/client/actions/GuildScheduledEventDelete.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: fix the example for setLocation
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

refactor: rename start and end time property
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(GuildScheduledEvent): use ISO strings in the examples
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

types: improve typings for guild scheduled event
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add reason field to create and edit options
  src/managers/GuildScheduledEventManager.js
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(GuildScheduledEvent): do not clone in delete
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

refactor: apply suggestions from code review
  src/errors/Messages.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
