Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: fix husky install
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

chore: fix husky install (#5671)
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

I think this is it. Kindly review.
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: lint-staged for typescript files
  package.json
Due: none

feat: InteractionDeferOptions (#5641)
  src/structures/CommandInteraction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: add new typedef to properly doc InteractionReplyOptions (#5632)
  src/structures/CommandInteraction.js
  src/structures/Message.js
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

fix(Message): bug in #suppressEmbeds due to #5612 (#5644)
  src/structures/Message.js
Due: eslint --fix

Add Fuchsia to ColorResolvable typedef
  src/util/Util.js
Due: eslint --fix

Package
  package-lock.json
  package.json
Due: none

fix(APIMessage): document Interaction as valid MessageTarget
  src/structures/APIMessage.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ApplicationCommandOptionData): options property should be itself
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

use `this` instead of `ApplicationCommandOptionData`
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update typings/index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update src/rest/RequestHandler.js
  src/rest/RequestHandler.js
Due: eslint --fix

docs: make explanation more specific
  src/util/Constants.js
Due: eslint --fix

fix(APIMessage): document Interaction as valid MessageTarget (#5678)
  src/structures/APIMessage.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(PermissionOverwriteOptions): remove unused interface (#5651)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Guild): add the new nsfw_level property (#5660)
  src/structures/Guild.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(ColorResolvable): Add Fuchsia to ColorResolvable typedef (#5676)
  src/util/Util.js
Due: eslint --fix

fix(ApplicationCommandOptionData): options property should be itself (#5679)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(DJSError): remove redundant check for captureStackTrace
  src/errors/DJSError.js
Due: eslint --fix

Probleme resolved
  src/structures/Widget.js
Due: eslint --fix

String to Snowflake
  src/structures/Widget.js
Due: eslint --fix

String to Snowflake
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(CommandInteraction): channel type should be TextChannel
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

add other text channels types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildEmojiRoleManager): bug in #remove (#5666)
  src/managers/GuildEmojiRoleManager.js
Due: eslint --fix

feat: use PermissionOverwriteOptions over PermissionOverwriteOption
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: fix InteractionDeferOptions typedef
  src/structures/CommandInteraction.js
Due: eslint --fix

fix: there were more than one conflicts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildApplicationCommandManager): add 'addPermissions' method
  src/managers/GuildApplicationCommandManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ApplicationCommand): add method 'removePermissions'
  src/managers/GuildApplicationCommandManager.js
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ApplicationCommand): add addPermissions & removePermissions methods
  src/managers/GuildApplicationCommandManager.js
Due: eslint --fix

docs: fix InteractionDeferOptions typedef (#5694)
  src/structures/CommandInteraction.js
Due: eslint --fix

fix(Types): make event listeners accept async callbacks (#5602)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
