Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: sticker tags are always string[]
  src/structures/Sticker.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(MessageOptions): add support for fail_if_not_exists in replies
  src/structures/APIMessage.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update src/structures/Sticker.js
  src/structures/Sticker.js
Due: eslint --fix

fix(GuildBan): remove reason & user from constructor & if data check
  src/structures/GuildBan.js
Due: eslint --fix

docs(GuildBan): remove readonly from guild, user & reason
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildBan): add back jsdoc for user & reason fields
  src/structures/GuildBan.js
Due: eslint --fix

fix(GuildBanRemove): pass data directly
  src/client/actions/GuildBanRemove.js
Due: eslint --fix

fix(GuildBanAdd): pass data directly
  src/client/actions/GuildBanAdd.js
Due: eslint --fix

fix(GuildBan): remove if user in data check since it will always be
  src/structures/GuildBan.js
Due: eslint --fix

style(GuildBan): replace `typeof` with `in this`
  src/structures/GuildBan.js
Due: eslint --fix

fix(GuildBan): revert the value of reason in this
  src/structures/GuildBan.js
Due: eslint --fix

fix: better naming
  src/structures/APIMessage.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ApiMessage): type safe options.errorOnInvalidReply
  src/structures/APIMessage.js
Due: eslint --fix

fix partial getter
  src/structures/ClientApplication.js
Due: eslint --fix

docs(GuildBanManager): fix fetch options
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings(PermissionOverwrites): use correct parameter type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings(MessageReaction#message): allow message to be partial
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Fixed misspelled key name when destroying ws.
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

refactor(ApiMessage): add ReplyOptions in place of replyTo
  src/structures/APIMessage.js
  src/structures/Message.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Message): pass failIfNotExists properly
  src/structures/Message.js
Due: eslint --fix

refactor(APIRouter)!: throw when applying on non-http verb
  src/errors/Messages.js
  src/rest/APIRouter.js
Due: eslint --fix

style(GuildBanManager): clean up resolve method
  src/managers/GuildBanManager.js
Due: eslint --fix

style(GuildBanManager): use reduce to create the ban collection
  src/managers/GuildBanManager.js
Due: eslint --fix

fix(GuildBanManager): resolve to member not GuildBan
  src/managers/GuildBanManager.js
Due: eslint --fix

style(GuildBanManager): Use ( instead of [
  src/managers/GuildBanManager.js
Due: eslint --fix

fix(GuildBanManager): remove options mutating
  src/managers/GuildBanManager.js
Due: eslint --fix

style(GuildBanManager): use ( instead of [
  src/managers/GuildBanManager.js
Due: eslint --fix

docs(GuildBanManager): document fetching all members without caching
  src/managers/GuildBanManager.js
Due: eslint --fix

docs(FetchBansOptions): make cache not optional
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(GuildBanManager): rename ban methods& add them to MemberManager
  src/managers/GuildBanManager.js
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
Due: eslint --fix

types(GuildBanManager): rename ban methods & add them to MemberManager
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(WebSocketShard): key name in WebSocketShard#_send. (#5304)
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

feat(Client): add InviteGenerationOptions#additionalScopes (#5215)
  src/client/Client.js
  src/errors/Messages.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Voice*): Only skip undocumented byte if present
  src/client/voice/receiver/PacketHandler.js
Due: eslint --fix

fix: remove unnecssary variable creation
  src/structures/Message.js
Due: eslint --fix

fix(GuildMember): correctly check for premium_since
  src/structures/GuildMember.js
Due: eslint --fix

fix linting errors
  src/client/voice/receiver/PacketHandler.js
Due: eslint --fix

refactor: switch api and gateway to V8 (#4879)
  src/client/Client.js
  src/client/actions/ChannelCreate.js
  src/client/actions/MessageCreate.js
  src/client/actions/PresenceUpdate.js
  src/client/websocket/WebSocketShard.js
  src/errors/Messages.js
  src/managers/GuildManager.js
  src/managers/RoleManager.js
  src/rest/RequestHandler.js
  src/structures/ClientPresence.js
  src/structures/ClientUser.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildChannel.js
  src/structures/PermissionOverwrites.js
  src/structures/Role.js
  src/structures/User.js
  src/util/BitField.js
  src/util/Constants.js
  src/util/MessageFlags.js
  src/util/Permissions.js
  src/util/Speaking.js
  src/util/SystemChannelFlags.js
  src/util/UserFlags.js
  test/createGuild.js
  test/random.js
  test/sendtest.js
  test/shard.js
  test/tester1000.js
  test/voice.js
  test/webhooktest.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update DJS Guide FAQ link
  docs/general/faq.md
Due: none

fix: suggested changes
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
