Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

revert(BaseGuildVoiceChannel): revert changes
  src/structures/BaseGuildVoiceChannel.js
Due: eslint --fix

refactor: merge SweptCollection into LimitedCollection
  src/index.js
  src/managers/CachedManager.js
  src/util/LimitedCollection.js
  src/util/Options.js
  src/util/SweptCollection.js
  test/tester2000.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: supply sweepInterval
  src/util/Options.js
Due: eslint --fix

docs: swept -> limited
  src/client/Client.js
  src/util/LimitedCollection.js
Due: eslint --fix

types(ApplicationCommandData): clean up type definitions a bit
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ApplicationCommandData): fix issue where could be used with and
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: merge collections with keeping entries at max (#6242)
  src/client/Client.js
  src/index.js
  src/managers/CachedManager.js
  src/util/LimitedCollection.js
  src/util/Options.js
  src/util/SweptCollection.js
  test/tester2000.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(VoiceState): Change kick to disconnect (#6251)
  src/structures/GuildMember.js
  src/structures/VoiceState.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: fixes from pr comments
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: bigint not BigInt
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: use api-types for stricter typings
  typings/index.d.ts
  typings/rawDataTypes.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: use api-types for stricter typings (#6230)
  typings/index.d.ts
  typings/rawDataTypes.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Util): fix collection import
  src/util/Util.js
Due: eslint --fix

docs(InteractionResponses): Correct
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

chore(Deps): update `discord-api-type` Bite me, Crawl.
  package-lock.json
  package.json
Due: none

chore(Deps): update `discord-api-type` (#6258)
  package-lock.json
  package.json
Due: none

fix(Util): fix collection import (#6256)
  src/util/Util.js
Due: eslint --fix

chore(Deps): update `@discordjs/builders`
  package-lock.json
  package.json
  src/util/Formatters.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(Deps): update `@discordjs/builders` (#6259)
  package-lock.json
  package.json
  src/util/Formatters.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Type): applicationCommandData type over raw type
  package-lock.json
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: add deploy script
  README.md
Due: none

docs(InteractionResponses): Correct `@returns` on responses (#6257)
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

docs: apply code suggestions
  README.md
Due: none

docs: change tabs with spaces again
  README.md
Due: none

fix(GuildChannel): revert to ignoreAdmin as true
  src/structures/GuildChannel.js
Due: eslint --fix

docs: improve explanations
  README.md
Due: none

fix(ChannelUpdate): restore accidentally removed line
  src/client/actions/ChannelUpdate.js
Due: eslint --fix

fix(ChannelUpdate): restore accidentally removed line (#6263)
  src/client/actions/ChannelUpdate.js
Due: eslint --fix

refactor(GuildChannel): use filter method for #members (#6253)
  src/structures/GuildChannel.js
Due: eslint --fix

docs: change example in readme to slash command (#6250)
  README.md
Due: none

refactor(*): use async functions
  src/client/Client.js
  src/managers/GuildEmojiManager.js
  src/managers/GuildManager.js
  src/managers/GuildMemberManager.js
  src/managers/GuildStickerManager.js
  src/managers/MessageManager.js
  src/managers/PermissionOverwriteManager.js
  src/managers/ReactionManager.js
  src/managers/ReactionUserManager.js
  src/managers/RoleManager.js
  src/managers/ThreadMemberManager.js
  src/sharding/Shard.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildChannel.js
  src/structures/GuildEmoji.js
  src/structures/GuildPreview.js
  src/structures/GuildTemplate.js
  src/structures/Integration.js
  src/structures/Invite.js
  src/structures/Message.js
  src/structures/Role.js
  src/structures/TextChannel.js
  src/structures/ThreadChannel.js
  src/structures/ThreadMember.js
  src/structures/Webhook.js
  src/structures/interfaces/Application.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Util.js
Due: eslint --fix

refactor(GuildAuditLogs): remove assignment and return
  src/structures/GuildAuditLogs.js
Due: eslint --fix

refactor: return before creating a promise
  src/managers/GuildManager.js
  src/structures/GuildTemplate.js
Due: eslint --fix

revert(GuildAuditLogs): add back promise assignment
  src/structures/GuildAuditLogs.js
Due: eslint --fix

refactor: use tenary
  src/managers/GuildMemberManager.js
Due: eslint --fix

refactor(*): use async functions (#6210)
  src/client/Client.js
  src/managers/GuildEmojiManager.js
  src/managers/GuildManager.js
  src/managers/GuildMemberManager.js
  src/managers/GuildStickerManager.js
  src/managers/MessageManager.js
  src/managers/PermissionOverwriteManager.js
  src/managers/ReactionManager.js
  src/managers/ReactionUserManager.js
  src/managers/RoleManager.js
  src/managers/ThreadMemberManager.js
  src/sharding/Shard.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildChannel.js
  src/structures/GuildEmoji.js
  src/structures/GuildPreview.js
  src/structures/GuildTemplate.js
  src/structures/Integration.js
  src/structures/Invite.js
  src/structures/Message.js
  src/structures/Role.js
  src/structures/TextChannel.js
  src/structures/ThreadChannel.js
  src/structures/ThreadMember.js
  src/structures/Webhook.js
  src/structures/interfaces/Application.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Util.js
Due: eslint --fix

refactor(TextChannel): new base class
  src/structures/BaseGuildTextChannel.js
  src/structures/BaseGuildVoiceChannel.js
  src/structures/GuildChannel.js
  src/structures/NewsChannel.js
  src/structures/TextChannel.js
Due: eslint --fix

types: types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: apply suggestions from code review
  src/structures/BaseGuildTextChannel.js
  src/structures/GuildChannel.js
  src/structures/StageChannel.js
  src/structures/TextChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(BaseGuildTextChannel): use async
  src/structures/BaseGuildTextChannel.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
