Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(Deps): update `discord-api-types` to `0.21.0`
  package-lock.json
  package.json
Due: none

chore(Deps): update `discord-api-types` to `0.21.0` (#6237)
  package-lock.json
  package.json
Due: none

Update Interaction.js
  src/structures/Interaction.js
Due: eslint --fix

docs: update readme node version requirement
  README.md
Due: none

Fixes Collection import
  src/util/Collection.js
Due: eslint --fix

refactor: address pr comments
  src/managers/GuildMemberManager.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Message): use rest syntax for startThread options
  src/structures/Message.js
Due: eslint --fix

refactor(Message): accept a single object instead of 3 arguments
  src/managers/ThreadManager.js
  src/structures/Message.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Message): apply remaining suggestions from review
  src/structures/Message.js
Due: eslint --fix

fix: array/keyArray removed
  src/structures/GuildChannel.js
  src/structures/Role.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Util.js
Due: eslint --fix

types(ApplicationCommandData): align command data more with discord API
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: remove mutation and check against false
  src/managers/GuildMemberManager.js
Due: eslint --fix

docs(GuildMember): Move line up and favour "disconnect"
  src/structures/GuildMember.js
Due: eslint --fix

refactor: pr comments
  src/managers/GuildMemberManager.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: change example in readme to slash command
  README.md
Due: none

docs: use space instead of tab
  README.md
Due: none

docs: update readme node version requirement (#6241)
  README.md
Due: none

fix: array/keyArray removed (#6245)
  src/structures/GuildChannel.js
  src/structures/Role.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Util.js
Due: eslint --fix

docs(Widget): Add the typedef WidgetChannel (#6182)
  src/structures/Widget.js
Due: eslint --fix

docs: Refactor a few `@returns` descriptions (#6228)
  src/structures/GuildEmoji.js
  src/structures/Sticker.js
  src/structures/TextChannel.js
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

refactor: Strengthen channel typings in appropriate places (#6232)
  src/managers/GuildChannelManager.js
  src/structures/CategoryChannel.js
  src/structures/Guild.js
  src/structures/GuildChannel.js
  src/structures/GuildMember.js
  src/structures/Role.js
  src/structures/VoiceState.js
  src/structures/Webhook.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update deps
  package-lock.json
  package.json
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(VoiceState): Change kick to disconnect
  src/structures/VoiceState.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: better type checks
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: even better checks
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: one more better type
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(GuildMember): Fix typo
  src/structures/GuildMember.js
Due: eslint --fix

refactor: use guild-wide route for fetching active threads (#6193)
  src/managers/GuildChannelManager.js
  src/managers/ThreadManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: move member adding to manager (#6231)
  src/managers/GuildMemberManager.js
  src/structures/Guild.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Message): accept a single object instead of 3 arguments (#6244)
  src/managers/ThreadManager.js
  src/structures/Message.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ButtonMessageOptions): make button/link button typings more specific (#6212)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ThreadChannel): add fetchOwner() method (#6207)
  src/structures/Guild.js
  src/structures/ThreadChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MessageEmbed): don’t normalize the fields twice
  src/structures/MessageEmbed.js
Due: eslint --fix

feat(MessageEmbed): add setFields method (#6186)
  src/structures/MessageEmbed.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(GuildChannel): #members filter the collection
  src/structures/GuildChannel.js
Due: eslint --fix

refactor(BaseGuildVoiceChannel): #members filter the collection
  src/structures/BaseGuildVoiceChannel.js
Due: eslint --fix

refactor(BaseGuildVoiceChannel): useless import
  src/structures/BaseGuildVoiceChannel.js
Due: eslint --fix

refactor(GuildChannel): useless import
  src/structures/GuildChannel.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
