Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

fix(typings): sweepStageInstances typo (#7521)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(test): `MessageActionRow` to `ActionRow` (#7523)
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(anychannel): add PartialGroupDMChannel (#7472)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(discord.js): partial transition to undici (#7482)
  packages/discord.js/package.json
  packages/discord.js/src/util/DataResolver.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/test/sendtest.js
  packages/discord.js/test/webhooktest.js
  yarn.lock
Due: eslint --fix

Update Guild.js
  packages/discord.js/src/structures/Guild.js
Due: eslint --fix

Delete line my added
  packages/discord.js/src/structures/Role.js
Due: eslint --fix

Fix syntax
  packages/discord.js/src/structures/Guild.js
Due: eslint --fix

refactor(components): add build method in components
  packages/builders/src/components/Components.ts
  packages/builders/src/components/button/UnsafeButton.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/discord.js/src/structures/MessageComponentInteraction.js
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: fix filter logic
  packages/builders/src/components/Components.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix component *Data types
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Apply suggestions from code review
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Apply suggestions from code review
  packages/builders/src/components/button/UnsafeButton.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(guild): fix typo accessing user instead of users
  packages/discord.js/src/structures/Guild.js
Due: eslint --fix

Update BaseGuildVoiceChannel.js
  packages/discord.js/src/structures/BaseGuildVoiceChannel.js
Due: eslint --fix

Changes to suggestions
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update ThreadChannel.js
  packages/discord.js/src/structures/ThreadChannel.js
Due: eslint --fix

Update CategoryChannelChildManager.js
  packages/discord.js/src/managers/CategoryChannelChildManager.js
Due: eslint --fix

Update GuildChannelManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
Due: eslint --fix

Update Role.js
  packages/discord.js/src/structures/Role.js
Due: eslint --fix

Update BaseGuildTextChannel.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
Due: eslint --fix

fix(guild): fix typo accessing user instead of users (#7537)
  packages/discord.js/src/structures/Guild.js
Due: eslint --fix

fix(SelectMenu): set `placeholder` max to 150
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/src/components/Assertions.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: use discord-api-types `Locale`
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: update tests
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: initial fix
  packages/discord.js/src/managers/UserManager.js
  packages/discord.js/src/structures/DMChannel.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: `@readonly`
  packages/discord.js/src/structures/DMChannel.js
Due: eslint --fix

types: amend tests
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: `recipient` variable
  packages/discord.js/src/structures/DMChannel.js
Due: eslint --fix

feat: export `Locale` in index.js
  packages/discord.js/src/index.js
Due: eslint --fix

fix: export `Locale` in index.d.ts
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: fix link
  packages/builders/README.md
Due: none

refactor: require formatter directly
  packages/discord.js/src/structures/DMChannel.js
Due: eslint --fix

fix: only check instanceof Component once
  packages/builders/src/components/Components.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Allow Date to be used in `MessageEmbed.timestamp`
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(scheduledevents): add image option v13
  src/managers/GuildScheduledEventManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(RoleManager): Fix `delete` example
  src/managers/RoleManager.js
Due: eslint --fix

docs(GuildMemberManager): Fix incorrect wording
  src/managers/GuildMemberManager.js
Due: eslint --fix
