Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

chore: add TODO comment
  src/structures/Invite.js
Due: eslint --fix

Change master to main for collection link
  src/util/Collection.js
Due: eslint --fix

feat: add basic stuff
  src/structures/GuildMember.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: move `GuildMemberEditData` to the manager
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
Due: eslint --fix

feat: add PATCH
  src/managers/GuildMemberManager.js
Due: eslint --fix

feat: add method
  src/structures/GuildMember.js
Due: eslint --fix

fix: change property
  src/structures/GuildMember.js
Due: eslint --fix

fix: shenanigans
  src/managers/GuildMemberManager.js
Due: eslint --fix

fix: handle `null`
  src/managers/GuildMemberManager.js
Due: eslint --fix

feat: add permission flag
  src/util/Permissions.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add `timeout()`
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: display correctly
  src/structures/GuildMember.js
Due: eslint --fix

types: add in `communicationDisabledUntil` for edit
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: sad can't do this
  src/structures/GuildMember.js
Due: eslint --fix

fix: check in equals
  src/structures/GuildMember.js
Due: eslint --fix

feat(GuildMember): add communication time outs
  src/structures/GuildMember.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: allow seconds
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
Due: eslint --fix

fix(GuildMember): correctly assert to `null`
  src/structures/GuildMember.js
Due: eslint --fix

docs: also works with `Date`s
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
Due: eslint --fix

types: use `Date`
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: just oxford things
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
Due: eslint --fix

types: insert _
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Guild): remove duplicate methods (#7100)
  src/structures/AnonymousGuild.js
  src/structures/Guild.js
Due: eslint --fix

types(MessageComponentInteraction): Ensure `component` is not `null` (#7099)
  typings/index.d.ts
  typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: shorten second conversion
  src/managers/GuildMemberManager.js
Due: eslint --fix

docs: support ISO 8601 too
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: use &&
  src/structures/GuildMember.js
Due: eslint --fix

Change default
  src/managers/GuildMemberRoleManager.js
Due: eslint --fix

docs: deprecate `.deleted` getters
  src/structures/Channel.js
  src/structures/Emoji.js
  src/structures/Guild.js
  src/structures/GuildMember.js
  src/structures/Message.js
  src/structures/Role.js
  src/structures/StageInstance.js
  src/structures/Sticker.js
  typings/index.d.ts
  typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: specify `DateResolvable`
  src/managers/GuildMemberManager.js
Due: eslint --fix

refactor: use `Date.parse()`
  src/structures/GuildMember.js
Due: eslint --fix

refactor: remove`setTime()`
  src/managers/GuildMemberManager.js
Due: eslint --fix

chore: prefer milliseconds
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
Due: eslint --fix

refactor: only accept milliseconds in the helper
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
Due: eslint --fix

types: forgot this
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: Correct timeout wording
  src/structures/GuildMember.js
Due: eslint --fix

fix(GuildAuditLog): Remove `Promise`s in constructor (#7089)
  src/structures/GuildAuditLogs.js
  src/structures/Invite.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: use mapped enums instead of overloads (#7088)
  typings/index.d.ts
  typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(RoleManager): Move some methods over from Role (#7096)
  src/managers/RoleManager.js
  src/structures/Role.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: add runtime deprecation warnings
  src/structures/Channel.js
  src/structures/Emoji.js
  src/structures/Guild.js
  src/structures/GuildMember.js
  src/structures/Message.js
  src/structures/Role.js
  src/structures/StageInstance.js
  src/structures/Sticker.js
Due: eslint --fix
