Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: grammar fix (#6294)
  src/managers/GuildStickerManager.js
Due: eslint --fix

types: make MessageTarget extend on TextBasedChannels
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: make MessageTarget extend on TextBasedChannels (#6296)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Message): make #channel and #guild getters (#6271)
  src/managers/MessageManager.js
  src/managers/ReactionManager.js
  src/managers/ReactionUserManager.js
  src/structures/Message.js
  src/structures/MessageCollector.js
  src/structures/MessageMentions.js
  src/structures/MessagePayload.js
  src/structures/MessageReaction.js
  src/structures/ReactionCollector.js
  test/random.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(MessageButtonOptions): Clean up and export some button option type definitions (#6291)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Channels): fix incorrectly shared properties (#6262)
  src/structures/BaseGuildTextChannel.js
  src/structures/BaseGuildVoiceChannel.js
  src/structures/GuildChannel.js
  src/structures/NewsChannel.js
  src/structures/StageChannel.js
  src/structures/StoreChannel.js
  src/structures/TextChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove support for overriding caches that break functionality (#6282)
  src/managers/ChannelManager.js
  src/managers/GuildChannelManager.js
  src/managers/GuildManager.js
  src/managers/PermissionOverwriteManager.js
  src/managers/RoleManager.js
  src/util/Options.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Channel): add isVoice()
  src/structures/Channel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: general cleanup and improvements
  src/client/Client.js
  src/client/websocket/WebSocketManager.js
  src/client/websocket/handlers/GUILD_MEMBERS_CHUNK.js
  src/managers/ApplicationCommandPermissionsManager.js
  src/managers/GuildBanManager.js
  src/managers/GuildManager.js
  src/managers/GuildMemberManager.js
  src/managers/GuildStickerManager.js
  src/managers/MessageManager.js
  src/managers/ThreadManager.js
  src/sharding/ShardClientUtil.js
  src/sharding/ShardingManager.js
  src/structures/BaseMessageComponent.js
  src/structures/ClientUser.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildBan.js
  src/structures/InteractionCollector.js
  src/structures/Invite.js
  src/structures/Message.js
  src/structures/MessageEmbed.js
  src/structures/MessageMentions.js
  src/structures/MessagePayload.js
  src/structures/MessageReaction.js
  src/structures/PermissionOverwrites.js
  src/structures/Presence.js
  src/structures/Team.js
  src/structures/ThreadChannel.js
  src/structures/VoiceState.js
  src/structures/interfaces/Application.js
  src/util/ApplicationFlags.js
  src/util/BitField.js
  src/util/Constants.js
  src/util/LimitedCollection.js
  src/util/Permissions.js
  src/util/SnowflakeUtil.js
  src/util/SystemChannelFlags.js
  typings/enums.d.ts
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(BaseGuildTextChannel): call patch
  src/structures/BaseGuildTextChannel.js
Due: eslint --fix

fix(BaseGuildTextChannel): call patch (#6298)
  src/structures/BaseGuildTextChannel.js
Due: eslint --fix

revert: add back Snowflake|number type union
  src/managers/GuildManager.js
Due: eslint --fix

revert: removal of hasParams
  src/util/BitField.js
Due: eslint --fix

Update src/structures/InteractionCollector.js
  src/structures/InteractionCollector.js
Due: eslint --fix

fix: grammar fixes from code review
  src/sharding/ShardingManager.js
  src/structures/InteractionCollector.js
  src/structures/MessageEmbed.js
  src/structures/PermissionOverwrites.js
  src/util/Constants.js
Due: eslint --fix

feat(Threads): max autoArchiveDuration
  src/managers/ThreadManager.js
  src/structures/Message.js
  src/structures/ThreadChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: apply suggestions from code review
  src/managers/GuildBanManager.js
  src/managers/GuildMemberManager.js
  src/sharding/ShardClientUtil.js
  src/util/LimitedCollection.js
Due: eslint --fix

types: alphabetical order
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Typo in docs for ClientOptions fixed
  src/util/Options.js
Due: eslint --fix

fix: direct assignment
  src/managers/ThreadManager.js
  src/structures/Message.js
  src/structures/ThreadChannel.js
Due: eslint --fix

fix: apply suggestions from code review
  src/managers/MessageManager.js
  src/sharding/ShardClientUtil.js
  src/sharding/ShardingManager.js
  src/util/LimitedCollection.js
Due: eslint --fix

refactor(InteractionCollector): only keep Ids of objects (#6084)
  src/structures/InteractionCollector.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: typo in ClientOptions (#6305)
  src/util/Options.js
Due: eslint --fix

feat(Channel): add isVoice() (#6297)
  src/structures/Channel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Interaction): rename defer to deferReply
  src/errors/Messages.js
  src/structures/CommandInteraction.js
  src/structures/MessageComponentInteraction.js
  src/structures/interfaces/InteractionResponses.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Interaction): rename defer to deferReply (#6306)
  src/errors/Messages.js
  src/structures/CommandInteraction.js
  src/structures/MessageComponentInteraction.js
  src/structures/interfaces/InteractionResponses.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: use features & remove duplicates
  src/managers/ThreadManager.js
  src/structures/Message.js
  src/structures/ThreadChannel.js
Due: eslint --fix

fix: access guild
  src/structures/ThreadChannel.js
Due: eslint --fix

fix: apply suggestions from code reviews
  src/managers/GuildBanManager.js
  src/managers/GuildMemberManager.js
  src/structures/GuildBan.js
Due: eslint --fix

docs: general cleanup and improvements (#6299)
  src/client/Client.js
  src/client/websocket/WebSocketManager.js
  src/client/websocket/handlers/GUILD_MEMBERS_CHUNK.js
  src/managers/ApplicationCommandPermissionsManager.js
  src/managers/GuildBanManager.js
  src/managers/GuildManager.js
  src/managers/GuildMemberManager.js
  src/managers/GuildStickerManager.js
  src/managers/MessageManager.js
  src/managers/ThreadManager.js
  src/sharding/ShardClientUtil.js
  src/sharding/ShardingManager.js
  src/structures/BaseMessageComponent.js
  src/structures/ClientUser.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildBan.js
  src/structures/InteractionCollector.js
  src/structures/Invite.js
  src/structures/Message.js
  src/structures/MessageEmbed.js
  src/structures/MessageMentions.js
  src/structures/MessagePayload.js
  src/structures/MessageReaction.js
  src/structures/PermissionOverwrites.js
  src/structures/Presence.js
  src/structures/Team.js
  src/structures/ThreadChannel.js
  src/structures/VoiceState.js
  src/structures/interfaces/Application.js
  src/util/ApplicationFlags.js
  src/util/BitField.js
  src/util/Constants.js
  src/util/LimitedCollection.js
  src/util/Permissions.js
  src/util/SnowflakeUtil.js
  src/util/SystemChannelFlags.js
  typings/enums.d.ts
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Collector): return a boolean on checkEnd (#6289)
  src/structures/interfaces/Collector.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: avoid options mutation
  src/structures/ThreadChannel.js
Due: eslint --fix

fix: remove nullish coalescing
  src/structures/ThreadChannel.js
Due: eslint --fix

refactor(Interaction): rename deferred to deferredReply
  src/structures/CommandInteraction.js
  src/structures/MessageComponentInteraction.js
  src/structures/interfaces/InteractionResponses.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: deps
  README.md
  package-lock.json
  package.json
Due: none

docs: grammar
  src/rest/HTTPError.js
Due: eslint --fix

docs: grammar fix
  src/util/DataResolver.js
Due: eslint --fix

fix(Message): fix thread getter
  src/structures/Message.js
Due: eslint --fix

fix(Message): fix thread getter (#6309)
  src/structures/Message.js
Due: eslint --fix

docs: grammar fixes (#6308)
  src/rest/HTTPError.js
  src/util/DataResolver.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
