Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: better description
  packages/discord.js/src/managers/ApplicationCommandPermissionsManager.js
Due: eslint --fix

revert: docs: array properties
  packages/discord.js/src/managers/ApplicationCommandPermissionsManager.js
Due: eslint --fix

docs: remove needs token
  packages/discord.js/src/managers/ApplicationCommandPermissionsManager.js
Due: eslint --fix

feat(Client): gateway event for permissions v2
  packages/discord.js/src/client/actions/ActionsManager.js
  packages/discord.js/src/client/actions/ApplicationCommandPermissionsUpdate.js
  packages/discord.js/src/client/websocket/handlers/APPLICATION_COMMAND_PERMISSIONS_UPDATE.js
  packages/discord.js/src/client/websocket/handlers/index.js
  packages/discord.js/src/util/Events.js
Due: eslint --fix

docs: suggested changes
  packages/discord.js/src/managers/ApplicationCommandPermissionsManager.js
Due: eslint --fix

feat(AuditLog): application command perms v2
  packages/discord.js/src/structures/GuildAuditLogs.js
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
Due: eslint --fix

test: fix tests
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ApplicationCommand): perms v2
  packages/discord.js/src/client/actions/ApplicationCommandPermissionsUpdate.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: fix capitalization and typos
  packages/discord.js/src/client/actions/ApplicationCommandPermissionsUpdate.js
  packages/discord.js/src/managers/ApplicationCommandPermissionsManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
Due: eslint --fix

fix(ApplicationCommand): default dmPermission to null
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: run generator script
  packages/discord.js/src/client/websocket/handlers/index.js
Due: eslint --fix

chore(Events): sort
  packages/discord.js/src/util/Events.js
Due: eslint --fix

docs(VoiceChannel): annotate that it is implementing TextBasedChannel
  packages/discord.js/src/structures/VoiceChannel.js
Due: eslint --fix

types(AttachmentBuilder): remove name parameter from constructor
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Attachment): remove constructor doc
  packages/discord.js/src/structures/Attachment.js
Due: eslint --fix

refact: Sticker's `tags` property
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: use lazy loading
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
Due: eslint --fix

feat: add missing fields
  src/structures/BaseGuildTextChannel.js
  src/structures/DMChannel.js
  src/structures/ThreadChannel.js
  src/structures/VoiceChannel.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildMemberManager): add `GuildMemberManager#fetchMe()` (#7526)
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/ThreadMemberManager.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Collector): add `ignore` event (#7644)
  packages/discord.js/src/structures/interfaces/Collector.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(VoiceChannel): annotate that it is implementing TextBasedChannel (#8007)
  packages/discord.js/src/structures/VoiceChannel.js
Due: eslint --fix

feat: backport text-in-voice support to v13 (#7999)
  src/client/actions/WebhooksUpdate.js
  src/structures/BaseGuildTextChannel.js
  src/structures/DMChannel.js
  src/structures/Message.js
  src/structures/MessagePayload.js
  src/structures/ThreadChannel.js
  src/structures/VoiceChannel.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Constants.js
  typings/index.d.ts
  typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: add static method `from` in builders (#7990)
  packages/discord.js/src/structures/ActionRowBuilder.js
  packages/discord.js/src/structures/SelectMenuOptionBuilder.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: use lazy
  packages/discord.js/src/structures/ModalSubmitInteraction.js
Due: eslint --fix

refactor: always return `Message` instances in interactions (#7917)
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: deps
  package-lock.json
  package.json
Due: none

fix(guildchannelmanager): wrong parameter in _sortedChannels call
  src/managers/GuildChannelManager.js
Due: eslint --fix

fix(guildchannelmanager): wrong parameter in _sortedChannels call (#8011)
  src/managers/GuildChannelManager.js
Due: eslint --fix

chore(release): version
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

refactor: remove trivial channel type guards
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix some attachment related typings
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: attachmentbuilder constructor type
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: revert files type
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add return type for tojson
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix test
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(modal): fix showModal typings
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: change as suggested
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(AttachmentBuilder): remove name parameter from constructor (#8008)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix some attachment related typings (#8013)
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
