Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ReactionCollector): create event, close #2844
  src/structures/ReactionCollector.js
  test/reactionCollectorCreated.test.js
Due: eslint --fix

Revert "fix(Typing): setSpeaking public"
  src/client/voice/VoiceConnection.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Guild): name acronym (#4104)
  src/structures/Guild.js
Due: eslint --fix

fix(Webpack): add Buffer polyfill in browser (#4102)
  webpack.config.js
Due: eslint --fix

feat: withCounts param
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Typing): dmChannel bulkDelete
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(Typing): one letter type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove or null
  src/structures/Guild.js
Due: eslint --fix

typings: either undefined or number
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: update jsdoc
  src/structures/Guild.js
Due: eslint --fix

feat: deprecate GuildEmbed methods and properties in favour of GuildWidget
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Guild): setEmbed first parameter should be GuildWidgetData
  src/structures/Guild.js
Due: eslint --fix

fix(Typing): setSpeaking public (#4109)
  src/client/voice/VoiceConnection.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Clarify vanity URL documentation
  src/structures/Guild.js
Due: eslint --fix

docs: warn contributors about commitlint
  .github/CONTRIBUTING.md
Due: none

chore(tooling): include mention of commit convention (#4124)
  .github/CONTRIBUTING.md
Due: none

typings(User): mark `locale` and `flags` as optional
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: throw vanity url error instead of returning rejected promise
  src/structures/Guild.js
Due: eslint --fix

typings(User): mark `locale` and `flags` as optional (#4127)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Typing): dmChannel bulkDelete (#4115)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MessageEmbed): explicitly mark `proxyIconURL` as undefined (#4097)
  src/structures/MessageEmbed.js
Due: eslint --fix

feat: remove param for consistency
  src/structures/Guild.js
Due: eslint --fix

typings: remove withCounts param
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildMembersChunk): expose chunk_index, chunk_count and nonce
  src/client/websocket/handlers/GUILD_MEMBERS_CHUNK.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildMemberManager): use nonce and chunk count
  src/managers/GuildMemberManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildMemberManager): fixed nonce value when none provided
  src/managers/GuildMemberManager.js
Due: eslint --fix

fix(GuildMemberManager): do not ignore last chunk in _fetchMany
  src/managers/GuildMemberManager.js
Due: eslint --fix

feat(GuildMemberManager): refresh timeout in any case
  src/managers/GuildMemberManager.js
Due: eslint --fix

feat(Guild#fetch): withCount param (#4111)
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(GuildMemberManager): object to Object (MDN linking)
  src/client/websocket/handlers/GUILD_MEMBERS_CHUNK.js
Due: eslint --fix

docs(ReactionCollector): update remove event
  src/structures/ReactionCollector.js
Due: eslint --fix

docs(ReactionCollector): fix dispose event
  src/structures/ReactionCollector.js
Due: eslint --fix

typings: User#fetchFlags typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Correctly set the Websocket Voice ssrcMap format
  src/client/voice/networking/VoiceWebSocket.js
  src/client/voice/receiver/PacketHandler.js
Due: eslint --fix

feat: roles on prune
  src/managers/GuildMemberManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: allow roles to be a role resolvable
  src/managers/GuildMemberManager.js
Due: eslint --fix

fix(Voice): correctly set speaking data in the voice ssrcMap
  src/client/voice/networking/VoiceWebSocket.js
  src/client/voice/receiver/PacketHandler.js
Due: eslint --fix

typings: roles option as RoleResolvable
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: support query as URLSearchParams
  src/rest/APIRequest.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
