Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix `ApplicationCommandPermissionsUpdate` event typings (#8071)
  packages/discord.js/src/client/actions/ApplicationCommandPermissionsUpdate.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(AutocompleteInteraction): change useless log in responds example (#8077)
  packages/discord.js/src/structures/AutocompleteInteraction.js
Due: eslint --fix

docs(ThreadMemberManager): Require `member` in `FetchThreadMemberOptions` (#8079)
  packages/discord.js/src/managers/ThreadMemberManager.js
Due: eslint --fix

docs: update outdated examples (#8081)
  packages/discord.js/src/managers/GuildStickerManager.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

types(GuildChannel): fix type of `.isText()` method (#8061)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(AuditLog): default changes to empty array (#8076)
  src/structures/GuildAuditLogs.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(AutocompleteOption): backport fix and improve types (#8078)
  src/structures/CommandInteractionOptionResolver.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: destroy options during cleanup (#8082)
  src/client/websocket/WebSocketShard.js
  src/util/Options.js
Due: eslint --fix

refactor(util): make utility functions top level (#8052)
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/client/actions/ChannelUpdate.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/ChannelManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/sharding/ShardClientUtil.js
  packages/discord.js/src/sharding/ShardingManager.js
  packages/discord.js/src/structures/ActionRow.js
  packages/discord.js/src/structures/ActionRowBuilder.js
  packages/discord.js/src/structures/Attachment.js
  packages/discord.js/src/structures/AttachmentBuilder.js
  packages/discord.js/src/structures/Base.js
  packages/discord.js/src/structures/ButtonBuilder.js
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/structures/EmbedBuilder.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildAuditLogs.js
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessageMentions.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/MessageReaction.js
  packages/discord.js/src/structures/ModalBuilder.js
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/src/structures/ReactionEmoji.js
  packages/discord.js/src/structures/SelectMenuBuilder.js
  packages/discord.js/src/structures/SelectMenuOptionBuilder.js
  packages/discord.js/src/structures/TextInputBuilder.js
  packages/discord.js/src/structures/VoiceRegion.js
  packages/discord.js/src/structures/interfaces/Collector.js
  packages/discord.js/src/util/Channels.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/src/util/Transformers.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: requested changes
  packages/proxy-container/package.json
Due: none

chore: update lockfile
  yarn.lock
Due: none

docs(BaseGuildTextChannel): update type conversion type
  packages/discord.js/src/structures/BaseGuildTextChannel.js
Due: eslint --fix

chore: remove -types import in readme example (#8085)
  README.md
  packages/discord.js/README.md
Due: none

docs(BaseGuildTextChannel): Update `setType()`'s parameter type (#8088)
  packages/discord.js/src/structures/BaseGuildTextChannel.js
Due: eslint --fix

types(BaseGuildTextChannel): fix `setType()` parameter
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix `ChannelData.type`
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix `setType()` parameter and `ChannelData.type` (#8089)
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ModalSubmitInteraction): add isFromMessage() missing method
  src/structures/ModalSubmitInteraction.js
Due: eslint --fix

refactor(ClientOptions): remove `$` prefix from `ws.properties` keys
  packages/discord.js/src/util/Options.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: remove `$` prefix from `ws.properties` keys for v13
  src/util/Options.js
Due: eslint --fix

chore: update types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: accept both
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: deprecate prefixed keys
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make suggested changes
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ApplicationCommand): fix typo in setDMPermission
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ModalSubmitInteraction): add `isFromMessage()` missing method (#8092)
  src/structures/ModalSubmitInteraction.js
Due: eslint --fix

docs(GuildManager): correct default message notifications type
  packages/discord.js/src/managers/GuildManager.js
Due: eslint --fix

docs(GuildManager): correct explicit content filter level type
  packages/discord.js/src/managers/GuildManager.js
Due: eslint --fix

docs(GuildManager): specify channel types
  packages/discord.js/src/managers/GuildManager.js
Due: eslint --fix

types(PartialChannelData): specify channel types
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(GuildScheduledEventManager): remove number from privacy level
  packages/discord.js/src/managers/GuildScheduledEventManager.js
Due: eslint --fix

docs(GuildScheduledEventManager): remove number from entity type
  packages/discord.js/src/managers/GuildScheduledEventManager.js
Due: eslint --fix

docs(GuildScheduledEvent): remove number from status
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/structures/GuildScheduledEvent.js
Due: eslint --fix

docs(StageInstanceManager): remove number from privacy level
  packages/discord.js/src/managers/StageInstanceManager.js
Due: eslint --fix

docs(Constants): convert TextBasedChannelTypes to an array
  packages/discord.js/src/util/Constants.js
Due: eslint --fix

docs(ThreadManager): the type is not an array
  packages/discord.js/src/managers/ThreadManager.js
Due: eslint --fix

docs(ClientUser): remove number from activity type
  packages/discord.js/src/structures/ClientUser.js
Due: eslint --fix

docs(Guild): correct verification level type
  packages/discord.js/src/structures/Guild.js
Due: eslint --fix

docs(Guild): correct explicit content filter type
  packages/discord.js/src/structures/Guild.js
Due: eslint --fix

docs(Guild): correct default message notification type
  packages/discord.js/src/structures/Guild.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
