Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

fix(Sticker): Rename method correctly to _add
  src/structures/Sticker.js
Due: eslint --fix

refactor(ApplicationCommand): split options checks into methods
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Sticker): use renamed method
  src/structures/Sticker.js
Due: eslint --fix

Update src/structures/GuildChannel.js
  src/structures/GuildChannel.js
Due: eslint --fix

style: destructure https
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Options): document agent options
  src/util/Options.js
Due: eslint --fix

fix(Options): document using Object
  src/util/Options.js
Due: eslint --fix

fix: refactor to GuildChannel#private
  src/structures/GuildChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove old method
  src/structures/GuildChannel.js
Due: eslint --fix

fix: use enum
  src/structures/GuildChannel.js
Due: eslint --fix

fix: remove extra period
  src/structures/GuildChannel.js
Due: eslint --fix

feat(MessageTypes): add CONTEXT_MENU_COMMAND (23)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(RoleManager): error in examples (#6416)
  src/managers/RoleManager.js
Due: eslint --fix

refactor(Channel): make delete async (#6417)
  src/structures/Channel.js
Due: eslint --fix

feat(InteractionReponses): allow fetching of ephemeral messages
  src/errors/Messages.js
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

feat: add maximum prune requests reached api error
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update Client.js
  src/client/Client.js
Due: eslint --fix

Update BaseClient.js
  src/client/BaseClient.js
Due: eslint --fix

chore(Typings): fix WebhookMessageOptions not having attachments
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

style: use null coalescing assignment
  src/rest/APIRequest.js
Due: eslint --fix

feat(Webhook): update jsdoc
  src/structures/Webhook.js
Due: eslint --fix

fix(TextBasedChannel): add attachments to MessageOptions
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

Fixed Message#_patch typings return type.
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: export ContextMenuInteraction
  src/index.js
Due: eslint --fix

fix(Message): fix typo
  src/structures/Message.js
Due: eslint --fix

Allow empty strings in splitMessage
  src/util/Util.js
Due: eslint --fix

chore: Ignore .DS_Store
  .gitignore
Due: none

docs(Formatters): enforce id
  src/util/Formatters.js
Due: eslint --fix

feat(BaseGuildTextChannel): Add `#sendable` getter
  src/structures/BaseGuildTextChannel.js
Due: eslint --fix

types(BaseGuildTextChannel): Update typings.
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: Check `VIEW_CHANNEL` permissions.
  src/structures/BaseGuildTextChannel.js
Due: eslint --fix

docs(Formatters): Use id over ID (#6439)
  src/util/Formatters.js
Due: eslint --fix

chore: Ignore .DS_Store (#6438)
  .gitignore
Due: none

fix(Message): fix typo (#6435)
  src/structures/Message.js
Due: eslint --fix

feat: export ContextMenuInteraction (#6434)
  src/index.js
Due: eslint --fix

typings: Message#_patch typings return type (#6433)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Sticker): Rename method correctly to _add (#6421)
  src/structures/Sticker.js
Due: eslint --fix
