Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

refactor: nsfw data is documented as required, simplify handling
  src/structures/Guild.js
Due: eslint --fix

fix: import Error class
  src/structures/CommandInteraction.js
Due: eslint --fix

feat(Guild): nsfw guilds (#5525)
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Util): make `cleanContent` take a channel instead of a message (#5535)
  src/structures/Message.js
  src/util/Util.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update WebSocketShard.js
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

chore: specify API version
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: bump discord-api-types
  package-lock.json
  package.json
Due: none

Update Constants.js
  src/util/Constants.js
Due: eslint --fix

fix(HTTPOptions): change default value in jsdoc to 8 (#5547)
  src/util/Constants.js
Due: eslint --fix

fix: typings for 'Message' (#5518)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Changed homepage url
  package.json
Due: none

fix(GuildMemberRoleManager): unable to remove roles when passed an array
  src/managers/GuildMemberRoleManager.js
Due: eslint --fix

feat(Message): allow removing attachments
  src/structures/APIMessage.js
  src/structures/Message.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add support for the bulk edit permissions endpoint
  src/managers/ApplicationCommandManager.js
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: add more links
  src/util/Constants.js
Due: eslint --fix

fix: how can you even fuck this up
  src/managers/ApplicationCommandManager.js
  src/structures/ApplicationCommand.js
Due: eslint --fix

fix: data isn't iterable
  src/managers/ApplicationCommandManager.js
Due: eslint --fix

feat: add missing fields
  src/structures/CommandInteraction.js
  src/structures/Interaction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: add discord-api-types as a dependency (#5539)
  package-lock.json
  package.json
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: don't redef the bitfield
  test/Bitfield.test.js
Due: eslint --fix

feat(Webhook): add 'fetchMessage' method
  src/structures/Webhook.js
Due: eslint --fix

docs(VoiceState): `#setRequestToSpeak` and `#setSuppressed` returns a `Promise` instead of `void`
  src/structures/VoiceState.js
Due: eslint --fix

docs(VoiceState): `#setRequestToSpeak` and `#setSuppressed` returns a `Promise` instead of `void` (#5558)
  src/structures/VoiceState.js
Due: eslint --fix

feat: return raw objects instead of null
  src/structures/CommandInteraction.js
  src/structures/Interaction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings: add 'fetchMessage' to Webhook(Client|Fields)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update ShardClientUtil.js
  src/sharding/ShardClientUtil.js
Due: eslint --fix

Stickers added
  src/structures/Message.js
Due: eslint --fix

docs: add references to webhook methods
  src/structures/CommandInteraction.js
  src/structures/Webhook.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: rewording
  docs/examples/commands.md
Due: none

Update src/sharding/ShardClientUtil.js
  src/sharding/ShardClientUtil.js
Due: eslint --fix

abc
  package-lock.json
  package.json
  src/client/websocket/WebSocketManager.js
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

chore(UserFlags): remove system flag (#5517)
  src/util/UserFlags.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: fix typo in merge
  package.json
Due: none

docs: fix @see tags
  src/structures/CommandInteraction.js
Due: eslint --fix

docs: add examples
  src/managers/ApplicationCommandManager.js
  src/structures/ApplicationCommand.js
  src/structures/CommandInteraction.js
Due: eslint --fix

types: better overloads
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

style: remove trailing space
  src/structures/CommandInteraction.js
Due: eslint --fix
