Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

refactor(proxyRequests): use REST#raw
  packages/proxy/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(proxyRequests): parse request url properly
  packages/proxy/__tests__/index.test.ts
  packages/proxy/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

test: cover more logic with the simple get test
  packages/proxy/__tests__/index.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: add jsdoc comments
  packages/proxy/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

test: add a test to handle simple failed requests
  packages/proxy/__tests__/index.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: rest -> proxy
  packages/proxy/cliff.toml
  packages/proxy/package.json
Due: none

chore: formatting
  packages/proxy/__tests__/index.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: meta package files
  packages/proxy/LICENSE
  packages/proxy/cliff.toml
  packages/proxy/package.json
Due: none

refactor(proxy): modularize functionality better
  packages/proxy/__tests__/proxyRequests.test.ts
  packages/proxy/src/handlers/proxyRequests.ts
  packages/proxy/src/index.ts
  packages/proxy/src/util/responseHelpers.ts
  packages/proxy/src/util/util.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make native module imports consistent
  packages/proxy/__tests__/index.test.ts
  packages/proxy/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: cleanup
  packages/proxy/src/handlers/proxyRequests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(proxyRequests): parse URLs even when the origin is missing
  packages/proxy/src/handlers/proxyRequests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(proxyRequests): parse URLs correctly
  packages/proxy/src/handlers/proxyRequests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(proxy): make undici a main dep
  packages/proxy/package.json
Due: none

style: more appropriate variable name
  packages/proxy/src/handlers/proxyRequests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(proxyRequests): handle 429 accordingly
  packages/proxy/src/handlers/proxyRequests.ts
  packages/proxy/src/util/responseHelpers.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(proxyRequests): use finally block to end the request
  packages/proxy/src/handlers/proxyRequests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update cliff file
  packages/proxy/cliff.toml
Due: none

fix(proxyRequests): deal with AbortError and HTTPError
  packages/proxy/src/handlers/proxyRequests.ts
  packages/proxy/src/util/responseHelpers.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: add proxy to labels and issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  .github/labels.yml
Due: none

chore: cleanup tests
  packages/proxy/__tests__/proxyRequests.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: add proxy to docs/release-dev workflows
  .github/workflows/documentation.yml
  .github/workflows/publish-dev.yml
  packages/proxy/docs/README.md
  packages/proxy/docs/index.yml
Due: none

refactor: populateOkResponse -> populateSuccessfulResponse
  packages/proxy/src/handlers/proxyRequests.ts
  packages/proxy/src/util/responseHelpers.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: add readme
  packages/proxy/README.md
Due: none

refactor(populateSuccessfulResponse): pipe the body instead
  packages/proxy/src/util/responseHelpers.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: readme nit
  packages/proxy/README.md
Due: none

chore: update deps
  packages/proxy/package.json
  yarn.lock
Due: none

feat: @discordjs/proxy (#7925)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/documentation.yml
  .github/workflows/publish-dev.yml
  packages/proxy/.eslintrc.json
  packages/proxy/.gitignore
  packages/proxy/.prettierrc.json
  packages/proxy/LICENSE
  packages/proxy/README.md
  packages/proxy/__tests__/proxyRequests.test.ts
  packages/proxy/babel.config.js
  packages/proxy/cliff.toml
  packages/proxy/docs/README.md
  packages/proxy/docs/index.yml
  packages/proxy/jest.config.js
  packages/proxy/package.json
  packages/proxy/src/handlers/proxyRequests.ts
  packages/proxy/src/index.ts
  packages/proxy/src/util/responseHelpers.ts
  packages/proxy/src/util/util.ts
  packages/proxy/tsconfig.eslint.json
  packages/proxy/tsconfig.json
  packages/proxy/tsup.config.ts
  yarn.lock
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(proxy): add docs script
  packages/proxy/scripts/docs.mjs
Due: none

Apply suggestions from code review
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/Webhook.js
Due: eslint --fix

Update src/structures/interfaces/TextBasedChannel.js
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

Update packages/discord.js/src/managers/GuildStickerManager.js
  packages/discord.js/src/managers/GuildStickerManager.js
  packages/discord.js/src/structures/Message.js
Due: eslint --fix

style: cleanup tests and tsup configs
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/__tests__/messages/formatters.test.ts
  packages/builders/tsup.config.ts
  packages/collection/tsup.config.ts
  packages/discord.js/test/escapeMarkdown.test.js
  packages/discord.js/test/resolveGuildTemplateCode.test.js
  packages/proxy/.eslintrc.json
  packages/proxy/__tests__/proxyRequests.test.ts
  packages/rest/.eslintrc.json
  packages/rest/__tests__/CDN.test.ts
  packages/rest/__tests__/DiscordAPIError.test.ts
  packages/rest/__tests__/RequestManager.test.ts
  packages/rest/__tests__/Util.test.ts
  packages/rest/tsup.config.ts
  packages/voice/__tests__/AudioPlayer.test.ts
  packages/voice/__tests__/AudioReceiveStream.test.ts
  packages/voice/__tests__/AudioResource.test.ts
  packages/voice/__tests__/DataStore.test.ts
  packages/voice/__tests__/TransformerGraph.test.ts
  packages/voice/__tests__/VoiceConnection.test.ts
  packages/voice/__tests__/VoiceReceiver.test.ts
  packages/voice/__tests__/VoiceUDPSocket.test.ts
  packages/voice/__tests__/VoiceWebSocket.test.ts
  packages/voice/__tests__/abortAfter.test.ts
  packages/voice/__tests__/demuxProbe.test.ts
  packages/voice/__tests__/entersState.test.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: actions for workflows
  .github/workflows/documentation.yml
  package.json
  packages/actions/.eslintrc.json
  packages/actions/.gitignore
  packages/actions/.prettierignore
  packages/actions/.prettierrc.json
  packages/actions/LICENSE
  packages/actions/README.md
  packages/actions/__tests__/formatTag.test.ts
  packages/actions/babel.config.js
  packages/actions/codecov.yml
  packages/actions/jest.config.js
  packages/actions/package.json
  packages/actions/src/formatTag/action.yml
  packages/actions/src/formatTag/formatTag.ts
  packages/actions/src/formatTag/index.ts
  packages/actions/src/index.ts
  packages/actions/tsconfig.eslint.json
  packages/actions/tsconfig.json
  packages/actions/tsup.config.ts
  yarn.lock
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: remove unneeded actions dep
  package.json
  yarn.lock
Due: none

chore: fix changelogs
  packages/builders/CHANGELOG.md
  packages/collection/CHANGELOG.md
  packages/rest/CHANGELOG.md
  packages/voice/CHANGELOG.md
Due: none

chore: remove accidental changelog for voice
  packages/voice/CHANGELOG.md
Due: none

chore: re-generate changelogs
  packages/builders/CHANGELOG.md
  packages/builders/cliff.toml
  packages/builders/package.json
  packages/collection/CHANGELOG.md
  packages/collection/cliff.toml
  packages/collection/package.json
  packages/rest/CHANGELOG.md
  packages/rest/cliff.toml
  packages/rest/package.json
  packages/voice/CHANGELOG.md
  packages/voice/cliff.toml
Due: none

chore: deps
  packages/builders/package.json
  packages/discord.js/package.json
  packages/proxy/.prettierignore
  packages/rest/package.json
  packages/voice/package.json
  yarn.lock
Due: none

chore: release packages
  packages/builders/CHANGELOG.md
  packages/builders/package.json
  packages/collection/CHANGELOG.md
  packages/collection/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
  packages/voice/CHANGELOG.md
  packages/voice/package.json
Due: none
