Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Typings): remove "private" from interface — invalid TS
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings/fix: change lastMessageID to lastMessageChannelID
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(typings): allow event listener type param inference (#3944)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MessageReaction): fetching a removed partial custom emoji (#3955)
  src/managers/ReactionManager.js
  src/structures/MessageReaction.js
Due: eslint --fix

fix(Channel): ensure partial DMChannels get created (#3954)
  src/structures/Channel.js
Due: eslint --fix

fix(Partials): correctly document properties for partialized st… (#3922)
  src/structures/User.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(MessageEmbed): correct description of createdAt (#3897)
  src/structures/MessageEmbed.js
Due: eslint --fix

typings/fix(Partials): fix unexpected TSC errors
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings/fix(Partials): fix unexpected TSC errors (#3957)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(AllowedMentions): remove the whole resolve function
  src/structures/APIMessage.js
Due: eslint --fix

feat(Permissions): Adds VIEW_GUILD_INSIGHTS (#3928)
  src/util/Permissions.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

(docs) Fixed phrasing of docs
  src/structures/VoiceState.js
Due: eslint --fix

fixed line length on 156
  src/structures/VoiceState.js
Due: eslint --fix

Update APIMessage.js
  src/structures/APIMessage.js
Due: eslint --fix

Update BasePlayer.js
  src/client/voice/player/BasePlayer.js
Due: eslint --fix

feat(Typings): add PartialUser in case partials are enabled
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Typings): document 'timeout' property of TypingData
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Documented how to get ID and Token of a webhook
  docs/examples/webhook.js
Due: eslint --fix

Update docs/examples/webhook.js
  docs/examples/webhook.js
Due: eslint --fix

Add missing colors to typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(docs): revert change to Resolvables
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

Explained whats the response body
  docs/examples/webhook.js
Due: eslint --fix

feat(GuildPreview): fetchGuildPreview method
  src/client/Client.js
Due: eslint --fix

feat(GuildPreview): structure - GuildPreview
  src/structures/GuildPreview.js
Due: eslint --fix

feat(GuildPreview): update typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildPreview): method — fetchGuildPreview
  src/client/Client.js
Due: eslint --fix

feat(GuildPreview): structure — GuildPreview
  src/structures/GuildPreview.js
Due: eslint --fix

fix(GuildPreview): remove typedef for Features — already exists
  src/structures/GuildPreview.js
Due: eslint --fix

refactor(GuildPreview): update JSDocs & method
  src/client/Client.js
Due: eslint --fix

docs(VoiceState): improve phrasing of setChannel method (#3959)
  src/structures/VoiceState.js
Due: eslint --fix

Update webhook.js
  docs/examples/webhook.js
Due: eslint --fix

Capitilized ID
  docs/examples/webhook.js
Due: eslint --fix

feat(AllowedMentions): add support for MessageOptions#allowedMe… (#3893)
  src/structures/APIMessage.js
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: handler event name for MessageReactionRemoveEmoji
  src/client/websocket/packets/WebSocketPacketManager.js
Due: eslint --fix

fix: typo in WSEvents key
  src/util/Constants.js
Due: eslint --fix

Added safeSend to DMChannel.js
  src/structures/DMChannel.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
