Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ActivityTypes): add Competing (type 5)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Shard): throw SHARDING_NO_CHILD_EXISTS in eval/fetchClientValue
  src/sharding/Shard.js
Due: eslint --fix

fix(Shard): clear cached eval/fetchClientValue calls on spawn
  src/sharding/Shard.js
Due: eslint --fix

feat(ActivityTypes): add Competing (type 5) (#4824)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Action): Don't crash when partials are disabled (#4822)
  src/client/actions/Action.js
  src/client/actions/TypingStart.js
Due: eslint --fix

fix(Message): use Promise#reject instead of Throw on Message#delete (#4818)
  src/structures/Message.js
Due: eslint --fix

feat(MessageManager): move Message#pin API calls to Manager
  src/managers/MessageManager.js
  src/structures/Message.js
Due: eslint --fix

feat(MessageManager): move Message#unpin API calls to Manager
  src/managers/MessageManager.js
  src/structures/Message.js
Due: eslint --fix

fix(MessageManager): throw if delete param is not MessageResolvable
  src/managers/MessageManager.js
Due: eslint --fix

feat(MessageManager): move Message#react API calls to Manager
  src/managers/MessageManager.js
  src/structures/Message.js
Due: eslint --fix

fix(MessageManager): throw TypeError on non-MessageResolvable params
  src/managers/MessageManager.js
Due: eslint --fix

Fix <reaction>.me not properly updating
  src/structures/MessageReaction.js
Due: eslint --fix

refactor(ReactionUserManager): use client property
  src/managers/ReactionUserManager.js
Due: eslint --fix

fix: prevent issues for uncached channels
  src/errors/Messages.js
  src/structures/NewsChannel.js
Due: eslint --fix

fix(GuildChannel): remove setTopic
  src/structures/GuildChannel.js
Due: eslint --fix

fix(TextChannel): Add setTopic
  src/structures/TextChannel.js
Due: eslint --fix

Update typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(TextChannel): Fix JSDoc for setTopic and topic
  src/structures/TextChannel.js
Due: eslint --fix

Update index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Rest): switch queue to AsyncQueue
  src/rest/APIRequest.js
  src/rest/AsyncQueue.js
  src/rest/RESTManager.js
  src/rest/RequestHandler.js
Due: eslint --fix

fix(Docs): resolved test:docs errors
  src/rest/AsyncQueue.js
Due: eslint --fix

refactor: update missed occurrence
  src/managers/ReactionUserManager.js
Due: eslint --fix

fix: applied requested changes
  src/rest/AsyncQueue.js
Due: eslint --fix

fix: setTopic returns Promise<this>
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update TextChannel#setTopic JSDoc
  src/structures/TextChannel.js
Due: eslint --fix

fix(CategoryChannel): set CreateInvite and fetchInvite to undefined
  src/structures/CategoryChannel.js
Due: eslint --fix

fix(Shard): add missing error messages to Messages.js
  src/errors/Messages.js
Due: eslint --fix

fix(CategoryChannel): switch from _patch to constructor
  src/structures/CategoryChannel.js
Due: eslint --fix

Fix(Message): fixed type check logic
  src/structures/APIMessage.js
Due: eslint --fix

docs(Message): fixed type display in error message
  src/errors/Messages.js
Due: eslint --fix

docs(Message): fixed eslint lint errors
  src/structures/APIMessage.js
Due: eslint --fix

feat(GuildManager): add AFK and system channel options in create
  src/managers/GuildManager.js
  test/createGuild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildMemberManager): options.roles on 'prune'
  src/managers/GuildMemberManager.js
Due: eslint --fix

fix(APIMessage): fix eslint
  src/structures/APIMessage.js
Due: eslint --fix

docs(AsyncQueue): add private to the class's description
  src/rest/AsyncQueue.js
Due: eslint --fix

fix(Action): Sanity-Check if Discord includes all required data
  src/client/actions/Action.js
Due: eslint --fix

types(Activity): move flags from Presence to Activity
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(TextBasedChannel): make lastPinAt nullable
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: improve accuracy of docs
  src/client/voice/VoiceConnection.js
  src/client/voice/dispatcher/StreamDispatcher.js
  src/client/websocket/WebSocketManager.js
  src/client/websocket/WebSocketShard.js
  src/sharding/Shard.js
  src/sharding/ShardClientUtil.js
  src/structures/BaseGuildEmoji.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildChannel.js
  src/structures/GuildMember.js
  src/structures/GuildPreview.js
  src/structures/Integration.js
  src/structures/MessageEmbed.js
  src/structures/MessageReaction.js
  src/structures/User.js
  src/structures/VoiceChannel.js
  src/structures/VoiceState.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: use @property over @prop
  src/structures/Presence.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
