Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: `string` -> FormData, flaky test, test teardown
  packages/rest/__tests__/REST.test.ts
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/src/lib/RequestManager.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: apply suggestions from code review
  packages/rest/__tests__/REST.test.ts
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/__tests__/RequestManager.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: remove nock!
  packages/rest/jest.config.js
  packages/rest/jest.setup.js
  packages/rest/package.json
  yarn.lock
Due: eslint --fix

fix: only set `fetchOptions.body` when body isn't undefined
  packages/rest/src/lib/RequestManager.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(modal): add awaitModalSubmit
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(options): remove http(s) agent
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/utils/constants.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: allow command interactions to await modal submissions
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/CommandInteraction.js
Due: eslint --fix

feat(tests): convert `RequestManager.test.ts` to undici mocks
  packages/rest/__tests__/RequestManager.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: jest is so bad
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/__tests__/util.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: pre-commit hook :/
  packages/rest/__tests__/RequestManager.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(rest): use undici
  .vscode/settings.json
  packages/rest/__tests__/REST.test.ts
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/__tests__/util.ts
  packages/rest/package.json
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/IHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/utils.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

more labels
  .github/labels.yml
Due: none

types(interactionCollector): filter should have a collected argument
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

test: kinda bring back `postFile` tests
  .vscode/settings.json
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/RequestManager.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: apply suggestions from code review
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: add missing imports & speed up `slow` test
  packages/rest/__tests__/REST.test.ts
  packages/rest/__tests__/RequestHandler.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: extend component
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: ensure text-based channel for adding messages
  packages/discord.js/src/client/actions/InteractionCreate.js
Due: eslint --fix

fix: account for interaction-only applications
  packages/discord.js/src/client/actions/InteractionCreate.js
Due: eslint --fix

fix: typos
  packages/discord.js/src/client/actions/InteractionCreate.js
Due: eslint --fix

refactor: more descriptive variable usage
  packages/discord.js/src/client/actions/InteractionCreate.js
Due: eslint --fix

fix: apply v14 fix
  src/client/actions/InteractionCreate.js
Due: eslint --fix

fix(Invite): handle NaN
  packages/discord.js/src/structures/Invite.js
Due: eslint --fix

refactor: `&&` usage
  packages/discord.js/src/structures/VoiceState.js
Due: eslint --fix

docs: enhance README
  packages/rest/README.md
Due: none

chore: formatting
  packages/rest/README.md
Due: none

docs: Fix method
  packages/rest/README.md
Due: none

chore: remove new line
  packages/rest/README.md
Due: none

chore: less is more
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

Update packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

feat: allow setting `Agent`
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/REST.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: lint doesn't run in precommit hook apparently
  packages/rest/src/lib/utils/constants.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: can use top-level await
  packages/rest/README.md
Due: none

refactor: use arrays instead of rest parameters for builders
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/__tests__/interactions/modal.test.ts
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/components/textInput/UnsafeTextInput.ts
  packages/builders/src/interactions/modals/UnsafeModal.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
