Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

feat(ThreadChannel): add fetchStarterMessage (#6488)
  src/structures/ThreadChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings: mark enums as const enums (#6394)
  typings/enums.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(MessageAttachment): allow files to be marked as spoilers (#6509)
  src/structures/MessageAttachment.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update src/structures/User.js
  src/structures/User.js
Due: eslint --fix

Update typings/index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Apply suggestions from code review
  src/structures/User.js
Due: eslint --fix

fix(MessageAttachment): re-assign name
  src/structures/MessageAttachment.js
Due: eslint --fix

feat(User): banners and accent colors (#6117)
  src/structures/User.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MessageAttachment): re-assign name (#6518)
  src/structures/MessageAttachment.js
Due: eslint --fix

ci: setup npm auto deprecate workflow
  .github/workflows/auto-deprecate.yml
  package-lock.json
  package.json
Due: none

fix: include threads
  src/structures/BaseCommandInteraction.js
  src/structures/CommandInteractionOptionResolver.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: move to APIChannel
  src/structures/CommandInteractionOptionResolver.js
Due: eslint --fix

docs(Formatters): fix typo of TimestampStyles (#6523)
  src/util/Formatters.js
Due: eslint --fix

Update .github/workflows/auto-deprecate.yml
  .github/workflows/auto-deprecate.yml
Due: none

chore: someone fails and it isn't me
  .github/workflows/auto-deprecate.yml
Due: none

fix(BaseGuildTextChannel): export `BaseGuildTextChannel`
  src/index.js
Due: eslint --fix

ci: setup npm auto deprecate workflow (#6520)
  .github/workflows/auto-deprecate.yml
  package-lock.json
  package.json
Due: none

refactor: use nullish assignment
  src/structures/ThreadChannel.js
Due: eslint --fix

types: even stricter type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(BaseGuildTextChannel): export `BaseGuildTextChannel` (#6527)
  src/index.js
Due: eslint --fix

refactor(GuildChannel): ⚡️ Refactor of manageable method
  src/structures/GuildChannel.js
Due: eslint --fix

Update src/structures/GuildChannel.js
  src/structures/GuildChannel.js
Due: eslint --fix

docs(Util): correct @param for cleanContent
  src/util/Util.js
Due: eslint --fix

docs(Util): Correct `@param` for `cleanContent()` (#6531)
  src/util/Util.js
Due: eslint --fix

chore: stuff
  src/client/Client.js
  src/client/websocket/WebSocketShard.js
  src/client/websocket/handlers/READY.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(MessageComponentInteraction): fix componentType
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Delete APPLICATION_COMMAND_CREATE.js
  src/client/websocket/handlers/APPLICATION_COMMAND_CREATE.js
Due: eslint --fix

Delete APPLICATION_COMMAND_DELETE.js
  src/client/websocket/handlers/APPLICATION_COMMAND_DELETE.js
Due: eslint --fix

Delete APPLICATION_COMMAND_UPDATE.js
  src/client/websocket/handlers/APPLICATION_COMMAND_UPDATE.js
Due: eslint --fix

docs: remove enum value hint
  src/managers/ThreadManager.js
Due: eslint --fix

fix(webhooktest): replace unuse url
  test/webhooktest.js
Due: eslint --fix

refactor(ApplicationCommand): iterate once, add strict option
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(MessageComponentInteraction): fix componentType (#6536)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Threads): add support for invitable in private threads (#6501)
  src/errors/Messages.js
  src/managers/ThreadManager.js
  src/structures/ThreadChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings(CommandInteractionOptionResolver): Document & type thread channels (#6521)
  src/structures/BaseCommandInteraction.js
  src/structures/CommandInteractionOptionResolver.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update User.js
  src/structures/User.js
Due: eslint --fix

Changed homepage
  package.json
Due: none

refactor: use nullish assignment
  src/managers/ApplicationCommandPermissionsManager.js
  src/structures/Channel.js
  src/structures/ClientPresence.js
  src/structures/ClientUser.js
  src/structures/Guild.js
  src/structures/GuildChannel.js
  src/structures/Integration.js
  src/structures/Message.js
  src/structures/MessageReaction.js
  src/structures/ThreadChannel.js
  src/structures/User.js
Due: eslint --fix

chore: prettier
  test/random.js
Due: eslint --fix

refactor: use replaceAll
  src/util/Util.js
Due: eslint --fix
