Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(vcs): add missing property and methods (#8002)
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/DMChannel.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/VoiceChannel.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(docgen): proper event parsing for typescript
  packages/docgen/src/documentation.ts
  packages/docgen/src/types/event.ts
  packages/voice/__tests__/SpeakingMap.test.ts
  packages/voice/package.json
  packages/voice/src/VoiceConnection.ts
  packages/voice/src/audio/AudioPlayer.ts
  packages/voice/src/audio/index.ts
  packages/voice/src/index.ts
  packages/voice/src/networking/Networking.ts
  packages/voice/src/networking/VoiceUDPSocket.ts
  packages/voice/src/networking/VoiceWebSocket.ts
  packages/voice/src/receive/SSRCMap.ts
  packages/voice/src/receive/SpeakingMap.ts
  packages/voice/src/util/util.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: clone regression
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: odd empty interface
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(*): include name/reason fields into options/data params
  packages/discord.js/src/managers/CategoryChannelChildManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/GuildStickerManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/GuildEmoji.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: various jsdoc misshaps
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/structures/Sticker.js
Due: eslint --fix

fix(GuildChannelManager): setPosition's options are once more optional
  packages/discord.js/src/managers/GuildChannelManager.js
Due: eslint --fix

chore: tests
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildChannelManager): no longer clone data twice
  packages/discord.js/src/managers/GuildMemberManager.js
Due: eslint --fix

refactor(GuildMemberManager#edit): no longer use _data
  packages/discord.js/src/managers/GuildMemberManager.js
Due: eslint --fix

fix(GuildChannelManager#create): options are now required
  packages/discord.js/src/managers/GuildChannelManager.js
Due: eslint --fix

fix(GuildChannelManager#createWebhook): use the correct signature
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

fix(GuildChannelManager#createWebhook): pass channel properly
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: set* methods
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/BaseGuildVoiceChannel.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/StageChannel.js
  packages/discord.js/src/structures/TextChannel.js
  packages/discord.js/src/structures/VoiceChannel.js
  packages/discord.js/src/structures/VoiceState.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

chore: small nits
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/Role.js
Due: eslint --fix

refactor: more create methods
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/src/managers/GuildStickerManager.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(GuildMember#edit): take reason as options
  packages/discord.js/src/managers/GuildMemberRoleManager.js
  packages/discord.js/src/structures/GuildMember.js
Due: eslint --fix

docs: options are not optional anymore
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/src/managers/GuildStickerManager.js
Due: eslint --fix

test: organisation
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings: remove isAutocomplete typeguard from typings
  README.md
  packages/discord.js/README.md
  packages/discord.js/typings/index.d.ts
  packages/voice/examples/recorder/src/bot.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

revert: changes in example
  packages/voice/examples/recorder/src/bot.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: check for function type
  packages/collection/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Apply suggestions from code review
  packages/discord.js/src/structures/SelectMenuBuilder.js
Due: eslint --fix

fix: select menu options to accept both rest and array
  packages/discord.js/src/structures/SelectMenuBuilder.js
Due: eslint --fix

fix(CommandInteractionOptionResolver): Handle autocompletion interactions (#8058)
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings: remove isAutocomplete typeguard from typings (#8063)
  README.md
  packages/discord.js/README.md
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ThreadMemberManager): Fix return type of fetching members with no arguments (#8060)
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(*): include name/reason/etc fields into options/data params (#8026)
  packages/discord.js/src/managers/CategoryChannelChildManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/GuildMemberRoleManager.js
  packages/discord.js/src/managers/GuildStickerManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/BaseGuildVoiceChannel.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/GuildEmoji.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/StageChannel.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/src/structures/TextChannel.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/VoiceChannel.js
  packages/discord.js/src/structures/VoiceState.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: check for function type (#8064)
  packages/collection/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: select menu options to accept both rest and array (#8032)
  packages/discord.js/src/structures/SelectMenuBuilder.js
Due: eslint --fix

feat(guild): add support for setting MFA level (#8024)
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(ApplicationCommand): permissions v2 (#7857)
  packages/discord.js/src/client/actions/ActionsManager.js
  packages/discord.js/src/client/actions/ApplicationCommandPermissionsUpdate.js
  packages/discord.js/src/client/websocket/handlers/APPLICATION_COMMAND_PERMISSIONS_UPDATE.js
  packages/discord.js/src/client/websocket/handlers/index.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/managers/ApplicationCommandPermissionsManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/GuildAuditLogs.js
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/src/util/Events.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(util): make functions top level
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/client/actions/ChannelUpdate.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/ChannelManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/sharding/ShardClientUtil.js
  packages/discord.js/src/sharding/ShardingManager.js
  packages/discord.js/src/structures/ActionRow.js
  packages/discord.js/src/structures/ActionRowBuilder.js
  packages/discord.js/src/structures/Attachment.js
  packages/discord.js/src/structures/AttachmentBuilder.js
  packages/discord.js/src/structures/Base.js
  packages/discord.js/src/structures/ButtonBuilder.js
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/structures/EmbedBuilder.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildAuditLogs.js
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessageMentions.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/MessageReaction.js
  packages/discord.js/src/structures/ModalBuilder.js
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/src/structures/ReactionEmoji.js
  packages/discord.js/src/structures/SelectMenuBuilder.js
  packages/discord.js/src/structures/SelectMenuOptionBuilder.js
  packages/discord.js/src/structures/TextInputBuilder.js
  packages/discord.js/src/structures/VoiceRegion.js
  packages/discord.js/src/structures/interfaces/Collector.js
  packages/discord.js/src/util/Channels.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/src/util/Transformers.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: make channel typeguards more strict
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/util/Channels.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: build
  packages/proxy-container/package.json
  packages/proxy-container/tsup.config.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: init proxy container
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  .github/labels.yml
  packages/proxy-container/.eslintrc.json
  packages/proxy-container/.gitignore
  packages/proxy-container/.prettierignore
  packages/proxy-container/.prettierrc.json
  packages/proxy-container/LICENSE
  packages/proxy-container/README.md
  packages/proxy-container/cliff.toml
  packages/proxy-container/package.json
  packages/proxy-container/src/index.ts
  packages/proxy-container/tsconfig.eslint.json
  packages/proxy-container/tsconfig.json
  packages/proxy-container/tsup-config.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: docker build
  .dockerignore
  packages/proxy-container/Dockerfile
  packages/proxy-container/package.json
  packages/proxy-container/src/index.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(populateGeneralErrorResponse): no longer try to set statusMessage
  packages/proxy/src/util/responseHelpers.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
