Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

docs: remove `@private` constructor documentation
  packages/discord.js/src/structures/Component.js
  packages/discord.js/src/structures/InteractionResponse.js
Due: eslint --fix

refactor(Embed): always return an array for fields
  packages/discord.js/src/structures/Embed.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: remove unused import
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: make `GuildAuditLogsEntry.action` return an `AuditLogEvent`
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
Due: eslint --fix

Update index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update Presence.js
  src/structures/Presence.js
Due: eslint --fix

types(GuildMemberManager): fix placement for `fetchMe()`
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: Add `MessageActivityType` (v13) (#8257)
  src/structures/Presence.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(GuildMemberManager): Fix placement for `fetchMe()` (#8258)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: make `GuildAuditLogsEntry.action` return an `AuditLogEvent` (#8256)
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
Due: eslint --fix

types(GuildFeature): allow feature strings to be passed
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: slash command name regex
  packages/builders/src/interactions/slashCommands/Assertions.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(guildchannelmanager): edit lockPermissions
  src/managers/GuildChannelManager.js
Due: eslint --fix

fix(GuildChannelManager): edit lockPermissions
  packages/discord.js/src/managers/GuildChannelManager.js
Due: eslint --fix

feat(website): add extends clauses, enum members and automatic -types links
  packages/website/.vscode/settings.json
  packages/website/src/DocModel/DocEnum.ts
  packages/website/src/components/CodeListing.tsx
  packages/website/src/components/DocContainer.tsx
  packages/website/src/components/ItemSidebar.tsx
  packages/website/src/components/MethodItem.tsx
  packages/website/src/components/MethodList.tsx
  packages/website/src/components/ParameterTable.tsx
  packages/website/src/components/PropertyItem.tsx
  packages/website/src/components/PropertyList.tsx
  packages/website/src/components/Section.tsx
  packages/website/src/components/Sections.tsx
  packages/website/src/components/Table.tsx
  packages/website/src/components/TypeParamTable.tsx
  packages/website/src/components/model/Class.tsx
  packages/website/src/components/model/Enum.tsx
  packages/website/src/components/model/Function.tsx
  packages/website/src/components/model/Interface.tsx
  packages/website/src/routes/docs/$branchName/packages/$packageName.tsx
  packages/website/src/util/parse.server.ts
  packages/website/src/util/util.tsx
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: remove vscode settings
  packages/website/.vscode/settings.json
  packages/website/src/util/util.tsx
Due: none

types: allow action row builders to infer generic type
  packages/builders/src/components/ActionRow.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update Constants.js
  src/util/Constants.js
Due: eslint --fix

refactor: remove util file
  packages/website/src/components/CodeListing.tsx
  packages/website/src/components/DocContainer.tsx
  packages/website/src/components/HyperlinkedText.tsx
  packages/website/src/components/MethodItem.tsx
  packages/website/src/components/ParameterTable.tsx
  packages/website/src/components/TypeParamTable.tsx
Due: none

fix(GuildChannelManager): edit lockPermissions (#8269)
  packages/discord.js/src/managers/GuildChannelManager.js
Due: eslint --fix

fix(GuildChannelManager): edit lockPermissions (#8267)
  src/managers/GuildChannelManager.js
Due: eslint --fix

feat(website): add extends clauses, enum members and automatic -types links (#8270)
  packages/website/src/DocModel/DocEnum.ts
  packages/website/src/components/CodeListing.tsx
  packages/website/src/components/DocContainer.tsx
  packages/website/src/components/HyperlinkedText.tsx
  packages/website/src/components/ItemSidebar.tsx
  packages/website/src/components/MethodItem.tsx
  packages/website/src/components/MethodList.tsx
  packages/website/src/components/ParameterTable.tsx
  packages/website/src/components/PropertyItem.tsx
  packages/website/src/components/PropertyList.tsx
  packages/website/src/components/Section.tsx
  packages/website/src/components/Sections.tsx
  packages/website/src/components/Table.tsx
  packages/website/src/components/TypeParamTable.tsx
  packages/website/src/components/model/Class.tsx
  packages/website/src/components/model/Enum.tsx
  packages/website/src/components/model/Function.tsx
  packages/website/src/components/model/Interface.tsx
  packages/website/src/routes/docs/$branchName/packages/$packageName.tsx
  packages/website/src/util/parse.server.ts
  packages/website/src/util/util.tsx
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update cliff toml
  packages/builders/cliff.toml
  packages/collection/cliff.toml
  packages/discord.js/cliff.toml
  packages/proxy-container/cliff.toml
  packages/proxy/cliff.toml
  packages/rest/cliff.toml
  packages/voice/cliff.toml
Due: none

fix(VoiceReceiver): parsePacket correctly
  packages/voice/src/receive/VoiceReceiver.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update Git Cliff TOMLs (#8276)
  packages/builders/cliff.toml
  packages/collection/cliff.toml
  packages/discord.js/cliff.toml
  packages/proxy-container/cliff.toml
  packages/proxy/cliff.toml
  packages/rest/cliff.toml
  packages/voice/cliff.toml
Due: none

chore: remove `--cache`
  packages/actions/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/voice/package.json
  packages/website/package.json
Due: none

chore: Remove `--cache` (#8279)
  packages/actions/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/voice/package.json
  packages/website/package.json
Due: none

chore: add additional tests for slash command name
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(PermissionOverwriteManager): mutates user
  packages/discord.js/src/managers/PermissionOverwriteManager.js
Due: eslint --fix

types(CategoryChannelChildManager): fix Holds type
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(rest): add content-types to uploads
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/util/DataResolver.js
  packages/discord.js/typings/index.d.ts
  packages/rest/package.json
  packages/rest/src/lib/RequestManager.ts
  yarn.lock
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: remove `MemberMention`
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: ignore index files in coverage
  packages/collection/src/collection.ts
  packages/collection/src/index.ts
  vitest.config.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: added `@discordjs/sharder` package
  packages/sharder/.cliff-jumperrc.json
  packages/sharder/.eslintrc.json
  packages/sharder/.gitignore
  packages/sharder/.prettierignore
  packages/sharder/.prettierrc.js
  packages/sharder/CHANGELOG.md
  packages/sharder/LICENSE
  packages/sharder/README.md
  packages/sharder/__tests__/.gitkeep
  packages/sharder/api-extractor.json
  packages/sharder/cliff.toml
  packages/sharder/package.json
  packages/sharder/src/ShardingManager.ts
  packages/sharder/src/index.ts
  packages/sharder/src/messages/BinaryMessageHandler.ts
  packages/sharder/src/messages/JsonMessageHandler.ts
  packages/sharder/src/messages/RawMessageHandler.ts
  packages/sharder/src/messages/base/BaseMessageHandler.ts
  packages/sharder/src/messages/base/IMessageHandler.ts
  packages/sharder/src/messages/index.ts
  packages/sharder/src/server/ShardPing.ts
  packages/sharder/src/server/clusters/base/BaseClusterHandler.ts
  packages/sharder/src/server/clusters/base/IClusterHandler.ts
  packages/sharder/src/server/clusters/index.ts
  packages/sharder/src/server/clusters/process/BaseProcessClusterHandler.ts
  packages/sharder/src/server/clusters/process/ClusterProcessClusterHandler.ts
  packages/sharder/src/server/clusters/process/ForkProcessClusterHandler.ts
  packages/sharder/src/server/utils/utils.ts
  packages/sharder/src/utils/types.ts
  packages/sharder/tsconfig.eslint.json
  packages/sharder/tsconfig.json
  packages/sharder/tsup.config.ts
  yarn.lock
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: ignore index.js files too
  vitest.config.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildChannelManager): access `resolveId` correctly
  packages/discord.js/src/managers/GuildChannelManager.js
Due: eslint --fix

fix(GuildChannelManager): access `resolveId` correctly
  src/managers/GuildChannelManager.js
Due: eslint --fix

refactor(Util): rename `fetchRecommendedShards`
  packages/discord.js/src/sharding/ShardingManager.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: update method name only
  packages/discord.js/src/util/Util.js
Due: eslint --fix
