Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add support for role icon
  src/managers/RoleManager.js
  src/structures/Guild.js
  src/structures/Role.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Role): add option to set reason in #setIcon
  src/structures/Role.js
Due: eslint --fix

feat(Role): add setIcon method and update #equals
  src/structures/Role.js
Due: eslint --fix

types: update typings to support role icons
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add role icon CDN
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: allow role icon to be set to null
  src/managers/RoleManager.js
  src/structures/Role.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add Role#iconURL and update RoleIcon method
  src/structures/Role.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(CreateRoleOptions): move icon property above reason in jsdoc
  src/managers/RoleManager.js
Due: eslint --fix

feat: add unicode_emoji field of the role
  src/managers/RoleManager.js
  src/structures/Role.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Role): add check for unicodeEmoji in #equals
  src/structures/Role.js
Due: eslint --fix

docs: add example for updating unicode_emoji field
  src/managers/RoleManager.js
  src/structures/Role.js
Due: eslint --fix

feat: allow unicodeEmoji to be set to null
  src/managers/RoleManager.js
  src/structures/Role.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: allow guild emoji to be set as role icon
  src/managers/RoleManager.js
  src/structures/Role.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(RoleManager): rm redundant check for icon in #edit
  src/managers/RoleManager.js
Due: eslint --fix

docs: update role unicode emoji related docs
  src/managers/RoleManager.js
  src/structures/Role.js
Due: eslint --fix

feat: set icon field to undefined if not resolved to a string
  src/managers/RoleManager.js
  src/structures/Role.js
Due: eslint --fix

fix: git rebase stuff left behind, how? idk
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: readjust result to consistent typing
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add support for autocomplete interactions
  src/structures/AutocompleteInteraction.js
  src/structures/BaseCommandInteraction.js
  src/structures/CommandInteractionOptionResolver.js
  src/structures/Interaction.js
  src/structures/interfaces/InteractionResponses.js
  src/util/Constants.js
  typings/enums.d.ts
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: example for result method
  src/structures/AutocompleteInteraction.js
Due: eslint --fix

fix: redid some bits of the implementation
  src/client/actions/InteractionCreate.js
  src/structures/AutocompleteInteraction.js
  src/structures/CommandInteractionOptionResolver.js
  src/structures/Interaction.js
  src/structures/interfaces/InteractionResponses.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: autocomplete extends
  src/structures/AutocompleteInteraction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: indentation and grammar
  src/structures/AutocompleteInteraction.js
Due: eslint --fix

types: update options for result method
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: result method's callback
  src/structures/AutocompleteInteraction.js
Due: eslint --fix

fix: inconsistencies and methods
  src/errors/Messages.js
  src/structures/AutocompleteInteraction.js
  src/structures/CommandInteractionOptionResolver.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: export autocomplete interaction
  src/index.js
Due: eslint --fix

fix: getFocused method return
  src/structures/CommandInteractionOptionResolver.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add missing types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: definitions and methods for autocomplete interaction
  src/structures/ApplicationCommand.js
  src/structures/AutocompleteInteraction.js
  src/structures/BaseCommandInteraction.js
  src/structures/CommandInteractionOptionResolver.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: necessary properties and types
  src/structures/AutocompleteInteraction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: grammar and formatting
  src/structures/AutocompleteInteraction.js
  src/structures/CommandInteractionOptionResolver.js
  src/structures/Interaction.js
Due: eslint --fix

types: replace unecessary type
  src/structures/AutocompleteInteraction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: transformCommand method allows autocomplete
  src/structures/ApplicationCommand.js
Due: eslint --fix

fix: missing properties
  src/structures/AutocompleteInteraction.js
Due: eslint --fix

types: return never if non-autocomplete interaction uses focused getter
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(MessageType): fix type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: options equal function to compare with autocomplete
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove redundant channel jsdoc in classes
  src/structures/AutocompleteInteraction.js
  src/structures/BaseCommandInteraction.js
Due: eslint --fix

feat: add support for role icons (#6633)
  src/managers/RoleManager.js
  src/structures/Guild.js
  src/structures/Role.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
