Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: change remaining string IDs to Snowflakes (#5737)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Message): update typings and docs related to #edit (#5745)
  src/structures/Message.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix awaitReactions typings for returned collection
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Message): fix content param in #edit not showing as nullable
  src/structures/Message.js
Due: eslint --fix

docs(Message): fix content param in #edit not showing as nullable (#5748)
  src/structures/Message.js
Due: eslint --fix

feat: improved jsdoc typedefs
  src/structures/BaseMessageComponent.js
  src/structures/MessageActionRow.js
  src/structures/MessageButton.js
Due: eslint --fix

Apply suggestions from code review
  src/structures/BaseMessageComponent.js
  src/structures/ComponentInteractionCollector.js
  src/structures/Interaction.js
  src/structures/Message.js
  src/structures/MessageButton.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: typings for missing methods and general improvements
  src/structures/BaseMessageComponent.js
  src/structures/MessageButton.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: move interaction response methods to interface
  src/structures/CommandInteraction.js
  src/structures/ComponentInteraction.js
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

fix: make Component resolvables less generic
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: new branch without broken rebasing
  src/client/websocket/handlers/INTERACTION_CREATE.js
  src/index.js
  src/structures/APIMessage.js
  src/structures/BaseMessageComponent.js
  src/structures/ButtonInteraction.js
  src/structures/ButtonInteractionCollector.js
  src/structures/Interaction.js
  src/structures/Message.js
  src/structures/MessageActionRow.js
  src/structures/MessageButton.js
  src/util/Constants.js
  src/util/Structures.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: make component interactions more generic
  src/client/websocket/handlers/INTERACTION_CREATE.js
  src/structures/ComponentInteraction.js
  src/structures/ComponentInteractionCollector.js
  src/structures/Interaction.js
  src/structures/Message.js
  src/util/Structures.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: move additional response methods
  src/structures/CommandInteraction.js
  src/structures/ComponentInteraction.js
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

fix: rename component type
  src/util/Constants.js
Due: eslint --fix

fix: changed the wrong constant
  src/util/Constants.js
Due: eslint --fix

fix: add constants to typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: export new classes
  src/index.js
Due: eslint --fix

fix: apply suggestions from code review
  src/structures/MessageButton.js
Due: eslint --fix

fix: bug in API transform of component
  src/structures/BaseMessageComponent.js
Due: eslint --fix

fix: simplify components mapping
  src/structures/APIMessage.js
Due: eslint --fix

feat: collector for components for channels
  src/index.js
  src/structures/ChannelComponentInteractionCollector.js
  src/structures/DMChannel.js
  src/structures/Message.js
  src/structures/MessageComponentInteractionCollector.js
  src/structures/TextChannel.js
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

fix: typo
  src/structures/MessageComponentInteraction.js
Due: eslint --fix

fix: ordering
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: allow components in webhook edits
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: apply suggestion from code review
  src/structures/MessageButton.js
Due: eslint --fix

refactor: big rename, consolidate the two collectors
  src/client/websocket/handlers/INTERACTION_CREATE.js
  src/index.js
  src/structures/ChannelComponentInteractionCollector.js
  src/structures/DMChannel.js
  src/structures/Interaction.js
  src/structures/Message.js
  src/structures/MessageComponentInteraction.js
  src/structures/MessageComponentInteractionCollector.js
  src/structures/TextChannel.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Structures.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: typings for new response type methods
  src/structures/interfaces/InteractionResponses.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: toJSON methods for api transformation
  src/structures/APIMessage.js
  src/structures/BaseMessageComponent.js
  src/structures/MessageActionRow.js
  src/structures/MessageButton.js
Due: eslint --fix

fix: rmeove types from Options definitions
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: use webhook.send directly
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

feat: typings for component collectors
  src/structures/ChannelComponentInteractionCollector.js
  src/structures/MessageComponentInteractionCollector.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: missing toJSON typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: use emoji parsing
  src/structures/MessageButton.js
Due: eslint --fix

fix: missing ComponentInteraction#componentType prop, plus docs
  src/structures/BaseMessageComponent.js
  src/structures/ComponentInteraction.js
  src/structures/MessageButton.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: typo
  src/structures/Message.js
Due: eslint --fix

fix: stringify emoji input
  src/structures/MessageButton.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: apply suggestions from code review
  src/structures/BaseMessageComponent.js
  src/structures/CommandInteraction.js
  src/structures/MessageActionRow.js
  src/structures/MessageButton.js
  src/structures/MessageComponentInteraction.js
  src/structures/MessageComponentInteractionCollector.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: apply suggestions from code review
  src/structures/MessageActionRow.js
  src/structures/MessageButton.js
  src/structures/MessageComponentInteraction.js
  src/structures/MessageComponentInteractionCollector.js
  src/structures/interfaces/InteractionResponses.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: Apply suggestions from code review
  src/structures/MessageActionRow.js
Due: eslint --fix

feat: handle invalid component types
  src/structures/BaseMessageComponent.js
  src/structures/Message.js
  src/structures/MessageActionRow.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
