Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

docs(Client): #emojis is a BaseGuildEmojiManager (#5048)
  src/client/Client.js
Due: eslint --fix

Added roles unit tests
  test/roles.js
Due: eslint --fix

Added channels unit tests
  test/channels.js
Due: eslint --fix

cleanup(Guild): remove Guild#voice
  src/client/actions/GuildDelete.js
  src/client/voice/VoiceConnection.js
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Use optional chaining
  src/managers/ChannelManager.js
Due: eslint --fix

Update GuildMember.js
  src/structures/GuildMember.js
Due: eslint --fix

Update index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update Message.js
  src/structures/Message.js
Due: eslint --fix

fix(message): resolve syntax errors
  src/structures/Message.js
Due: eslint --fix

chore(message): resolve linting issues (death to the gh web panel)
  src/structures/Message.js
Due: eslint --fix

forgot to commit this
  src/structures/User.js
Due: eslint --fix

Update User.js
  src/structures/User.js
Due: eslint --fix

fix(UserFlags): correct early bot dev name, remove deprecated aliases
  src/util/UserFlags.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Message): #system not all nonzero message types are system
  src/structures/Message.js
Due: eslint --fix

feat(Message): introduce system message types
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Constants): change SystemMessageTypes to be exclusionary
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Constants): only need to check if type exists
  src/util/Constants.js
Due: eslint --fix

fix(Constants): lint
  src/util/Constants.js
Due: eslint --fix

fix(Typings): add SystemMessageTypees to Constants
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(UserFlags): correct early bot dev name, remove deprecated aliases (#5104)
  src/util/UserFlags.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

cleanup(Guild): remove Guild#voice (#5091)
  src/client/actions/GuildDelete.js
  src/client/voice/VoiceConnection.js
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: permission overwrite methods descriptions (#5079)
  src/structures/GuildChannel.js
Due: eslint --fix

feat(GuildMember): make GuildMember#setNickname first param nullable (#5070)
  src/structures/GuildMember.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Client): improve generateInvite() (#5065)
  src/client/Client.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Message): #system non-zero message types are not guaranteed to be system (#5108)
  src/structures/Message.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ChannelManager): Avoid crash in remove method with uncached channel (#4937)
  src/managers/ChannelManager.js
Due: eslint --fix

Update src/client/Client.js
  src/client/Client.js
Due: eslint --fix

fix: filtering of string forms of null and undefined (#5075)
  src/rest/APIRequest.js
Due: eslint --fix

fix: add presence to ClientPresence from ClientOptions (#5041)
  src/client/Client.js
  src/structures/ClientPresence.js
  src/structures/Presence.js
Due: eslint --fix

chore: remove disableMentions
  src/client/Client.js
  src/structures/APIMessage.js
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Constants.js
  src/util/Util.js
  test/disableMentions.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

style: fix eslint
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

death to the github web panel
  src/structures/Message.js
Due: eslint --fix

docs(TextBasedChannel): indicate that replyTo cannot be system
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

feat(Browser): remove browser �
  .eslintrc.json
  .github/workflows/deploy.yml
  .tern-project
  docs/index.yml
  docs/topics/web.md
  package-lock.json
  package.json
  src/WebSocket.js
  src/client/Client.js
  src/client/websocket/WebSocketShard.js
  src/errors/Messages.js
  src/rest/APIRequest.js
  src/rest/RequestHandler.js
  src/structures/APIMessage.js
  src/structures/Guild.js
  src/structures/VoiceChannel.js
  src/structures/VoiceState.js
  src/util/Constants.js
  src/util/DataResolver.js
  test/webpack.html
  typings/index.d.ts
  webpack.config.js
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
