Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

refactor: use setPosition inside edit (#7263)
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/GuildChannel.js
Due: eslint --fix

fix: testing cases
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: follow type of `discord-api-types` package
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
Due: eslint --fix

fix: import `clear{Timeout,Interval}` from `node:timers`
  packages/discord.js/.eslintrc.json
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/client/websocket/WebSocketShard.js
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/rest/APIRequest.js
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/structures/GuildTemplate.js
  packages/discord.js/src/structures/interfaces/Collector.js
  packages/discord.js/src/util/Sweepers.js
Due: eslint --fix

fix: import `clear{Timeout,Interval}` from `node:timers` (#7269)
  packages/discord.js/.eslintrc.json
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/client/websocket/WebSocketShard.js
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/rest/APIRequest.js
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/structures/GuildTemplate.js
  packages/discord.js/src/structures/interfaces/Collector.js
  packages/discord.js/src/util/Sweepers.js
Due: eslint --fix

refactor: Default *URL methods to animated hash (#7149)
  packages/discord.js/src/structures/AnonymousGuild.js
  packages/discord.js/src/structures/BaseGuild.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/GuildPreview.js
  packages/discord.js/src/structures/PartialGroupDMChannel.js
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/StickerPack.js
  packages/discord.js/src/structures/Team.js
  packages/discord.js/src/structures/User.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/Application.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/RequestManager.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: make requested changes
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: remove djs components and use /builders instead
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/BaseMessageComponent.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessageActionRow.js
  packages/discord.js/src/structures/MessageButton.js
  packages/discord.js/src/structures/MessageSelectMenu.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: export select menu option
  packages/discord.js/src/index.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: type tests
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: lint error
  packages/discord.js/src/structures/MessagePayload.js
Due: eslint --fix

fix: missed spot
  packages/discord.js/src/structures/MessagePayload.js
Due: eslint --fix

chore: fix lint error again
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: fix sticker extension
  packages/rest/src/lib/CDN.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/Message.js
Due: eslint --fix

Apply suggestions from code review
  packages/rest/src/lib/RequestManager.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/rest/src/lib/RequestManager.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(constants): fix thread and textbased channeltypes
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(invite): make `channel` and `inviter` getters
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: cache inviter data
  packages/discord.js/src/structures/Invite.js
Due: eslint --fix

ci: dont run auto-deprecated and publish-dev on forks
  .github/workflows/auto-deprecate.yml
  .github/workflows/publish-dev.yml
Due: none

feat: rest docs
  .github/workflows/documentation.yml
  packages/rest/.gitignore
  packages/rest/docs/README.md
  packages/rest/docs/index.yml
  packages/rest/package.json
  packages/rest/scripts/docs.mjs
Due: none

ci: dont run auto-deprecated and publish-dev on forks (#7279)
  .github/workflows/auto-deprecate.yml
  .github/workflows/publish-dev.yml
Due: none

docs: add docs
  packages/rest/src/lib/CDN.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update packages/rest/src/lib/CDN.ts
  packages/rest/src/lib/CDN.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(shardingmanager): fix type of `execArgv` option
  packages/discord.js/src/sharding/ShardingManager.js
Due: eslint --fix

feat(guildemojimanager): add `delete` and `edit` methods
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/managers/GuildEmojiManager.js
Due: eslint --fix

types(guildemojimanager): add typings for `delete` and `edit`
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: consistency with periods in error messages
  packages/discord.js/src/errors/Messages.js
Due: eslint --fix

feat: rest docs (#7281)
  .github/workflows/documentation.yml
  packages/rest/.gitignore
  packages/rest/docs/README.md
  packages/rest/docs/index.yml
  packages/rest/package.json
  packages/rest/scripts/docs.mjs
Due: none

ci: fix docs workflow
  package.json
Due: none

refactor(guildemojimanager): use `resolveId` instead of `resolve`
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(guildemoji): use manager methods
  packages/discord.js/src/structures/GuildEmoji.js
Due: eslint --fix

refactor(guildemojimanager): use `INVALID_TYPE` error instead of `EMOJI_RESOLVE`
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/managers/GuildEmojiManager.js
Due: eslint --fix

ci: fix docs workflow (#7287)
  package.json
Due: none

docs(guildemojimanager): fix return type
  packages/discord.js/src/managers/GuildEmojiManager.js
Due: eslint --fix

refactor: remove djs components and use /builders components instead (#7252)
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/BaseMessageComponent.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessageActionRow.js
  packages/discord.js/src/structures/MessageButton.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/MessageSelectMenu.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(cdn): default to animated images (#7265)
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
