Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(GuildManager): apply suggestion from review
  src/managers/GuildManager.js
Due: eslint --fix

fix: make prop check correct and fix sticker format
  src/structures/Guild.js
  src/structures/Sticker.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(GuildManager): apply review suggestion in more places
  src/managers/GuildManager.js
Due: eslint --fix

chore: fix indentation in typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(*): use enums for consistency and speed (#5843)
  src/managers/GuildManager.js
  src/structures/ClientPresence.js
  src/structures/Guild.js
  src/structures/Presence.js
  src/structures/Sticker.js
  src/structures/TeamMember.js
  src/structures/Webhook.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: change StageInstanceInvite to InviteStageInstance
  src/structures/Invite.js
  src/structures/InviteStageInstance.js
Due: eslint --fix

feat(InviteStageInstance): add guild and channel getters
  src/structures/Invite.js
  src/structures/InviteStageInstance.js
Due: eslint --fix

docs(Message#reply): removed ReplyMessageOptions#embed
  src/structures/Message.js
Due: eslint --fix

docs(Message#edit): replaced MessageEditOptions#embed with MessageEditOptions#embeds
  src/structures/Message.js
Due: eslint --fix

Fix d.js lint
  src/structures/Presence.js
Due: eslint --fix

Update Presence.js
  src/structures/Presence.js
Due: eslint --fix

Applied suggested changes by @kyranet
  src/structures/Message.js
Due: eslint --fix

Update src/structures/Message.js
  src/structures/Message.js
Due: eslint --fix

feat: guild based welcome channel
  src/structures/Guild.js
  src/structures/WelcomeChannel.js
  src/structures/WelcomeScreen.js
Due: eslint --fix

fix: channel getter should return a channel
  src/structures/WelcomeChannel.js
Due: eslint --fix

fix: various typos and oversights
  src/structures/Guild.js
  src/structures/WelcomeChannel.js
Due: eslint --fix

feat: invite based welcome channels
  src/structures/Guild.js
  src/structures/WelcomeChannel.js
  src/structures/WelcomeScreen.js
Due: eslint --fix

chore: make Emoji#animated nullable
  src/structures/Emoji.js
Due: eslint --fix

chore: docs
  src/structures/Guild.js
  src/structures/WelcomeChannel.js
  src/structures/WelcomeScreen.js
Due: eslint --fix

chore: typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(BaseGuildEmojiManager): accept broader emoji data
  src/managers/BaseGuildEmojiManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: import order
  src/structures/WelcomeScreen.js
Due: eslint --fix

Apply suggestions from code review
  src/structures/Guild.js
  src/structures/WelcomeChannel.js
  src/structures/WelcomeScreen.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Guild): editWelcomeScreen
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: remove unnecessary parentheses
  src/structures/WelcomeChannel.js
Due: eslint --fix

fix: typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: revert accidental whitespace changes
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(WelcomeScreen): enabled getter via guild
  src/structures/WelcomeScreen.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings: rebase shenanigan reversal
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: code cleanup
  src/managers/BaseGuildEmojiManager.js
  src/structures/Guild.js
Due: eslint --fix

refactor(WelcomeChannel): move assignments into constructor
  src/structures/WelcomeChannel.js
Due: eslint --fix

fix(Typings): make Emoji#animated nullable
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(WelcomeScreen): move assignment into constructor
  src/structures/WelcomeScreen.js
Due: eslint --fix

feat: narrower channel resolvable
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: InviteGuild, no welcomeScreen caching
  src/structures/Guild.js
  src/structures/Invite.js
  src/structures/InviteGuild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: comment purpose of name check
  src/managers/BaseGuildEmojiManager.js
Due: eslint --fix

typings: readonly enabled
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: actually pass description through
  src/structures/Guild.js
Due: eslint --fix

fix: properly fall back to data for default emojis
  src/structures/Guild.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
