Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ApplicationCommandOptionData): remove required on subcommands (#6790)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(CommandInteraction): add toString method (#6793)
  src/structures/CommandInteraction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: Remove redundant user agent parsing (#6820)
  src/util/Constants.js
Due: eslint --fix

feat(Interaction): add `isApplicationCommand` check (#6801)
  src/structures/Interaction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: message component cached props narrowing (#6809)
  package-lock.json
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: return `RawEmoji`
  src/structures/Message.js
Due: eslint --fix

refactor: return if in cache
  src/structures/Message.js
Due: eslint --fix

fix: try boolean logic in handler
  src/client/actions/MessageReactionAdd.js
  src/structures/Message.js
Due: eslint --fix

chore: remove duplicate checks
  src/client/actions/MessageReactionAdd.js
Due: eslint --fix

docs(Message): specify `Snowflake`
  src/structures/Message.js
Due: eslint --fix

Typings for User Fetching
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: remove more ` - `
  src/structures/MessagePayload.js
Due: eslint --fix

docs(Message): Specify `Snowflake` in return type of `awaitReactions()` (#6822)
  src/structures/Message.js
Due: eslint --fix

ci(workflow): add cache to workflows using actions/setup-node (#6821)
  .github/workflows/auto-deprecate.yml
  .github/workflows/deploy.yml
  .github/workflows/publish-dev.yml
  .github/workflows/test-cron.yml
  .github/workflows/test.yml
Due: none

refactor(Client): remove message sweeping options
  src/client/Client.js
  src/util/Options.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: Add missing intent
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

types(CommandInteractionOptionResolver): allow narrowing
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Interaction): make type guard naming more accurate
  src/structures/Interaction.js
  typings/index.d.ts
  typings/tests.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: remove third parameter of BaseMessageComponent#create()
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Webhook): resolve source guild only if cached
  src/structures/Webhook.js
Due: eslint --fix

Update MessageComponentInteraction.js
  src/structures/MessageComponentInteraction.js
Due: eslint --fix

Update src/structures/Interaction.js
  src/structures/Interaction.js
Due: eslint --fix

refactor: more fitting class names
  src/client/actions/InteractionCreate.js
  src/index.js
  src/structures/BaseCommandInteraction.js
  src/structures/ChatInputCommandInteraction.js
  src/structures/CommandInteraction.js
  src/structures/ContextMenuCommandInteraction.js
  src/structures/Interaction.js
  typings/index.d.ts
  typings/tests.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: Add missing intent to issue form (#6829)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Update typings/index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: allow message cached props to be narrowed
  src/structures/Message.js
  typings/index.d.ts
  typings/tests.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update src/structures/Message.js
  src/structures/Message.js
Due: eslint --fix

types: `PartialGuildMember#user` is never null
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: use types instead of interfaces
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ApplicationCommandManager): update guild command cache on c/u/d
  src/managers/ApplicationCommandManager.js
Due: eslint --fix

types: narrow message channel type
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Revert "chore: use types instead of interfaces"
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: rename types
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add utility type
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: helpers have default generic params
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
