Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

chore: collector type cleanup (#6991)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add UserContextMenuInteraction and MessageContextMenuInteraction
  src/structures/Interaction.js
  src/structures/MessageContextMenuInteraction.js
  src/structures/UserContextMenuInteraction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: duplicate names
  src/structures/MessageContextMenuInteraction.js
  src/structures/UserContextMenuInteraction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: a typo in the document of MessageContextMenuInteraction
  src/structures/MessageContextMenuInteraction.js
Due: eslint --fix

fix: a typo in the document of UserContextMenuInteraction
  src/structures/UserContextMenuInteraction.js
Due: eslint --fix

fix: add type of indicaters
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: adjust types for channel
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: name specified fo getMember()
  src/structures/UserContextMenuInteraction.js
Due: eslint --fix

fix: quotes in getMember()
  src/structures/UserContextMenuInteraction.js
Due: eslint --fix

feat: add a new classes to InteractionCreateAction
  src/client/actions/InteractionCreate.js
Due: eslint --fix

fix: sort classes by name order
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: sort classes again by name order
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: remove unneeded collector types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Permissions): add `MANAGE_EVENTS`
  src/util/Permissions.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update typings/index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: class name typos
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: typos of UserContextMenuInteraction
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Shard): add context to eval
  src/sharding/Shard.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: rename type parameter
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: fix types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: allow `MessageActionRow` to specify a component type
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(WebhookMessageOptions): disallow stickers
  src/structures/Message.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Invite): add info blocks for missing props
  src/structures/Invite.js
Due: eslint --fix

docs(Constants): fix typo "announcement"
  src/util/Constants.js
Due: eslint --fix

fix: line breaks in MessageContextMenu
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: make event emitters use mapped event types
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix collector end types
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update Permissions.js
  src/util/Permissions.js
Due: eslint --fix

fix: avoid sending bot auth on token endpoints
  src/structures/AutocompleteInteraction.js
  src/structures/Webhook.js
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

types: make event emitters use mapped event types (#7019)
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Constants): fix typo "announcement" (#7016)
  src/util/Constants.js
Due: eslint --fix

types: remove unneeded collector types (#7008)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Shard): add eval context (#7011)
  src/sharding/Shard.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(WebhookMessageOptions): disallow stickers (#7012)
  src/structures/Message.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: avoid sending bot auth on token endpoints (#7022)
  src/structures/AutocompleteInteraction.js
  src/structures/Webhook.js
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

chore: Emit deprecation messages (#6994)
  src/structures/Guild.js
  src/structures/MessageEmbed.js
  src/structures/VoiceChannel.js
  src/structures/Webhook.js
  src/util/Util.js
Due: eslint --fix

fix: add readonly flag to MessageContextMenuInteraction
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: add readonly flags to UserContextMenuInteraction
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: remove unneeded test
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

CI: Use `tsd` for Testing Types (#6983)
  .eslintignore
  .github/workflows/test.yml
  package-lock.json
  package.json
  typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
