Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

types: fix context menu types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: move CommandInteractionOptionResolver
  src/structures/BaseCommandInteraction.js
  src/structures/CommandInteraction.js
  src/structures/ContextMenuInteraction.js
Due: eslint --fix

chore: update types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: comment regressions
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: move options field up to BaseCommandInteraction
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(SystemChannelFlags): add new flag
  src/util/SystemChannelFlags.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(MessageAttachment): description (alt text) support
  src/structures/MessageAttachment.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

lint(MessageAttachment): remove extra whitespace
  src/structures/MessageAttachment.js
Due: eslint --fix

fix: tslint issues
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MesagePayload, APIRequest): add new attachments into payload to allow for alt text
  src/rest/APIRequest.js
  src/structures/MessagePayload.js
Due: eslint --fix

lint(MessagePayload): fix max line length
  src/structures/MessagePayload.js
Due: eslint --fix

Update src/structures/MessageAttachment.js
  src/structures/MessageAttachment.js
Due: eslint --fix

docs: updated description
  src/util/SystemChannelFlags.js
Due: eslint --fix

Update publish-dev.yml
  .github/workflows/publish-dev.yml
Due: none

fix: message component message type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: finalize other missed cache types
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: move Guild setPositions methods to managers
  src/managers/GuildChannelManager.js
  src/managers/RoleManager.js
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: remove dumb deprecated tag
  src/managers/GuildChannelManager.js
Due: eslint --fix

fix(TextBasedChannel): return the cached message instead of clone it
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

fix: change `||` operator with `??`
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

types: allow message cached props to be narrowed (#6838)
  src/structures/Message.js
  typings/index.d.ts
  typings/tests.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: fix typos (#6852)
  src/errors/Messages.js
  src/structures/User.js
  src/structures/interfaces/Collector.js
  typings/index.d.ts
  typings/rawDataTypes.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MessageComponentInteraction): component getter is not null anymore (#6835)
  src/structures/MessageComponentInteraction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Util): Deprecate `.removeMentions()` (#6866)
  src/util/Util.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(TextBasedChannel): return the cached message instead of clone it (#6877)
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

types: rename to cachetype
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: remove gen-esm-wrapper dependency
  .gitignore
  package-lock.json
  package.json
  src/index.js
Due: eslint --fix

feat(MessageEmbed): add #equals
  src/structures/MessageEmbed.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ApplicationFlags): add message content intent flags
  src/util/ApplicationFlags.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Guild): add premiumProgressbarEnabled
  src/managers/GuildManager.js
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ThreadMemberManager): allow individual members to be fetched
  src/managers/ThreadMemberManager.js
  typings/index.d.ts
  typings/tests.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: clean up definitions
  src/managers/ThreadMemberManager.js
Due: eslint --fix

fix: boolean bug
  src/managers/ThreadMemberManager.js
Due: eslint --fix

fix: reduce fetch many lines
  src/managers/ThreadMemberManager.js
Due: eslint --fix

Update src/managers/ThreadMemberManager.js
  src/managers/ThreadMemberManager.js
Due: eslint --fix

docs: improve docs for member
  src/managers/ThreadMemberManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
