Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

chore: make tslint happy
  tslint.json
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: revert package-lock
  package-lock.json
Due: none

chore: use type-fest dep
  package-lock.json
  package.json
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: fix doc formatting
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: open collective funding
  .github/FUNDING.yml
Due: none

chore: remove debug code
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(README): add installation instruction on @discordjs/voice
  README.md
Due: none

chore: remove unused tslint directives
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: initial push
  src/structures/MessageEmbed.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add a deprecation message to the typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

test: what will this do?
  src/structures/MessageEmbed.js
Due: eslint --fix

docs: deprecation messages
  src/structures/MessageEmbed.js
Due: eslint --fix

types: more concise message
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: consistency
  src/structures/MessageEmbed.js
Due: eslint --fix

fix(MessageEmbed): update parameter check
  src/structures/MessageEmbed.js
Due: eslint --fix

docs(MessageEmbed): use a warning block
  src/structures/MessageEmbed.js
Due: eslint --fix

fix: deduplicate names to fix other JSDoc type
  src/structures/MessageEmbed.js
Due: eslint --fix

docs: Consistent `|` usage
  src/structures/MessageEmbed.js
Due: eslint --fix

docs(README): add installation instruction on @discordjs/voice (#6964)
  README.md
Due: none

feat: error code 180001
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: unify ApplicationCommandManager#create overloads
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ApplicationCommand): add support for min and max values (#6855)
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: unify ApplicationCommandManager#create overloads (#6970)
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MessageReaction): Cache myself when `MessageReaction#me` is `true`. (#6956)
  src/structures/MessageReaction.js
Due: eslint --fix

fix(CommandInteractionOption): don't set undefined props
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix cache type fallback types (#6961)
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: Strengthen autocomplete option types (#6950)
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: add error to jsdoc
  src/util/Constants.js
Due: eslint --fix

feat(MessageAttachment): description (alt text) support (#6871)
  src/rest/APIRequest.js
  src/structures/MessageAttachment.js
  src/structures/MessagePayload.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: add other errors to jsdoc
  src/util/Constants.js
Due: eslint --fix

feat: `null` usage
  src/structures/MessageEmbed.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: type tests
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add ThreadChannel#viewable
  src/structures/ThreadChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix interaction typeguards
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update Guild.js
  src/structures/Guild.js
Due: eslint --fix

revert(GuildManager): you can't pass premiumProgressBarEnabled on create
  src/managers/GuildManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: message.editable corner case
  src/structures/Message.js
Due: eslint --fix

docs(Guild): change description
  src/structures/Guild.js
Due: eslint --fix

types(ApplicationSubcommandData): allow autocomplete to be true
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
