Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(WebSocketManager): let identify throw on depleted limits (#5283)
  src/client/websocket/WebSocketManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Apply suggestions from code review
  src/rest/RequestHandler.js
Due: eslint --fix

docs(GuildBanManager): add inclusive to days
  src/managers/GuildBanManager.js
Due: eslint --fix

Add ShardingManager.shardList to type definitions
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Avoid mutating the REST result object
  src/rest/RequestHandler.js
Due: eslint --fix

Update index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(ReactionUserManager): fetch description (#5382)
  src/managers/ReactionUserManager.js
Due: eslint --fix

docs: update docs and examples for #4879 (#5323)
  README.md
  docs/examples/attachments.md
  docs/examples/avatars.js
  docs/examples/embed.js
  docs/examples/greeting.js
  docs/examples/moderation.md
  docs/examples/ping.js
  docs/examples/webhook.js
  docs/general/welcome.md
  docs/topics/voice.md
  test/createGuild.js
  test/random.js
  test/reactionCollectorCreated.test.js
  test/sendtest.js
  test/shard.js
  test/tester1000.js
  test/voice.js
  test/webhooktest.js
Due: eslint --fix

docs(BanOptions): make days description more clear (#5327)
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
Due: eslint --fix

feat(CollectorFilter): make CollectorFilter generic
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ClientEvents): make ClientEvents generic (for partials)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Message): make Message generic (was it sent in a guild?)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: interactions
  docs/examples/commands.md
  docs/index.yml
  esm/discord.mjs
  src/client/websocket/handlers/INTERACTION_CREATE.js
  src/index.js
  src/managers/ApplicationCommandManager.js
  src/managers/GuildApplicationCommandManager.js
  src/structures/APIMessage.js
  src/structures/ApplicationCommand.js
  src/structures/ClientApplication.js
  src/structures/CommandInteraction.js
  src/structures/Guild.js
  src/structures/Interaction.js
  src/util/Constants.js
  src/util/MessageFlags.js
  src/util/Permissions.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: rewording
  docs/examples/commands.md
Due: none

fix: correct type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: dont use old flags if the updated ones are 0
  src/structures/ClientApplication.js
Due: eslint --fix

fix: dont pass the application
  src/structures/ClientApplication.js
Due: eslint --fix

fix: add missing await
  src/structures/CommandInteraction.js
Due: eslint --fix

types: add missing guild property
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: static methods
  src/managers/ApplicationCommandManager.js
  src/structures/ApplicationCommand.js
  src/structures/CommandInteraction.js
Due: eslint --fix

fix: fix: static methods
  src/structures/ApplicationCommand.js
  src/structures/CommandInteraction.js
Due: eslint --fix

chore: this is obsolete now
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: use reduce on the returned array
  src/managers/ApplicationCommandManager.js
Due: eslint --fix

refactor: use flag property
  src/structures/Interaction.js
Due: eslint --fix

refactor: commandPath property (hopefully this works)
  src/managers/ApplicationCommandManager.js
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: some fixes
  src/managers/ApplicationCommandManager.js
  src/structures/CommandInteraction.js
Due: eslint --fix

fix: InteractionTypes is an enum, not a keyMirror
  src/structures/Interaction.js
Due: eslint --fix

feat: add stage channel type
  src/util/Constants.js
Due: eslint --fix

feat(Application): application flags (#5147)
  src/client/Client.js
  src/client/websocket/handlers/READY.js
  src/errors/Messages.js
  src/structures/ClientApplication.js
  src/structures/IntegrationApplication.js
  src/structures/interfaces/Application.js
  src/util/ApplicationFlags.js
  src/util/MessageFlags.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Rest): better handling of global rate limit and invalid request tracking (#4711)
  src/client/Client.js
  src/rest/RESTManager.js
  src/rest/RequestHandler.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: initialise stage channel structure
  src/structures/Channel.js
  src/structures/StageChannel.js
  src/util/Structures.js
Due: eslint --fix

feat: add STAGE_MODERATOR permissions bitfield
  src/util/Permissions.js
Due: eslint --fix

fix: typo in permissions
  src/util/Permissions.js
Due: eslint --fix

fix(Channel): type selection logic
  src/structures/Channel.js
Due: eslint --fix

feat: add rtcRegion to StageChannel and VoiceChannel
  src/structures/StageChannel.js
  src/structures/VoiceChannel.js
Due: eslint --fix

feat: rtc region editing for stage and voice channels
  src/structures/GuildChannel.js
  src/structures/StageChannel.js
  src/structures/VoiceChannel.js
Due: eslint --fix

fix(InviteDelete): guild can be missing
  src/client/actions/InviteDelete.js
Due: eslint --fix

feat: stage channel userLimit
  src/structures/StageChannel.js
Due: eslint --fix

feat: add stage channels to exports
  esm/discord.mjs
  src/index.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
