Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(RoleManager): everyone role can't be null (#3995)
  src/managers/RoleManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(DataResolver): use forked form-data which supports custom streams
  package.json
Due: none

fix(ClientOptions): default allowedMentions should be undefined
  src/util/Constants.js
Due: eslint --fix

feat(ClientOptions): allow setting default allowedMentions (#4085)
  src/structures/APIMessage.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(APIRequest): use forked form-data in code too
  src/rest/APIRequest.js
Due: eslint --fix

feat(DataResolver): prefer streams over buffers (#4075)
  package.json
  src/rest/APIRequest.js
  src/util/DataResolver.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(Release): version
  package.json
Due: none

docs: add timeout to Message#delete example
  src/structures/Message.js
Due: eslint --fix

fix: packet handler should call .presences.add not .presences.cache.add
  src/client/websocket/handlers/GUILD_MEMBERS_CHUNK.js
Due: eslint --fix

fix(User): jsdoc for User#flags
  src/structures/User.js
Due: eslint --fix

fix(User): jsdoc for User#flags (#4094)
  src/structures/User.js
Due: eslint --fix

docs(Message): add timeout to Message#delete example (#4090)
  src/structures/Message.js
Due: eslint --fix

fix(MessageEmbed): explicitly mark `proxyIconURL` as undefined
  src/structures/MessageEmbed.js
Due: eslint --fix

fix(Typings): add optional Set<Snowflake> to shardReady event
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update src/util/Permissions.js
  src/util/Permissions.js
Due: eslint --fix

fix(Typings): add optional Set<Snowflake> to shardReady event (#4099)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(PacketHandler): guild members chunk packet handler should… (#4092)
  src/client/websocket/handlers/GUILD_MEMBERS_CHUNK.js
Due: eslint --fix

fix(Webpack): add Buffer polyfill in browser
  webpack.config.js
Due: eslint --fix

chore: deprecate Guild.fetchVanityCode()
  src/structures/Guild.js
Due: eslint --fix

feat: add Guild.fetchVanityData()
  src/structures/Guild.js
Due: eslint --fix

chore: update typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove redundant .then()
  src/structures/Guild.js
Due: eslint --fix

chore: fix lint
  src/structures/Guild.js
Due: eslint --fix

chore: util.deprecate fetchVanityCode
  src/structures/Guild.js
Due: eslint --fix

feat: add VanityData typedef and populate vanityURLUses
  src/structures/Guild.js
Due: eslint --fix

feat: add crosspost method to NewsChannel
  src/structures/NewsChannel.js
Due: eslint --fix

chore: properly deprecate fetchVanityCode
  src/structures/Guild.js
Due: eslint --fix

chore: fix jsdoc description for fetchVanityData
  src/structures/Guild.js
Due: eslint --fix

feat: make fetchVanityData an async function
  src/structures/Guild.js
Due: eslint --fix

chore: update Vanity typedef
  src/structures/Guild.js
Due: eslint --fix

Revert "chore: update typings"
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Revert "feat: add crosspost method to NewsChannel"
  src/structures/NewsChannel.js
Due: eslint --fix

fix(Guild): name acronym
  src/structures/Guild.js
Due: eslint --fix

feat: add crosspost support to Message
  src/structures/Message.js
Due: eslint --fix

fix(Typing): setSpeaking public
  src/client/voice/VoiceConnection.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: fix intendation in jsdoc example
  src/structures/Message.js
Due: eslint --fix

chore: nitpick regarding crosspost
  src/structures/Message.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
