Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(UnsafeModalBuilder): make data public
  packages/builders/src/interactions/modals/UnsafeModal.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: use type union
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix types and add tests
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: allow strings to be passed through constructors
  packages/discord.js/src/structures/ButtonBuilder.js
  packages/discord.js/src/structures/SelectMenuBuilder.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: clarify that packages need to be locally built
  .github/CONTRIBUTING.md
Due: none

fix: pass `force` correctly
  packages/discord.js/src/structures/DMChannel.js
  packages/discord.js/src/structures/User.js
Due: eslint --fix

feat(VoiceChannel): add `video_quality_mode`
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/structures/VoiceChannel.js
  packages/discord.js/src/util/EnumResolvers.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: make changes
  packages/discord.js/src/structures/BaseGuildVoiceChannel.js
  packages/discord.js/src/structures/StageChannel.js
  packages/discord.js/src/structures/VoiceChannel.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(build): disable tsup minification
  packages/builders/tsup.config.ts
  packages/collection/tsup.config.ts
  packages/rest/tsup.config.ts
  packages/voice/tsup.config.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(build): add `"use strict";` to CJS bundles
  packages/builders/tsup.config.ts
  packages/collection/tsup.config.ts
  packages/rest/tsup.config.ts
  packages/voice/tsup.config.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(createWebhook): webhook name validation
  packages/discord.js/src/managers/GuildChannelManager.js
Due: eslint --fix

chore(build): disable tsup minification & add `"use strict";` banner to CJS bundles (#7725)
  packages/builders/tsup.config.ts
  packages/collection/tsup.config.ts
  packages/rest/tsup.config.ts
  packages/voice/tsup.config.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add clyde substring and remove dumb thing
  packages/discord.js/src/managers/GuildChannelManager.js
Due: eslint --fix

docs(VoiceChannel): fix typo
  packages/discord.js/src/structures/VoiceChannel.js
Due: eslint --fix

chore: what
  packages/discord.js/src/managers/GuildChannelManager.js
Due: eslint --fix

fix: imports
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/Message.js
Due: eslint --fix

typings(Embed): add missing author getter
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(IntegrationApplication): remove `summary`
  packages/discord.js/src/structures/IntegrationApplication.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(StageInstanceManager): add `sendStartNotification` option to create
  packages/discord.js/src/managers/StageInstanceManager.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: app authorization links and tags for v13
  src/structures/ClientApplication.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: no longer in the constructor
  src/structures/ClientApplication.js
Due: eslint --fix

chore: revert random newline removal
  src/structures/ClientApplication.js
Due: eslint --fix

docs: document tags
  src/structures/ClientApplication.js
Due: eslint --fix

chore: fix intendation
  src/structures/ClientApplication.js
Due: eslint --fix

chore: try to delete weird invisible character
  src/structures/ClientApplication.js
Due: eslint --fix

chore: fix intendation attempt 2
  src/structures/ClientApplication.js
Due: eslint --fix

chore: i think it should work now
  src/structures/ClientApplication.js
Due: eslint --fix

docs: update property description
  packages/discord.js/src/managers/StageInstanceManager.js
Due: eslint --fix

types(ModalSubmitInteraction): fix `components` type
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update the regex for command names/option names
  packages/builders/src/interactions/contextMenuCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/Assertions.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: remove nickname parsing
  packages/builders/__tests__/messages/formatters.test.ts
  packages/builders/src/messages/formatters.ts
  packages/discord.js/src/structures/MessageMentions.js
  packages/discord.js/src/util/Formatters.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: remove nickname import
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: make requested changes
  packages/discord.js/src/structures/ClientApplication.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: don't overwrite emoji with raw data
  packages/discord.js/src/structures/ButtonBuilder.js
  packages/discord.js/src/structures/SelectMenuBuilder.js
Due: eslint --fix

feat: add message error
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/managers/GuildChannelManager.js
Due: eslint --fix

typings(Embed): add hexColor, provider, and length getters
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: add #7575 changes
  packages/discord.js/src/managers/GuildMemberManager.js
Due: eslint --fix

fix: fix eslint error
  packages/discord.js/src/managers/GuildMemberManager.js
Due: eslint --fix

feat: move `.fetchOwner()` of `ThreadChannel` to `ThreadMemberManager`
  packages/discord.js/src/managers/ThreadMemberManager.js
  packages/discord.js/src/structures/ThreadChannel.js
Due: eslint --fix

types: fix types
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
