Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: deprecate `.deleted` getters (#7107)
  src/structures/Channel.js
  src/structures/Emoji.js
  src/structures/Guild.js
  src/structures/GuildMember.js
  src/structures/Message.js
  src/structures/Role.js
  src/structures/StageInstance.js
  src/structures/Sticker.js
  typings/index.d.ts
  typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Message): remove usage of `.deleted`
  src/structures/Message.js
Due: eslint --fix

fix(Message): remove usage of `.deleted` (#7109)
  src/structures/Message.js
Due: eslint --fix

docs(UserManager): Correct wording for `dmChannel`
  src/managers/UserManager.js
Due: eslint --fix

refactor(Sweepers): count all wrapping caches
  src/util/Sweepers.js
Due: eslint --fix

docs(GuildMember): tweak wording
  src/structures/GuildMember.js
Due: eslint --fix

fix(GuildMember): provide `force` parameter
  src/structures/GuildMember.js
Due: eslint --fix

types(User): also require `force`
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix non-null stuff
  typings/index.d.ts
  typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add API error
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: let sweep handle empty caches
  src/util/Sweepers.js
Due: eslint --fix

types: Fix possibly `null` message properties (#7111)
  typings/index.d.ts
  typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Client): add global sweepers (#6825)
  src/client/Client.js
  src/util/Constants.js
  src/util/LimitedCollection.js
  src/util/Options.js
  src/util/Sweepers.js
  src/util/Util.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update path
  src/managers/GuildMemberManager.js
Due: eslint --fix

chore(GuildMemberManager): Update nick path (#7114)
  src/managers/GuildMemberManager.js
Due: eslint --fix

fix(Message): xable check ephemeral
  src/structures/Message.js
Due: eslint --fix

feat: export Sweepers
  src/index.js
Due: eslint --fix

feat: Add API error code 50109 (#7112)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: export Sweepers (#7117)
  src/index.js
Due: eslint --fix

fix: nullify bannerId
  src/structures/StickerPack.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: make channel types a lot stricter
  typings/index.d.ts
  typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(StickerPack): also correct return type of `bannerURL`
  src/structures/StickerPack.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ApplicationFlags): add new flags
  src/util/ApplicationFlags.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ApplicationCommands): attachment application command option type
  src/structures/CommandInteractionOptionResolver.js
  typings/enums.d.ts
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(typings): add ApplicationCommandAttachmentOption
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(ApplicationCommand): add attachments to resolved data
  src/structures/BaseCommandInteraction.js
  src/structures/MessageAttachment.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: forward cache types to collector filters
  typings/index.d.ts
  typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: webhook typeguards should use string comparisons
  src/structures/Webhook.js
Due: eslint --fix

refactor(ApplicationCommands): fix jsdoc issues
  src/structures/BaseCommandInteraction.js
  src/util/Constants.js
Due: eslint --fix

refactor(CommandInteraction): properly create MessageAttachment
  src/structures/BaseCommandInteraction.js
Due: eslint --fix

refactor(MessageAttachment): remove filename patching
  src/structures/MessageAttachment.js
Due: eslint --fix

refactor(ApplicationCommands): fix linting errors
  src/structures/CommandInteractionOptionResolver.js
Due: eslint --fix

fix: Make the followUp function error more clear
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

Update src/structures/interfaces/InteractionResponses.js
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

This should solve the API hiccup instance, and allow the library to recover (ideally)
  src/client/actions/MessageCreate.js
Due: eslint --fix

types: forward cache types to collector filters (#7126)
  typings/index.d.ts
  typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: webhook typeguards should use string comparisons (#7127)
  src/structures/Webhook.js
Due: eslint --fix

fix(StickerPack): Nullify `bannerId` (#7119)
  src/structures/StickerPack.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Made the function async
  src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
