Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

docs(shardingmanager): fix type of `execArgv` option (#7284)
  packages/discord.js/src/sharding/ShardingManager.js
Due: eslint --fix

fix(guildemojimanager): map correctly
  packages/discord.js/src/managers/GuildEmojiManager.js
Due: eslint --fix

feat: rest hash and handler sweeping (#7255)
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/IHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/constants.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: remove required from getMember (#7188)
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(invite): make `channel` and `inviter` getters (#7278)
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(guildemojimanager): use `resolveId` instead of `resolve`
  packages/discord.js/src/managers/GuildEmojiManager.js
Due: eslint --fix

fix(guildemojimanager): merge screwup
  packages/discord.js/src/managers/GuildEmojiManager.js
Due: eslint --fix

BaseClient: pass `captureRejections` option
  packages/discord.js/src/client/BaseClient.js
Due: eslint --fix

types: fix regressions and inconsistencies
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix regressions and inconsistencies (#7260)
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(subcommandgroup): required default to false (#7217)
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

add warning to jsdoc
  packages/discord.js/src/sharding/ShardClientUtil.js
Due: eslint --fix

feat(interaction): add `isRespondable` type guard
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update packages/discord.js/src/structures/Interaction.js
  packages/discord.js/src/structures/Interaction.js
Due: eslint --fix

chore: respondable -> replyable
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: replyable -> repliable
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: fix spacing
  packages/discord.js/src/structures/Interaction.js
Due: eslint --fix

chore: make requested changes
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(interaction): add `isRepliable` type guard (#7259)
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(builders): dont export `Button` component stuff twice
  packages/builders/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add button resolver
  packages/discord.js/src/util/EnumResolvers.js
Due: eslint --fix

chore: add initial resolver
  packages/discord.js/src/util/EnumResolvers.js
Due: eslint --fix

fix(builders): dont export `Button` component stuff twice (#7289)
  packages/builders/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(guildemojimanager): use correct object when cloning
  packages/discord.js/src/managers/GuildEmojiManager.js
Due: eslint --fix

feat: add more resolvers, and export
  packages/discord.js/src/index.js
  packages/discord.js/src/util/EnumResolvers.js
Due: eslint --fix

feat: change internal code and add types
  packages/discord.js/src/client/actions/ChannelUpdate.js
  packages/discord.js/src/structures/AnonymousGuild.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/AutocompleteInteraction.js
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/MessageMentions.js
  packages/discord.js/src/structures/PermissionOverwrites.js
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/src/structures/StageInstance.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/src/structures/TeamMember.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(guildemojimanager): add `delete` and `edit` methods (#7286)
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/src/structures/GuildEmoji.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(voicechannel): remove editable
  packages/discord.js/src/structures/VoiceChannel.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(messagementions): fix `has` method
  packages/discord.js/src/structures/MessageMentions.js
Due: eslint --fix

refactor: remove boolean option
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: empty obj
  packages/discord.js/src/structures/Webhook.js
Due: eslint --fix

BaseClient: pass `captureRejections` option (#7288)
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/sharding/ShardClientUtil.js
Due: eslint --fix

chore: commit suggestion
  packages/discord.js/src/structures/MessageMentions.js
Due: eslint --fix

chore: replace to nullish coalescing operator
  packages/discord.js/src/structures/MessageMentions.js
Due: eslint --fix

chore: consistency with the rest of the lib
  packages/discord.js/src/structures/MessageMentions.js
Due: eslint --fix

docs: fix default
  packages/discord.js/src/structures/CategoryChannel.js
Due: eslint --fix

chore: remove useless nullish coalescing operators
  packages/discord.js/src/structures/MessageMentions.js
Due: eslint --fix

chore: make requested changes
  packages/discord.js/src/managers/ApplicationCommandPermissionsManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/MessageMentions.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/src/util/EnumResolvers.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
