Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

fix: resolved may be undefined
  src/structures/CommandInteraction.js
Due: eslint --fix

Update src/structures/Message.js
  src/structures/Message.js
Due: eslint --fix

workflows: add format code
  .github/workflows/format.yml
Due: none

fix: remove emoji
  .github/workflows/format.yml
Due: none

docs(ApplicationCommandData): fix type property (#6385)
  src/structures/ApplicationCommand.js
Due: eslint --fix

types(ApplicationCommandData): Stronger typings for `ApplicationCommandData` variants. (#6382)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Utils): add additional formatters
  package-lock.json
  package.json
  src/util/Formatters.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: this should work until december 2013.
  src/util/Formatters.js
Due: eslint --fix

Fix of 2 question marks in token constant
  src/rest/RESTManager.js
Due: eslint --fix

docs: fix links to Discord API interaction docs
  src/managers/ApplicationCommandPermissionsManager.js
  src/structures/ApplicationCommand.js
  src/structures/CommandInteraction.js
  src/util/Constants.js
Due: eslint --fix

types(ApplicationCommandOptionData): make subcommand option stronger
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: fingers crossed!
  src/util/Formatters.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

test(ApplicationCommandOptionData): add typing tests
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: ensure `discoverableDisabled` is `null`
  src/structures/StageInstance.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ApplicationCommandOptionData): export enums
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update typings/index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Utils): add additional formatters (#6388)
  package-lock.json
  package.json
  src/util/Formatters.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Constants): add to constants
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: apply null
  src/structures/WidgetMember.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: message option not being stored as raw value
  src/structures/ContextMenuInteraction.js
Due: eslint --fix

fix: apply suggestions from code review
  src/structures/BaseCommandInteraction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: apply suggestions from code review
  src/structures/BaseCommandInteraction.js
Due: eslint --fix

fix(Constants): fix discord API docs link
  src/util/Constants.js
Due: eslint --fix

fix(ContextMenuInteractin): store message as raw value (#6400)
  src/structures/ContextMenuInteraction.js
Due: eslint --fix

types: Always string
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Guild): Prefer is always a string
  src/structures/Guild.js
Due: eslint --fix

feat(GuildMemberManager): add 'list' method
  src/managers/GuildMemberManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(CommandInteractionResolvedData): access to "raw" resolved data (#6384)
  src/structures/BaseCommandInteraction.js
  src/structures/CommandInteraction.js
  src/structures/CommandInteractionOptionResolver.js
  src/structures/ContextMenuInteraction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings(ApplicationCommandOptionData): Align command data options types more with discord API (#6247)
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings(Constants): add `ApplicationCommandTypes` to `Constants` (#6398)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Guild): `preferredLocale` to always be a string (#6402)
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(WidgetMember): Default to `null` and not `undefined` (#6399)
  src/structures/WidgetMember.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(StageInstance): Ensure `discoverableDisabled` is not `undefined` (#6395)
  src/structures/StageInstance.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(exports): allow imports of specific paths (#6367)
  package.json
Due: none

fix(GuildMemberManager): fix jsdoc for GuildListMembersOptions' after
  src/managers/GuildMemberManager.js
Due: eslint --fix

types(ApplicationCommandData): make type optional
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildMemberManager): make list's parameter optional on the jsdoc
  src/managers/GuildMemberManager.js
Due: eslint --fix

docs: remove unparsed examples
  src/client/WebhookClient.js
  src/structures/Guild.js
Due: eslint --fix

fix(GuildMemberManager): fix grammatical error
  src/managers/GuildMemberManager.js
Due: eslint --fix
