Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Vanity): Make `uses` non-nullable (#6715)
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(TextBasedChannels): fix awaitMessageComponent return type (#6723)
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildManager): add missing types and converts (#6683)
  src/managers/GuildManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: Allow webhooks to fetch, edit and delete messages in threads (#6695)
  src/structures/Webhook.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

ci(Test): add ci caching
  .github/workflows/deploy.yml
  .github/workflows/test-cron.yml
  .github/workflows/test.yml
Due: none

types(Message): remove partial parameter
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Added memberPermissions to Interaction
  src/structures/Interaction.js
Due: eslint --fix

Update typings and account for permission is 0
  src/structures/Interaction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

perf: use logical assignments instead of if statements
  src/client/websocket/handlers/READY.js
  src/managers/GuildBanManager.js
  src/managers/GuildChannelManager.js
  src/managers/GuildManager.js
  src/managers/GuildMemberManager.js
  src/managers/RoleManager.js
  src/managers/StageInstanceManager.js
  src/structures/GuildChannel.js
  src/structures/Webhook.js
Due: eslint --fix

types: restrict instantiation where unintended
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(PartialGroupDMChannel): mark constructor as private
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Message): remove _update
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update src/structures/Interaction.js
  src/structures/Interaction.js
Due: eslint --fix

Revert permission 0 check & linted
  src/structures/Interaction.js
Due: eslint --fix

Update typings/index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Invite): #guild never resolved into a Guild
  src/structures/Invite.js
Due: eslint --fix

fix(Invite): GuildManager doesn't accept an api guild
  src/structures/Invite.js
Due: eslint --fix

fix(Invite): #guild never resolving into a Guild (#6742)
  src/structures/Invite.js
Due: eslint --fix

docs: document toJSON of button and select menu better
  src/structures/MessageButton.js
  src/structures/MessageSelectMenu.js
Due: eslint --fix

types: strengthen types
  src/managers/GuildInviteManager.js
  src/structures/NewsChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: compress invite channel type
  src/managers/GuildInviteManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

apply suggestions from code review
  src/util/Options.js
Due: eslint --fix

types(ChannelTypes): remove unknown from CHANNEL options (#6701)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: don't patch set data with undefined (#6694)
  src/structures/AnonymousGuild.js
  src/structures/ApplicationCommand.js
  src/structures/BaseGuildEmoji.js
  src/structures/BaseGuildVoiceChannel.js
  src/structures/ClientApplication.js
  src/structures/ClientUser.js
  src/structures/DMChannel.js
  src/structures/Guild.js
  src/structures/GuildBan.js
  src/structures/GuildPreview.js
  src/structures/GuildTemplate.js
  src/structures/Integration.js
  src/structures/IntegrationApplication.js
  src/structures/Invite.js
  src/structures/InviteStageInstance.js
  src/structures/Message.js
  src/structures/MessageAttachment.js
  src/structures/MessageReaction.js
  src/structures/PermissionOverwrites.js
  src/structures/Presence.js
  src/structures/Role.js
  src/structures/StageInstance.js
  src/structures/Sticker.js
  src/structures/Team.js
  src/structures/TeamMember.js
  src/structures/ThreadChannel.js
  src/structures/ThreadMember.js
  src/structures/Typing.js
  src/structures/User.js
  src/structures/VoiceState.js
  src/structures/Webhook.js
  src/structures/Widget.js
  src/structures/interfaces/Application.js
Due: eslint --fix

perf: use logical assignments instead of if statements (#6693)
  src/client/websocket/handlers/READY.js
  src/managers/GuildBanManager.js
  src/managers/GuildChannelManager.js
  src/managers/GuildManager.js
  src/managers/GuildMemberManager.js
  src/managers/RoleManager.js
  src/managers/StageInstanceManager.js
  src/structures/GuildChannel.js
  src/structures/Webhook.js
Due: eslint --fix

feat(CategoryChannel): add createChannel shortcut method (#6614)
  src/managers/GuildChannelManager.js
  src/structures/CategoryChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Interaction): add memberPermissions (#6741)
  src/structures/Interaction.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Role): toJSON() throwing due to permission bigints (#6724)
  src/structures/Role.js
Due: eslint --fix

types: More accurate types instead of `GuildChannelResolvable` (#6744)
  src/managers/GuildInviteManager.js
  src/structures/NewsChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: undocument private constructors (#6732)
  src/sharding/Shard.js
  src/sharding/ShardClientUtil.js
  src/structures/BaseGuildTextChannel.js
  src/structures/ClientPresence.js
  src/structures/DMChannel.js
  src/structures/Guild.js
  src/structures/GuildBan.js
  src/structures/GuildChannel.js
  src/structures/GuildEmoji.js
  src/structures/GuildMember.js
  src/structures/GuildPreview.js
  src/structures/GuildTemplate.js
  src/structures/Message.js
  src/structures/MessageReaction.js
  src/structures/Presence.js
  src/structures/Role.js
  src/structures/Sticker.js
  src/structures/StickerPack.js
  src/structures/StoreChannel.js
  src/structures/ThreadChannel.js
  src/structures/ThreadMember.js
  src/structures/Typing.js
  src/structures/User.js
  src/structures/VoiceState.js
  src/structures/Widget.js
  src/structures/WidgetMember.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Shard): use provided timeout when respawning (#6735)
  src/sharding/Shard.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ReactionCollector): only call the filter function once (#6734)
  src/structures/ReactionCollector.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: use existing definitions
  src/structures/MessageButton.js
  src/structures/MessageSelectMenu.js
Due: eslint --fix

docs: grammar
  src/structures/MessageSelectMenu.js
Due: eslint --fix

docs: Better links for `.toJSON()` of button and select menu (#6745)
  src/structures/MessageButton.js
  src/structures/MessageSelectMenu.js
Due: eslint --fix

fix(Message): avoid overwriting properties in _patch (#6738)
  src/client/actions/MessageUpdate.js
  src/structures/Message.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add ExcludeEnum for better typings
  typings/enums.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: make tests more accurate
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
