Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(UserManager): lint
  src/managers/UserManager.js
Due: eslint --fix

feat: add StickerPack
  src/client/Client.js
  src/structures/Sticker.js
  src/structures/StickerPack.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Sticker): add fetchPack()
  src/structures/Sticker.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix order
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

use client.guilds.resolve
  src/structures/Sticker.js
Due: eslint --fix

fix: rename StickerBanner to StickerPackBanner
  src/structures/StickerPack.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: stage instance invite (#5856)
  src/structures/Invite.js
  src/structures/InviteStageInstance.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Client): add fetchSticker(id)
  src/client/Client.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(ReplyMessageOptions,MessageEditOptions): replaced `embed` with `embeds` (#5860)
  src/structures/Message.js
Due: eslint --fix

Fix not showing VoiceState#channel can be null
  src/structures/VoiceState.js
Due: eslint --fix

docs(VoiceState): channel can be null (#5872)
  src/structures/VoiceState.js
Due: eslint --fix

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Create fortify-analysis.yml
  .github/workflows/fortify-analysis.yml
Due: none

Create codescan-analysis.yml
  .github/workflows/codescan-analysis.yml
Due: none

Create veracode-analysis.yml
  .github/workflows/veracode-analysis.yml
Due: none

Create synopsys-io-analysis.yml
  .github/workflows/synopsys-io-analysis.yml
Due: none

Create njsscan-analysis.yml
  .github/workflows/njsscan-analysis.yml
Due: none

Create kubesec-analysis.yml
  .github/workflows/kubesec-analysis.yml
Due: none

Create mayhem-for-api-analysis.yml
  .github/workflows/mayhem-for-api-analysis.yml
Due: none

docs(*): add external jsdoc comments for api objects
  src/managers/ApplicationCommandManager.js
  src/rest/DiscordAPIError.js
  src/structures/APIMessage.js
  src/structures/ApplicationCommand.js
  src/structures/Channel.js
  src/structures/ClientUser.js
  src/structures/CommandInteraction.js
  src/structures/Emoji.js
  src/structures/Guild.js
  src/structures/GuildBan.js
  src/structures/GuildMember.js
  src/structures/GuildTemplate.js
  src/structures/MessageActionRow.js
  src/structures/MessageAttachment.js
  src/structures/MessageEmbed.js
  src/structures/MessageReaction.js
  src/structures/Presence.js
  src/structures/Role.js
  src/structures/User.js
  src/structures/VoiceState.js
  src/structures/Webhook.js
Due: eslint --fix

Options are meant to be optional
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Edit fetchSticker desc
  src/client/Client.js
Due: eslint --fix

style: switch from .then to async/await
  src/client/Client.js
Due: eslint --fix

feat(interactions): Subcommand and subcommand group are now resolved.
  src/structures/CommandInteraction.js
Due: eslint --fix

fix: some issues from previous commit
  src/structures/CommandInteraction.js
Due: eslint --fix

Revert "chore(BaseGuildEmojiManager): accept broader emoji data"
  src/managers/BaseGuildEmojiManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(WelcomeScreen): welcome screens (#5490)
  src/managers/ChannelManager.js
  src/structures/AnonymousGuild.js
  src/structures/BaseGuild.js
  src/structures/Channel.js
  src/structures/Emoji.js
  src/structures/Guild.js
  src/structures/Invite.js
  src/structures/InviteGuild.js
  src/structures/WelcomeChannel.js
  src/structures/WelcomeScreen.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(presenceUpdate): fire when only state/details change on an activity (#5846)
  src/structures/Presence.js
Due: eslint --fix

style: use data variables instead of inline API reqs
  src/client/Client.js
Due: eslint --fix

fix(Guild): don't patch before instance properties
  src/structures/AnonymousGuild.js
  src/structures/Guild.js
Due: eslint --fix

types: fix typings for guild contsructors
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix typo
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Message): flags not being parsed on some edits
  src/managers/MessageManager.js
  src/structures/APIMessage.js
  src/structures/Message.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add APIError codes for stage instance
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Managers): ✨ Add GuildInviteManager
  src/client/actions/InviteCreate.js
  src/client/actions/InviteDelete.js
  src/errors/Messages.js
  src/managers/GuildInviteManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(GuildInviteManager) Fix pluralization of class name in typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Guild): don't patch before instance properties (#5885)
  src/structures/AnonymousGuild.js
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add APIError codes for stage instance (#5888)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(MessageComponent): rename APIComponent -> APIMessageComponent
  src/structures/MessageActionRow.js
  src/structures/MessageButton.js
Due: eslint --fix

refactor: 💬 Adds literary corrections
  src/errors/Messages.js
  src/managers/GuildInviteManager.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
