Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

chore: change testing to tests for workflow
  .github/workflows/test.yml
Due: none

types: omit option resolver methods from interactions that don't need it
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: unnecessary generic
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(TextBasedChannel): text channel interaction collectors should have `message` option (#6903)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ApplicationCommandManager): add missing overload for `fetch` (#6904)
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Shard): eval returns a promise resolving with T instead of T[]
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: rough commit
  typings/index.d.ts
  typings/tests.js
  typings/tests.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(APIRequest): possibly resolve comments regarding stickers
  src/rest/APIRequest.js
Due: eslint --fix

types: document description for FileOptions
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

lint: add missing semicolon
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: add description to examples
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

fix: type tests
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Revert "chore: rough commit"
  typings/index.d.ts
  typings/tests.js
  typings/tests.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Revert "Revert "chore: rough commit""
  typings/index.d.ts
  typings/tests.js
  typings/tests.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove js file
  typings/tests.js
Due: eslint --fix

types(Constants): remove deleted properties from Package
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Shard): eval returns a promise resolving with T instead of T[] (#6901)
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add support for autocomplete interactions (#6672)
  .github/ISSUE_TEMPLATE/bug_report.yml
  package-lock.json
  src/client/actions/InteractionCreate.js
  src/errors/Messages.js
  src/index.js
  src/structures/ApplicationCommand.js
  src/structures/AutocompleteInteraction.js
  src/structures/BaseCommandInteraction.js
  src/structures/CommandInteractionOptionResolver.js
  src/structures/Interaction.js
  src/util/Constants.js
  typings/enums.d.ts
  typings/index.d.ts
  typings/tests.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

ci: release dev version only if required (#6879)
  .github/workflows/publish-dev.yml
Due: none

docs(InteractionCollector): Add info block about being prone to always running (#6906)
  src/structures/InteractionCollector.js
Due: eslint --fix

Update index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: make requested changes
  src/managers/ThreadMemberManager.js
Due: eslint --fix

Update test.yml
  .github/workflows/test.yml
Due: none

docs(Constants): Document missing interaction type
  src/util/Constants.js
Due: eslint --fix

docs(Constants): Document missing interaction response type
  src/util/Constants.js
Due: eslint --fix

Update src/managers/ThreadMemberManager.js
  src/managers/ThreadMemberManager.js
Due: eslint --fix

types(Constants): remove deleted properties from Package (#6908)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Constants): Document missing autocomplete interaction constants (#6916)
  src/util/Constants.js
Due: eslint --fix

feat(ThreadMemberManager): allow individual members to be fetched (#6889)
  .github/workflows/publish-dev.yml
  package-lock.json
  src/managers/ThreadMemberManager.js
  typings/index.d.ts
  typings/tests.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: Handle message bulk delete and thread delete in collectors (#6902)
  src/structures/InteractionCollector.js
  src/structures/MessageCollector.js
  src/structures/ReactionCollector.js
Due: eslint --fix
