Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: perfect...
  packages/builders/package.json
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionChannelTypesMixin.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: ignore index files in coverage (#8293)
  packages/collection/src/collection.ts
  packages/collection/src/index.ts
  vitest.config.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildChannelManager): Access `resolveId` correctly (#8296)
  packages/discord.js/src/managers/GuildChannelManager.js
Due: eslint --fix

fix(GuildChannelManager): Access `resolveId` correctly (v13) (#8297)
  src/managers/GuildChannelManager.js
Due: eslint --fix

fix: slash command name regex (#8265)
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/src/interactions/slashCommands/Assertions.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(VoiceReceiver): parsePacket correctly (#8277)
  packages/voice/src/receive/VoiceReceiver.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: remove expect error (#8242)
  packages/builders/package.json
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionChannelTypesMixin.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: remove `MemberMention` (#8292)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(rest): add content-type(s) to uploads (#8290)
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/util/DataResolver.js
  packages/discord.js/typings/index.d.ts
  packages/rest/package.json
  packages/rest/src/lib/RequestManager.ts
  yarn.lock
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(PermissionOverwriteManager): mutates user (#8283)
  packages/discord.js/src/managers/PermissionOverwriteManager.js
Due: eslint --fix

style: fix prettier errors
  packages/discord.js/src/managers/PermissionOverwriteManager.js
Due: eslint --fix

Fix PermissionOverwriteManager changing userOrRole
  src/managers/PermissionOverwriteManager.js
Due: eslint --fix

fix(PermissionOverwriteManager): mutates user (#8282)
  src/managers/PermissionOverwriteManager.js
Due: eslint --fix

docs: add new HTTP Error Codes `50068` (v13) (#8273)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: deps
  package.json
  packages/actions/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/discord.js/package.json
  packages/discord.js/src/managers/PermissionOverwriteManager.js
  packages/docgen/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/voice/package.json
  packages/website/package.json
  yarn.lock
Due: eslint --fix

chore(builders): release @discordjs/builders@0.16.0
  packages/builders/CHANGELOG.md
  packages/builders/package.json
Due: none

test(builders): improve coverage
  packages/builders/__tests__/components/components.test.ts
  packages/builders/__tests__/interactions/ContextMenuCommands.test.ts
  packages/builders/__tests__/interactions/SlashCommands/Options.test.ts
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/__tests__/interactions/modal.test.ts
  packages/builders/__tests__/util.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(builders): bump dev version
  packages/builders/package.json
Due: none

chore: deps
  .cliff-jumperrc.json
  cliff.toml
  package-lock.json
  package.json
Due: none

chore(discord.js): release discord.js@13.9.0
  .cliff-jumperrc.json
  CHANGELOG.md
  package.json
Due: none

chore: update changelog
  packages/discord.js/CHANGELOG.md
Due: none

chore(collection): release @discordjs/collection@0.8.0
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: none

chore(rest): release @discordjs/rest@0.6.0
  packages/rest/CHANGELOG.md
  packages/rest/package.json
Due: none

chore(voice): release @discordjs/voice@0.11.0
  packages/voice/CHANGELOG.md
  packages/voice/package.json
Due: none

chore: bump dev versions
  packages/collection/package.json
  packages/rest/package.json
  packages/voice/package.json
Due: none

types(CategoryChannelChildManager): fix Holds type (#8288)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Embed): Add all the types (#8254)
  packages/discord.js/src/structures/Embed.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Embeds.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: Remove `@private` constructor documentation (#8255)
  packages/discord.js/src/structures/Component.js
  packages/discord.js/src/structures/InteractionResponse.js
Due: eslint --fix

docs: align webhook method return types with implementation (#8253)
  packages/discord.js/src/client/WebhookClient.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(GuildFeature): allow feature strings to be passed (#8264)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Util)!: rename `fetchRecommendedShards` (#8298)
  packages/discord.js/src/sharding/ShardingManager.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

test(builders): improve coverage (#8274)
  packages/builders/__tests__/components/components.test.ts
  packages/builders/__tests__/interactions/ContextMenuCommands.test.ts
  packages/builders/__tests__/interactions/SlashCommands/Options.test.ts
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/__tests__/interactions/modal.test.ts
  packages/builders/__tests__/util.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildMemberManager): allow self-nicknames again
  packages/discord.js/src/managers/GuildMemberManager.js
Due: eslint --fix

fix(GuildMemberManager): Allow setting own nickname (#8066)
  packages/discord.js/src/managers/GuildMemberManager.js
Due: eslint --fix

chore: release @discordjs/builders, @discordjs/collection, @discordjs/proxy, @discordjs/rest
  packages/builders/CHANGELOG.md
  packages/builders/package.json
  packages/collection/CHANGELOG.md
  packages/collection/package.json
  packages/proxy/CHANGELOG.md
  packages/proxy/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
Due: none

chore: update dev versions
  packages/builders/package.json
  packages/collection/package.json
  packages/proxy/package.json
  packages/rest/package.json
Due: none

chore: deps
  packages/docgen/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/website/package.json
  yarn.lock
Due: none

chore(discord.js): release discord.js
  packages/discord.js/CHANGELOG.md
  packages/discord.js/package.json
Due: none

chore: bump dev version
  packages/discord.js/README.md
  packages/discord.js/package.json
Due: none

chore: release bump
  packages/discord.js/CHANGELOG.md
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
