Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Fix bug
  packages/discord.js/src/client/websocket/WebSocketManager.js
Due: eslint --fix

Fix types
  src/structures/BaseGuildTextChannel.js
Due: eslint --fix

docs(InteractionResponse): fix return
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

chore: move deps to root and some miscellaneous changes
  .gitignore
  .husky/pre-commit
  .prettierignore
  package.json
  packages/actions/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/discord.js/.eslintrc.json
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/voice/.eslintrc.json
  packages/voice/package.json
  packages/website/package.json
  yarn.lock
Due: none

fix(Messages): correct error here too
  packages/discord.js/src/errors/Messages.js
Due: eslint --fix

docs(Partials): Tweak wording
  packages/discord.js/src/util/Partials.js
Due: eslint --fix

fix(WebSocketManager): Correct error name (#8138)
  packages/discord.js/src/client/websocket/WebSocketManager.js
  packages/discord.js/src/errors/Messages.js
Due: eslint --fix

docs(InteractionResponse): fix return (#8141)
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
Due: eslint --fix

fix(vcs): nsfw property (#8132)
  packages/discord.js/src/structures/VoiceChannel.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: remove @sindresorhus/is as it's now esm only (#8133)
  packages/builders/package.json
  packages/builders/src/interactions/slashCommands/Assertions.ts
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

revert: website and release changes
  packages/builders/package.json
  packages/collection/package.json
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/website/package.json
  yarn.lock
Due: none

chore: node version
  packages/website/package.json
  yarn.lock
Due: none

chore: regen lockfile
  yarn.lock
Due: none

chore: move deps to root and some miscellaneous changes (#8129)
  .gitignore
  .husky/pre-commit
  .prettierignore
  package.json
  packages/actions/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/discord.js/.eslintrc.json
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/voice/.eslintrc.json
  packages/voice/package.json
  packages/website/package.json
  yarn.lock
Due: none

docs(APITypes): remove duplicate type definition
  packages/discord.js/src/util/APITypes.js
Due: eslint --fix

types: use `ThreadAutoArchiveDuration` enum
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix modal builder constructor data type
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add missing nsfw type to voice channels
  packages/discord.js/src/structures/VoiceChannel.js
Due: eslint --fix

docs: Document missing type definitions (#8130)
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/util/Colors.js
  packages/discord.js/src/util/Events.js
  packages/discord.js/src/util/Partials.js
  packages/discord.js/src/util/ShardEvents.js
  packages/discord.js/src/util/Status.js
Due: eslint --fix

docs(APITypes): Remove duplicate type definition (#8144)
  packages/discord.js/src/util/APITypes.js
Due: eslint --fix

types: Use `ThreadAutoArchiveDuration` from discord-api-types (#8145)
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: map ws error codes to djs error codes
  packages/discord.js/src/client/websocket/WebSocketManager.js
  packages/discord.js/src/errors/Messages.js
Due: eslint --fix

refactor: get unrecoverable error codes from errorcodemap keys
  packages/discord.js/src/client/websocket/WebSocketManager.js
  packages/discord.js/src/errors/DJSError.js
Due: eslint --fix

fix(WebSocketShard): keep an error handler on connections
  packages/discord.js/src/client/websocket/WebSocketShard.js
Due: eslint --fix

fix(typings): properly fix types
  src/structures/BaseGuildTextChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: apply suggestion
  packages/discord.js/src/client/websocket/WebSocketManager.js
Due: eslint --fix

docs: update threads to use `ThreadAutoArchiveDuration`
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/ThreadChannel.js
Due: eslint --fix

docs(Channels): internally document channel creation
  packages/discord.js/src/util/Channels.js
Due: eslint --fix

docs: `TextBasedChannel` typos
  src/structures/Message.js
  src/structures/MessagePayload.js
Due: eslint --fix

refactor(Constants): tidy up file
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Constants): add type definition
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(DJSError): error code validation (#8149)
  packages/discord.js/src/client/websocket/WebSocketManager.js
  packages/discord.js/src/errors/DJSError.js
  packages/discord.js/src/errors/Messages.js
Due: eslint --fix

fix(WebSocketShard): keep an error handler on connections (#8150)
  packages/discord.js/src/client/websocket/WebSocketShard.js
Due: eslint --fix

docs: Update threads to use `ThreadAutoArchiveDuration` (#8153)
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/ThreadChannel.js
Due: eslint --fix

refactor(Constants): Remove leftover code (#8156)
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Channels): internally document channel creation (#8154)
  packages/discord.js/src/util/Channels.js
Due: eslint --fix

types: fix modal builder constructor data type (#8143)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Constants): fix SweeperKeys type
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

revert: refactor: move eslint.tsconfig.json to root
  packages/actions/tsconfig.eslint.json
  packages/builders/__tests__/messages/formatters.test.ts
  packages/builders/tsconfig.eslint.json
  packages/collection/tsconfig.eslint.json
  packages/docgen/tsconfig.eslint.json
  packages/proxy-container/tsconfig.eslint.json
  packages/proxy/tsconfig.eslint.json
  packages/rest/tsconfig.eslint.json
  packages/scripts/tsconfig.eslint.json
  packages/voice/tsconfig.eslint.json
  packages/website/tsconfig.eslint.json
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

revert: refactor: move eslint.tsconfig.json to root (#8159)
  packages/actions/tsconfig.eslint.json
  packages/builders/__tests__/messages/formatters.test.ts
  packages/builders/tsconfig.eslint.json
  packages/collection/tsconfig.eslint.json
  packages/docgen/tsconfig.eslint.json
  packages/proxy-container/tsconfig.eslint.json
  packages/proxy/tsconfig.eslint.json
  packages/rest/tsconfig.eslint.json
  packages/scripts/tsconfig.eslint.json
  packages/voice/tsconfig.eslint.json
  packages/website/tsconfig.eslint.json
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
