Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: change GuildEvent filename to GuildScheduledEvent
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

refactor: keep up with the recent upstream changes
  src/managers/GuildEventManager.js
  src/structures/GuildEventEntityMetadata.js
  src/util/Constants.js
Due: eslint --fix

refactor: rename GuildEventManager filename & related guild prop
  src/client/actions/GuildScheduledEventCreate.js
  src/client/actions/GuildScheduledEventDelete.js
  src/client/actions/GuildScheduledEventUpdate.js
  src/managers/GuildScheduledEventManager.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
Due: eslint --fix

refactor: rename class to GuildScheduledEventManager & more
  src/client/actions/GuildScheduledEventCreate.js
  src/client/actions/GuildScheduledEventDelete.js
  src/client/actions/GuildScheduledEventUpdate.js
  src/managers/GuildEventManager.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildScheduledEvent.js
  src/util/Constants.js
Due: eslint --fix

refactor: rename GUILD_EVENT target type and error message key
  src/errors/Messages.js
  src/managers/GuildScheduledEventManager.js
  src/structures/GuildAuditLogs.js
Due: eslint --fix

feat: add the new upstream changes (Part 1)
  src/client/Client.js
  src/client/actions/GuildScheduledEventUserAdd.js
  src/client/actions/GuildScheduledEventUserRemove.js
  src/client/websocket/handlers/GUILD_SCHEDULED_EVENT_USER_ADD.js
  src/client/websocket/handlers/GUILD_SCHEDULED_EVENT_USER_REMOVE.js
  src/managers/GuildScheduledEventManager.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildEventEntityMetadata.js
  src/structures/GuildScheduledEvent.js
  src/structures/Invite.js
  src/util/Constants.js
Due: eslint --fix

feat: add the new upstream changes (Part 2)
  .github/ISSUE_TEMPLATE/bug_report.yml
  src/managers/GuildScheduledEventManager.js
  src/structures/GuildScheduledEvent.js
  src/util/Constants.js
  src/util/Intents.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add options for setting entity metadata when creating/editing
  src/managers/GuildScheduledEventManager.js
Due: eslint --fix

refactor(GuildScheduledEvent): remove image property
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

types: add type definitions
  typings/enums.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Constants): add links to API docs
  src/util/Constants.js
Due: eslint --fix

refactor(GuildScheduledEvent): check for nullable fields
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

feat: add ability to fetch event data with invite and more
  src/client/Client.js
  src/managers/GuildScheduledEventManager.js
  src/structures/GuildScheduledEvent.js
  src/structures/Invite.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add methods for editing individual props
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: add examples
  src/managers/GuildScheduledEventManager.js
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

types: add raw data type for scheduled event
  typings/index.d.ts
  typings/rawDataTypes.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add conditional typings for guild event fetch method
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(GuildScheduledEvent): remove speakerIds prop
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

fix(Invite): assign null to guildScheduledEvent prop correctly
  src/structures/Invite.js
Due: eslint --fix

fix: apply suggestions from review
  src/client/actions/GuildScheduledEventUserRemove.js
  src/managers/GuildScheduledEventManager.js
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: use correct event name in user remove action
  src/client/actions/GuildScheduledEventUserRemove.js
Due: eslint --fix

fix(Constants): max len error
  src/util/Constants.js
Due: eslint --fix

fix: assign scheduled event's nullable props correctly
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: apply suggestions from review
  src/structures/GuildScheduledEvent.js
Due: eslint --fix

feat: add scheduled end time option
  src/managers/GuildScheduledEventManager.js
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildScheduledEvent): add method for fetching subscribers
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: ❄️
  src/managers/GuildScheduledEventManager.js
Due: eslint --fix

feat: add upstream changes
  src/managers/GuildScheduledEventManager.js
  src/structures/GuildScheduledEvent.js
  src/util/Constants.js
  typings/enums.d.ts
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: remove speakers field
  src/managers/GuildScheduledEventManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: move types to their correct position
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add new error codes
  .vscode/settings.json
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildScheduledEventUpdate): add check for uncached event
  src/client/actions/GuildScheduledEventUpdate.js
Due: eslint --fix

chore: delete vscode settings file
  .vscode/settings.json
Due: none

feat: export manager and structure for scheduled event
  src/index.js
Due: eslint --fix

feat: add GUILD_SCHEDULED_EVENT partial
  .github/ISSUE_TEMPLATE/bug_report.yml
  src/client/actions/Action.js
  src/client/actions/GuildScheduledEventUserAdd.js
  src/client/actions/GuildScheduledEventUserRemove.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: allow endtime to be null and add method to edit it
  src/managers/GuildScheduledEventManager.js
  src/structures/GuildScheduledEvent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: apply suggestion from code review
  src/client/Client.js
Due: eslint --fix

refactor(GuildScheduledEventManager): rm redundant checks for end time
  src/managers/GuildScheduledEventManager.js
Due: eslint --fix

feat: update scheduled events cache on GUILD_CREATE
  src/structures/Guild.js
Due: eslint --fix

refactor: ^._.^ genius Part II
  src/managers/GuildScheduledEventManager.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
