Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: add Partial typedef (#6029)
  src/structures/MessageEmbed.js
Due: eslint --fix

types: better fullPermissions typings (#6028)
  typings/index.d.ts
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(MessageManager): document options param for #edit as required (#6031)
  src/managers/MessageManager.js
Due: eslint --fix

fix(Structures): remove Structures (#6027)
  src/client/Client.js
  src/client/actions/InteractionCreate.js
  src/client/actions/VoiceStateUpdate.js
  src/index.js
  src/managers/DataManager.js
  src/structures/Channel.js
  src/structures/ClientUser.js
  src/structures/GuildMember.js
  src/structures/User.js
  src/util/Structures.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add GuildStickerManager and events
  src/client/actions/ActionsManager.js
  src/client/actions/GuildStickerCreate.js
  src/client/actions/GuildStickerDelete.js
  src/client/actions/GuildStickerUpdate.js
  src/client/actions/GuildStickersUpdate.js
  src/client/websocket/handlers/GUILD_STICKERS_UPDATE.js
  src/index.js
  src/managers/GuildStickerManager.js
  src/rest/APIRequest.js
  src/structures/Guild.js
  src/structures/Sticker.js
  src/util/Constants.js
  src/util/Intents.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update src/managers/MessageManager.js
  src/managers/MessageManager.js
Due: eslint --fix

chore: remove unnecessary getter
  src/index.js
Due: eslint --fix

feat(Message): add 'failIfNotExists' to ClientOptions
  src/client/Client.js
  src/structures/Message.js
  src/structures/MessagePayload.js
  src/util/Options.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MessagePayload): 'client' from 'target'
  src/structures/MessagePayload.js
Due: eslint --fix

chore: remove unnecessary getter (#6037)
  src/index.js
Due: eslint --fix

refactor(GuildInviteManager): ♻️ Add changes due to methods changes
  src/managers/GuildInviteManager.js
Due: eslint --fix

types(GuildInviteManager): 🏷️ Fix typings due to external changes
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Voice): move types to d.js
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: added padding lines
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Voice): move types to the library's definitions (#6041)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: xID to xId
  src/structures/User.js
Due: eslint --fix

typings, Options should extend null
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: don't use declare module
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: move imports to the top of the file
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update typings/index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: export everything
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: correct imports in test file
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Options): should extend null (#6042)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: move enums to separate file
  typings/enums.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(LimitedCollection): export LimitedCollection
  src/index.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: move everything into correct regions
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: change interface to type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: remove some outdated or unused stuff
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update Team.js
  src/structures/Team.js
Due: eslint --fix

chore: add public to constructors
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove unnecessary check for scopes
  src/client/Client.js
Due: eslint --fix

refactor: replace PathLike with string
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove @private
  src/util/LimitedCollection.js
Due: eslint --fix

refactor: use Record instead of index signatures
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: remove duplicated overloads from Collection
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Managers): ✨ Add GuildInviteManager (#5889)
  src/client/actions/InviteCreate.js
  src/client/actions/InviteDelete.js
  src/errors/Messages.js
  src/managers/GuildInviteManager.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Client): enforce passing scopes to generateInvite (#6024)
  src/client/Client.js
  src/errors/Messages.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
