Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

fix(ShardingManager): fix respawnAll not passing delay correctly
  src/sharding/ShardingManager.js
Due: eslint --fix

docs(Sticker): Fix typo
  src/structures/Sticker.js
Due: eslint --fix

docs(Constants): document missing errors
  src/util/Constants.js
Due: eslint --fix

docs(Constants): Document missing errors (#7086)
  src/util/Constants.js
Due: eslint --fix

feat: initial push
  src/managers/UserManager.js
  src/structures/User.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: press ctrl + s
  src/managers/UserManager.js
Due: eslint --fix

refactor: simplify `dmChannel`
  src/managers/UserManager.js
  src/structures/User.js
Due: eslint --fix

types: add private method
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: fancy links
  src/managers/UserManager.js
Due: eslint --fix

feat: initial push
  src/managers/RoleManager.js
  src/structures/Role.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: add deprecation warning
  src/structures/Role.js
Due: eslint --fix

types: use mapped enums instead of overloads
  typings/index.d.ts
  typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: implement send
  src/managers/UserManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: update deprecation descriptions
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Client): add global sweepers
  src/client/Client.js
  src/util/Constants.js
  src/util/LimitedCollection.js
  src/util/Options.js
  src/util/Sweepers.js
Due: eslint --fix

refactor(Sweepers): make intervals a record
  src/util/LimitedCollection.js
  src/util/Sweepers.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: address pr comments
  src/client/Client.js
  src/util/Sweepers.js
Due: eslint --fix

refactor(Sweepers): cache the cache
  src/util/Sweepers.js
Due: eslint --fix

types(Sweepers): add types for global sweepers
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: better indentation, less mutation
  src/util/Sweepers.js
Due: eslint --fix

feat(Sweepers): add util functions and default settings
  src/util/Options.js
  src/util/Sweepers.js
  src/util/Util.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: testing
  src/util/Sweepers.js
Due: eslint --fix

docs: finalize deprecations
  src/client/Client.js
  src/util/LimitedCollection.js
  src/util/Options.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: no promise in constructor
  src/structures/GuildAuditLogs.js
  src/structures/Invite.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Invite): typo
  src/structures/Invite.js
Due: eslint --fix

feat: attempt to resolve if in cache already
  src/structures/Invite.js
Due: eslint --fix

types(GuildAuditLog): strengthen types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: tests
  typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: use existing array
  src/util/Sweepers.js
Due: eslint --fix

fix(ShardingManager): fix respawnAll not passing delay correctly (#7084)
  src/sharding/ShardingManager.js
Due: eslint --fix

types(GuildAuditLog): Strengthen types (#7090)
  typings/index.d.ts
  typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Sticker): Fix typo (#7085)
  src/structures/Sticker.js
Due: eslint --fix

refactor: can use method actually
  src/structures/Role.js
Due: eslint --fix

docs(RoleManager): tidy up wording
  src/managers/RoleManager.js
Due: eslint --fix

fix(RoleManager): correct `delete()` return type
  src/managers/RoleManager.js
Due: eslint --fix

fix(RoleManager): handle extreme edge case
  src/managers/RoleManager.js
Due: eslint --fix

fix(RoleManager): ensure return type is `number`
  src/managers/RoleManager.js
Due: eslint --fix

types: fix regression
  typings/index.d.ts
  typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Guild): remove duplicate methods
  src/structures/AnonymousGuild.js
  src/structures/Guild.js
Due: eslint --fix

refactor: return `void` on manager, `this` on structure
  src/managers/RoleManager.js
  src/structures/Role.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf
