Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(APIMessage): remove disableMentions (#4836)
  src/client/Client.js
  src/structures/APIMessage.js
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Constants.js
  src/util/Util.js
  test/disableMentions.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Message): remove options for Message#delete (#4999)
  src/managers/MessageManager.js
  src/structures/Message.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: implement valueOf on pseudomanagers (#4595)
  src/managers/GuildEmojiRoleManager.js
  src/managers/GuildMemberRoleManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(Role): role tags (#4628)
  src/managers/GuildMemberRoleManager.js
  src/managers/RoleManager.js
  src/structures/Integration.js
  src/structures/Role.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(TextBasedChannel): indicate that replyTo cannot be system (#5115)
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

feat(Browser): remove browser � (#5113)
  .eslintrc.json
  .github/workflows/deploy.yml
  .tern-project
  docs/index.yml
  docs/topics/web.md
  package-lock.json
  package.json
  src/WebSocket.js
  src/client/Client.js
  src/client/websocket/WebSocketShard.js
  src/errors/Messages.js
  src/rest/APIRequest.js
  src/rest/RequestHandler.js
  src/structures/APIMessage.js
  src/structures/Guild.js
  src/structures/VoiceChannel.js
  src/structures/VoiceState.js
  src/util/Constants.js
  src/util/DataResolver.js
  test/webpack.html
  typings/index.d.ts
  webpack.config.js
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update src/structures/Message.js
  src/structures/Message.js
Due: eslint --fix

revert: 5047 (#5050)
  src/structures/MessageReaction.js
Due: eslint --fix

Update src/managers/RoleManager.js
  src/managers/RoleManager.js
Due: eslint --fix

docs(RoleManager): fetch description (#4920)
  src/managers/RoleManager.js
Due: eslint --fix

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

feat: GuildEmojiManager#fetch
  src/managers/GuildEmojiManager.js
Due: eslint --fix

typings: GuildEmojiManager#fetch
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Rename is_pending to pending
  src/structures/GuildMember.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Improve jsdoc wording
  src/structures/GuildMember.js
Due: eslint --fix

docs(Client): fix typos
  src/client/Client.js
Due: eslint --fix

docs: update examples with permissions
  src/managers/GuildChannelManager.js
  src/structures/GuildChannel.js
  src/structures/Role.js
Due: eslint --fix

docs(BitField): update descrtiption
  src/util/BitField.js
Due: eslint --fix

refactor(BitFields): require use of flags
  src/structures/GuildAuditLogs.js
  src/structures/GuildChannel.js
  src/util/BitField.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(BitFieldResolvable): remove string[]
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Client#generateInvite): update example
  src/client/Client.js
Due: eslint --fix

feat(GuildEmojiManager): implement GuildEmojiManager#fetch (#4933)
  src/managers/GuildEmojiManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: move coc into .github/
  .github/CODE_OF_CONDUCT.md
Due: none

refactor(BitFields): remove string from BitFieldResolvable
  src/client/Client.js
  src/managers/GuildChannelManager.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildChannel.js
  src/structures/Role.js
  src/util/BitField.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Client#generateInvite): fix indentation in example
  src/client/Client.js
Due: eslint --fix

refactor(Message): move #suppressEmbeds to #edit
  src/structures/Message.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Message): check options exists or create it
  src/structures/Message.js
Due: eslint --fix

fix(Message): remove unecessary this
  src/structures/Message.js
Due: eslint --fix

docs(Message): add examples for suppressEmbeds
  src/structures/Message.js
Due: eslint --fix

fix(MessageManager): return Message instance from MessageManager#edit
  src/managers/MessageManager.js
  src/structures/Message.js
Due: eslint --fix

feat(MessageManager): return Message from MessageManager#crosspost
  src/managers/MessageManager.js
Due: eslint --fix

fix(Message): return result of Manager call directly on crosspost
  src/structures/Message.js
Due: eslint --fix

fix(Typings): edit and crosspost no longer return raw api messages
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Typings): exclude -> pick (vlads suggestion)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Collection): toJSON() errors if the collection includes empty values
  src/util/Collection.js
Due: eslint --fix

Create InteractionsManager.js
  src/client/actions/InteractionsManager.js
Due: eslint --fix

support for interactionCreate event
  src/client/actions/ActionsManager.js
  src/client/actions/InteractionCreate.js
  src/util/Constants.js
Due: eslint --fix

more
  src/client/websocket/handlers/INTERACTION_CREATE.js
  src/util/Constants.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
