Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: fix ci error
  src/util/Permissions.js
Due: eslint --fix

docs: stupid CI
  src/structures/GuildChannel.js
  src/structures/Role.js
  src/util/BitField.js
  src/util/Permissions.js
Due: eslint --fix

fix: use default assignment
  src/util/Permissions.js
Due: eslint --fix

refactor(Guild): remove embed methods in favour of widget
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: refactor presence changing for V8
  src/structures/ClientPresence.js
  src/structures/ClientUser.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: document ClientUser#edit
  src/structures/ClientUser.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: use overwrite type number
  src/structures/GuildAuditLogs.js
  src/structures/GuildChannel.js
  src/structures/PermissionOverwrites.js
  src/util/Constants.js
Due: eslint --fix

refactor: no longer emit channelCreate or channelDelete on DMChannels
  src/client/actions/ChannelCreate.js
  src/client/actions/ChannelDelete.js
  src/structures/User.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: document error codes
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: correctly parse presence
  src/structures/ClientPresence.js
  src/structures/ClientUser.js
Due: eslint --fix

fix: dm channels emit delete
  src/client/actions/ChannelDelete.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: fix test
  typings/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

test: update tests
  test/createGuild.js
  test/random.js
  test/sendtest.js
  test/shard.js
  test/tester1000.js
  test/voice.js
  test/webhooktest.js
Due: eslint --fix

refactor: bigint literals can be used in some places
  src/structures/GuildAuditLogs.js
Due: eslint --fix

refactor: bigint literals can be used in some places
  src/structures/Guild.js
  src/structures/GuildChannel.js
  src/structures/Role.js
  src/util/BitField.js
  src/util/Permissions.js
Due: eslint --fix

refactor: suggested changes
  src/structures/ClientPresence.js
  src/structures/GuildAuditLogs.js
  src/structures/PermissionOverwrites.js
  src/util/Constants.js
Due: eslint --fix

refactor: default non-privileged intents
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: typo
  src/structures/ClientPresence.js
Due: eslint --fix

fix: use enum correctly
  src/structures/GuildAuditLogs.js
Due: eslint --fix

refactor: intents should be mandatory
  src/client/Client.js
  src/util/Constants.js
  test/createGuild.js
  test/random.js
  test/sendtest.js
  test/shard.js
  test/tester1000.js
  test/voice.js
  test/webhooktest.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: use toJSON for permissions * untested
  src/managers/GuildManager.js
  src/managers/RoleManager.js
  src/structures/GuildChannel.js
  src/structures/PermissionOverwrites.js
  src/structures/Role.js
  src/util/BitField.js
Due: eslint --fix

refactor: suggested changes
  src/structures/GuildAuditLogs.js
  src/structures/GuildChannel.js
  src/structures/PermissionOverwrites.js
  src/util/Permissions.js
Due: eslint --fix

refactor: remove integration fetch options
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(ClientUser): fix typo
  src/structures/ClientUser.js
Due: eslint --fix

fix(PermissionOverwrites): use toString instead of toJSON
  src/structures/PermissionOverwrites.js
Due: eslint --fix

fix(RequestHandler): retryAfter is in seconds
  src/rest/RequestHandler.js
  src/structures/ClientUser.js
Due: eslint --fix

fix(Permissions): don't instantly convert to BigInt
  src/util/Permissions.js
Due: eslint --fix

refactor: suggested changes
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: seperate type for WebhookClientOptions
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: im an idiot
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: use correct permissions type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: use correct type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings/fix: use bigint instead of number
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: validate that intents are passed
  src/client/Client.js
  src/errors/Messages.js
Due: eslint --fix

style: use semi rather than comma
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: correctly add intents to identify options
  src/client/Client.js
  src/client/websocket/WebSocketShard.js
Due: eslint --fix

fix: use `bigint` over `number`
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: cache dm channel
  src/client/actions/MessageCreate.js
Due: eslint --fix

refactor: change default bit to static declaration
  src/util/BitField.js
  src/util/Permissions.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
