Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

chore: update docs a little
  src/structures/ButtonInteraction.js
Due: eslint --fix

refactor: add suggestions from the review
  src/structures/Guild.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add MessageComponentTypes
  src/util/Constants.js
Due: eslint --fix

feat: base structures for components
  src/structures/MessageActionBar.js
  src/structures/MessageButton.js
  src/structures/MessageComponent.js
  src/util/Constants.js
Due: eslint --fix

feat: emit MessageButtonInteractions
  src/client/websocket/handlers/INTERACTION_CREATE.js
  src/structures/MessageButtonInteraction.js
  src/util/Constants.js
  src/util/Structures.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(MessageButton): remaining builder functions
  src/structures/MessageButton.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: wip on component structures
  src/index.js
  src/structures/APIMessage.js
  src/structures/Message.js
  src/structures/MessageActionBar.js
  src/structures/MessageActionRow.js
  src/structures/MessageButton.js
  src/structures/MessageComponent.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add isButton typeguard
  src/structures/Interaction.js
Due: eslint --fix

chore: remove logging
  src/structures/MessageComponent.js
Due: eslint --fix

feat: add MessageButtonInteraction typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: rename add methods
  src/structures/MessageActionRow.js
Due: eslint --fix

chore: missing doc string
  src/structures/MessageButton.js
Due: eslint --fix

docs: fix missing types and invalid syntax
  src/structures/MessageActionRow.js
  src/structures/MessageButton.js
Due: eslint --fix

fix: button emoji typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: make base component and create MessageComponentResolvable
  src/structures/BaseMessageComponent.js
  src/structures/MessageActionRow.js
  src/structures/MessageButton.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: rename to ButtonInteraction
  src/client/websocket/handlers/INTERACTION_CREATE.js
  src/structures/ButtonInteraction.js
  src/util/Structures.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add ButtonInteractionCollector
  src/structures/ButtonInteractionCollector.js
  src/structures/Message.js
Due: eslint --fix

refactor: missed some places to rename
  src/index.js
  src/structures/APIMessage.js
  src/structures/BaseMessageComponent.js
  src/structures/ButtonInteraction.js
  src/structures/Message.js
  src/structures/MessageActionRow.js
  src/structures/MessageButton.js
Due: eslint --fix

fix: linter errors
  src/structures/Guild.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs: docs docs docs!
  src/rest/RateLimitError.js
  src/util/Constants.js
Due: eslint --fix

fix: implement suggested changes, and allow promises
  src/rest/RequestHandler.js
Due: eslint --fix

types: update typings; move RateLimitError up to other classes
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Deps): use async-queue package
  package-lock.json
  package.json
  src/rest/AsyncQueue.js
  src/rest/RequestHandler.js
Due: eslint --fix

refactor(Deps): use async-queue package (#5662)
  package-lock.json
  package.json
  src/rest/AsyncQueue.js
  src/rest/RequestHandler.js
Due: eslint --fix

fix(DataResolver): fix circular dependency error with GuildTemplate (#5622)
  src/util/DataResolver.js
  test/escapeMarkdown.test.js
  test/resolveGuildTemplateCode.test.js
  test/templateCreateGuild.js
Due: eslint --fix

refactor: implement requested changes
  src/rest/RequestHandler.js
  src/util/Constants.js
Due: eslint --fix

chore: set minimum npm version
  package.json
Due: none

Fix #5611 by setting options.shardCount to 1 if it is invalid.
  src/client/Client.js
Due: eslint --fix

Better error handling
  src/structures/CommandInteraction.js
Due: eslint --fix

Update CommandInteraction.js
  src/structures/CommandInteraction.js
Due: eslint --fix

fix(GuildEmojiRoleManager): bug in #remove
  src/managers/GuildEmojiRoleManager.js
Due: eslint --fix

Update README.md
  README.md
Due: none

chore: set minimum npm version (#5663)
  package.json
Due: none

revert: change comment back
  src/rest/RequestHandler.js
Due: eslint --fix

throw warning if options.shardCount is invalid
  src/client/Client.js
Due: eslint --fix

reverse previous changes; instead, fix definitions for options.setCount
  src/client/Client.js
Due: eslint --fix

Correctly define options.shardCount to the input
  src/client/Client.js
Due: eslint --fix

ShardClient
  src/sharding/ShardClientUtil.js
Due: eslint --fix
