Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: change variable name
  src/client/Client.js
Due: eslint --fix

fix: remove a bug where an object was being treated as a number
  src/client/Client.js
Due: eslint --fix

update actions in test.yml
  .github/workflows/test.yml
Due: none

update actions in test-cron.yml
  .github/workflows/test-cron.yml
Due: none

also update actions/checkout
  .github/workflows/test-cron.yml
Due: none

initial commit
  src/sharding/Shard.js
  src/sharding/ShardingManager.js
Due: eslint --fix

fix(ESLint): follow mr eslints guidance to fix err
  src/sharding/Shard.js
Due: eslint --fix

add typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: create a dedicated cache class for managing lifetimes
  src/util/Cache.js
Due: eslint --fix

feat(BaseManager): integrate the new dedicated cache class
  src/managers/BaseManager.js
Due: eslint --fix

refactor: use number instead of string for type field
  src/structures/GuildChannel.js
Due: eslint --fix

refactor: throw error for channels that are cached but not of voice type
  src/structures/GuildMember.js
Due: eslint --fix

Update src/structures/VoiceState.js
  src/structures/VoiceState.js
Due: eslint --fix

feat: stage channels (#5456)
  esm/discord.mjs
  src/client/voice/ClientVoiceManager.js
  src/client/voice/VoiceConnection.js
  src/errors/Messages.js
  src/index.js
  src/structures/BaseGuildVoiceChannel.js
  src/structures/Channel.js
  src/structures/GuildChannel.js
  src/structures/StageChannel.js
  src/structures/VoiceChannel.js
  src/structures/VoiceState.js
  src/util/Constants.js
  src/util/Permissions.js
  src/util/Structures.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: use arrow functions everywhere
  src/managers/ApplicationCommandManager.js
Due: eslint --fix

refactor: use new endpoint
  src/structures/CommandInteraction.js
Due: eslint --fix

feat: better handling of uncached guilds
  src/client/websocket/handlers/INTERACTION_CREATE.js
  src/structures/CommandInteraction.js
  src/structures/Interaction.js
Due: eslint --fix

feat(GuildMemberManager): add 'search' method (#4154)
  src/managers/GuildMemberManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(MessageTypes): add 16 and 17 (#4685)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: make changes to PresenceData typings and docs (#5317)
  src/structures/ClientUser.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: use matchAll instead of exec
  src/util/DataResolver.js
Due: eslint --fix

Fix type of #_channels and #has() to channel
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Fix type of #_channels and #has() to channel
  src/structures/MessageMentions.js
Due: eslint --fix

fix: add missing typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildMember): correctly check for premium_since (#5312)
  src/structures/GuildMember.js
Due: eslint --fix

fix(GuildChannel): check for community required channels in GuildChannel#deletable (#5170)
  src/structures/GuildChannel.js
Due: eslint --fix

chore(ci): Update actions/setup-node action to v2 (#5527)
  .github/workflows/test-cron.yml
  .github/workflows/test.yml
Due: none

fix(Resolvables): valid resolvables throw error when uncached (#5495)
  src/managers/GuildEmojiManager.js
  src/managers/GuildEmojiRoleManager.js
  src/managers/GuildMemberRoleManager.js
  src/structures/Guild.js
  src/structures/GuildMember.js
Due: eslint --fix

feat(typings): explicitly type PremiumTier and Collectors (#5458)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(typings): add ShardingManager.shardList to type definitions (#5446)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(MessageMentions#channels): Fix type of channels of mentions (#5370)
  src/structures/MessageMentions.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(typings): update GuildMemberRoleManager typings to match implementation (#5497)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: move internal regular expressions to static properties (#5384)
  src/structures/GuildTemplate.js
  src/structures/Invite.js
  src/util/DataResolver.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(SysChanFlags): new flag and rename in sync with client (#5506)
  src/util/SystemChannelFlags.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildAuditLogsEntry): executor can be missing (#5500)
  src/structures/GuildAuditLogs.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: rename Snowflake to SnowflakeUtil (#5502)
  esm/discord.mjs
  src/index.js
  src/managers/GuildMemberManager.js
  src/structures/Channel.js
  src/structures/Emoji.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/Message.js
  src/structures/Role.js
  src/structures/Team.js
  src/structures/User.js
  src/structures/Webhook.js
  src/structures/interfaces/Application.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/SnowflakeUtil.js
Due: eslint --fix

feat(MessageAttachment): support for #contentType (#5481)
  src/structures/MessageAttachment.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(GuildChannelManager): fix type options in description (#5440)
  src/managers/GuildChannelManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(typings): Enforce ShardingManager
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(ShardingManager): add timeout option
  src/sharding/ShardingManager.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
