Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: return never if non-autocomplete interaction uses focused getter
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add support for webhook thread fetch/edit/delete
  src/structures/Webhook.js
  src/util/Options.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Webhook): correct client option
  src/structures/Webhook.js
Due: eslint --fix

types: update fetch
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Webhook): keep consistency with other typedefs
  src/structures/Webhook.js
Due: eslint --fix

fix(Options): default allowWebhookThreadFetching
  src/util/Options.js
Due: eslint --fix

docs(Options): specify default value
  src/util/Options.js
Due: eslint --fix

refactor: remove client option
  src/structures/Webhook.js
  src/util/Options.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(Presence): fix ActivityOptions#type and Activity#id types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

typings(VoiceState): allow moving members to stage channels (#6684)
  src/structures/Channel.js
  src/structures/VoiceState.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: add api error code 50101 (#6663)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: add GuildEmojiManager to Caches (#6671)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(UserManager): allow #fetch to take UserResolvable (#6677)
  src/managers/UserManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(*RoleManager): Create set of role ids correctly (#6674)
  src/managers/GuildEmojiRoleManager.js
  src/managers/GuildMemberRoleManager.js
Due: eslint --fix

fix(Constants): allow undefined size (#6686)
  src/util/Constants.js
Due: eslint --fix

fix(GuildEmoji): Cache restricted roles and author data (#6675)
  src/structures/GuildEmoji.js
Due: eslint --fix

chore(IssueForms): remove default titles (#6659)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

types: deprecate boolean
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(Webhook): add deprecated text
  src/structures/Webhook.js
Due: eslint --fix

feat(MessageAttachment): default ephemeral to false when not present
  src/structures/MessageAttachment.js
Due: eslint --fix

docs(MessageAttachment): update jsdoc for ephemeral field
  src/structures/MessageAttachment.js
Due: eslint --fix

types(MessageAttachment): update typings for ephemeral
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: apply suggestions from code review
  src/managers/GuildManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: added new activity types
  src/util/ActivityFlags.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(CachedManager): return updated data when cache is false (#6685)
  src/managers/CachedManager.js
Due: eslint --fix

feat(ApplicationCommand): add support for channel_types (#6640)
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(ChannelTypes): remove unknown from CHANNEL options
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: use generic constraints for narrowing
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildMember): add per-guild avatars
  src/structures/GuildMember.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(GuildMember): add back avatar methods/properity
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: message type regression
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Constants): better if check
  src/util/Constants.js
Due: eslint --fix

fix: options equal function to compare with autocomplete
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix missing channel type in subcommand options
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

test: fix types in tests
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: clean up types
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: expose proper types
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: fix diff
  .github/ISSUE_TEMPLATE/bug_report.yml
  typings/index.d.ts
  typings/tests.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(EmojiResolvable): update description of typedef to remove ambiguity
  src/managers/BaseGuildEmojiManager.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
