Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(VSCode): add extension recommendations
  .gitignore
  .vscode/extensions.json
Due: none

chore: add more labels
  .github/labels.yml
Due: none

chore: add auto-labeler
  .github/labeler.yml
  .github/workflows/auto-labeler.yml
Due: none

chore: remove labeling chore for now
  .github/labeler.yml
  .github/workflows/auto-labeler.yml
Due: none

ci: use pull_request_target for auto labeling
  .github/workflows/auto-labeler.yml
Due: none

chore: bump Node.js to 16.9.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  package.json
  packages/builders/README.md
  packages/builders/package.json
  packages/collection/README.md
  packages/collection/package.json
  packages/discord.js/README.md
  packages/discord.js/package.json
  packages/discord.js/src/util/Util.js
  packages/rest/package.json
  packages/voice/README.md
  packages/voice/package.json
  tsconfig.json
Due: eslint --fix

chore: bump Node.js to 16.9.0 (#7035)
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  package.json
  packages/builders/README.md
  packages/builders/package.json
  packages/collection/README.md
  packages/collection/package.json
  packages/discord.js/README.md
  packages/discord.js/package.json
  packages/discord.js/src/util/Util.js
  packages/rest/package.json
  packages/voice/README.md
  packages/voice/package.json
  tsconfig.json
Due: eslint --fix

types(collection): union types on `intersect` and `difference`
  packages/collection/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: issue template changes for monorepo
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix(User): bannerURL should not throw when not present
  packages/discord.js/src/structures/User.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove info closing tag
  packages/discord.js/src/structures/User.js
Due: eslint --fix

chore: fix formatting
  packages/discord.js/src/structures/User.js
Due: eslint --fix

chore: move line up
  packages/discord.js/src/structures/User.js
Due: eslint --fix

chore: fix lint errors
  packages/discord.js/src/structures/User.js
Due: eslint --fix

refactor(Guild): remove deprecated set*Positions methods
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(UserFlags): update flag names
  packages/discord.js/src/util/UserFlags.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(UserFlags): update flag names (#6938)
  packages/discord.js/src/util/UserFlags.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Guild): remove deprecated setXPositions methods (#6897)
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: issue template changes for monorepo (#7198)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix(sweepers): provide default for object param (#7182)
  packages/discord.js/src/util/Sweepers.js
Due: eslint --fix

docs(RoleManager): fix incorrect example (#7174)
  packages/discord.js/src/managers/RoleManager.js
Due: eslint --fix

docs: fixes the examples for kick and ban (#7170)
  packages/discord.js/src/managers/GuildMemberManager.js
Due: eslint --fix

docs(TextBasedChannel): fix #createMessageComponentCollector description (#7168)
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

refactor: remove `deleted` field
  packages/discord.js/src/client/actions/ChannelDelete.js
  packages/discord.js/src/client/actions/GuildDelete.js
  packages/discord.js/src/client/actions/GuildEmojiDelete.js
  packages/discord.js/src/client/actions/GuildMemberRemove.js
  packages/discord.js/src/client/actions/GuildRoleDelete.js
  packages/discord.js/src/client/actions/GuildStickerDelete.js
  packages/discord.js/src/client/actions/MessageDelete.js
  packages/discord.js/src/client/actions/MessageDeleteBulk.js
  packages/discord.js/src/client/actions/StageInstanceDelete.js
  packages/discord.js/src/client/actions/ThreadDelete.js
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/structures/Emoji.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/StageInstance.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: fix cache types resolving to `never` (#7164)
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(TextBasedChannel): fixed syntax error in examples (#7163)
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

feat(Collector): yield all collected values (#7073)
  packages/discord.js/src/structures/interfaces/Collector.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Constants): change APPLICATION_COMMAND -> CHAT_INPUT_COMMAND (#7018)
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/enums.d.ts
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: Remove `Util.removeMentions()` (#6530)
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Client): remove applicationCommand events (#6492)
  packages/discord.js/src/client/websocket/handlers/APPLICATION_COMMAND_CREATE.js
  packages/discord.js/src/client/websocket/handlers/APPLICATION_COMMAND_DELETE.js
  packages/discord.js/src/client/websocket/handlers/APPLICATION_COMMAND_UPDATE.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(VoiceState): Ensure `suppress` & `streaming` have proper fallback values (#6377)
  packages/discord.js/src/structures/VoiceState.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(sweepers): provide default for object param (#7182)
  src/util/Sweepers.js
Due: eslint --fix

chore(release): version
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: add back user rate limit
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: manually update changelog
  packages/discord.js/CHANGELOG.md
Due: none

refactor(Actions): remove deleted maps
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/client/actions/ChannelDelete.js
  packages/discord.js/src/client/actions/GuildDelete.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: eslint
  packages/discord.js/src/client/actions/GuildDelete.js
Due: eslint --fix

refactor: better command terminology
  packages/discord.js/src/client/actions/InteractionCreate.js
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/BaseCommandInteraction.js
  packages/discord.js/src/structures/ChatInputCommandInteraction.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/src/structures/MessageContextMenuCommandInteraction.js
  packages/discord.js/src/structures/UserContextMenuCommandInteraction.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(discordjs): add attachment support to basecommand interaction
  packages/discord.js/src/structures/BaseCommandInteraction.js
Due: eslint --fix

refactor(Actions): remove deleted maps (#7076)
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/client/actions/ChannelDelete.js
  packages/discord.js/src/client/actions/GuildDelete.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
