Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(*): merge v8
  src/client/Client.js
  src/client/actions/ChannelCreate.js
  src/client/actions/MessageCreate.js
  src/client/actions/PresenceUpdate.js
  src/client/websocket/WebSocketShard.js
  src/errors/Messages.js
  src/managers/GuildManager.js
  src/managers/RoleManager.js
  src/rest/RequestHandler.js
  src/structures/ClientPresence.js
  src/structures/ClientUser.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildChannel.js
  src/structures/PermissionOverwrites.js
  src/structures/Role.js
  src/structures/User.js
  src/util/BitField.js
  src/util/Constants.js
  src/util/MessageFlags.js
  src/util/Permissions.js
  src/util/Speaking.js
  src/util/SystemChannelFlags.js
  src/util/UserFlags.js
  test/createGuild.js
  test/random.js
  test/sendtest.js
  test/shard.js
  test/tester1000.js
  test/voice.js
  test/webhooktest.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Revert "feat(*): merge v8"
  src/client/Client.js
  src/client/actions/ChannelCreate.js
  src/client/actions/MessageCreate.js
  src/client/actions/PresenceUpdate.js
  src/client/websocket/WebSocketShard.js
  src/errors/Messages.js
  src/managers/GuildManager.js
  src/managers/RoleManager.js
  src/rest/RequestHandler.js
  src/structures/ClientPresence.js
  src/structures/ClientUser.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildChannel.js
  src/structures/PermissionOverwrites.js
  src/structures/Role.js
  src/structures/User.js
  src/util/BitField.js
  src/util/Constants.js
  src/util/MessageFlags.js
  src/util/Permissions.js
  src/util/Speaking.js
  src/util/SystemChannelFlags.js
  src/util/UserFlags.js
  test/createGuild.js
  test/random.js
  test/sendtest.js
  test/shard.js
  test/tester1000.js
  test/voice.js
  test/webhooktest.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: jsdoc casing
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

feat: make changes to PresenceData typings and docs
  src/structures/ClientUser.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: PermissionOverwriteManager
  src/managers/PermissionOverwriteManager.js
Due: eslint --fix

refactor: GuildChannel
  src/structures/GuildChannel.js
Due: eslint --fix

refactor: PermissionOverwrites
  src/structures/PermissionOverwrites.js
Due: eslint --fix

typings: various stuff
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

index: export PermissionOverwriteManager
  src/index.js
Due: eslint --fix

esm: export PermissionOverwriteManager
  esm/discord.mjs
Due: none

typings: fix order
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

index: fix export order
  src/index.js
Due: eslint --fix

esm: fix export order
  esm/discord.mjs
Due: none

feat(PermissionOverwriteManager): make use of OverwriteTypes
  src/managers/PermissionOverwriteManager.js
Due: eslint --fix

typings: add more resolvables
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove shardID from activities
  src/structures/ClientUser.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(GuildMember): document owner override in permissions getter
  src/structures/GuildMember.js
Due: eslint --fix

fix(Role): pass Permissions class, not the bitfield
  src/structures/Role.js
Due: eslint --fix

refactor: move check into patch call
  src/structures/Role.js
Due: eslint --fix

ci: update husky to v5
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  .npmignore
  package-lock.json
  package.json
Due: none

fix: don't run husky in ci
  package-lock.json
  package.json
Due: none

fix: revert lockfile back to 1
  package-lock.json
Due: none

docs: update docs and examples for #4879
  README.md
  docs/examples/attachments.md
  docs/examples/avatars.js
  docs/examples/embed.js
  docs/examples/greeting.js
  docs/examples/moderation.md
  docs/examples/ping.js
  docs/examples/webhook.js
  docs/general/welcome.md
  docs/topics/voice.md
  test/createGuild.js
  test/random.js
  test/reactionCollectorCreated.test.js
  test/sendtest.js
  test/shard.js
  test/tester1000.js
  test/voice.js
  test/webhooktest.js
Due: eslint --fix

fix(GuildManager#create): add missing toString() on Permission#resolve fns
  src/managers/GuildManager.js
Due: eslint --fix

fix(Role#edit): add missing toString() on permissions
  src/structures/Role.js
Due: eslint --fix

feat: add ActivitiesOptions interface
  src/structures/ClientUser.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(BanOptions): make days description more clear
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
Due: eslint --fix

feat(GuildFeatures): added the new screening features
  src/structures/Guild.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: update carrot length
  docs/examples/webhook.js
Due: eslint --fix

fix: remove unused interface
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: using getter for url
  src/structures/Sticker.js
Due: eslint --fix

fix: make it a type with omitted property
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: added missing type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: using createEnum function
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update typings/index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

line #95
  src/client/actions/Action.js
Due: eslint --fix

docs(Message): add example for message.reply
  src/structures/Message.js
Due: eslint --fix

docs(Message): log correct message
  src/structures/Message.js
Due: eslint --fix

docs(Message): code suggestion
  src/structures/Message.js
Due: eslint --fix

fix logic
  src/structures/GuildChannel.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
