Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

feat(GuildAuditLogs): make #target a channel for channel related logs
  src/structures/GuildAuditLogs.js
Due: eslint --fix

apply code suggestion
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

apply code suggestion
  src/structures/APIMessage.js
Due: eslint --fix

fix(Typings): fix syntax & remove unused overload
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Webhook): remove unnecessary call
  src/structures/Webhook.js
Due: eslint --fix

avatarUrl => avatarURL
  src/structures/WidgetMember.js
Due: eslint --fix

Typedef updated for client & WidgetMember added & Widget#instantInvite changed, moved WidgetMember#_patch to constructor
  src/structures/WidgetMember.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: promisified single interaction collection (#5770)
  src/errors/Messages.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Sharding*): remove string-based broadcastEval
  src/sharding/Shard.js
  src/sharding/ShardClientUtil.js
  src/sharding/ShardingManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ShardingManager): incorrect usage of _broadcastEvalRaw
  src/sharding/Shard.js
  src/sharding/ShardingManager.js
Due: eslint --fix

refactor(ShardingManager): remove unnecessary method
  src/sharding/Shard.js
  src/sharding/ShardingManager.js
Due: eslint --fix

If url has spaces take them out
  src/structures/MessageEmbed.js
Due: eslint --fix

If url has spaces its ok
  src/structures/MessageEmbed.js
Due: eslint --fix

chore(Deps): add @discordjs/voice as a dev dependency
  package-lock.json
  package.json
Due: none

docs(ClientVoiceManager): remove incorrect @readonly
  src/client/voice/ClientVoiceManager.js
Due: eslint --fix

chore: update typings
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(Deps): remove prism-media and tweetnacl
  README.md
  package-lock.json
  package.json
Due: none

refactor(GuildAuditLogs): do not create a new channel
  src/structures/GuildAuditLogs.js
Due: eslint --fix

fix: remove remnants of awaitMessageComponentInteractions
  src/structures/DMChannel.js
  src/structures/Message.js
  src/structures/TextChannel.js
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

Update src/structures/interfaces/TextBasedChannel.js (change req'd by papia)
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

docs(GuildMemberManager): fix docs for #search()
  src/managers/GuildBanManager.js
  src/managers/GuildMemberManager.js
Due: eslint --fix

remove function and just inline it
  src/util/Util.js
Due: eslint --fix

Add WidgetActivity doc in WidgetMember
  src/structures/WidgetMember.js
Due: eslint --fix

Update APIRequest.js
  src/rest/APIRequest.js
Due: eslint --fix

feat(Rest): optional ratelimit errors (#5659)
  src/client/Client.js
  src/index.js
  src/rest/RateLimitError.js
  src/rest/RequestHandler.js
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: remove remnants of awaitMessageComponentInteractions (#5783)
  src/structures/DMChannel.js
  src/structures/Message.js
  src/structures/TextChannel.js
  src/structures/interfaces/TextBasedChannel.js
Due: eslint --fix

refactor: guildAvailable, typingStop from Constants (#4861)
  src/util/Constants.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore(Deps): update @discordjs/voice
  package-lock.json
  package.json
Due: none

Update typings/index.d.ts
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: enforce single param on sending/editing methods (#5758)
  src/structures/APIMessage.js
  src/structures/InteractionWebhook.js
  src/structures/Message.js
  src/structures/Webhook.js
  src/structures/interfaces/InteractionResponses.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
  typings/index.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(GuildChannelManager): add 'fetch' method (#4966)
  src/managers/GuildChannelManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Update src/index.js
  src/index.js
Due: eslint --fix

docs(GuildMemberManager): fix docs for #search() (#5784)
  src/managers/GuildBanManager.js
  src/managers/GuildMemberManager.js
Due: eslint --fix

Update src/util/Util.js
  src/util/Util.js
Due: eslint --fix

feat: component improvements from #5692
  src/client/websocket/handlers/INTERACTION_CREATE.js
  src/index.js
  src/structures/BaseMessageComponent.js
  src/structures/ButtonInteraction.js
  src/structures/Emoji.js
  src/structures/Interaction.js
  src/structures/MessageActionRow.js
  src/structures/MessageButton.js
  src/structures/MessageComponentInteraction.js
  src/structures/MessageComponentInteractionCollector.js
  src/structures/interfaces/InteractionResponses.js
  src/util/Structures.js
  src/util/Util.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: suggestions from space's review
  src/structures/APIMessage.js
  src/util/Util.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat: component nested array support
  src/structures/APIMessage.js
  src/structures/Message.js
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

revert(Permissions): revert to default behavior
  src/util/Permissions.js
Due: eslint --fix
