Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf"
}

fix(GuildManager): #create throws when systemChannelFlags is undefined
  src/managers/GuildManager.js
Due: eslint --fix

fix(GuildManager): ooopsy!
  src/managers/GuildManager.js
Due: eslint --fix

types: corrected shard broadcastEval
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: typo
  src/structures/ButtonInteraction.js
Due: eslint --fix

refactor(APIMessage): remove unused declarations
  src/structures/APIMessage.js
Due: eslint --fix

fix(GuildChannel): don't force parentID/permissionOverwrites to empty on create (#5823)
  src/structures/GuildChannel.js
Due: eslint --fix

fix(GuildManager): #create throws when systemChannelFlags is undefined (#5832)
  src/managers/GuildManager.js
Due: eslint --fix

types(MessageComponentInteraction): update should return Promise<void> (#5829)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: fetch options consistency (#5824)
  src/managers/ChannelManager.js
  src/managers/GuildBanManager.js
  src/managers/GuildChannelManager.js
  src/managers/GuildEmojiManager.js
  src/managers/GuildManager.js
  src/managers/GuildMemberManager.js
  src/managers/MessageManager.js
  src/managers/RoleManager.js
  src/managers/UserManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(ButtonInteraction): fix typo (#5835)
  src/structures/ButtonInteraction.js
Due: eslint --fix

refactor(APIMessage): remove unused declarations (#5836)
  src/structures/APIMessage.js
Due: eslint --fix

refactor(*): make typedefs for all options params
  src/managers/GuildBanManager.js
  src/managers/GuildChannelManager.js
  src/managers/GuildEmojiManager.js
  src/managers/GuildManager.js
  src/structures/Guild.js
Due: eslint --fix

docs: add SetParentOptions and InviteOptions typedefs
  src/structures/GuildChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(GuildManager): fix property tag of GuildCreateOptions
  src/managers/GuildManager.js
Due: eslint --fix

docs(GuildBanManager): fix property tag of BanOptions
  src/managers/GuildBanManager.js
Due: eslint --fix

refactor: add typedefs for shards spawn and respawn
  src/sharding/ShardingManager.js
  src/structures/GuildMember.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: add typedef for create role options
  src/managers/RoleManager.js
  src/sharding/Shard.js
  src/sharding/ShardingManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: add typedefs related to channel pos and reaction users
  src/managers/ReactionUserManager.js
  src/sharding/ShardClientUtil.js
  src/structures/CategoryChannel.js
  src/structures/GuildChannel.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(MessageMentions): update description of MessageMentionsHasOptions
  src/structures/MessageMentions.js
Due: eslint --fix

docs(GuildChannel): update description of InviteOptions typedef
  src/structures/GuildChannel.js
Due: eslint --fix

refactor: add typedefs for channel cloning and mention check
  src/structures/GuildChannel.js
  src/structures/MessageMentions.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: add typedefs for collector reset timer, role pos, & escape md
  src/structures/Role.js
  src/structures/interfaces/Collector.js
  src/util/Util.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(GuildTemplate): add typedef for template edit options
  src/structures/GuildTemplate.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: add typedefs for ratelimit, errorinfo, & invalid req
  src/rest/RequestHandler.js
  src/structures/MessageComponentInteractionCollector.js
  src/structures/ReactionCollector.js
  src/util/Util.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(GuildMember): document default values for search and prune
  src/managers/GuildMemberManager.js
Due: eslint --fix

docs: document default array params & remove redundant dashes
  src/managers/GuildManager.js
  src/structures/MessageMentions.js
Due: eslint --fix

docs: apply suggestions from review
  src/managers/GuildMemberManager.js
  src/rest/RequestHandler.js
Due: eslint --fix

docs: remove region, doc id as Snowflake, & more
  src/managers/GuildManager.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(GuildPreviewEmoji): make roles an array
  src/structures/BaseGuildEmoji.js
  src/structures/GuildEmoji.js
  src/structures/GuildPreviewEmoji.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: update constructors
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildApplicationCommandManager): set command as optional
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildApplicationCommandManager): set proper parameter type
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuilldApplicationCommandManager): remove unnecessary overload
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildApplicationCommandManager): set command optional on undefined
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

revert(GuildApplicationCommandManager): revert back
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(GuildApplicationCommandManager): include null type on command
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: remove redundant undefined
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: remove null command parameter
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(ApplicationCommand): default option.required to false
  src/structures/ApplicationCommand.js
Due: eslint --fix
