Repository discordjs/discord.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(Util): make single `replace` call in `cleanContent` (#8210)
  packages/discord.js/src/util/Util.js
Due: eslint --fix

fix(MessagePayload): guard against `repliedUser` property (#8211)
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: Remove global flag on regular expressions (#8177)
  packages/discord.js/src/structures/GuildTemplate.js
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/src/structures/MessageMentions.js
  packages/discord.js/src/util/DataResolver.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

docs(MessageInteraction): update `commandName description` (v13)
  src/structures/Message.js
Due: eslint --fix

docs(MessageInteraction): update `commandName` description (v13) (#8220)
  src/structures/Message.js
Due: eslint --fix

fix(`SelectMenuBuilder`): properly accept `SelectMenuOptionBuilder`s (#8174)
  packages/discord.js/src/structures/SelectMenuBuilder.js
  packages/discord.js/typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor: make `ShardEvents` the events of `Shard` (#8185)
  packages/discord.js/src/client/websocket/WebSocketManager.js
  packages/discord.js/src/client/websocket/WebSocketShard.js
  packages/discord.js/src/index.js
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/util/ShardEvents.js
  packages/discord.js/src/util/WebSocketShardEvents.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(GuildMemberManager): Non-void return of `edit()` (#8186)
  packages/discord.js/typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(GuildMemberManager): Non-void return of `edit()` (v13) (#8187)
  typings/index.d.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: pass in the expected query object type for application commands (#8189)
  src/managers/ApplicationCommandManager.js
Due: eslint --fix

chore: upgrade `vitest` and add it as dep on each workspace
  package.json
  packages/actions/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/docgen/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/website/package.json
  yarn.lock
Due: none

fix: upper limit and typings
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Collection): make error messages consistent
  packages/collection/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Bump eslint
  package.json
Due: none

docs: add codecov coverage badge to readmes
  README.md
  packages/builders/README.md
  packages/collection/README.md
  packages/proxy/README.md
  packages/rest/README.md
  packages/voice/README.md
Due: none

chore: upgrade `vitest` and add it as dep on each workspace (#8223)
  package.json
  packages/actions/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/docgen/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/website/package.json
  yarn.lock
Due: none

docs: fix tab-space consistency
  README.md
  packages/rest/README.md
Due: none

docs: add codecov coverage badge to readmes (#8226)
  README.md
  packages/builders/README.md
  packages/collection/README.md
  packages/proxy/README.md
  packages/rest/README.md
  packages/voice/README.md
Due: none

fix(applicationcommandmanager): allow passing builders to methods
  src/managers/ApplicationCommandManager.js
  typings/index.d.ts
  typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(Collection): make error messages consistent (#8224)
  packages/collection/src/index.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

ClientBuilder
  packages/discord.js/src/client/Client.js
Due: eslint --fix

fix(coverage): upload lcov instead of clover
  packages/actions/src/uploadCoverage/action.yml
Due: none

fix(coverage): upload lcov instead of clover (#8234)
  packages/actions/src/uploadCoverage/action.yml
Due: none

fix(applicationcommandmanager): explicitly allow passing builders to methods (v13) (#8229)
  src/managers/ApplicationCommandManager.js
  typings/index.d.ts
  typings/index.test-d.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(codecov): use cobertura
  packages/actions/src/uploadCoverage/action.yml
  packages/voice/jest.config.js
  vitest.config.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(codecov): use cobertura (#8235)
  packages/actions/src/uploadCoverage/action.yml
  packages/voice/jest.config.js
  vitest.config.ts
Due: eslint --fix, prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

test(collection): improve coverage
  packages/collection/__tests__/collection.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

chore: remove `docgen` test stuff
  packages/actions/src/uploadCoverage/action.yml
  packages/docgen/package.json
  yarn.lock
Due: none

chore: remove `docgen` test stuff (#8231)
  packages/actions/src/uploadCoverage/action.yml
  packages/docgen/package.json
  yarn.lock
Due: none

fix(SpeakingMap): allow gen to detect event name
  packages/voice/src/receive/SpeakingMap.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix(SpeakingMap): Allow docgen to detect event name (#8236)
  packages/voice/src/receive/SpeakingMap.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

test(collection): improve coverage (#8222)
  packages/collection/__tests__/collection.test.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

refactor(createApiModel): reusable function for api model creation
  packages/website/src/routes/docs/$branchName/packages/$packageName/$memberName/index.tsx
  packages/website/src/routes/docs/$branchName/packages/$packageName/index.tsx
  packages/website/src/tsdoc-config.server.ts
  packages/website/src/util/api-model.server.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

feat(website): add support for type parameter documentation
  packages/website/src/DocModel/DocClass.ts
  packages/website/src/DocModel/DocFunction.ts
  packages/website/src/DocModel/DocInterface.ts
  packages/website/src/DocModel/DocMethod.ts
  packages/website/src/DocModel/DocMethodSignature.ts
  packages/website/src/DocModel/DocTypeAlias.ts
  packages/website/src/components/DocContainer.tsx
  packages/website/src/components/TypeParamTable.tsx
  packages/website/src/components/model/Class.tsx
  packages/website/src/components/model/Function.tsx
  packages/website/src/components/model/Interface.tsx
  packages/website/src/components/model/TypeAlias.tsx
  packages/website/src/util/api-model.server.ts
  packages/website/src/util/parse.server.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

fix: documentation inconsistencies
  src/structures/ApplicationCommand.js
Due: eslint --fix

docs(ApplicationCommand) add min_length and max_length to ApplicationCommandOptionData
  packages/discord.js/src/structures/ApplicationCommand.js
Due: eslint --fix

fix: remove minimum limit
  packages/discord.js/src/structures/ApplicationCommand.js
Due: eslint --fix

chore: deps
  package.json
  packages/actions/package.json
  packages/builders/package.json
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionChannelTypesMixin.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/collection/package.json
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/voice/package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types: remove casting
  packages/builders/src/components/selectMenu/SelectMenu.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

types(builder): remove casting (#8241)
  packages/builders/src/components/selectMenu/SelectMenu.ts
Due: prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf

Path conditions:
  eslint --fix: any of: *.js
  prettier --write --single-quote --print-width 120 --trailing-comma all --end-of-line lf: any of: *.ts
